
<div class="meta-wrapper">

  <div class="meta-statistics">
    <a
      [routerLink]="['/log']"
      matTooltip="See related log items"
      [queryParams]="{filter: 'Magic was successfully started'}">
      Restarts
    </a>
    <canvas
      *ngIf="restartData"
      baseChart
      chartType="bar"
      [data]="restartData" 
      [labels]="restartLabels" 
      [options]="pieOptions"
      [colors]="colors">
    </canvas>
  </div>

  <div class="meta-statistics">
    <a
      [routerLink]="['/log']"
      matTooltip="See related log items"
      [queryParams]="{filter: 'Unhandled exception occurred \''}">
      Unhandled exceptions
    </a>
    <canvas
      *ngIf="unhandledData"
      baseChart
      chartType="bar"
      [data]="unhandledData" 
      [labels]="unhandledLabels" 
      [options]="pieOptions"
      [colors]="colors">
    </canvas>
  </div>

  <div class="meta-statistics">
    <a
      [routerLink]="['/log']"
      matTooltip="See related log items"
      [queryParams]="{filter: 'Unhandled exception while executing scheduled task with id of \''}">
      Failed tasks
    </a>
    <canvas
      *ngIf="taskData"
      baseChart
      chartType="bar"
      [data]="taskData" 
      [labels]="taskLabels" 
      [options]="pieOptions"
      [colors]="colors">
    </canvas>
  </div>

</div>
