
.component-wrapper {
    padding:4rem 5rem 2rem 5rem;
    position: relative;
    .grid-wrapper {
        padding-top:2.5rem;
    }
    table {
        th {
            padding-right: 2rem;
        }
        width: 100%;
        tr.mat-row:hover {
            background-color: rgba(0,0,0,.1);
            cursor: pointer;
        }
    }
}
