
.component-wrapper {
    padding:2rem 5rem 2rem 5rem;
    h3 {
        margin-bottom: 3rem;
    }
    table {
        width: 100%;
        tr.mat-row:hover {
            background-color: rgba(0,0,0,.1);
            cursor: pointer;
        }
    }
}
