
<mat-card>

  <mat-tab-group (selectedTabChange)="selectedTabChanged()">

    <mat-tab label="CRUD">
      <ng-template matTabContent>
        <app-crudifier-backend></app-crudifier-backend>
      </ng-template>
    </mat-tab>

    <mat-tab label="Frontend">
      <ng-template matTabContent>
        <app-crudifier-frontend></app-crudifier-frontend>
      </ng-template>
    </mat-tab>

    <mat-tab label="SQL">
      <ng-template matTabContent>
        <app-crudifier-sql></app-crudifier-sql>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</mat-card>

<mat-card [class]="hasComponent ? '' : 'invisible'">

  <ng-template appInject></ng-template>

</mat-card>