
<mat-card>
  <mat-tab-group>

    <mat-tab label="Backend CRUD">
      <ng-template matTabContent>
        <app-crudifier-backend></app-crudifier-backend>
      </ng-template>
    </mat-tab>

    <mat-tab label="Backend SQL">
      <ng-template matTabContent>
        <app-crudifier-sql></app-crudifier-sql>
      </ng-template>
    </mat-tab>

    <mat-tab label="Frontend">
      <ng-template matTabContent>
        <app-crudifier-frontend></app-crudifier-frontend>
      </ng-template>
    </mat-tab>

    <mat-tab label="Docker">
      <ng-template matTabContent>
        <app-crudifier-docker></app-crudifier-docker>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</mat-card>

