
.arguments {
  div.argument {
    margin-bottom: .5rem;
    border-radius: .25rem;
    background-color: rgb(0,0,0,.05);
    padding: 1rem 1rem 0 1rem;
    strong {
      display: block;
      margin-bottom: 1rem;
    }
  }
}
