
<h1 mat-dialog-title>{{data.name}}</h1>

<div mat-dialog-content>

  <p class="description">{{data.description}}</p>

  <div class="arguments" *ngFor="let idx of data.arguments">

    <mat-form-field
      *ngIf="idx.type === 'string'"
      class="half-width"
      appearance="outline">
      <mat-label class="dark">{{idx.name}}</mat-label>
      <input
        type="text"
        [matTooltip]="idx.description"
        matInput
        autocomplete="off"
        [(ngModel)]="idx.value">
    </mat-form-field>

    <mat-form-field
      *ngIf="idx.type === 'multi_string'"
      class="fill-width"
      appearance="outline">
      <mat-label class="dark">{{idx.name}}</mat-label>
      <textarea
        [matTooltip]="idx.description"
        matInput
        rows="4"
        autocomplete="off"
        [(ngModel)]="idx.value"></textarea>
    </mat-form-field>
    
  </div>

</div>

<div mat-dialog-actions>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!canExecute()"
    (click)="execute()">Execute</button>

  <button
    mat-raised-button
    matTooltip="Select a different macro"
    (click)="differentMacro()">Select</button>

  <button
    mat-raised-button
    (click)="close()">Close</button>

</div>
