
<h3 mat-dialog-title class="mb-0">
  Edit questions for {{data.name}}
</h3>

<div mat-dialog-content>

  <div class="row">
    <div class="col-12 pe-lg-0">
      <div class="col-12" *ngIf="ready">

        <ngx-codemirror
          [(ngModel)]="questions"
          [options]="options">
        </ngx-codemirror>
  
      </div>
    </div>
  </div>

</div>

<div mat-dialog-actions [align]="'end'">

  <button
    mat-button
    mat-dialog-close>
    Close
  </button>

  <button
    mat-flat-button
    (click)="save()">
    Save
  </button>

</div>
