

<div class="centralized">

  <mat-form-field class="form-field-half">
    <mat-label>Subject</mat-label>
    <input
      matInput
      autocomplete="off"
      matTooltip="Subject for key, typically your full name"
      [(ngModel)]="subject">
  </mat-form-field>

  <mat-form-field class="form-field-half">
    <mat-label>Email</mat-label>
    <input
      matInput
      autocomplete="off"
      matTooltip="Typically your email address"
      [(ngModel)]="email">
  </mat-form-field>

  <br>

  <mat-form-field class="form-field-half">
    <mat-label>Domain</mat-label>
    <input
      matInput
      autocomplete="off"
      matTooltip="Domain to associate key with, typically your Magic installation's backend root URL"
      [(ngModel)]="domain">
  </mat-form-field>

  <mat-form-field
    class="form-field-half"
    matTooltip="Key strength to use for your key pair">

    <mat-label>Key strength</mat-label>
    <mat-select [(ngModel)]="strength">
      <mat-option value="1024">1024</mat-option>
      <mat-option value="2048">2048</mat-option>
      <mat-option value="4096">4096</mat-option>
      <mat-option value="8192">8192</mat-option>
    </mat-select>

  </mat-form-field>

  <br>

  <mat-form-field class="form-field-full">
    <mat-label>Seed</mat-label>
    <textarea
      matInput
      rows="5"
      matTooltip="Seed for the cryptographically secure random number generator"
      [(ngModel)]="seed"></textarea>
  </mat-form-field>

</div>

<button
  mat-button
  [disabled]="seed === '' || subject === '' || email === ''"
  (click)="next()"
  class="next">
  Next
</button>
