
// .centralized {
//   text-align: center;
//   margin-top: 3rem;
//   .form-field-half {
//     width: 20rem;
//     margin-right: 1rem;
//   }
// }

// button.next {
//   display: block;
//   position: absolute;
//   bottom: 1rem;
//   right: 1rem;
//   min-width: 8rem;
// }
