
<h1 mat-dialog-title>{{data.has_update ? 'Update ' + data.name : 'Information about ' + data.name}}</h1>

<div mat-dialog-content class="file-content">

  <div [innerHTML]="markdown | marked"></div>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <button
    *ngIf="data.has_update"
    mat-raised-button
    matTooltip="Automatically updates your app"
    color="primary"
    (click)="update()">Update</button>

  <button
    *ngIf="!data.has_update"
    mat-raised-button
    (click)="close()">Close</button>

</div>
