<div class="obscurer" *ngIf="showObscurer">
  <mat-spinner
    diameter="50"></mat-spinner>
</div>

<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [disableClose]="!isMobile"
      ngClass.gt-sm="has-border">
      <mat-toolbar color="primary">
        <span translate>APP_NAME</span>
        <div fxFlex></div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <mat-list>
              <mat-list-item>
                <span translate>Logged in as</span><span>&nbsp;{{ username }}</span>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
            <button mat-menu-item (click)="logout()" translate>Logout</button>
          </mat-menu>
        </div>
        <app-language-selector icon="true"></app-language-selector>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a
            mat-list-item
            routerLink="/"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="active"
            (click)="isMobile && sidenav.close()">
            <span translate>Home</span>
          </a>
          <mat-divider></mat-divider>
          <a
            *ngIf="authService.me.canInvoke('magic/modules/magic/users', 'get')"
            mat-list-item
            routerLink="/users"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="active"
            (click)="isMobile && sidenav.close()">
            <span translate>Users</span>
          </a>
[[router-links]]
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z6">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
      </mat-toolbar>
      <router-outlet *ngIf="authService.hasEndpoints()"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
