@import '../../../../../assets/styles/colour.scss';
@import '../../../../../assets/styles/sizes.scss';

#add-segment-card {
    background-color: transparentize($color: $magic_default_alternative, $amount: 0.85);
    box-shadow: none;
}
.relative {
    position: relative;
    .change-text {
        position: absolute;
        right: 0;
        top: -15px;
        font-size: 12px;
        font-weight: 400;
    }
    .copy-text {
        position: absolute;
        right: -17px;
        top: -20px;
        mat-icon {
          font-size: 15px;
          width: 12px;
          height: 12px;
          line-height: 12px;
          font-weight: 400;
        }
    }
    .copied {
      position: absolute;
      right: -5px;
      top: -10px;
      font-size: 12px;
    }
}
.min-h-80{
    min-height: 80px;
}
.row.manipuated-layout {
  margin-left: calc($side_space * -1.5 );
  margin-right: calc($side_space * -1.5 );
  div[class^="row"] {
    margin-left: calc($side_space / 2 );
    margin-right: calc($side_space / 2 );
  }
  div[class^="col-"] {
    padding-left: calc($side_space / 2 );
    padding-right: calc($side_space / 2 );
  }
}
