<mat-card>
  <mat-card-content>

    <mat-tab-group
      mat-stretch-tabs
      dynamicHeight
      animationDuration="0ms"
      #tabs>

      <!-- Training snippets -->
      <mat-tab>

        <ng-template mat-tab-label>
          Training <span class="d-sm-inline d-none ps-1">Snippets</span>
        </ng-template>

        <ng-template matTabContent>

          <app-machine-learning-training>
          </app-machine-learning-training>

        </ng-template>

      </mat-tab>

      <!-- Training data types -->
      <mat-tab>

        <ng-template mat-tab-label>
          Models
        </ng-template>

        <ng-template matTabContent>

          <app-machine-learning-types>
          </app-machine-learning-types>

        </ng-template>

      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
</mat-card>