
@keyframes fade-in-obscurer {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.obscurer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000000;
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  opacity: 0;
  animation-name: fade-in-obscurer;
  animation-duration: .25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  h1 {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: #fafafa;
  }
  @keyframes jump {
    0%   {bottom: 0px;}
    20%  {bottom: 5px;}
    40%  {bottom: 0px;}
  }  
  .dot {
    position: relative;
    animation: jump 1s infinite;
    display: inline-block;
    background-color: #fafafa;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 3px;
  }
  .dot.dot-1 {
    animation-delay: 200ms;
  }
  .dot.dot-2 {
    animation-delay: 400ms;
  }
  .dot.dot-3 {
    animation-delay: 600ms;
  }  
}
