<div class="row">
  <div class="col-12">
    <mat-card>

      <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between mb-1">
        <div class="d-flex align-items-center">
          <mat-card-title class="my-0">SQL generator</mat-card-title>
          <div class="sm-icons">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
              <mat-icon>help_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div class="p-3">
                <p>
                  Select a database, provide your own SQL, choose authorisation requirements, and click the generate button
                  to have Magic automatically create an HTTP endpoint wrapping your SQL.
                </p>
                <div class="d-flex justify-content-end">
                  <a target="_blank" href="https://docs.aista.com/documentation/magic/components/crudifier/sql/" mat-stroked-button>Learn more</a>
                </div>
              </div>
            </mat-menu>
          </div>
        </div>
      </div>

      <mat-card-subtitle>Generate SQL based HTTP endpoints</mat-card-subtitle>

      <mat-card-content>
        <div class="d-flex flex-sm-nowrap flex-wrap mt-4 w-100" *ngIf="input">
        
          <mat-form-field
            class="w-100"
            matTooltip="Select type of database"
            appearance="outline">
            <mat-label>Database type</mat-label>
            <mat-select
              [(ngModel)]="input.databaseType"
              (selectionChange)="databaseTypeChanged()">
              <mat-option
                *ngFor="let idx of databaseTypes"
                [value]="idx">{{getDatabaseTypeName(idx)}}</mat-option>
            </mat-select>
          </mat-form-field>
        
          <div class="p-1"></div>
        
          <mat-form-field
            class="w-100"
            matTooltip="Connection string to use"
            appearance="outline">
            <mat-label>Connection string</mat-label>
            <mat-select
              [(ngModel)]="input.connectionString"
              (selectionChange)="connectionStringChanged()">
              <mat-option
                *ngFor="let idx of connectionStrings"
                [value]="idx">{{idx}}</mat-option>
            </mat-select>
          </mat-form-field>
        
          <div class="p-1"></div>
          
          <mat-form-field
            class="w-100"
            matTooltip="Database to create SQL endpoint for"
            appearance="outline">
            <mat-label>Database name</mat-label>
            <mat-select
              [(ngModel)]="input.database"
              [disabled]="!databases || databases.length === 0"
              (selectionChange)="databaseChanged()">
              <mat-option
                *ngFor="let idx of databases"
                [value]="idx"
                [class]="getDatabaseCssClass(idx)">{{idx}}</mat-option>
            </mat-select>
          </mat-form-field>
        
        </div>
        
      </mat-card-content>
    </mat-card>
  </div>
</div>