@import '../../../../assets/styles/colour.scss';
@import '../../../../assets/styles/mixin.scss';
$max_height: calc(100vh - 155px);
.ide{
  .tree-button{
    mat-icon{transform: rotate(45deg);}
  }
  .node{opacity: 0.5;}
  .selected-node{opacity: 1;}
  .light-bulb{max-height: 50vh;display: block;margin: auto;max-width: 100%;}
}
::ng-deep .ide{
  .mat-sidenav-inner-container{@include scrollbar($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),5px);}
  .mat-sidenav-container,.mat-sidenav{background-color: inherit!important;}
  .mat-sidenav{
    overflow: hidden;
  }
  .custom-margin{
    bottom: -16px;
    margin-left: -16px;
  }
  .mat-tree-node {min-height: 40px;}
}
::ng-deep .dark .ide{
  .mat-sidenav{background-color: $magic_dark_ng_theme!important;}
  .system-files-toggle{background-color: $magic_dark_ng_theme;box-shadow: inset 0 0 50px rgb(0 0 0 / 20%);}
}
::ng-deep .light .ide{
  .mat-sidenav{background-color: $magic_default!important;}
  .system-files-toggle{background-color: $magic_default;box-shadow: inset 0 0 50px rgb(0 0 0 / 5%);}
}
::ng-deep{
  .mat-sidenav{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  // Preview modal
  .mat-dialog-content p, .mat-dialog-content pre, .mat-dialog-content code, .mat-dialog-content ul li {
    word-break: break-all;
    white-space: break-spaces;
  }
}
.shortkey-btn{min-width: 94px;}

::ng-deep{
  .active-codemirror-editor .CodeMirror:not(.CodeMirror-fullscreen){height: 100% !important;max-height: $max_height;}
  .submenu-before{
    .mat-menu-submenu-icon{
      left: 16px;
      right: unset;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .mat-tree{background-color: transparent!important;}
  .submenu{
    .mat-menu-content{min-width: 200px;}
  }
}
.mobile-close-drawer { position: absolute;left: 5px;top: 5px;z-index: 1;right: 10px; }
.system-files-toggle {
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: 1;
  right: 0px;
  padding-bottom: 14px;
  padding-top: 14px;
  padding-left: 14px;
  border-top: solid 1px $magic_dark_ng_border;
}
::ng-deep .dark .system-files-toggle {
  border-top: solid 1px $magic_default_ng_border;
}
.select-icon-mini{
  mat-icon{
    line-height: 18px;
    font-size: 18px;
    width: 18px;
    height: 18px
  }
}
