@import '../../../../assets/styles/colour.scss';
@import '../../../../assets/styles/mixin.scss';
// $max_height: calc(100vh - 130px);
$max_height: calc(100vh - 155px);
.ide{
  .tree-button{
    mat-icon{transform: rotate(45deg);}
  }
  .node{opacity: 0.5;}
  .selected-node{opacity: 1;}
  .light-bulb{max-height: 50vh;display: block;margin: auto;max-width: 100%;}
}
::ng-deep .ide{
  .mat-drawer-inner-container{@include scrollbar($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),8px);}
  .mat-drawer-container,.mat-drawer{background-color: inherit!important;}
  .mat-drawer{overflow: hidden;}
}
::ng-deep .dark .ide{
  .mat-drawer,
  .system-files-toggle{background-color: $magic_dark_ng_theme!important;}
}
::ng-deep .light .ide{
  .mat-drawer,
  .system-files-toggle{background-color: $magic_default!important;}
}
.shortkey-btn{min-width: 94px;}

::ng-deep{
  .active-codemirror-editor .CodeMirror:not(.CodeMirror-fullscreen){height: 100% !important;max-height: $max_height;}
  .submenu-before{
    .mat-menu-submenu-icon{
      left: 16px;
      right: unset; 
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .submenu{
    .mat-menu-content{min-width: 200px;}
  }
}
.mobile-close-drawer{position: absolute;left: 0;top: 0;z-index: 1;right: 10px;}
.system-files-toggle{position: absolute;left: 0;bottom: -1px;z-index: 1;right: 10px;}
.select-icon-mini{
  mat-icon{
    line-height: 18px;
    font-size: 18px;
    width: 18px;
    height: 18px
  }
}