<div class="row">
  <div class="col-12">
    <p class="mat-title">Set a new password</p>
  </div>
</div>

<form [formGroup]="resetPassForm" (ngSubmit)="resetPass()" class="w-100">
  <div class="col-12">
    <mat-form-field class="w-100 mb-2">
      <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>password</mat-icon>
        <span class="text-muted mx-2">|</span>
      </span>
      <input matInput="password" formControlName="password" name="password"
        [type]="viewPassword ? 'text' : 'password'" autocomplete="new-password" placeholder="Password" required>
      <button mat-icon-button (click)="viewPassword = !viewPassword" type="button" matSuffix tabindex="-1">
        <mat-icon>visibility{{viewPassword ? '_off' : ''}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-12">
    <mat-form-field class="w-100 mb-2">
      <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>password</mat-icon>
        <span class="text-muted mx-2">|</span>
      </span>
      <input matInput="password" type="password" formControlName="confirmPassword" name="confirmPassword"
        autocomplete="new-password" placeholder="Repeat password" required>
      <mat-icon matSuffix>password</mat-icon>
      <mat-error>{{errors.confirmPassword}}</mat-error>
    </mat-form-field>
  </div>

  <button type="submit" mat-flat-button color="primary" class="d-block w-100 mt-3 mb-4 auth-submit-button"
    [disabled]="waiting">
    Save new password
  </button>
</form>

<div class="row mt-5">
  <div class="col-12 text-center">
    <button mat-stroked-button routerLink="/authentication/sign-in" class="link">Back to login</button>
  </div>
</div>