
<div class="row fullPage">

  <!-- Configure part -->
  <div *ngIf="!isConfigured" class="col-12 mt-4">

    <ng-container *ngIf="isLoadingKey">
      <app-loading-skeleton
        amount="5"
        colClass="col-12"
        blockHeight="45px"
        hasShadow="false">
      </app-loading-skeleton>
    </ng-container>

    <ng-container *ngIf="!isLoadingKey">
      <div class="row ms-1">
        <div class="col-12">
          <h3 class="fw-bold mb-2">Machine Learning</h3>
          <p class="text-muted">
            To get started with Machine Learning you'll need an OpenAI API key.
            Get your API key <a href="https://beta.openai.com/account/api-keys" target="_blank">here</a>.
          </p>

          <button
            (click)="configure()"
            class="mt-2"
            mat-flat-button>
            <div class="d-flex flex-nowrap align-items-center ps-1">
              <mat-icon>key</mat-icon>
              <p class="my-0 mx-2 text-truncate url-text">OpenAI API key</p>
            </div>
          </button>

        </div>
      </div>
    </ng-container>

  </div>

  <div class="col-12 mt-4" *ngIf="isConfigured">

    <div class="row">

      <div class="col-lg-6 col-12 mb-lg-0 mb-2">
        <h3 class="fw-bold mb-2">
          Machine Learning models
        </h3>
        <p class="text-muted">
          Manage your Machine Learning models
        </p>
      </div>

      <div class="col-lg-6 col-12 text-end">

        <button
          mat-flat-button
          color="primary"
          class="me-2"
          (click)="addType()">
          Add
        </button>

      </div>

      <div class="table-responsive mt-4 col-12">

        <table
          mat-table
          [dataSource]="types"
          class="w-100 borderless hoverable">

          <!-- Type column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef class="text-nowrap px-sm-3">Type</th>
            <td mat-cell *matCellDef="let element" class="text-truncate px-sm-3">{{element.type}}</td>
          </ng-container>

          <!-- Model column -->
          <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef class="pe-sm-3 text-nowrap small-table-column">Model</th>
            <td mat-cell *matCellDef="let element" class="pe-sm-3 text-nowrap small-table-column">{{element.model}}</td>
          </ng-container>

          <!-- Cached column -->
          <ng-container matColumnDef="cached">
            <th mat-header-cell *matHeaderCellDef class="small-table-column">Cached</th>
            <td
              mat-cell
              *matCellDef="let element"
              class="ps-3">
              <span class="status {{element.cached === 1 ? 'cached' : 'uncached'}} me-1"></span>
            </td>
          </ng-container>

          <!-- Temperature column -->
          <ng-container matColumnDef="temperature">
            <th mat-header-cell *matHeaderCellDef class="small-table-column">Temperature</th>
            <td mat-cell *matCellDef="let element" class="small-table-column">{{element.temperature}}</td>
          </ng-container>

          <!-- Max tokens column -->
          <ng-container matColumnDef="max_tokens">
            <th mat-header-cell *matHeaderCellDef class="pe-sm-3 small-table-column">Tokens</th>
            <td mat-cell *matCellDef="let element" class="pe-sm-3 small-table-column">{{element.max_tokens}}</td>
          </ng-container>

          <!-- Supervised column -->
          <ng-container matColumnDef="supervised">
            <th mat-header-cell *matHeaderCellDef class="small-table-column">Supervised</th>
            <td
              mat-cell
              *matCellDef="let element"
              class="ps-3">
              <span class="status {{element.supervised === 1 ? 'supervised' : 'unsupervised'}} me-1"></span>
            </td>
          </ng-container>

          <!-- Auth column -->
          <ng-container matColumnDef="auth">
            <th mat-header-cell *matHeaderCellDef class="pe-sm-3 small-table-column">Auth</th>
            <td mat-cell *matCellDef="let element" class="pe-sm-3 small-table-column">{{element.auth}}</td>
          </ng-container>

          <!-- reCAPTCHA column -->
          <ng-container matColumnDef="recaptcha">
            <th mat-header-cell *matHeaderCellDef class="pe-sm-3 small-table-column">reCAPTCHA</th>
            <td mat-cell *matCellDef="let element" class="pe-sm-3 small-table-column">{{element.recaptcha}}</td>
          </ng-container>

          <!-- Actions column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="ps-sm-3 small-table-column">Actions</th>
            <td mat-cell *matCellDef="let element" class="ps-sm-3 text-nowrap small-table-column">

              <button
                mat-button
                color="primary"
                (click)="train(element)">
                Train
              </button>

              <button
                mat-button
                color="primary"
                (click)="edit(element)">
                Edit
              </button>

              <button
                mat-button
                color="warn"
                (click)="delete(element)">
                Delete
              </button>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

      </div>

    </div>

  </div>

</div>
