
.parts {
  .part {
    margin-bottom: 2rem;
    position: relative;
  }
}

@media screen and (min-width: 1024px) {
  .parts {
    display: flex;
    .part {
      flex: 1;
      margin-right: 2rem;
      padding: 2rem;
      min-height: 300px;;
    }
  }
}
