
<div class="d-flex align-items-center mb-4">
  <h1 mat-dialog-title class="m-0">Schedule task</h1>
  <div class="sm-icons">

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="mat-caption"
      matTooltip="Need help?"
      type="button">
      <mat-icon>help_outline</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <div class="p-3">
        <p>
          Read more about scheduling and persisting tasks from Hyperlambda.
        </p>
        <div class="d-flex justify-content-end">
          <a target="_blank" href="https://docs.aista.com/documentation/magic.lambda.scheduler/" mat-stroked-button>Learn more</a>
        </div>
      </div>
    </mat-menu>

  </div>
</div>

<form>

  <div mat-dialog-content>

    <mat-form-field class="w-100" *ngIf="!isRepeating" appearance="outline">
      <mat-label class="dark">Due date</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="picker"
        autocomplete="off"
        [(ngModel)]="date"
        name="date"
        [min]="currentDate"
        (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="isRepeating" appearance="outline">
      <mat-label class="dark">Repetition pattern</mat-label>
      <input
        matInput
        autocomplete="off"
        [(ngModel)]="repeats"
        name="repeats">
        <mat-hint>e.g. 10.days for 10 days repetition</mat-hint>
    </mat-form-field>

  </div>

  <div mat-dialog-actions class="mat-dialog-actions">

    <mat-checkbox
      [(ngModel)]="isRepeating"
      name="isRepeating">Repeating</mat-checkbox>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isRepeating ? !repeats : !date"
      (click)="create()">
      Create
    </button>
  </div>

</form>