
<h1 mat-dialog-title>Schedule task</h1>

<form>

  <div mat-dialog-content>

    <mat-form-field class="w-100" *ngIf="!isRepeating" appearance="outline">
      <mat-label class="dark">Due date</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="picker"
        autocomplete="off"
        [(ngModel)]="date"
        name="date"
        (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="isRepeating" appearance="outline">
      <mat-label class="dark">Repetition pattern</mat-label>
      <input
        matInput
        autocomplete="off"
        [(ngModel)]="repeats"
        name="repeats">
    </mat-form-field>

  </div>

  <div mat-dialog-actions class="mat-dialog-actions">
    <mat-checkbox [(ngModel)]="isRepeating" name="isRepeating">Repeating</mat-checkbox>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isRepeating ? !repeats : !date"
      (click)="create()">
      Create
    </button>
  </div>

</form>