<div id="endpoints-list">
  <mat-list role="list" dense id="custom-list">

    <mat-list-item role="listitem" *ngIf="endpoint.error">
      <span class="list-label">Error</span>
      <span>{{endpoint.error}}</span>
    </mat-list-item>

    <mat-list-item role="listitem" class="flex-list">
      <div class="d-flex w-100 pr-2">
        <span class="list-label">Relative URL</span>
        <span class="word-break">{{endpoint.path}}</span>
      </div>

      <button
        mat-icon-button
        matTooltip="Copy full invocation URL"
        (click)="copyUrl()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-list-item>

    <mat-list-item role="listitem">
      <span class="list-label">Verb</span>
      <span>{{endpoint.verb}}</span>
    </mat-list-item>

    <mat-list-item role="listitem" *ngIf="endpoint.type">
      <span class="list-label">Type</span>
      <span>{{endpoint.type}}</span>
    </mat-list-item>

    <mat-list-item role="listitem" *ngIf="endpoint.consumes">
      <span class="list-label">Consumes</span>
      <span>{{endpoint.consumes}}</span>
    </mat-list-item>

    <mat-list-item role="listitem" *ngIf="endpoint.produces">
      <span class="list-label">Produces</span>
      <span>{{endpoint.produces}}</span>
    </mat-list-item>

    <mat-list-item role="listitem" *ngIf="endpoint.description">
      <span class="list-label">Description</span>
      <span>{{endpoint.description}}</span>
    </mat-list-item>

    <mat-list-item role="listitem" *ngIf="endpoint.auth">
      <span class="list-label">Authorization</span>
      <span>{{getAuth(endpoint.auth)}}</span>
    </mat-list-item>

    <mat-list-item role="listitem" *ngIf="url">
      <span class="list-label">Invocation URL</span>
      <span class="word-break">{{url}}</span>
    </mat-list-item>
  </mat-list>

  <!-- Assumptions -->
  <div
    class="d-flex flex-column w-100" 
    *ngIf="backendService.active?.access.endpoints.assumptions && assumptions.length > 0">

    <div class="my-3"><mat-divider></mat-divider></div>

    <h4 class="mb-2">Assumptions</h4>

    <ng-container *ngIf="backendService.active?.access.diagnostics.execute_test">
      <mat-chip-list>
        <mat-chip
          *ngFor="let i of assumptions"
          [matTooltip]="i.description"
          (click)="runAssumption(i)"
          class="assumption"
          selectable="false">
          {{getAssumptionName(i.file)}}
          <mat-icon *ngIf="i.success === false" class="ml-1">warning</mat-icon>
          <mat-icon *ngIf="i.success === true" class="ml-1">check</mat-icon>
          <mat-icon *ngIf="i.success === null" class="ml-1">help_outline</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </ng-container>

  </div>

  <!-- Arguments -->
  <div
    class="d-flex flex-column w-100" 
    *ngIf="endpoint.input && endpoint.input.length > 0 && (endpoint.verb === 'get' || endpoint.verb === 'delete')">

    <div class="my-3"><mat-divider></mat-divider></div>

    <h4 class="mb-2">Arguments</h4>

    <ng-container *ngIf="getArguments(endpoint.input, true).length > 0">
      <mat-chip-list class="mb-2">
        <mat-chip
          *ngFor="let i of getArguments(endpoint.input, true)"
          [matTooltip]="getChipTooltip(i)"
          selectable="false"
          [class]="hasQueryParam(i) ? 'query-disabled' : ''"
          (removed)="removeQueryParameter(i)"
          (click)="addQueryParameter(i)">
          {{i.name}}
          <mat-icon *ngIf="hasQueryParam(i)" matChipRemove class="ml-1">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </ng-container>

    <mat-chip-list>
      <mat-chip
        *ngFor="let i of getArguments(endpoint.input, false)"
        [matTooltip]="getChipTooltip(i)"
        selectable="false"
        [class]="hasQueryParam(i) ? 'query-disabled' : ''"
        (removed)="removeQueryParameter(i)"
        (click)="addQueryParameter(i)">
        {{i.name}}
        <mat-icon *ngIf="hasQueryParam(i)" matChipRemove class="ml-1">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

  </div>

  <!-- Payload -->
  <div
    class="d-flex flex-column w-100" 
    *ngIf="payload !== null && payload !== undefined && (endpoint.consumes === 'application/json' || endpoint.consumes === 'application/x-hyperlambda')">

    <div class="my-3"><mat-divider></mat-divider></div>

    <h4 class="mb-2">Payload</h4>

    <!-- Payload for application/json -->
    <ng-container *ngIf="payload !== null && payload !== undefined && endpoint.consumes === 'application/json'">
      <ngx-codemirror
        [(ngModel)]="payload"
        [options]="cmOptions.json">
      </ngx-codemirror>
    </ng-container>

    <!-- Payload for application/x-hyperlambda -->
    <ng-container *ngIf="payload !== null && payload !== undefined && endpoint.consumes === 'application/x-hyperlambda'">
      <ngx-codemirror
        [(ngModel)]="payload"
        [options]="cmOptionsHyperlambda.json">
      </ngx-codemirror>
    </ng-container>

    <!-- Payload for text -->
    <ng-container *ngIf="payload !== null && payload !== undefined && endpoint.consumes.startsWith('text/')">
      <ngx-codemirror
        [(ngModel)]="payload"
        [options]="cmOptionsMarkdown.json">
      </ngx-codemirror>
    </ng-container>

  </div>

  <!-- Invoke button -->
  <div class="d-flex mt-3 justify-content-end" *ngIf="canInvoke()">
    <button
      mat-raised-button
      color="primary"
      (click)="invoke()">
      Invoke
    </button>
  </div>

  <!-- response 
    ///// TODO::: changing element, so removing css codes -->
  <div *ngIf="result">
    <div class="d-flex justify-content-between align-items-center w-100 my-3">
      <div class="d-flex">
        <span>Status</span>
        <span class="ml-3">
          {{result.status + ' ' + result.statusText}}
        </span>
      </div>
      <ng-container *ngIf="!isSuccess()">
        <mat-icon class="failed">warning</mat-icon>
      </ng-container>
    </div>

    <div *ngIf="result.responseType === 'json'" class="w-100">
      <ngx-codemirror
        [(ngModel)]="result.response"
        [options]="cmOptionsReadonly.json">
      </ngx-codemirror>
    </div>

    <div *ngIf="result.responseType === 'hyperlambda'" class="w-100">
      <ngx-codemirror
        [(ngModel)]="result.response"
        [options]="cmHlOptionsReadonly.hl">
      </ngx-codemirror>
    </div>

    <div *ngIf="result.responseType === 'text'" class="w-100">
      <ngx-codemirror
        [(ngModel)]="result.response"
        [options]="markdownOptionsReadonly.md">
      </ngx-codemirror>
    </div>

    <div *ngIf="result.responseType === 'blob'" class="w-100">
      <img [src]="result.blob" alt="Image resulting from invocation" class="img-fluid">
    </div>

    <div class="d-flex justify-content-end w-100 my-3">
      <button
        mat-raised-button
        [disabled]="!backendService.active?.access.endpoints.create_test"
        (click)="createTest()">
        New assumption
      </button>
    </div>

  </div>

</div>
