@import '../../../../../assets/styles/colour.scss';

.list-label { min-width: 130px; }
.failed { color: $magic_warning; }

::ng-deep {
  .mat-chip {
    &.assumption { cursor: pointer; }
    &.query-disabled {
      background-color: #7d7d7d;
    }
  }
  #endpoints-list .mat-divider-horizontal { position: relative; }
}
