@import '../../../../../assets/styles/colour.scss';
.sign-icon{
  mat-icon{
    font-size: 50px;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
  }
  &.success{
    mat-icon{
      color: $magic_success;
    }
  }
}