
<div class="status-todo">
  <table>
    <tr>
      <th>TODO</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>Configure</td>
      <td [matTooltip]="status.setup_done ? 'Done' : 'You need to configure your system before you can take full advantage of Magic'">
        <mat-icon class="done" *ngIf="status.setup_done">done</mat-icon>
        <mat-icon class="todo" *ngIf="!status.setup_done">clear</mat-icon>
      </td>
    </tr>
    <tr>
      <td>Database</td>
      <td [matTooltip]="status.setup_done ? 'Done' : 'You need to crudify your Magic database before you can take full advantage of Magic'">
        <mat-icon class="done" *ngIf="status.magic_crudified">done</mat-icon>
        <mat-icon class="todo" *ngIf="!status.magic_crudified">clear</mat-icon>
      </td>
    </tr>
    <tr>
      <td>Crypto</td>
      <td [matTooltip]="status.setup_done ? 'Done' : 'You need to generate a server cryptography key pair before you can take full advantage of Magic'">
        <mat-icon class="done" *ngIf="status.server_keypair">done</mat-icon>
        <mat-icon class="todo" *ngIf="!status.server_keypair">clear</mat-icon>
      </td>
    </tr>
  </table>
</div>
