
.status-todo {
  position: relative;
  table {
    position: absolute;
    top: 0;
    right: 0;
    tr {
      td {
        padding: 0 1rem 0 0;
      }
    }
    tr.todo {
      color: #777;
    }
    tr.done {
      color: inherit;
    }
  }
}
