
<div class="status-todo">

  <table>

    <tr
      [matTooltip]="status.setup_done ? 'Done' : 'You need to configure your system before you can take full advantage of Magic'"
      [class]="status.setup_done ? 'done' : 'todo'">
      <td>Configure</td>
      <td>
        <mat-icon
          *ngIf="status.setup_done">done</mat-icon>
        <mat-icon
          *ngIf="!status.setup_done">clear</mat-icon>
      </td>
    </tr>

    <tr
      [matTooltip]="status.setup_done ? 'Done' : 'You need to crudify your Magic database before you can take full advantage of Magic'"
      [class]="status.setup_done ? 'done' : 'todo'">
      <td>Database</td>
      <td>
        <mat-icon
          *ngIf="status.magic_crudified">done</mat-icon>
        <mat-icon
          *ngIf="!status.magic_crudified">clear</mat-icon>
      </td>
    </tr>

    <tr
      [matTooltip]="status.setup_done ? 'Done' : 'You need to generate a cryptography key pair before you can take full advantage of Magic'"
      [class]="status.setup_done ? 'done' : 'todo'">
      <td>Crypto</td>
      <td>
        <mat-icon
          *ngIf="status.server_keypair">done</mat-icon>
        <mat-icon
          *ngIf="!status.server_keypair">clear</mat-icon>
      </td>
    </tr>

  </table>

</div>
