
h1 {
  mat-icon {
    float: right;
    color: #e55 !important;
    margin-top: -.5rem;
    font-size: 2rem;
  }
}

.wrapper {
  width: 20rem;
  margin-right: auto;
  margin-left: auto;
}

.feedback {
  width: 40rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
