
<h1 mat-dialog-title class="mat-dialog-title">New assumption</h1>

<div mat-dialog-content>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label class="dark">Name</mat-label>
    <input
      type="text"
      matInput
      [(ngModel)]="data.filename"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let idx of getFiltered()"
        [value]="getFilename(idx)">
        {{getFilename(idx)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline">
    <mat-label class="dark">Description</mat-label>
    <textarea
      matInput
      [(ngModel)]="data.description"
      rows="5"></textarea>
  </mat-form-field>

</div>

<div mat-dialog-actions class="d-flex">

  <mat-checkbox [(ngModel)]="data.matchResponse">Match response</mat-checkbox>
  <div class="p-2"></div>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!filenameValid()"
    [mat-dialog-close]="data">Save</button>

</div>
