
.example-fill-remaining-space {
    flex: 1 1 auto;
}

.active-link {
    text-decoration: underline;
}

.login-card {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
    margin-top: 3rem;
    .setup-default-info {
        padding: 1rem;
        border-radius: .5rem;
        background-color: rgb(255,220,220);
        margin-bottom: 2rem;
        margin-top: -2rem;
    }
}

.fill-width {
    width: 100%;
}

.right-aligned {
    text-align: right;
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}

::ng-deep .warning-system-snackbar {
  background:rgb(255,100,100);
  color:rgb(0,0,0);
}
  