
<mat-toolbar>

  <span>Magic</span>
  <span class="example-fill-remaining-space"></span>

  <a 
    *ngIf="showMenu()"
    mat-button 
    routerLink="/" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Home</a>

  <a 
    *ngIf="!showMenu() && isLoggedIn()"
    mat-button 
    routerLink="/setup" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Setup</a>

  <a 
    *ngIf="showMenu()"
    mat-button 
    routerLink="/users" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Users</a>

  <a 
    *ngIf="showMenu()"
    mat-button 
    routerLink="/crudify" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Crudify</a>

  <a 
    *ngIf="isLoggedIn()"
    mat-button 
    routerLink="/files" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Files</a>

  <a 
    *ngIf="showMenu()"
    mat-button 
    routerLink="/evaluator" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Evaluator</a>

  <a 
    *ngIf="showMenu()"
    mat-button 
    routerLink="/endpoints" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Endpoints</a>

  <a 
    *ngIf="showMenu()"
    mat-button 
    routerLink="/sql" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">SQL</a>

  <a 
    *ngIf="showMenu()"
    mat-button 
    routerLink="/scheduler" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Scheduler</a>

  <a
    *ngIf="isLoggedIn()"
    mat-button
    (click)="logout()">Logout</a>

</mat-toolbar>

<div *ngIf="isLoggedIn()" class="content">
  <router-outlet></router-outlet>
</div>

<div *ngIf="!isLoggedIn()">
  <mat-card class="login-card">

    <mat-form-field class="fill-width">
      <input 
        matInput 
        placeholder="Backend URL"
        type="text" 
        [(ngModel)]="backendUrl">
    </mat-form-field>

    <mat-form-field class="fill-width">
      <input 
        matInput 
        placeholder="Username"
        type="text" 
        [(ngModel)]="username">
    </mat-form-field>

    <mat-form-field class="fill-width">
      <input 
        matInput 
        placeholder="Password"
        autocomplete="new-password"
        type="password" 
        [(ngModel)]="password">
    </mat-form-field>

    <div class="right-aligned">
      <button 
        mat-button
        (click)="login()"
        matTooltip="Login to your Magic installation">Login</button>
    </div>

  </mat-card>
</div>
