
.example-fill-remaining-space {
    flex: 1 1 auto;
}

.active-link {
    text-decoration: underline;
}

.login-card {
    max-width: 100%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 4rem 6rem 4rem;
    margin-top: 5rem;
    position: relative;
    .help {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        color: #555;
    }

    .login-button {
        position: absolute;
        bottom: 3rem;
        right: 4rem;
        min-width: 8rem;
    }
}

.warning .login-card {
    background-color: rgba(255,220,220);
}

.fill-width {
    width: 100%;
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}

::ng-deep .warning-system-snackbar {
  background:rgb(255,100,100);
  color:rgb(0,0,0);
}
  