
<mat-toolbar>

  <span>Magic</span>
  <span class="example-fill-remaining-space"></span>

  <a 
    *ngIf="isLoggedIn()"
    mat-button 
    routerLink="/" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Home</a>

  <a 
    *ngIf="isLoggedIn() && hasDefaultPassword()"
    mat-button 
    routerLink="/setup" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Setup</a>

  <a 
    *ngIf="isLoggedIn()"
    mat-button 
    routerLink="/crudify" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Crudify</a>

  <a 
    *ngIf="isLoggedIn()"
    mat-button 
    routerLink="/endpoints" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Endpoints</a>

  <a 
    *ngIf="isLoggedIn()"
    mat-button 
    routerLink="/tasks" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Tasks</a>

  <a 
    *ngIf="isLoggedIn()"
    mat-button 
    routerLink="/files" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Files</a>

  <a 
    *ngIf="isLoggedIn()"
    mat-button 
    routerLink="/evaluator" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Evaluator</a>

  <a 
    *ngIf="isLoggedIn() && !hasDefaultPassword()"
    mat-button 
    routerLink="/users" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Users</a>

  <a 
    *ngIf="isLoggedIn() && !hasDefaultPassword()"
    mat-button 
    routerLink="/roles" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Roles</a>

  <a 
    *ngIf="isLoggedIn()"
    mat-button 
    routerLink="/sql" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">SQL</a>

  <a 
    *ngIf="isLoggedIn()"
    mat-button 
    routerLink="/logs" 
    routerLinkActive="active-link" 
    [routerLinkActiveOptions]="{exact:true}">Logs</a>

  <a
    *ngIf="isLoggedIn()"
    mat-button
    (click)="logout()">Logout</a>

</mat-toolbar>

<div *ngIf="isLoggedIn()" class="content">
  <router-outlet></router-outlet>
</div>

<div *ngIf="!isLoggedIn()" [ngClass]="connectedToBackend ? '' : 'warning'">
  <mat-card class="login-card">

    <div
      class="setup-default-info">
      The default username/password combination is <em>"root"/"root"</em>. Please change this after logging in.
    </div>

    <mat-form-field class="fill-width">
      <input 
        matInput 
        placeholder="Backend URL"
        type="text"
        (change)="backendUrlChanged()"
        [(ngModel)]="backendUrl">
    </mat-form-field>

    <mat-form-field class="fill-width">
      <input 
        matInput 
        placeholder="Username"
        autocomplete="off"
        type="text" 
        [(ngModel)]="username">
    </mat-form-field>

    <mat-form-field class="fill-width">
      <input 
        matInput 
        placeholder="Password"
        autocomplete="new-password"
        type="password" 
        [(ngModel)]="password">
    </mat-form-field>

    <div class="right-aligned">
      <button
        [disabled]="!connectedToBackend"
        mat-raised-button
        color="primary"
        (click)="login()"
        matTooltip="Login to your Magic installation">Login</button>
    </div>

  </mat-card>
</div>
