<h3 mat-dialog-title>Add a predefiend SQL snippet</h3>

<div mat-dialog-content>
  <mat-form-field class="w-100 standalone-field">
    <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
      <mat-icon>search</mat-icon>
      <span class="text-muted">|</span>
    </span>

    <input matInput
      placeholder="Search through endpoints" #input>
      <button mat-icon-button matSuffix (click)="input.value = ''" *ngIf="input.value!==''">
        <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>

  <mat-selection-list [multiple]="false" dense>
    <mat-list-option
      *ngFor="let item of files"
      [class.d-none]="input.value !== '' && item.toLowerCase().indexOf(input.value.toLowerCase()) === -1"
      (click)="select(item)">
      {{getFilename(item)}}
    </mat-list-option>
  </mat-selection-list>

</div>
