
<h1 mat-dialog-title>{{data ? 'Change user\'s password' : 'Create new user'}}</h1>

<div mat-dialog-content>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Username</mat-label>
    <input
      matInput
      [(ngModel)]="username"
      [disabled]="data"
      autocomplete="username">

  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">{{this.data ? 'New password' : 'Password'}}</mat-label>
    <input
      matInput
      [(ngModel)]="password"
      [type]="hide ? 'password' : 'text'"
      autocomplete="new-password">
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

  </mat-form-field>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <button
    *ngIf="!data"
    mat-raised-button
    color="primary"
    [disabled]="username === '' || password === ''"
    (click)="create()">Create</button>

  <button
    *ngIf="data"
    mat-raised-button
    color="primary"
    [disabled]="password === ''"
    (click)="update()">Update</button>

  <button
    mat-raised-button
    (click)="close()">Close</button>

</div>
