
<h1 mat-dialog-title class="mat-dialog-title">Create new key pair</h1>

<div mat-dialog-content class="file-content">

  <mat-form-field class="fill-width">
    <input
      matInput
      placeholder="Seed"
      autocomplete="off"
      [(ngModel)]="seed">
  </mat-form-field>

  <mat-form-field class="fill-width">

    <mat-select
      placeholder="Strength"
      class="dark"
      [(ngModel)]="strength">
      <mat-option *ngFor="let el of strengthValues" [value]="el">{{el}}</mat-option>
    </mat-select>

  </mat-form-field>

</div>

<div
  mat-dialog-actions
  class="mat-dialog-actions">

  <button
    mat-button
    (click)="create()"
    aria-label="Creates your key pair">Create</button>

</div>
