
<div class="row fullPage">

  <!-- Training snippets datagrid -->
  <div class="mt-4 col-12">

    <!-- Top parts containing title of component and search textbox -->
    <div class="row align-items-center me-1">

      <div class="col-lg-6 col-12 mb-lg-0 mb-2">
        <h3 class="mb-2 fw-bold">Machine Learning training</h3>
        <p class="text-muted">Manage your Machine Learning training data</p>
      </div>

      <div class="col-lg-6 col-12">

        <!-- Search textbox -->
        <app-searchbox
          (filterList)="filterList($event)"
          buttonText="Add"
          (buttonClick)="create()"
          [(type)]="type"
          [types]="types">
        </app-searchbox>

      </div>
    </div>

    <div class="table-responsive mt-4">

      <table
        mat-table
        multiTemplateDataRows
        [dataSource]="dataSource"
        matSort
        class="w-100 borderless hoverable"
        (matSortChange)="sortData($event)">

        <!-- Prompt column -->
        <ng-container matColumnDef="prompt">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="text-nowrap px-sm-3"
            mat-sort-header>
            Prompt
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="text-truncate px-sm-3">
            {{element.prompt}}
          </td>
        </ng-container>

        <!-- Type column -->
        <ng-container matColumnDef="type">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="pe-sm-3 small-table-column"
            mat-sort-header>
            Type
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="pe-sm-3 small-table-column">
            {{element.type}}
          </td>
        </ng-container>

        <!-- Pushed column -->
        <ng-container matColumnDef="pushed">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-sm-3 small-table-column"
            mat-sort-header>
            Pushed
          </th>
          <td mat-cell
            *matCellDef="let element"
            class="ps-3">
            <span class="status {{element.pushed > 0 ? 'pushed ' : ' '}}me-1 small-table-column"></span>
          </td>
        </ng-container>

        <!-- Action column -->
        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="ps-sm-3 small-table-column">
            Actions
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="ps-sm-3 text-nowrap small-table-column">

            <button
              mat-button
              color="primary"
              (click)="showDetails($event, element)">
              Edit
            </button>

            <button
              mat-button
              color="warn"
              (click)="delete($event, element)">
              Delete
            </button>

          </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <td
            mat-cell
            *matCellDef="let el"
            colspan="4">
            <div [@detailExpand]="el === expandedElement ? 'expanded' : 'collapsed'">
              <div class="text-muted py-3 formatted">{{el.completion}}</div>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns;sticky: true">
        </tr>

        <tr
          mat-row
          (click)="expandedElement = expandedElement === row ? null : row"
          *matRowDef="let row; columns: displayedColumns;">
        </tr>

        <tr
          mat-row
          class="expanded-row"
          [class.expanded]="expandedElement === row"
          *matRowDef="let row; columns: ['details']; ">
        </tr>

      </table>

    </div>

    <!-- Pager -->
    <mat-paginator
      [length]="count"
      [pageIndex]="filter.offset / filter.limit"
      [pageSize]="filter.limit"
      (page)="page($event)">
    </mat-paginator>

  </div>

</div>
