
<h3 mat-dialog-title class="text-accent">{{data?.name}}</h3>

<form>
  <div mat-dialog-content>
    <p>This file cannot be opened. Please choose what to do with this file.</p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="{download: true}">Download</button>
    <button mat-button [mat-dialog-close]="{deleteFile: true}">Delete</button>  
    <button *ngIf="data?.name?.endsWith('.zip')" mat-button [mat-dialog-close]="{unzip: true}">Unzip</button>  
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</form>
