
mat-form-field {
  margin-right: 1rem;
}
.documentation {
  margin-top: 3rem;
}
mat-chip-list {
  display: block;
  margin-top: 1rem;
  mat-chip {
    margin-bottom: 1rem;
    padding-right: 2rem;
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 25px;
    cursor: pointer;
    mat-icon {
      position: absolute;
      right: .5rem;
    }
  }
  mat-chip.selected {
    background-color: #eee;
  }
  mat-chip.not-selected {
    background-color: #555;
  }
}

table {
  margin-bottom: 2rem;
  margin-top: 0;
}

::ng-deep.image-container {
  img {
    width: auto;
    max-width: 100%;
    display: block;
  }
}

.module-declarations {
  strong {
    display: block;
  }
}
