
<!-- Save file -->
<button
  mat-menu-item
  [disabled]="activeFileIsClean()"
  matTooltip="Save file [ALT+S]" 
  matTooltipPosition="before"
  (click)="saveActiveFile()">
  <mat-icon>save</mat-icon>
  Save
</button>

<!-- Invoke/execute file -->
<button
  mat-menu-item
  [disabled]="!currentFileData?.path?.endsWith('.hl')"
  [matTooltip]="endpointData === null ? 'Execute Hyperlambda file immediately [F5]' : 'Invoke endpoint through a modal dialog [F5]'"
  matTooltipPosition="before"
  (click)="executeActiveFile()">
  <mat-icon>play_arrow</mat-icon>
  {{endpointData === null ? 'Execute' : 'Invoke ...'}}
</button>

<!-- Preview file -->
<button mat-menu-item 
  [disabled]="!currentFileData?.path?.endsWith('.md')" 
  matTooltip="Preview file [ALT+P]" 
  matTooltipPosition="before"
  (click)="previewActiveFile()">
  <mat-icon class="material-icons-outlined">
    preview
  </mat-icon>
  Preview
</button>

<!-- Insert snippet -->
<button mat-menu-item 
  [disabled]="!currentFileData?.path?.endsWith('.hl')" 
  matTooltip="Insert snippet [ALT+V]" 
  matTooltipPosition="before"
  (click)="insertSnippet()">
  <mat-icon class="material-icons-outlined">
    get_app
  </mat-icon>
  Insert snippet
</button>

<!-- Rename file -->
<button mat-menu-item
  [disabled]="!backendService.active?.access.files.rename"
  matTooltip="Rename file [ALT+R]"
  matTooltipPosition="before"
  (click)="renameActiveFile()">
  <mat-icon class="material-icons-outlined"> drive_file_rename_outline </mat-icon>
  Rename
</button>

<!-- Close file -->
<button
  mat-menu-item
  matTooltip="Close file [ALT+C]"
  matTooltipPosition="before"
  (click)="closeActiveFile()">
  <mat-icon>close</mat-icon>
  Close
</button>

<!-- Download file -->
<button
  mat-menu-item
  [disabled]="!currentFileData"
  matTooltip="Download the active file"
  matTooltipPosition="before"
  (click)="downloadActiveFile()">
  <mat-icon class="material-icons-outlined">file_download</mat-icon>
  Download file
</button>

<!-- Delete file -->
<button mat-menu-item
  [disabled]="!backendService.active?.access.files.delete_file"
  matTooltip="Delete file [ALT+D]"
  matTooltipPosition="before"
  (click)="deleteActiveFile()">
  <mat-icon class="material-icons-outlined">delete</mat-icon>
  Delete
</button>
