<?xml version="1.0" encoding="utf-8"?>
<!--

This file is required if you want to deploy the backend on IIS.
It turns off DAV for the application, which is necessary to
allow for HTTP DELETE and PUT verbs to function correctly.

If you intend to deploy your backend on IIS, you will also
need to give the user account IIS is using to serve your app
"full rights" on the folder where your backend is deployed,
since Magic is dependent upon writing to these files as
it for instance crudifies your database, etc. This is done
by opening the Properties/Security settings in File Explorer,
and adding the user account IIS use to access your website,
and checking of all checkboxes. For IIS 10 the name of this
user account is Application Pool Identity, typically
"IIS AppPool\<application-pool-name>".

If you don't intend to deploy your backend on IIS, you can
safely delete this file, since it's not required.

-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\backend.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>
