
<table
  mat-table
  [dataSource]="cacheItems"
  class="cache-items clickable"
  multiTemplateDataRows>

  <ng-container matColumnDef="key">
    <td
      mat-cell
      *matCellDef="let el">{{el.key}}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell class="minimalistic-col" *matCellDef="let el">
      <button (click)="delete($event, el.key);" mat-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="show-details">
    <td colspan="2" mat-cell *matCellDef="let el">
      <pre>{{el.value}}</pre>
    </td>
  </ng-container>

  <tr
    mat-row
    [ngClass]="(shouldDisplayDetails(el) ? 'selected ' : '') + 'cache-item-row'"
    (click)="toggleDetails(el)"
    *matRowDef="let el; columns: ['key', 'delete'];"></tr>

  <tr
    mat-row
    [ngClass]="shouldDisplayDetails(el) ? 'details' : 'invisible'"
    *matRowDef="let el; columns: ['show-details'];"></tr>

</table>

<button
  *ngIf="cacheItems.length > 0"
  mat-button
  class="purge-button"
  matTooltip="Empties your cache entirely"
  (click)="deleteAll()">
  Purge
</button>

<div *ngIf="cacheItems.length === 0">
  <p>Your cache is empty ...</p>
</div>
