
.wrapper {
  margin:2rem;
  min-height: 20rem;
  .fill-width {
    margin-top: 1rem;
  }
  table.cache-items {
    margin-bottom: 5rem;
    tr {
      td:nth-child(2) {
        padding-top: 9px;
        padding-bottom: 7px;
      }
    }
  }
  .clear-button {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }
}
