
<div class="row justify-content-center mt-4">

  <div class="col-12 pb-5 pt-3">
    <p class="fw-bold">Upload your website template</p>
    <p class="text-muted">And serve it over the root URL of your cloudlet</p>
  </div>

  <div class="col-xxl-5 col-xl-6 col-lg-7 col-12">
    <form>

      <div class="drop-container pointer border-color">

        <input
          type="file"
          class="w-100 h-100 hide pointer"
          #upload
          (change)="getFile($event)"
          accept=".zip">

        <button
          mat-button
          class="w-100"
          (click)="upload.click()"
          *ngIf="!file"
          [disabled]="uploading">
          <i>Drag & drop or click to upload your static website here</i> <br />
          <span class="text-primary">Choose a file</span>
        </button>

        <ng-container *ngIf="file">
          <h4 class="my-0">{{file.name}}</h4>
          <p class="text-center mt-3" *ngIf="uploading">Uploading ...</p>
          <p class="text-center mt-3" *ngIf="!uploading">Uploaded!</p>
        </ng-container>

      </div>

      <p class="mt-4 text-center">
        <i>You can find your uploaded website's files <a routerLink="/hyper-ide">here</a></i>
      </p>
    </form>
  </div>
</div>