<form [formGroup]="connectionStringForm">
  <h3 mat-dialog-title class="mb-1">Connect to database</h3>
  <p class="text-muted mb-4">Add a new connection string to connect to another database.</p>
  <div mat-dialog-content>
    <mat-form-field class="w-100 text-prefix">
      <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-3">
        Default type
      </span>

      <mat-select
        formControlName="selectedDb"
        name="selectedDb"
        required
        (ngModelChange)="fillPlaceholder(connectionStringForm.value.selectedDb)">
        <mat-option *ngFor="let db of dbList" [value]="db">{{db}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100 text-prefix">
      <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-3">
        Name
      </span>

      <input matInput type="text"
        formControlName="displayName"
        name="displayName"
        (ngModelChange)="checkName()"
        required>
      <mat-error>
        {{nameExisting ? 'This name already exists in your database.' : 'Alphanumeric lowercase characters between 2 to 20 (no space).'}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 text-prefix">
      <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-3">
        Connection string
      </span>

      <input matInput type="text"
        formControlName="connectionString"
        name="connectionString"
        required
        (keyup)="validateConnectionString()"
        [placeholder]="placeholders[connectionStringForm.value.selectedDb]" />
      <mat-error>{{error}}</mat-error>
    </mat-form-field>

  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close type="button" color="primary">Cancel</button>
    <button mat-button type="submit" color="primary" class="ms-sm-1 me-sm-2" (click)="testConnectionString()">Test</button>
    <button mat-flat-button type="button" color="primary" (click)="testConnectionString(true)">Submit</button>
  </div>
</form>
