
<div class="row">
  <div class="col-12">
    <mat-card class="p-0">

      <mat-card-content>
        <mat-tab-group
          mat-stretch-tabs
          (selectedTabChange)="selectedTabChanged()"
          [(selectedIndex)]="activeTab"
          dynamicHeight>
    
          <mat-tab label="CRUD" [disabled]="!backendService.active?.access.crud.generate_crud">
            <ng-template matTabContent>
              <app-crud-backend></app-crud-backend>
            </ng-template>
          </mat-tab>
      
          <mat-tab label="SQL" [disabled]="!backendService.active?.access.crud.generate_sql">
            <ng-template matTabContent>
              <app-crud-sql></app-crud-sql>
            </ng-template>
          </mat-tab>
       
          <mat-tab label="Frontend" [disabled]="!backendService.active?.access.crud.generate_frontend">
            <ng-template matTabContent>
              <app-crud-frontend></app-crud-frontend>
            </ng-template>
          </mat-tab>
      
        </mat-tab-group>
      </mat-card-content>
    
    </mat-card>
  </div>

  <div class="col-12" [class.mb-general]="hasComponent">
    <mat-card [class]="hasComponent ? 'mt-3' : 'invisible'">
    
      <mat-card-content>
        <ng-template appInject></ng-template>
      </mat-card-content>
    
    </mat-card>
  </div>
</div>

