
<mat-form-field appearance="outline">
  <mat-label>{{placeholder}}</mat-label>
  <input
    type="text"
    matInput
    [formControl]="control"
    [name]="field"
    [matAutocomplete]="auto">
  <mat-autocomplete
    #auto="matAutocomplete"
    autoActiveFirstOption
    (optionSelected)="selectionChanged($event)"
    [displayWith]="displayFn.bind(this)">
    <ng-container *ngIf="!loading">
      <mat-option
        *ngFor="let option of items"
        [value]="option">
        {{option[value]}}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
  <mat-icon *ngIf="model[field]">check_circle</mat-icon>
  <mat-icon *ngIf="!model[field]">search</mat-icon>
</mat-form-field>
