
      <ng-container matColumnDef="[[column-name]]">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="outline" class="fill-width filter-textbox">
            <mat-label>{{'[[column-name]]' | translate}}</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formControl]="[[form-control-name]]">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <button
            class="sort-button"
            (click)="sort('[[column-name]]')"
            mat-button>
            <mat-icon matSuffix>{{getSortIcon('[[column-name]]')}}</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let el">
          <mat-icon 
            *ngIf="el['[[column-name]]'] === true"
            matSuffix>check</mat-icon>
        </td>
      </ng-container>
