
      <ng-container matColumnDef="[[column-name]]">
        <th mat-header-cell *matHeaderCellDef>
          <app-magic-filter
            [model]="filter"
            field="[[column-name]].eq"
            key="[[lookup_key]]"
            value="[[lookup_name]]"
            placeholder="[[column-name]]"
            (change)="getData()"
            [getItems]="httpService.[[lookup_table]]">
          </app-magic-filter>
          <button class="sort-button" (click)="sort('[[column-name]]')" mat-button>
            <mat-icon matSuffix>{{ getSortIcon('[[column-name]]') }}</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let el">
          {{ getCachedItem('[[lookup_table]]', el['[[column-name]]'], '[[lookup_key]].eq', httpService.[[lookup_table]], '[[lookup_name]]') }}
        </td>
      </ng-container>
