
<h1 mat-dialog-title>{{data.user.username}}</h1>

<div mat-dialog-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight color="primary" animationDuration="500ms">
      <mat-tab label="Roles">
        <div class="tab-content">
          <mat-form-field appearance="outline" class="fill-width">
            <mat-label>Roles</mat-label>
            <mat-select [formControl]="rolesCtrl" multiple>
                <mat-select-trigger>
                    {{rolesCtrl.value ? rolesCtrl.value[0] : ''}}
                    <span *ngIf="rolesCtrl.value?.length > 1">
                      + {{rolesCtrl.value.length - 1}} more
                    </span>
                </mat-select-trigger>
              <mat-option 
                class="multiline-mat-option" 
                *ngFor="let role of data.roles" 
                [value]="role.name" 
                (click)="manageRole(role.name)">
                <span class="d-block name-line">{{role.name}}</span>
                <span class="d-block description-line">{{role.description}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <p>
              <mat-slide-toggle [checked]="userIsLocked" (toggleChange)="toggleLockUser()">
                  {{userIsLocked ? 'Unlock user' : 'Lock user'}}
              </mat-slide-toggle>
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Extra">
        <div class="tab-content">
          <app-edit-extra-fields 
          [data]="data.user.extra" 
          [username]="data.user.username"
          (updateExtraFields)="updateExtraFields($event)"></app-edit-extra-fields>
        </div>
      </mat-tab>
    </mat-tab-group>
</div>

<div mat-dialog-actions class="right-aligned">

<button
  mat-button color="primary"
  [mat-dialog-close]="{role: data.user.role, locked: userIsLocked, extra: data.user.extra}">Close</button>

</div>
