
.full-width {
    width: 100%;
}

.grid {
    cursor: pointer;
    tr:hover {
        td {
            background-color: rgb(240,240,240);
        }
    }
}

.right-aligned {
    text-align: right;
    margin-top: 1rem;
}

.absolutize {
    float: right;
    opacity: .5;
}

.file-content {
    background-color: #e0e0e0;
    font-size: .8rem;
    line-height: .8rem;
    padding: 2rem 1rem 2rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
