
<h1 mat-dialog-title>{{data.header}}</h1>
<div mat-dialog-content>

  <mat-form-field class="full-width">
    <input 
      matInput 
      autocomplete="off"
      type="text"
      #nameElement
      matTooltip="Name"
      placeholder="Name"
      [(ngModel)]="name">
  </mat-form-field>

  <table
    mat-table
    class="full-width grid"
    [dataSource]="getFilteredFiles()">

    <ng-container matColumnDef="filename">
      <th mat-header-cell *matHeaderCellDef>Filename</th>
      <td (click)="selectFile(file)" mat-cell *matCellDef="let file">{{getFileName(file)}}</td>
    </ng-container>
      
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns; "></tr>

  </table>

  <div class="right-aligned">
    <button
      *ngIf="data.select !== true"
      (click)="saveClicked()"
      mat-button>
      Save
    </button>
  </div>

</div>
