
.full-width {
    width: 100%;
}

.grid {
    cursor: pointer;
    tr:hover {
        td {
            background-color: rgb(240,240,240);
        }
    }
    tr {
        td {
            .filename {
                line-height: 2.25rem;
            }
        }
    }
}

.right-aligned {
    text-align: right;
    margin-top: 1rem;
}

.absolutize {
    float: right;
    opacity: .5;
}

::ng-deep .marginalize .CodeMirror {
    margin: 1rem 0 1rem 0;
    margin-right: 10rem;
}
