
<h1 mat-dialog-title>{{data.header}}</h1>
<div mat-dialog-content>

  <mat-form-field class="full-width">
    <input 
      matInput 
      autocomplete="off"
      type="text"
      #nameElement
      matTooltip="Name"
      placeholder="Name"
      [(ngModel)]="name">
  </mat-form-field>

  <table
    mat-table
    class="full-width grid"
    [dataSource]="getFilteredFiles()">

    <ng-container matColumnDef="filename">
      <th mat-header-cell *matHeaderCellDef>Filename</th>
      <td (click)="selectFile(file.filename)" mat-cell *matCellDef="let file">
        {{getFileName(file.filename)}}
        <button
          mat-raised-button
          (click)="showInfo(file, $event)"
          class="absolutize">
          <mat-icon
            matTooltip="Shows parts of file's content"
            matSuffix>info</mat-icon>
        </button>
        <ngx-codemirror
          (click)="preventBubbling($event)"
          *ngIf="file.content"
          [(ngModel)]="file.content" 
          class="even-smaller marginalize"
          [options]="getCodeMirrorOptions()"></ngx-codemirror>
      </td>
    </ng-container>
      
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns; "></tr>

  </table>

  <div class="right-aligned">
    <button
      *ngIf="data.select !== true"
      (click)="saveClicked()"
      mat-button>
      Save
    </button>
  </div>

</div>
