
<h1 mat-dialog-title>Keyboard shortcuts</h1>
<div mat-dialog-content>

  <ul>
    <li><strong>F5</strong> - Executes your current Hyperlambda</li>
    <li><strong>Ctrl+Space</strong> - Autocomplete. FN+CONTROL+SPACE on OS X</li>
    <li><strong>Tab</strong> - Indents selected code</li>
    <li><strong>Shift+Tab</strong> - De-indents selected code</li>
    <li><strong>Alt-M</strong> - Toggles fullscreen</li>
    <li><strong>Esc</strong> - Closes fullscreen</li>
    <li><strong>Alt+L</strong> - Opens up load from snippets collection dialog</li>
    <li><strong>Alt+S</strong> - Saves your content to your snippets collection</li>
    <li><strong>Alt+A</strong> - Saves your content to your snippets collection with a new filename</li>
    <li><strong>Alt+P</strong> - Insert snippet from collection</li>
    <li><strong>Alt+Q</strong> - Opens up this dialog</li>
  </ul>

  <mat-form-field
    class="full-width">
    <mat-select
      placeholder="Select module"
      matTooltip="Retrieves documentation for specified module"
      [(ngModel)]="selectedModule"
      (selectionChange)="moduleChanged()">
      <mat-option
        value="nope">Select module</mat-option>
      <mat-option
        *ngFor="let cur of modules"
        [value]="cur">{{cur}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div
    class="documentation"
    [innerHTML]="documentation | marked"></div>

</div>
