/*
 * Magic, Copyright(c) Thomas Hansen 2019, thomas@servergardens.com, all rights reserved.
 * See the enclosed LICENSE file for details.
 */

/*
 * Common stuff, for viewport etc.
 */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-container {
    background-color: #ffffff;
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
}

.mat-sidenav-content {
    min-height: 100%;
}

.sidenav-menu {
    border-right: solid 1px rgb(180, 180, 180);
    background: #eee;
    .active-link {
        background-color: rgba(32, 15, 182, 0.1);
    }
}

.relativized {
    position: relative;
}

.right-aligned {
    text-align: right;
    width: 100%;
}

.fill-width {
    width: 100%;
}

.half-size {
    margin-right: .5rem;
    width: calc(50% - .5rem);
}

.top-right {
    position: absolute !important;
    top: 0;
    right: 0;
}

.menu-item {
    display: list-item !important;
    text-align: left !important;
    margin: .5rem .5rem 0 .5rem;
    padding: .5rem 2rem .5rem 2rem !important;
    font-size: 1.2rem;
    .mat-icon {
        margin-right: .5rem;
    }
    .menu-item-text {
        text-transform: capitalize;
        display: inline-block;
    }
}

.mat-dialog-container {
    width: 700px !important;
}


/*
 * Styles for data entity components.
 */
 .component-wrapper {
    position: relative;
    h3 {
        text-align: center;
        margin-top: -1rem;
        text-transform: capitalize;
    }
    .grid-wrapper {
        padding-top:2.5rem;
        min-width: fit-content;
    }
    table {
        width: 100%;
        tr {
            th, td {
                display: none;
                user-select: none;
            }
            td {
                .details-sheet {
                    border: solid 1px rgb(230, 230, 230);
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                    border-radius: .5rem;
                    padding: 0 1rem 0 1rem;
                    position: relative;
                    .close-details {
                        position: absolute;
                        top:0;
                        right: 0;
                        color: rgb(128, 128, 128);
                        padding-right: 0;
                    }
                    .edit-details {
                        position: absolute;
                        bottom:0;
                        right: 0;
                        color: rgb(128, 128, 128);
                        padding-right: 0;
                    }
                    .details {
                        label {
                            text-transform: capitalize;
                            display: block;
                            margin-top: 1rem;
                            margin-bottom: .5rem;
                            font-weight: bold;
                        }
                        span {
                            color: rgb(128, 128, 128);
                        }
                    }
                }
            }
            th:nth-child(1), td:nth-child(1) {
                display: table-cell;
            }
            th {
                .filter-textbox {
                    float: left;
                    font-size: 10px;
                    width: calc(100% - 70px);
                }
                .sort-button {
                    margin-top: 2px;
                    float: right;
                    width: 70px;
                    box-sizing: border-box;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            td.delete-column,
            th.delete-column {
                display: table-cell;
                width: 70px;
                text-align: right;
                padding-right: 0;
            }
            td.delete-column {
                color: rgb(128, 128, 128);
            }
        }
        tr.visible-details {
            td {
                border-bottom-color: transparent !important;
            }
        }
        tr.mat-row:hover {
            background-color: rgba(0,0,0,.1);
            cursor: pointer;
        }
        tr.details-row:hover {
            cursor:inherit;
            background-color: inherit;
        }
        tr.visible {
            display: table-row;
        }
        tr.hidden {
            display: none;
        }
    }
}

@media screen and (min-width: 590px) {
    .component-wrapper {
        table {
            tr {
                th:nth-child(1), td:nth-child(1),
                th:nth-child(2), td:nth-child(2) {
                    display: table-cell;
                }
                td {
                    .details-sheet {
                        display: flex;
                        flex-wrap: wrap;
                        .details {
                            flex-grow: 1;
                            width: 50%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 840px) {
    .component-wrapper {
        table {
            tr {
                th:nth-child(3), td:nth-child(3) {
                    display: table-cell;
                }
            }
        }
    }
}

@media screen and (min-width: 1080px) {
    .component-wrapper {
        padding:5rem 2rem 2rem 2rem;
        table {
            tr {
                td {
                    .details-sheet {
                        padding: 2rem 3rem 2rem 3rem;
                        margin-top: 2rem;
                        margin-bottom: 3rem;
                        display: flex;
                        flex-wrap: wrap;
                        .details {
                            flex-grow: 1;
                            width: 33%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .component-wrapper {
        table {
            tr {
                th:nth-child(4), td:nth-child(4) {
                    display: table-cell;
                }
                td {
                    .details-sheet {
                        display: flex;
                        flex-wrap: wrap;
                        .details {
                            flex-grow: 1;
                            width: 25%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1420px) {
    .component-wrapper {
        table {
            tr {
                th:nth-child(5), td:nth-child(5) {
                    display: table-cell;
                }
            }
        }
    }
}

@media screen and (min-width: 1620px) {
    .component-wrapper {
        table {
            tr {
                th:nth-child(6), td:nth-child(6) {
                    display: table-cell;
                }
            }
        }
    }
}

@media screen and (min-width: 2048px) {
    .component-wrapper {
        table {
            tr {
                th:nth-child(7), td:nth-child(7) {
                    display: table-cell;
                }
            }
        }
    }
}
