/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-container {
    background-color: #ffffff;
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
}

.sidenav-menu {
    border-right: solid 1px rgb(180, 180, 180);
    background: #eee;
}

.relativized {
    position: relative;
}

.right-aligned {
    text-align: right;
    width: 100%;
}

.fill-width {
    width: 100%;
}

.half-size {
    margin-right: .5rem;
    width: calc(50% - .5rem);
}

.top-right {
    position: absolute !important;
    top: 0;
    right: 0;
}

.menu-item {
    text-transform: capitalize;
    display: list-item !important;
    text-align: left !important;
    margin: .5rem .5rem 0 .5rem;
}

.mat-dialog-container {
    width: 700px !important;
}
