
<div class="row justify-content-center align-items-center h-100">
  <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-12">
    <form>
      <mat-card>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div>
            <h2 class="my-0">Reset password</h2>
            <mat-card-subtitle>Set a new password for your account</mat-card-subtitle>
          </div>
          <mat-icon color="warn" *ngIf="backendService.current?.url.startsWith('http://')" class="ml-3"
            matTooltip="Clicking the submit button will transmit your password in clear text">warning
          </mat-icon>
        </div>
        <mat-card-content>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>New password</mat-label>
            <input matInput autocomplete="new" [(ngModel)]="password" name="password"
              [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide" type="button">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Repeat password</mat-label>
            <input matInput type="password" autocomplete="new-password" [(ngModel)]="repeatPassword"
              name="repeatPassword">
            <mat-hint *ngIf="password !== repeatPassword" class="warning">Passwords do not match</mat-hint>
          </mat-form-field>
          <div class="d-flex justify-content-end w-100">
            <button mat-raised-button [disabled]="!password || password.length === 0 || password !== repeatPassword"
              (click)="savePassword()" type="submit" color="primary">
              Save password
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
