<div class="row">
  <div class="col-12">
    <mat-card>
      <form [formGroup]="savePasswordForm" (ngSubmit)="savePassword()" novalidate>
        <div class="d-flex flex-sm-nowrap flex-wrap">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>New password</mat-label>
            <input
              matInput
              type="password"
              formControlName="password"
              autocomplete="new-password">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Repeat password</mat-label>
            <input
              matInput
              type="password"
              [(ngModel)]="repeatPassword"
              [ngModelOptions]="{standalone: true}"
              autocomplete="new-password">
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-end">
          <button
            mat-raised-button
            color="primary"
            type="submit">
            Save
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
