
<h3 mat-dialog-title class="mb-1">Train OpenAI with {{dataSource?.length ?? '0'}} snippets</h3>

<div mat-dialog-content>

  <div *ngFor="let idx of dataSource" class="mat-elevation-z2 card my-4 p-4">
    <strong class="title mb-4">{{idx.prompt}}</strong>
    <div class="code">{{idx.completion}}</div>
  </div>

</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-button (click)="close()">Close</button>
  <button mat-flat-button (click)="start_training()">Start training</button>
</div>
