
<div class="security-wrapper">
  <div class="mat-elevation-z4 security-sheet">

    <h3>Change your password</h3>

    <mat-form-field class="password">
      <input
        matInput
        placeholder="Password"
        type="password"
        [(ngModel)]="password"
        autocomplete="new-password">
    </mat-form-field>

    <mat-form-field class="password-repeat">
      <input
        matInput
        placeholder="Repeat"
        type="password"
        [(ngModel)]="passwordRepeat"
        autocomplete="new-password">
    </mat-form-field>

    <button
      (click)="save()"
      mat-button>Save</button>

  </div>
</div>
