<div class="d-flex justify-content-lg-between align-items-center flex-lg-row flex-column w-100">
  <mat-form-field class="w-100 standalone-field">
    <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
      <mat-icon>search</mat-icon>
      <span class="text-muted">|</span>
    </span>

    <input matInput
      placeholder="Search through endpoints"
      (input)="applyFilter(input.value)" #input>
      <button mat-icon-button matSuffix (click)="removeSearchTerm();input.value = ''" *ngIf="input.value!==''">
        <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
  <div class="p-xl-4 p-lg-2"></div>
  <mat-checkbox
    color="primary"
    class="mt-lg-0 mt-3"
    [(ngModel)]="systemEndpointChecked"
    (change)="toggleSystemEndpoints();input.value = ''">
    System endpoints
  </mat-checkbox>
</div>
