
<h1 mat-dialog-title>New {{data.isFolder ? 'folder' : 'file'}}</h1>

<div mat-dialog-content>

  <mat-form-field class="fill-width" appearance="outline">
    <mat-label class="dark">Folder</mat-label>
    <mat-select [(ngModel)]="data.path" class="dark">
      <mat-option
        *ngFor="let idx of data.folders"
        [value]="idx">{{idx}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="templates.length > 0 && !data.isFolder" class="fill-width" appearance="outline">
    <mat-label class="dark">Template</mat-label>
    <mat-select
      [(ngModel)]="activeTemplate"
      (selectionChange)="templateChanged()"
      class="dark">
      <mat-option
        *ngFor="let idx of getTemplates()"
        [value]="idx">{{getFileName(idx.name)}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Name</mat-label>
    <input
      #fileName
      type="text"
      matInput
      autocomplete="off"
      [(ngModel)]="data.name">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <mat-checkbox
    *ngIf="!data.isFolder"
    [(ngModel)]="filterTemplates"
    matTooltip="Apply 'intelligent' filtering of templates"
    class="margin-right">Filter</mat-checkbox>

  <mat-checkbox
    [(ngModel)]="data.isFolder"
    class="margin-right">Folder</mat-checkbox>
  
  <button
    mat-raised-button
    color="primary"
    [disabled]="!pathValid()"
    [mat-dialog-close]="data">Create</button>

</div>
