
<div class="d-flex align-items-center mb-1">

  <mat-card-title class="my-0">Cryptography</mat-card-title>

  <div class="sm-icons">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
      <mat-icon>help_outline</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <div class="p-3">
        <p>
          Manage your server's cryptography key pair, and/or import public keys belonging to others.
          This allows you to securely communicate with other Magic servers, and/or clients. You can also see
          cryptographic receipts here.
        </p>
        <div class="d-flex justify-content-end">
          <a target="_blank" href="https://docs.aista.com/documentation/magic/components/crypto/" mat-stroked-button>Learn more</a>
        </div>
      </div>
    </mat-menu>
  </div>
</div>

<mat-card-subtitle>Administrate cryptography keys and receipts</mat-card-subtitle>

<div class="row mb-3">
  <div class="col-12">
    <mat-accordion class="card-replacement left-align-arrow" displayMode="flat">
      <mat-expansion-panel [expanded]="!backendService.active?.token?.in_role('root')">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 class="mb-0">Server key</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-server-public-key></app-server-public-key>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="row" *ngIf="backendService.active?.access.crypto.crypto_invocations">
  <div class="col-12" [class.mb-general]="!(!backendService.active.token.in_role('root') && showImport)">
    <mat-card>
      <mat-card-content>
        <mat-tab-group #tab dynamicHeight>   

          <mat-tab label="Keys">
            <ng-template matTabContent>
              <app-public-keys></app-public-keys>
            </ng-template>
          </mat-tab>
      
          <mat-tab label="Receipts" [disabled]="!backendService.active?.access.crypto.crypto_invocations">
            <ng-template matTabContent>
              <app-crypto-invocations></app-crypto-invocations>
            </ng-template>
          </mat-tab>     

        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row" *ngIf="!backendService.active?.token?.in_role('root') && showImport">
  <div class="col-12 mb-general">

    <mat-card>
      <mat-card-content>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Public key</mat-label>
          <textarea
            matInput
            [(ngModel)]="importKey"
            rows="7"></textarea>     
        </mat-form-field>
      
        <div class="d-flex flex-sm-nowrap flex-wrap">

          <mat-form-field appearance="outline" class="w-100">      
            <mat-label>Full name</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="importSubject"
              autocomplete="off">
          </mat-form-field>

          <div class="p-1"></div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="importEmail"
              autocomplete="off">
          </mat-form-field>

          <div class="p-1"></div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Domain</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="importDomain"
              autocomplete="off">
          </mat-form-field>

        </div>
      
        <div class="d-flex justify-content-end w-100">
          <button
            mat-raised-button
            [disabled]="importKey === '' || importSubject === '' || importEmail === '' || importDomain === ''"
            class="wider-button"
            (click)="importPublicKey()"
            color="primary">
            Import
          </button>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>
