
<h1 mat-dialog-title>Add argument</h1>

<div mat-dialog-content>

  <mat-form-field class="fill-width">
    <mat-label class="dark">Name</mat-label>
    <input
      matInput
      [(ngModel)]="name"
      autocomplete="off"
      placeholder="Name">
  </mat-form-field>

  <mat-form-field class="fill-width">

    <mat-label class="dark">Type</mat-label>
    <mat-select
      [(ngModel)]="type"
      class="dark"
      matTooltip="Type of argument"
      placeholder="Type">
      <mat-option
        *ngFor="let idx of types"
        [value]="idx">{{idx}}</mat-option>
    </mat-select>

  </mat-form-field>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

    <button
      mat-button
      [disabled]="name === '' || type === '' || !argumentValid()"
      (click)="add()">Add</button>
  
  </div>
  