
<mat-toolbar>

  <button
    mat-button
    aria-label="Toggles navbar"
    (click)="toggleNavbar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    <span>Magic</span>
  </button>

  <span class="spacer"></span>

  <span
    [matTooltip]="backendService.secure ? 'Secure' : 'Not secured'"
    [class]="backendService.secure ? 'user' : 'user warning'">{{getUserStatus() + ( authService.authenticated ? ' [' + getUserRoles() + ']' : '')}}</span>

  <mat-slide-toggle
    [(ngModel)]="lightTheme"
    labelPosition="before"
    (change)="themeChanged()">Lights</mat-slide-toggle>

  <button
    *ngIf="!authService.authenticated"
    mat-icon-button
    matTooltip="Login"
    (click)="login()">
    <mat-icon>lock_open</mat-icon>
  </button>

  <button
    *ngIf="authService.authenticated"
    mat-icon-button
    matTooltip="Logout"
    (click)="logout()">
    <mat-icon>lock</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Help"
    (click)="help()">
    <mat-icon>contact_support</mat-icon>
  </button>

</mat-toolbar>
