<mat-toolbar class="d-flex align-items-center justify-content-between pl-1">
  <div class="d-flex align-items-center">
    <button mat-button class="pl-0 pr-1 py-0" aria-label="Open menu icon" (click)="toggleNavbar()">
      <mat-icon>menu</mat-icon>
      Aista Magic Cloud
    </button>
    <!-- <p class="mat-caption my-0">Aista Magic Cloud</p> -->
  </div>
  <div class="p-1"></div>
  <p class="mat-caption my-0">{{getUserStatus() + ( backendService.active?.token ? ' [' + getUserRoles() + ']' : '')}}</p>
</mat-toolbar>
