
<mat-toolbar [class]="sideNavStatus ? 'sidebar-open' : 'sidebar-closed'">
  <div class="d-flex justify-content-between w-100">
    <button
      mat-icon-button
      (click)="toggleNavbar()">
      <mat-icon>menu{{sideNavStatus ? '_open' : ''}}</mat-icon>
    </button>

    <div class="d-flex align-items-center">
      <span [class]="backendService.secure ? 'user' : 'user warning'" *ngIf="!sideNavStatus">
        {{getUserStatus() + ( authService.authenticated ? ' [' + getUserRoles() + ']' : '')}}
      </span>

      <button mat-icon-button aria-label="Switch theme" 
      *ngIf="theme"
      class="switch-theme {{theme}}" [color]="theme === 'dark' ? 'accent' : ''"
      [matTooltip]="'Switch to ' + (theme === 'light' ? 'dark' : 'light') + ' theme'"
      [matTooltipPosition]="sideNavStatus ? 'below' : 'after'"
      (click)="themeChanged(theme === 'light' ? 'dark' : 'light')">
        <span class="light-icon">
          <mat-icon>light_mode</mat-icon>
        </span>
        <span class="dark-icon">
          <mat-icon>brightness_4</mat-icon>
        </span>
      </button>
    
      <button
        mat-icon-button
        matTooltip="Help"
        class="d-sm-inline d-none"
        (click)="help()">
        <mat-icon>contact_support</mat-icon>
      </button>
      
      <button
        mat-icon-button
        [matTooltip]="authService.authenticated ? 'Logout' : 'Login'"
        (click)="authService.authenticated ? logout() : login()">
        <mat-icon>{{authService.authenticated ? 'lock' : 'lock_open'}}</mat-icon>
      </button>
    </div>
  </div>


</mat-toolbar>
