
<h3 mat-dialog-title class="mb-3">
  {{data ? ('\'' + data.type + '\' model configuration') : 'New model configuration'}}
</h3>

<form (ngSubmit)="save()">
  <div mat-dialog-content>

    <mat-form-field class="w-100 standalone-field" [class.d-none]="data">
      <span
        matPrefix
        matTooltip="Type name"
        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>edit</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <input
        matInput
        required
        [disabled]="data"
        placeholder="Type name"
        spellcheck="false"
        [pattern]="CommonRegEx.appNameWithUppercaseHyphen"
        [(ngModel)]="type"
        name="type"
        autocomplete="off">
        <mat-error>{{CommonErrorMessages.appNameWithUppercaseHyphen}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100 standalone-field">
      <span
        matPrefix
        matTooltip="Model to use"
        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>help_outline</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <mat-select
        [(ngModel)]="model"
        placeholder="Model to use"
        name="model">
        <mat-select-trigger>
          {{model?.id}}
        </mat-select-trigger>
        <mat-option
          class="multiline-mat-option"
          *ngFor="let idx of models"
          [value]="idx">
          <span class="d-block name-line" #typeName>
            {{idx.id}}
          </span>
          <span class="d-block description-line">
            Owned by {{idx.owned_by}}
          </span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100 standalone-field">
      <span
        matPrefix
        matTooltip="Prefix inserted before all prompts"
        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <input
        matInput
        required
        placeholder="Prefix"
        spellcheck="false"
        [(ngModel)]="prefix"
        name="prefix"
        autocomplete="off">
    </mat-form-field>

    <div class="row">

      <div class="col-12 d-flex justify-content-md-between align-items-md-center align-items-end flex-md-row">

        <mat-form-field class="w-100 standalone-field me-2">
          <span
            matPrefix
            matTooltip="Temperature"
            class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>opacity</mat-icon>
            <span class="text-muted">|</span>
          </span>
          <input
            matInput
            placeholder="Temperature"
            type="number"
            min="0"
            max="1"
            step="0.1"
            [(ngModel)]="temperature"
            name="temperature"
            autocomplete="off">
        </mat-form-field>

        <mat-form-field class="w-100 standalone-field">
          <span
            matPrefix
            matTooltip="Max tokens"
            class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>timeline</mat-icon>
            <span class="text-muted">|</span>
          </span>
          <input
            matInput
            placeholder="Max tokens"
            type="number"
            min="1"
            max="8000"
            [(ngModel)]="max_tokens"
            name="max_tokens"
            autocomplete="off">
        </mat-form-field>

      </div>

    </div>

    <div class="row">

      <div class="col-12 d-flex justify-content-md-between align-items-md-center align-items-end flex-md-row">

        <mat-form-field class="w-100 standalone-field me-2">
          <span
            matPrefix
            matTooltip="reCAPTCHA value"
            class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>verified_user</mat-icon>
            <span class="text-muted">|</span>
          </span>
          <input
            matInput
            placeholder="reCAPTCHA"
            type="number"
            min="0"
            max="1"
            step="0.1"
            [(ngModel)]="recaptcha"
            name="recaptcha"
            autocomplete="off">
        </mat-form-field>

        <mat-form-field class="w-100 standalone-field">
          <span
            matPrefix
            matTooltip="Authorisation requirements"
            class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>shield</mat-icon>
            <span class="text-muted">|</span>
          </span>
          <mat-select
            placeholder="Add roles"
            multiple
            name="auth"
            [(ngModel)]="auth"
            disableOptionCentering
            panelClass="custom-select-option">
            <mat-option
              *ngFor="let item of roles"
              [value]="item.name">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>

    </div>

    <div class="row mt-2 mb-2">

      <div class="col-12 text-end">

        <mat-checkbox
          [(ngModel)]="supervised"
          name="supervised"
          (change)="supervisedChanged()"
          matTooltip="Will store all questions and answers"
          class="me-4"
          labelPosition="before"
          color="primary">Supervised</mat-checkbox>
    
        <mat-checkbox
          [(ngModel)]="cached"
          name="cached"
          class="me-4"
          matTooltip="Will use cached answer if possible"
          [disabled]="!supervised"
          labelPosition="before"
          color="primary">Cached</mat-checkbox>

        <button
          mat-button
          type="button"
          matTooltip="Copy JavaScript inclusion to include a graphical chatbot on your website"
          (click)="copyJs()">
          Copy JS
        </button>
      
      </div>

    </div>

  </div>

  <div mat-dialog-actions [align]="'end'">

    <button
      mat-button
      mat-dialog-close>
      Cancel
    </button>

    <button
      mat-flat-button
      [disabled]="models.length === 0"
      type="submit">
      Save
    </button>

  </div>

</form>
