<div mat-dialog-content>

  <form (ngSubmit)="submit()" class="d-flex justify-content-md-between align-items-md-center align-items-end flex-md-row flex-column-reverse w-100">

    <mat-form-field class="w-100 standalone-field">
      <span
        matPrefix
        matTooltip="Prompt"
        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>help_outline</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <input
        matInput
        placeholder="Prompt"
        name="prompt"
        [disabled]="isLoading"
        [(ngModel)]="prompt"
        autocomplete="off">
    </mat-form-field>

    <button
      mat-button
      type="submit"
      [disabled]="isLoading"
      class="ms-2">
      Submit
    </button>

    <button
      mat-button
      [disabled]="isLoading"
      mat-dialog-close>
      Close
    </button>

  </form>

  <!-- CodeMirror editor in case data is Hyperlambda -->
  <div class="col-12 mt-3" *ngIf="ready">

    <app-codemirror-hyperlambda
      [(model)]="model">
    </app-codemirror-hyperlambda>

  </div>

  <!-- Everything BUT Hyperlambda -->
  <mat-form-field *ngIf="!ready" class="w-100 mt-3 custom-alignment">
    <span
      matPrefix
      matTooltip="Completion"
      class="d-flex flex-nowrap align-items-center justify-content-between me-2">
      <mat-icon>edit</mat-icon>
      <span class="text-muted">|</span>
    </span>
    <textarea
      matInput
      placeholder="Completion"
      [(ngModel)]="completion"
      rows="20">
    </textarea>
  </mat-form-field>

</div>
