
<h3 mat-dialog-title>Details of {{data.key?.subject}} key</h3>

<div mat-dialog-content>
  <form>
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-12">
        <mat-form-field class="w-100">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>person</mat-icon>
            <span class="text-muted">|</span>
          </span>

          <input matInput placeholder="Full name"
            [disabled]="!data.savePermission"
            [(ngModel)]="data.key.subject"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <mat-form-field class="w-100">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>mail</mat-icon>
            <span class="text-muted">|</span>
          </span>

          <input matInput placeholder="Email address"
            [disabled]="!data.savePermission"
            [(ngModel)]="data.key.email"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <mat-form-field class="w-100">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>language</mat-icon>
            <span class="text-muted">|</span>
          </span>

          <input matInput placeholder="Domain"
            [disabled]="!data.savePermission"
            [(ngModel)]="data.key.domain"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <mat-form-field class="w-100">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>badge</mat-icon>
            <span class="text-muted">|</span>
          </span>

          <input matInput placeholder="Associated user"
            [disabled]="!data.savePermission"
            [(ngModel)]="data.key.username"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0">Fingerprint</p>
              <button mat-button color="primary"
                class="custom-copy-btn"
                (click)="copy(data.key.fingerprint)">
                Copy
              </button>
            </div>
            <mat-form-field class="w-100" id="custom-input">
              <input matInput
                [disabled]="true"
                [(ngModel)]="data.key.fingerprint"
                [ngModelOptions]="{standalone: true}"
                readonly>
            </mat-form-field>
          </div>
          <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0">Key content</p>
              <button mat-button color="primary"
                class="custom-copy-btn"
                (click)="copy(data.key.content)">
                Copy
              </button>
            </div>
            <mat-form-field class="w-100">
              <textarea matInput rows="12"
                [disabled]="!data.savePermission"
                [(ngModel)]="data.key.content"
                [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 modal-custom-codemirror" *ngIf="data.key.options">
        <app-codemirror-hyperlambda [(model)]="data.key.options"></app-codemirror-hyperlambda>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-button color="primary" mat-dialog-close class="me-2">Cancel</button>
  <button mat-flat-button color="primary" class="px-5" (click)="save()">Save</button>
</div>
