
<mat-card>

  <div class="new-password">

    <mat-form-field class="fill-width">

      <mat-label>New password ...</mat-label>

      <input
        matInput
        placeholder="New password ..."
        type="password"
        [(ngModel)]="password"
        autocomplete="new-password">

    </mat-form-field>

    <mat-form-field class="fill-width">

      <mat-label>Repeat password ...</mat-label>

      <input
        matInput
        placeholder="Repeat password ..."
        type="password"
        [(ngModel)]="repeatPassword"
        autocomplete="new-password">

    </mat-form-field>

    <div class="button-strip">
      <button
        mat-button
        (click)="savePassword()">
        Save
      </button>
    </div>

  </div>

</mat-card>
