
<mat-spinner
  *ngIf="loaderService.isLoading | async"
  mode="indeterminate"
  diameter="50"
  class="spinner">
</mat-spinner>

<app-toolbar></app-toolbar>

<mat-sidenav-container>

  <mat-sidenav
    mode="side"
    [(opened)]="sidenavOpened">
    <app-navbar></app-navbar>
  </mat-sidenav>

  <mat-sidenav-content>

    <div
      *ngIf="sidenavOpened"
      class="obscurer"
      (click)="closeNavbar()"></div>

    <router-outlet
      *ngIf="hasAccess()"></router-outlet>

    <mat-card
      *ngIf="!hasAccess()"
      class="no-access">
      <h2>Access Denied</h2>
      <p>I am sorry but I can't grant you access to this component ...</p>
    </mat-card>

  </mat-sidenav-content>

</mat-sidenav-container>
