
<mat-spinner
  *ngIf="loaderService.isLoading | async"
  mode="indeterminate"
  diameter="50"
  class="spinner">
</mat-spinner>

<mat-toolbar>

  <button
    mat-icon-button
    matTooltip="Toggle navbar"
    aria-label="Toggles navbar"
    (click)="toggleNavbar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Magic</span>

  <span class="spacer"></span>

  <button
    *ngIf="!authService.authenticated"
    mat-icon-button
    matTooltip="Login"
    aria-label="Login"
    (click)="login()">
    <mat-icon>lock_open</mat-icon>
  </button>

  <button
    *ngIf="authService.authenticated"
    mat-icon-button
    matTooltip="Logout"
    aria-label="Logout"
    (click)="logout()">
    <mat-icon>lock</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container class="navbar-container">

  <mat-sidenav
    mode="side"
    [(opened)]="sidenavOpened">

    <a
      mat-button
      routerLink="/"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>home</mat-icon>
      <span>Home</span>
    </a>

    <a
      mat-button
      routerLink="/sql"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>home</mat-icon>
      <span>SQL</span>
    </a>

  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
