
<mat-spinner
  *ngIf="loaderService.isLoading | async"
  mode="indeterminate"
  diameter="50"
  class="spinner">
</mat-spinner>

<mat-toolbar>

  <button
    mat-button
    matTooltip="Toggle navbar"
    aria-label="Toggles navbar"
    (click)="toggleNavbar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    <span>Magic</span>
  </button>

  <span class="spacer"></span>

  <span
    [matTooltip]="authService.secure ? 'Secure' : 'Not secured'"
    [class]="authService.secure ? 'user' : 'user warning'">{{getUserStatus() + ( authService.authenticated ? ' [' + getUserRoles() + ']' : '')}}</span>

  <button
    *ngIf="!authService.authenticated"
    mat-icon-button
    matTooltip="Login"
    aria-label="Login"
    (click)="login()">
    <mat-icon>lock_open</mat-icon>
  </button>

  <button
    *ngIf="authService.authenticated"
    mat-icon-button
    matTooltip="Logout"
    aria-label="Logout"
    (click)="logout()">
    <mat-icon>lock</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container class="navbar-container">

  <mat-sidenav
    mode="side"
    [(opened)]="sidenavOpened">

    <a
      mat-button
      routerLink="/"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>home</mat-icon>
      <span>Home</span>
    </a>

    <a
      *ngIf="authService.hasAccess('crudifier')"
      mat-button
      routerLink="/crudifier"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>build</mat-icon>
      <span>Crudifier</span>
    </a>

    <a
      *ngIf="authService.hasAccess('endpoints')"
      mat-button
      routerLink="/endpoints"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>compare_arrows</mat-icon>
      <span>Endpoints</span>
    </a>

    <a
      *ngIf="authService.hasAccess('sql')"
      mat-button
      routerLink="/sql"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>cloud</mat-icon>
      <span>SQL</span>
    </a>

    <a
      *ngIf="authService.hasAccess('scheduler')"
      mat-button
      routerLink="/tasks"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>cloud</mat-icon>
      <span>Tasks</span>
    </a>

    <a
      *ngIf="authService.hasAccess('files')"
      mat-button
      routerLink="/files"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>cloud</mat-icon>
      <span>Files</span>
    </a>

    <a
      *ngIf="authService.hasAccess('evaluator')"
      mat-button
      routerLink="/evaluator"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>cloud</mat-icon>
      <span>Evaluator</span>
    </a>

    <a
      *ngIf="authService.hasAccess('auth')"
      mat-button
      routerLink="/auth"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>cloud</mat-icon>
      <span>Auth</span>
    </a>

    <a
      *ngIf="authService.hasAccess('log')"
      mat-button
      routerLink="/log"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>cloud</mat-icon>
      <span>Log</span>
    </a>

    <a
      *ngIf="authService.hasAccess('crypto')"
      mat-button
      routerLink="/crypto"
      routerLinkActive="active-link"
      (click)="toggleNavbar()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>cloud</mat-icon>
      <span>Crypto</span>
    </a>

  </mat-sidenav>

  <mat-sidenav-content>

    <div
      *ngIf="sidenavOpened"
      class="obscurer"
      (click)="toggleNavbar()">

    </div>

    <router-outlet *ngIf="hasAccessToCurrentComponent()"></router-outlet>

    <mat-card class="no-access" *ngIf="!hasAccessToCurrentComponent()">
      <h2>Access Denied</h2>
      <p>
        I am sorry but I can't grant you access to this component ...
      </p>
    </mat-card>

  </mat-sidenav-content>

</mat-sidenav-container>
