html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
 
.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}
 
.mat-sidenav-content {
  min-height: 100%;
}
 
.sidenav-menu {
  border-right: solid 1px rgb(180, 180, 180);
  min-width: 100%;
}
 
@media screen and (min-width: 640px) {
  .sidenav-menu {
    min-width: 350px;
  }
}
 
.relativized {
  position: relative;
}
 
.right-aligned {
  text-align: right;
  width: 100%;
}
 
.fill-width {
  width: 100%;
}
 
.half-size {
  margin-right: .5rem;
  width: calc(50% - .5rem);
}
 
.top-right {
  position: absolute !important;
  top: 0;
  right: 0;
}
 
.menu-item {
  display: list-item !important;
  text-align: left !important;
  margin: .5rem .5rem 0 .5rem;
  padding: .5rem 2rem .5rem 2rem !important;
  font-size: 1.2rem;
  .mat-icon {
    margin-right: .5rem;
  }
  .menu-item-text {
    text-transform: capitalize;
    display: inline-block;
  }
}
 
.mat-dialog-container {
  width: 100vw !important;
  max-width: 800px
}
 
 
/*
 * Styles for data entity components.
 */
.component-wrapper {
  position: relative;
  padding-top: 5rem;
  h2 {
    text-align: center;
    margin-top: -1rem;
    text-transform: capitalize;
  }
  .grid-wrapper {
    background-color: #424242;
    padding-top:5rem;
    min-width: fit-content;
    .new-button {
      position: absolute !important;
      top: 0;
      right: 0;
    }
    table {
      padding-top: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
      tr {
        transition-property: background-color;
        transition-duration: .2s;
        th, td {
          display: none;
          user-select: none;
        }
        td {
          max-width: 80px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          .details-sheet {
            border: solid 1px rgb(230, 230, 230);
            margin-top: 3rem;
            margin-bottom: 3rem;
            border-radius: .5rem;
            padding: 0 1rem 0 1rem;
            position: relative;
            .edit-details {
              position: absolute;
              bottom:0;
              right: 0;
              padding-right: 0;
            }
            .details {
              flex-grow: 1;
              width: 100%;
              height: 100%;
              label {
                text-transform: capitalize;
                display: block;
                margin-top: 1rem;
                margin-bottom: .5rem;
                font-weight: bold;
              }
              span {
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
              }
            }
          }
        }
        th:nth-child(1), td:nth-child(1) {
          display: table-cell;
        }
        th {
          .filter-textbox {
            float: left;
            font-size: 10px;
            width: calc(100% - 70px);
            text-transform: capitalize;
          }
          .sort-button {
            margin-top: 2px;
            float: right;
            width: 70px;
            box-sizing: border-box;
            padding-left: 0;
            padding-right: 0;
          }
        }
        td.delete-column,
        th.delete-column {
          display: table-cell;
          width: 70px;
          text-align: right;
          padding-right: 0;
        }
        td.delete-column {
          color: rgb(200, 200, 200);
        }
        th.hidden,
        td.hidden {
          display: none !important;
        }
      }
      tr.visible-details {
        td {
          border-bottom-color: transparent !important;
          background-color: rgba(0,0,0,.2) !important;
        }
      }
      tr.mat-row:hover {
        cursor: pointer;
        background-color: #303030;
        transition-property: background-color;
        transition-duration: .1s;
      }
      tr.details-row {
        cursor:inherit;
        background-color: rgba(0,0,0,.2) !important;
        td {
          @keyframes drop-down {
            0% {
              opacity: 0;
              margin-top: -100px;
            }
            100% {
              opacity: 1;
              margin-top: 2rem;
            }
          }
          .details-sheet {
            animation: drop-down .2s ease-in;
            animation-fill-mode: forwards;
          }
        }
      }
      tr.details-row:hover {
        cursor:inherit;
      }
      tr.hidden {
        display: none;
      }
    }
  }
}
 
@media screen and (min-width: 590px) {
  .component-wrapper {
    table {
      tr {
        th:nth-child(1), td:nth-child(1),
        th:nth-child(2), td:nth-child(2) {
          display: table-cell;
        }
        td {
          .details-sheet {
            display: flex;
            flex-wrap: wrap;
            .details {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
 
@media screen and (min-width: 840px) {
  .component-wrapper {
    table {
      tr {
        th:nth-child(3), td:nth-child(3) {
          display: table-cell;
        }
        td {
          .details-sheet {
            padding: 2rem 3rem 2rem 3rem;
            margin-top: 2rem;
            margin-bottom: 3rem;
            display: flex;
            flex-wrap: wrap;
            .details {
              width: 50% !important;
            }
          }
        }
      }
    }
  }
}
 
@media screen and (min-width: 1080px) {
  .component-wrapper {
    padding:5rem 5rem 5rem 5rem;
  }
}
 
@media screen and (min-width: 1420px) {
  .component-wrapper {
    table {
      tr {
        th:nth-child(5), td:nth-child(5) {
          display: table-cell;
        }
      }
    }
  }
}
 
@media screen and (min-width: 1620px) {
  .component-wrapper {
    table {
      tr {
        th:nth-child(6), td:nth-child(6) {
          display: table-cell;
        }
      }
    }
  }
}
 
@media screen and (min-width: 2048px) {
  .component-wrapper {
    table {
      tr {
        th:nth-child(7), td:nth-child(7) {
          display: table-cell;
        }
      }
    }
  }
}
 
.invisible {
  display: none;
}
 
.entity-edit-field {
  width: calc(100% - 1rem);
  margin-right: 1rem;
  text-transform: capitalize;
  display: inline-block;
  mat-icon {
    color: rgb(128, 128, 128);
    font-size: 1.1rem !important;
  }
}
 
@media screen and (min-width: 800px) {
  .entity-edit-field {
    width: calc(50% - 1rem);
    margin-right: 1rem;
    text-transform: capitalize;
    display: inline-block;
  }
}
