
<div class="meta-wrapper">

  <div class="meta-statistics">
    <a
      [routerLink]="['/log']"
      matTooltip="See related log items"
      [queryParams]="{filter: 'We successfully authenticated user \''}">
      Logins
    </a>
    <canvas
      *ngIf="loginData"
      baseChart
      chartType="bar"
      [data]="loginData" 
      [labels]="loginLabels" 
      [options]="pieOptions"
      [colors]="colors">
    </canvas>
  </div>

  <div class="meta-statistics">
    <a
      [routerLink]="['/log']"
      matTooltip="See related log items"
      [queryParams]="{filter: 'Unhandled exception occurred \'Access denied\' at \'/magic/modules/system/auth/authenticate\''}">
      Failed logins
    </a>
    <canvas
      *ngIf="failedLoginData"
      baseChart
      chartType="bar"
      [data]="failedLoginData" 
      [labels]="failedLoginLabels" 
      [options]="pieOptions"
      [colors]="colors">
    </canvas>
  </div>

  <div class="meta-statistics">
    <a
      [routerLink]="['/log']"
      matTooltip="See related log items"
      [queryParams]="{filter: 'Unhandled exception occurred \'Access denied\' at \''}">
      Access denied
    </a>
    <canvas
      *ngIf="accessDeniedData"
      baseChart
      chartType="bar"
      [data]="accessDeniedData" 
      [labels]="accessDeniedLabels" 
      [options]="pieOptions"
      [colors]="colors">
    </canvas>
  </div>

</div>
