<div class="top">
  <strong>{{label}}</strong>
  <div>
    <button
      *ngIf="model[field]"
      mat-icon-button
      (click)="remove()">
      <mat-icon>not_interested</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="selectImage()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
  </div>
</div>
<div class="bottom" *ngIf="model[field]">
  <img
    *ngIf="model[field]"
    [src]="'data:image/png;base64,' + model[field]"
    alt="Image to use for entity">
</div>
