div.top {
  width: 100%;
  position: relative;
  strong {
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
  }
  div {
    position: absolute;
    right: 8px;
    top: 0;
    text-align: right;
    button {
      margin-top: -5px;
      margin-right: -5px;
    }
  }
}
div.bottom {
  position: relative;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  img {
    display: block;
    max-width: 100%;
  }
}
