<mat-card>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs dynamicHeight animationDuration="0ms" #tabs>
      <mat-tab>
        <ng-template mat-tab-label>Add <span class="d-sm-inline d-none px-1">new</span> database</ng-template>
        <ng-template matTabContent>
          <app-add-new-database (dbTypes)="passDbTypesToParent($event)"></app-add-new-database>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Connect <span class="d-sm-inline d-none ps-1">to database</span></ng-template>
        <ng-template matTabContent>
          <app-connect
            [databaseTypes]="databaseTypes"></app-connect>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
</mat-card>
