
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.obscurer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.85);
    z-index: 5;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
    h3 {
        margin-top: 10rem;
        font-size: 2rem;
    }
    h4 {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    h3, h4 {
        text-align: center;
        color: whitesmoke;
    }
}

.ajax-wait {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

.legend-button {
    position: absolute;
    right: 4rem;
    top: 6rem;
}

.sql {
    margin:1rem 4rem .5rem 4rem;
}

.execute-button {
    margin:1rem 4rem 1rem 4rem;
    text-align: right;
}

.result {
    margin:.5rem 4rem .5rem 4rem;
    padding: 3rem;
    caption {
        margin-bottom: 2rem;
        font-weight: bold;
    }
    table.fill-width {
        width: 100%;
        tr {
            th {
                text-align: left;
            }
        }
    }
}

.error {
    margin:.5rem 4rem .5rem 4rem;
    padding: 2rem 3rem 2rem 3rem;
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}

.database-type-selector {
    margin:2rem 4rem .5rem 4rem;
    max-width: 15rem;
    display: inline-block;
}

.database-selector {
    margin:2rem 4rem .5rem 1rem;
    max-width: 15rem;
    display: inline-block;
}

.file-selector {
    margin:2rem 4rem .5rem 1rem;
    max-width: 15rem;
    display: inline-block;
}
