
.sql {
    margin:.5rem 4rem .5rem 4rem;
}

.execute-button {
    margin:1rem 4rem 1rem 4rem;
    text-align: right;
}

.result {
    margin:.5rem 4rem .5rem 4rem;
    padding: 3rem;
    table.fill-width {
        width: 100%;
        tr {
            th {
                text-align: left;
            }
        }
    }
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}

.database-type-selector {
    margin:5rem 4rem .5rem 4rem;
    max-width: 15rem;
    display: inline-block;
}

.database-selector {
    margin:5rem 4rem .5rem 1rem;
    max-width: 15rem;
    display: inline-block;
}

.file-selector {
    margin:5rem 4rem .5rem 1rem;
    max-width: 15rem;
    display: inline-block;
}
