
<div class="mat-elevation-z4 sql">

  <ngx-codemirror 
    [(ngModel)]="sqlText" 
    [options]="getCodeMirrorOptions()"></ngx-codemirror>

</div>

<div class="right-aligned">
  <button 
    mat-button
    matTooltip="Evaluates your Hyperlambda"
    (click)="evaluate()">Evaluate</button>
</div>

<div *ngIf="result !== null && result.length > 0" class="mat-elevation-z4 result">
  <table class="fill-width">
    <tr>
      <th *ngFor="let idx of result[0] | dynamic">
        {{idx.key}}
      </th>
    </tr>
    <tr *ngFor="let row of result">
      <td *ngFor="let idx of row | dynamic">
        {{idx.value}}
      </td>
    </tr>
  </table>
</div>
