
<div
  class="obscurer"
  *ngIf="isFetching">
  <h3>Please wait ...</h3>
  <h4>Genius is thinking ...</h4>
  <mat-spinner
    mode="indeterminate"
    diameter="50"
    class="ajax-wait">
  </mat-spinner>
</div>

<mat-form-field class="database-type-selector">

  <mat-select
    placeholder="Select database type"
    (selectionChange)="databaseTypeChanged($event)"
    [(ngModel)]="selectedDatabaseType">

    <mat-option
      *ngFor="let cur of databaseTypes"
      [value]="cur">{{cur}}</mat-option>
      
  </mat-select>

</mat-form-field>

<mat-form-field
  *ngIf="databases !== null && hasConnection"
  class="database-selector">

  <mat-select
    placeholder="Select database"
    (selectionChange)="databaseChanged($event)"
    [(ngModel)]="selectedDatabase">

    <mat-option
      *ngFor="let cur of databases"
      [value]="cur">{{cur.name}}</mat-option>
      
  </mat-select>

</mat-form-field>

<mat-form-field class="file-selector" *ngIf="hasConnection">

  <mat-select
    placeholder="Select saved file"
    (selectionChange)="fileChanged($event)"
    [(value)]="selectedScript">
    <mat-option
      *ngFor="let cur of savedFiles"
      [value]="cur">{{cur}}</mat-option>
  </mat-select>

</mat-form-field>

<div class="mat-elevation-z4 sql" *ngIf="hasConnection">

  <ngx-codemirror
    *ngIf="selectedDatabase !== null"
    [(ngModel)]="sqlText" 
    class="smaller"
    [options]="getCodeMirrorOptions()"></ngx-codemirror>

</div>

<div class="execute-button" *ngIf="hasConnection">
  <button 
    [disabled]="sqlText === ''"
    mat-button
    matTooltip="Saves your current SQL on the server"
    (click)="save()">Save</button>
  <button 
    mat-raised-button
    color="primary"
    matTooltip="Evaluates your SQL"
    (click)="evaluate()">Evaluate</button>
</div>

<div
  class="mat-elevation-z4 error"
  *ngIf="!hasConnection">
  <p>
    I couldn't find a valid {{selectedDatabaseType}} database using your existing appSettings.json connection string.
    Maybe try a different database type ...?
  </p>
</div>
  
<div
  *ngIf="result !== null && result.length > 0 && hasConnection"
  class="mat-elevation-z4 result">
  <table class="fill-width">
    <caption>Result</caption>
    <tr>
      <th *ngFor="let idx of result[0] | dynamic" scope="col">
        {{idx.key}}
      </th>
    </tr>
    <tr *ngFor="let row of result">
      <td *ngFor="let idx of row | dynamic">
        {{idx.value}}
      </td>
    </tr>
  </table>
</div>
