
<div class="database-selector">
  <mat-select
    placeholder="Select database type"
    (selectionChange)="databaseTypeChanged($event)"
    [(ngModel)]="selectedDatabaseType">
    <mat-option
      *ngFor="let cur of databaseTypes"
      [value]="cur">{{cur}}</mat-option>
      
  </mat-select>
</div>

<div class="file-selector">

  <mat-select
    placeholder="Select saved file"
    (selectionChange)="fileChanged($event)"
    [(value)]="selectedScript">
    <mat-option
      *ngFor="let cur of savedFiles"
      [value]="cur">{{cur}}</mat-option>
  </mat-select>

</div>

<div class="mat-elevation-z4 sql">

  <ngx-codemirror 
    [(ngModel)]="sqlText" 
    class="smaller"
    [options]="getCodeMirrorOptions()"></ngx-codemirror>

</div>

<div class="execute-button">
  <button 
    [disabled]="sqlText === ''"
    mat-button
    matTooltip="Saves your current SQL on the server"
    (click)="save()">Save</button>
  <button 
    mat-raised-button
    color="primary"
    matTooltip="Evaluates your SQL"
    (click)="evaluate()">Evaluate</button>
</div>
  
<div
  *ngIf="result !== null && result.length > 0"
  class="mat-elevation-z4 result">
  <table class="fill-width">
    <tr>
      <th *ngFor="let idx of result[0] | dynamic">
        {{idx.key}}
      </th>
    </tr>
    <tr *ngFor="let row of result">
      <td *ngFor="let idx of row | dynamic">
        {{idx.value}}
      </td>
    </tr>
  </table>
</div>
