<div class="row help-center">

  <div class="col-12">
    <mat-card>
      <mat-card-content>

        <div class="row">
          <div class="col-lg-4 col-12 mb-3">
            <h3 class="fw-bold">Getting started with Magic</h3>
            <p>
              Here is a video teaching you how to get started with Magic, showing you all the essential components,
              such as SQL Studio, how to connect to your database, Hyper IDE, etc.
            </p>
          </div>
          <div class="col-lg-8 col-12">
            <div class="video-wrapper">
              <iframe width="560" height="315" class="w-100 h-100" src="https://www.youtube.com/embed/n8Y4sTrprqk"
                title="Creating a full stack CRM in 5 minutes" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12">
            <h3 class="fw-bold">Help center</h3>
            <p>
              Below you can find resources related to Aista Magic Cloud and Hyperlambda.
            </p>
            <ul>
              <li>
                <a target="_blank" href="https://docs.aista.com">Primary documentation</a>
              </li>
              <li>
                <a target="_blank" href="https://aista.com/hyperlambda-101/">Hyperlambda course</a>
              </li>
              <li>
                <a target="_blank" href="https://aista.com/hyperlambda-faq/">Hyperlambda FAQ</a>
              </li>
            </ul>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>