
.parts {
  .part {
    position: relative;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .parts {
    display: flex;
    .part {
      flex: 1;
      margin-right: 2rem;
      min-height: 370px;
    }
  }
}
