
.mat-dialog-title {
  font:inherit;
  margin-bottom: 0;
}

.file-content {
  min-height: 400px;
  max-height: 400px;
  .file-list {
    margin-top: 0;
    padding-left: 0;
    li {
      list-style-type: none;
      button {
        text-align: left;
        width: 100%;
      }
    }
  }
}
