
<div mat-dialog-title class="mat-dialog-title">

  <mat-form-field class="fill-width no-padding" appearance="outline">

    <mat-label class="dark">Filter</mat-label>
    <input
      matInput
      [(ngModel)]="filter"
      autocomplete="off">

  </mat-form-field>

</div>

<div mat-dialog-content class="file-content">
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let idx of getFiles()" [value]="idx" (click)="select(idx)">
      {{getFilename(idx)}}
    </mat-list-option>
  </mat-selection-list>
  <!-- <ul class="file-list">
    <li *ngFor="let idx of getFiles()">
      <button
        mat-button
        (click)="select(idx)">
      </button>
    </li>
  </ul> -->

</div>
