<div class="row">
  <div class="col-12">
    <p class="mat-title mb-2 fw-bold">Forgot password</p>
    <p class="text-muted mat-body-2">A link will be sent to the email address associated with your username</p>
  </div>
</div>

<form [formGroup]="forgotPassForm" (ngSubmit)="forgotPass()" class="w-100">
  <div class="row">
    <div class="col-12 mb-3">
      <mat-form-field class="w-100">
        <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
          <mat-icon>contact_mail</mat-icon>
          <span class="text-muted mx-2">|</span>
        </span>

        <input matInput="text" placeholder="Username" formControlName="username" name="username" type="text" required
          autocomplete="username">
      </mat-form-field>
    </div>
  </div>

  <re-captcha #captchaRef="reCaptcha" [siteKey]="recaptchaKey" size="invisible"
    (resolved)="$event && forgotPass($event)" *ngIf="recaptchaKey !== '' && recaptchaKey !== null"></re-captcha>

  <button type="submit" mat-flat-button color="primary" class="d-block w-100 mt-3 mb-4 auth-submit-button"
    [disabled]="waiting" (click)="recaptchaKey !== '' && recaptchaKey !== null ? executeRecaptcha() : forgotPass()">
    Submit request
  </button>
</form>

<div class="row mt-auto mb-4">
  <div class="col-12 text-center">
    <p class="mat-body-2 text-muted mb-0 d-flex align-items-center justify-content-center">
      Remember your password? <button mat-button color="primary" routerLink="/authentication/login" class="px-0">Sign
        in</button> now.
    </p>
  </div>
</div>