<mat-card>
  <mat-card-content>
    <div class="d-flex justify-content-between flex-xl-row flex-column align-items-xl-center">
      <div>
        <p>
          Name: <span class="text-muted">magic.system.crypto</span>
        </p>
        <p>
          Path: <span class="text-muted">/magic/system/crypto/challenge</span>
        </p>
      </div>
      <div class="d-flex justify-content-end">
        <button mat-button color="primary">Publish</button>
        <button mat-flat-button color="primary" class="px-4" (click)="subscribe()">Subscribe</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
