/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/mbo';
@import "~codemirror/addon/display/fullscreen";

/*
 * Misc classes.
 */
.warning {
  color: #c88 !important;
}

.fill-width {
  width: 100%;
}

.button-strip {
  text-align: right;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

button.create-button {
  position: absolute;
  top: .5rem;
  right: .5rem;
  display: block;
}

.invisible {
  display: none !important;
}

.word-break {
  word-break: break-word;
}

.button {
  cursor: pointer;
}

.pull-down-05 {
  margin-bottom: -.5rem;
}

.pull-right-1 {
  margin-right: -1rem;
}

.mat-dialog-actions {
  float: right;
}

/*
 * Material table styles.
 */
table.mat-table,
table.clickable {
  width: 100%;
  background-color: transparent;
  tr {
    th, td {
      color: rgb(245,245,245);
    }
    td {
      vertical-align: top;
      padding: 1rem 1rem 1rem 0;
    }
    th.minimalistic-col, td.minimalistic-col {
      width: 5px;
      white-space: nowrap;
    }
  }
}
table.mat-table.clickable,
table.clickable {
  tbody {
    tr {
      background-color: rgba(0,0,0,0);
      transition: background-color .05s ease-in;
      td {
        cursor: pointer;
        user-select: none;
      }
    }
    tr:hover {
      background-color: rgba(0,0,0,.1);
      transition: background-color .05s ease-in;
    }
    tr.selected {
      background-color: rgba(255,255,255,.1);
    }
    tr.details {
      background-color: rgba(255,255,255,.05);
      td {
        cursor: default;
        user-select: unset;
      }
    }
  }
}

mat-label.dark {
  color: rgb(55,55,55);
}

mat-paginator.mat-paginator {
  background-color: transparent;
  color: rgb(245,245,245);
  position: absolute;
  bottom: 0;
  right: 0;
}

mat-label {
  color: rgb(245,245,245);
}

mat-select {
  .mat-select-value-text {
    color: rgb(245,245,245);
  }
}

mat-card.mat-card {
  color: rgb(245, 245, 245);
  background-color: rgb(45,45,45);
  padding: 3rem;
}

mat-horizontal-stepper.mat-stepper-horizontal,
mat-horizontal-stepper.mat-stepper-vertical {
  background-color: rgb(45,45,45);
  mat-step-header {
    .mat-step-text-label {
      color: rgb(245, 245, 245);
    }
  }
}

input.mat-input-element {
  color:#eee;
}

.mat-dialog-title, .mat-dialog-content {
  input {
    color: #000;
  }
}

// CodeMirror classes.
.CodeMirror-hints {
  position: absolute;
  z-index: 10000;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 2px;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  color: rgb(245,245,245);
  border: 1px solid rgb(0,0,0);
  background-color: rgb(55,55,55);
  font-size: 90%;
  font-family: monospace;
  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}
