/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/mbo';
@import '~codemirror/theme/bespin';

.warning {
  color: #c88 !important;
}

.fill-width {
  width: 100%;
}

.invisible {
  display: none !important;
}

.word-break {
  word-break: break-word;
}

.button {
  cursor: pointer;
}

table.mat-table {
  width: 100%;
  background-color: transparent;
  tr {
    th, td {
      color: rgb(245,245,245);
    }
    td {
      vertical-align: top;
      padding: 1rem 1rem 1rem 0;
    }
    th.minimalistic-col, td.minimalistic-col {
      width: 5px;
      white-space: nowrap;
    }
  }
}
table.mat-table.clickable {
  tbody {
    tr {
      background-color: rgba(0,0,0,0);
      transition: background-color .05s ease-in;
      td {
        cursor: pointer;
        user-select: none;
      }
    }
    tr:hover {
      background-color: rgba(0,0,0,.1);
      transition: background-color .05s ease-in;
    }
    tr.selected {
      background-color: rgba(255,255,255,.1);
    }
    tr.details {
      background-color: rgba(255,255,255,.05);
      td {
        cursor: default;
        user-select: unset;
      }
    }
  }
}

mat-paginator.mat-paginator {
  background-color: transparent;
  color: rgb(245,245,245);
}

mat-label {
  color: rgb(245,245,245);
}

mat-select {
  .mat-select-value-text {
    color: rgb(245,245,245);
  }
}
