<?xml version="1.0" encoding="utf-8"?>
<!--

This file is required if you want to deploy the frontend on
IIS, since it rewrites all incoming URLs, to lead to the main
index.html page, created by Angular as the single SPA landing
page - for then to allow the Angular internal routing to
take over, and route to the correct URL in your SPA.

If you don't need to deploy your frontend on IIS, you can
safely delete this file - and rather use for instance the
Apache or nGinx equivalent configuration to accomplish the
same. If you delete this file, you will need to delete the
reference to it in your "angular.json" file, beneath the
"assets" field.

-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
