
<h1 mat-dialog-title class="mat-dialog-title">Create new key pair</h1>

<form>
  <div mat-dialog-content class="file-content">

    <mat-form-field class="fill-width" appearance="outline">

      <mat-label class="dark">Full name</mat-label>
      <input
        matInput
        autocomplete="off"
        [(ngModel)]="subject"
        name="subject">

    </mat-form-field>

    <mat-form-field class="fill-width" appearance="outline">

      <mat-label class="dark">Email</mat-label>
      <input
        matInput
        autocomplete="off"
        [(ngModel)]="email"
        type="email"
        name="email">

    </mat-form-field>

    <mat-form-field class="fill-width" appearance="outline">

      <mat-label class="dark">Domain</mat-label>
      <input
        matInput
        autocomplete="off"
        [(ngModel)]="domain"
        name="domain">

    </mat-form-field>

    <mat-form-field class="fill-width" appearance="outline">

      <mat-label class="dark">Strength</mat-label>
      <mat-select
        class="dark"
        [(value)]="strength"
        name="strength">
        <mat-option *ngFor="let el of strengthValues" [value]="el">{{el}}</mat-option>
      </mat-select>

    </mat-form-field>

    <mat-form-field class="fill-width" appearance="outline">

      <mat-label class="dark">Seed</mat-label>
      <textarea
        class="dark"
        matInput
        rows="5"
        autocomplete="off"
        [(ngModel)]="seed"
        name="seed">
      </textarea>

    </mat-form-field>

  </div>

  <div
    mat-dialog-actions
    class="mat-dialog-actions">

    <button
      [disabled]="!valid()"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="create()">
      Create
    </button>

  </div>
</form>