
<h1 mat-dialog-title class="mat-dialog-title">Create new key pair</h1>

<div mat-dialog-content class="file-content">

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Subject</mat-label>
    <input
      matInput
      autocomplete="off"
      [(ngModel)]="subject">

  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Email</mat-label>
    <input
      matInput
      autocomplete="off"
      [(ngModel)]="email">

  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Domain</mat-label>
    <input
      matInput
      autocomplete="off"
      [(ngModel)]="domain">

  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Strength</mat-label>
    <mat-select
      class="dark"
      class="dark"
      [(ngModel)]="strength">
      <mat-option *ngFor="let el of strengthValues" [value]="el">{{el}}</mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Seed</mat-label>
    <textarea
      class="dark"
      matInput
      rows="5"
      autocomplete="off"
      [(ngModel)]="seed">
    </textarea>

  </mat-form-field>

</div>

<div
  mat-dialog-actions
  class="mat-dialog-actions">

  <button
    [disabled]="!valid()"
    mat-raised-button
    color="primary"
    (click)="create()">Create</button>

</div>
