
<div class="meta-wrapper">

  <div class="meta-info">

    <span class="item">
      <strong>Installed</strong>
      <span>{{age | since}}</span>
    </span>

    <span class="item">
      <strong>Users</strong>
      <span>{{userCount}}</span>
    </span>

    <span class="item">
      <strong>Roles</strong>
      <span>{{roleCount}}</span>
    </span>

    <span class="item">
      <strong>Tasks</strong>
      <span>{{taskCount}}</span>
    </span>

    <span class="item">
      <strong>Endpoints</strong>
      <span>{{endpoints}}</span>
    </span>

    <span class="item">
      <strong>Log items</strong>
      <span>{{logCount}}</span>
    </span>

    <span class="item">
      <strong>Errors</strong>
      <span>{{errors}}</span>
    </span>

    <span class="item">
      <strong>LOC generated</strong>
      <span>{{loc}}</span>
    </span>

    <span class="item">
      <strong>Version</strong>
      <span>{{version}}</span>
    </span>

  </div>

  <div class="meta-statistics">
    <a
      [routerLink]="['/log']">
      Log items
    </a>
    <canvas
      *ngIf="daysData"
      baseChart
      chartType="bar"
      [data]="daysData" 
      [labels]="daysLabels" 
      [options]="daysOptions"
      [colors]="daysColors">
    </canvas>
  </div>

  <div class="meta-statistics">
    <a
      [routerLink]="['/log']"
      [queryParams]="{filter: 'Assumption test failed, test file:'}">
      Assumption failures
    </a>
    <canvas
      *ngIf="assumptionsData"
      baseChart 
      chartType="bar"
      [data]="assumptionsData" 
      [labels]="assumptionsLabels" 
      [options]="assumptionsOptions"
      [colors]="assumptionsColors">
    </canvas>
  </div>

</div>
