
<div class="meta-wrapper">

  <div class="meta-info">

    <span class="item">
      <strong>Users</strong>
      <span>{{userCount.toLocaleString('en-us')}}</span>
    </span>

    <span class="item">
      <strong>Roles</strong>
      <span>{{roleCount.toLocaleString('en-us')}}</span>
    </span>

    <span class="item">
      <strong>Tasks</strong>
      <span>{{taskCount.toLocaleString('en-us')}}</span>
    </span>

    <span class="item">
      <strong>Endpoints</strong>
      <span>{{endpoints.toLocaleString('en-us')}}</span>
    </span>

    <span class="item">
      <strong>Log items</strong>
      <span>{{logCount.toLocaleString('en-us')}}</span>
    </span>

    <span class="item">
      <strong>Version</strong>
      <span>{{version}}</span>
    </span>

  </div>

</div>
