
.chart-lg{
  height: 100%;
  canvas{
    max-height: 400px;
    min-height: 100%;
  }
}

.meta-wrapper {
  margin-top: 5rem;
  min-height: 19rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 79rem;
  margin-left: auto;
  margin-right: auto;
  .meta-info {
    flex: 1;
    max-width: 21rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    .item {
      display: block;
      width: 41rem;
      strong {
        display: inline-block;
        width: 10rem;
        text-align: right;
        margin-right: 1rem;
      }
    }
  }
}
