<h3 mat-dialog-title>Add new column</h3>

<form (ngSubmit)="create()">
  <div mat-dialog-content class="new-field-dialog">
    <mat-tab-group mat-stretch-tabs dynamicHeight animationDuration="0ms" (selectedTabChange)="tabsCahnged($event)">
      <mat-tab label="New column">
        <mat-form-field class="w-100 text-prefix mt-4">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-3">
            Column's name
          </span>

          <input matInput type="text" placeholder="Column's name" [(ngModel)]="formData.columnName"
            name="column_name" #name cdkFocusInitial
            [pattern]="CommonRegEx.appNameWithUppercase">
          <mat-error>{{CommonErrorMessages.appNameWithUppercase}}</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 text-prefix">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-3">
            Field's type
          </span>

          <mat-select placeholder="Type" [(ngModel)]="formData.fieldType" (ngModelChange)="changeDefaultValue()"
            name="field_type">
            <mat-select-trigger>
              {{formData?.fieldType?.name}}
            </mat-select-trigger>
            <mat-option class="multiline-mat-option" *ngFor="let item of fieldTypeList[data.slectedDbType]"
              [value]="item">
              <span class="d-block name-line" #typeName>{{item.name}}</span>
              <span class="d-block description-line">{{item.description}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 text-prefix" *ngIf="formData?.fieldType?.size">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-3">
            Field's size
          </span>

          <input matInput type="number"
            [placeholder]="'Size between ' + formData.fieldType.size.min + ' and ' + formData.fieldType.size.max"
            [(ngModel)]="formData.columnLength" [pattern]="CommonRegEx.appNameWithUppercase"
            name="column_length"
            [min]="formData.fieldType.size.min" [max]="formData.fieldType.size.max" autocomplete="off" name="-">
          <mat-hint class="text-danger"
            *ngIf="formData.columnLength < formData.fieldType.size.min || formData.columnLength > formData.fieldType.size.max">
            {{'Size between ' + formData.fieldType.size.min + ' and ' + formData.fieldType.size.max}}
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="w-100 text-prefix" *ngIf="formData?.fieldType?.defaultValue">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-3">
            Default value (optional)
          </span>

          <input matInput type="text" placeholder="Column's default value" [(ngModel)]="formData.defaultValue"
            name="default_value"
            [pattern]="CommonRegEx.appNameWithUppercase">
          <mat-error>{{CommonErrorMessages.appNameWithUppercase}}</mat-error>
        </mat-form-field>

        <p class="d-flex justify-content-end">
          <mat-checkbox [(ngModel)]="formData.nullable" color="primary" name="nullable">Nullable?</mat-checkbox>
        </p>
      </mat-tab>

      <mat-tab label="Foreign key">
        <mat-form-field class="w-100 text-prefix mt-4">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-3">
            Foreign table
          </span>

          <mat-select placeholder="Foreign table" [(ngModel)]="formData.selectedTable" name="selected_table" (selectionChange)="changeTable()">
            <mat-select-trigger>
              {{formData?.selectedTable?.name}}
            </mat-select-trigger>
            <mat-option class="multiline-mat-option" *ngFor="let item of data.tables" [value]="item">{{item?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 text-prefix">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-3">
            Foreign table's column
          </span>

          <mat-select placeholder="Foreign table's column" [(ngModel)]="formData.foreignField"
            name="foreign_field"
            (selectionChange)="changeColumnName()">
            <mat-option class="multiline-mat-option" *ngFor="let item of formData.selectedTable?.columns"
              [value]="item?.name">{{item?.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 text-prefix">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-3">
            Column's name
          </span>

          <input matInput type="text" placeholder="Column's name"
            [value]="formData.foreignField ? formData.foreignField + '_column' : ''" [(ngModel)]="formData.columnName"
            name="column_name"
            [pattern]="CommonRegEx.appNameWithUppercase">
          <mat-error>{{CommonErrorMessages.appNameWithUppercase}}</mat-error>
        </mat-form-field>

        <p class="d-flex justify-content-end">
          <mat-checkbox [(ngModel)]="formData.nullable" color="primary" class="me-2" name="nullable">Nullable?</mat-checkbox>
          <mat-checkbox [(ngModel)]="formData.cascading" color="primary" name="cascade">Cascade</mat-checkbox>
        </p>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" class="px-4" type="submit">Create</button>
  </div>
</form>
