
<h1 mat-dialog-title>Rename file</h1>
<form>
<div mat-dialog-content>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Name</mat-label>
    <input
      type="text"
      matInput
      autocomplete="off"
      [(ngModel)]="data.name"
      name="name">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <button
    mat-raised-button
    [disabled]="data.name === originalName"
    color="primary"
    type="submit"
    (click)="ok()">Rename</button>

  <button
    mat-raised-button
    (click)="cancel()">Close</button>

</div>
</form>