
<h1 mat-dialog-title>Add argument</h1>
<form>
  <div mat-dialog-content>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label class="dark">Name</mat-label>
      <input
        matInput
        [(ngModel)]="name"
        name="name"
        autocomplete="off"
        pattern="^[A-Za-z0-9_]+$">
        <mat-hint *ngIf="!argumentValid() && name !== ''" class="warning">Please avoid blank space and special characters</mat-hint>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label class="dark">Type</mat-label>
      <mat-select
        [(ngModel)]="type"
        name="type"
        class="dark">
        <mat-option
          *ngFor="let idx of types"
          [value]="idx">{{idx}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div mat-dialog-actions class="mat-dialog-actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="name === '' || type === '' || !argumentValid()"
        (click)="add()">Add</button>
  </div>
</form>