<div class="row">
  <div class="col-12 mb-general">
    <div class="row h-100">
      <div class="col-12">
        <mat-card *ngIf="input">

          <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between">

            <div class="d-flex align-items-center">
              <mat-card-title class="my-0">SQL</mat-card-title>
              <div class="sm-icons">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
                  <mat-icon>help_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <div class="p-3">
                    <p>
                      Write any SQL into the below code editor and execute it towards your database of choice. If you
                      have frequently used SQL snippets, you can also save these into your SQL snippets collection.
                    </p>
                    <div class="d-flex justify-content-end">
                      <a target="_blank" href="https://docs.aista.com/documentation/magic/components/sql/" mat-stroked-button>Learn more</a>
                    </div>
                  </div>
                </mat-menu>
              </div>
            </div>

            <!-- Shortkeys information button and menu -->
            <div class="d-md-block d-none">

              <button mat-stroked-button [matMenuTriggerFor]="list" matTooltip="List of shortkeys">
                Shortkeys
              </button>

              <mat-menu #list="matMenu" class="shortkeys">
                <mat-list role="list" dense>

                  <mat-list-item role="listitem">
                    Toggle fullscreen
                    <span class="code my-0 ml-5">Alt + M</span>
                  </mat-list-item>

                  <mat-list-item role="listitem">
                    Load snippet
                    <span class="code my-0 ml-5">Alt + L</span>
                  </mat-list-item>

                  <mat-list-item role="listitem">
                    Save snippet
                    <span class="code my-0 ml-5">Alt + S</span>
                  </mat-list-item>

                  <mat-list-item role="listitem">
                    Execute
                    <span class="code my-0 ml-5">F5</span>
                  </mat-list-item>

                  <mat-list-item role="listitem">
                    Search
                    <span class="code my-0 ml-5">Ctrl+F/Cmd+F</span>
                  </mat-list-item>

                  <mat-list-item role="listitem">
                    Find next
                    <span class="code my-0 ml-5">Ctrl+G/Cmd+G</span>
                  </mat-list-item>

                  <mat-list-item role="listitem">
                    Find previous
                    <span class="code my-0 ml-5">Shift+Ctrl+G/<br>Shift+Cmd+G</span>
                  </mat-list-item>

                  <mat-list-item role="listitem">
                    Replace
                    <span class="code my-0 ml-5">Shift+Ctrl+F/<br>Cmd+Option+F</span>
                  </mat-list-item>

                  <mat-list-item role="listitem">
                    Replace all
                    <span class="code my-0 ml-5">Shift+Ctrl+R/<br>Shift+Cmd+Option+F</span>
                  </mat-list-item>

                  <mat-list-item role="listitem">
                    Jump to line
                    <span class="code my-0 ml-5">Alt + G</span>
                  </mat-list-item>

                </mat-list>
              </mat-menu>
            </div>
          </div>

          <mat-card-subtitle>Connect to your database and execute SQL</mat-card-subtitle>

          <mat-card-content>

            <app-codemirror-sql [(model)]="input"></app-codemirror-sql>

            <div class="row mt-3" *ngIf="input">
              <div class="col-12">
                <div class="d-flex flex-sm-row flex-column w-100">

                  <mat-form-field
                    class="w-100"
                    appearance="outline">
                    <mat-label>Database type</mat-label>
                    <mat-select
                      [(ngModel)]="input.databaseType"
                      (selectionChange)="databaseTypeChanged()">
                      <mat-option
                        *ngFor="let idx of databaseTypes"
                        [value]="idx">{{getDatabaseTypeName(idx)}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="p-sm-1"></div>

                  <mat-form-field
                    class="w-100"
                    appearance="outline">
                    <mat-label>Connection string</mat-label>
                    <mat-select
                      [(ngModel)]="input.connectionString"
                      (selectionChange)="connectionStringChanged()">
                      <mat-option
                        *ngFor="let idx of connectionStrings"
                        [value]="idx">{{idx}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="p-sm-1"></div>

                  <mat-form-field
                    class="w-100"
                    appearance="outline">
                    <mat-label>Database name</mat-label>
                    <mat-select
                      [(ngModel)]="input.database"
                      [disabled]="!databases || databases.length === 0"
                      (selectionChange)="databaseChanged()">
                      <mat-option
                        *ngFor="let idx of databases"
                        [value]="idx"
                        [class]="getDatabaseCssClass(idx)">{{idx}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>

              <div class="col-12">
                <div class="d-flex flex-wrap justify-content-end align-items-center">
                  <div class="d-flex custom-mb">

                    <mat-checkbox [(ngModel)]="designer" class="mr-3">
                      Designer
                    </mat-checkbox>

                    <mat-checkbox
                      class="safe-mode"
                      [(ngModel)]="safeMode"
                      [class.warning]="!safeMode"
                      (ngModelChange)="showWarning()">
                      <ng-container *ngIf="!safeMode">
                        <mat-icon class="warning warning-icon">report</mat-icon>
                      </ng-container>
                      Safe mode
                    </mat-checkbox>

                    <div class="p-1"></div>

                    <mat-checkbox
                      *ngIf="input.databaseType === 'mssql'"
                      (change)="batchChanged()"
                      matTooltip="Executes SQL as a batch operation, respecting 'go' keywords"
                      [(ngModel)]="isBatch">Batch</mat-checkbox>

                  </div>

                  <div class="p-1"></div>

                  <div class="d-flex">

                    <button
                      mat-icon-button
                      [disabled]="!backendService.active?.access.config.delete_cache_item"
                      matTooltip="Purge your server side cache"
                      (click)="refresh()">
                      <mat-icon>refresh</mat-icon>
                    </button>

                    <div class="p-1"></div>

                    <button
                      id="loadButton"
                      [disabled]="!backendService.active?.access.sql.list_files"
                      mat-raised-button
                      (click)="load()"
                      class="w-100">
                      Load
                    </button>

                    <div class="p-1"></div>

                    <button
                      id="loadButton"
                      [disabled]="!backendService.active?.access.sql.list_files"
                      mat-raised-button
                      (click)="sqlFileImport.click()"
                      class="w-100">
                      Import
                    </button>

                    <input
                      type="file"
                      name="sqlFile"
                      id="sqlFile"
                      #sqlFileImport
                      class="invisible"
                      accept=".sql"
                      [(ngModel)]="sqlFile"
                      (change)="uploadFiles($event)">

                    <div class="p-1"></div>

                    <button
                      id="saveButton"
                      [disabled]="!input.sql || !backendService.active?.access.sql.save_file"
                      mat-raised-button
                      (click)="save()"
                      class="w-100">
                      Save
                    </button>

                    <div class="p-1"></div>

                    <button
                      id="executeButton"
                      [disabled]="!input || input.sql === '' || !input.database"
                      mat-raised-button
                      color="primary"
                      (click)="execute()"
                      class="w-100">
                      Execute
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div
        class="col-12"
        #resultCard
        [class.mt-3]="result && result.length > 0">
        <mat-card
          class="result-card" [class.mb-3]="!last"
          *ngFor="let idxResult of result; let last = last">
          <div class="table-responsive">
            <table
              *ngIf="idxResult.rows.length > 0"
              class="w-100 clickable">

              <thead>
                <tr>
                  <td *ngFor="let idxColumn of idxResult.columns" class="pl-3 py-3 text-muted">
                    {{idxColumn}}
                  </td>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="let idxRow of idxResult.rows"
                  [class]="getRowCssClass(idxRow)"
                  (click)="toggleDetails(idxRow, idxResult)">
                  <td
                    *ngFor="let idxCell of (idxRow.details === true ? [] : (idxRow.data | dynamic: 5))">
                    {{idxCell.value}}
                  </td>
                  <td
                    *ngIf="idxRow.details === true && idxRow.display === true"
                    class="view-details py-3"
                    [attr.colspan]="idxResult.columns.length">
                    <div class="details-sheet">
                      <div
                        *ngFor="let idxDetails of idxRow.data | dynamic"
                        (click)="copyToClipBoard(idxDetails.value)"
                        class="details-item">
                        <div class="d-flex py-1">
                          <span class="min-width-80">{{idxDetails.key}}</span>&nbsp;&nbsp;
                          <span class="ml-5">{{idxDetails.value === null ? '[null]' : idxDetails.value}}</span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>

          <div class="d-flex justify-content-end mt-2">
            <button
              mat-raised-button
              (click)="exportAsSql(idxResult)">
              Export as SQL file
            </button>
            <div class="p-1"></div>
            <button
              mat-raised-button
              (click)="exportAsCsv(idxResult)">
              Export as CSV
            </button>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="row manipuated-layout" *ngIf="designer && input?.database">
  <div class="col-12 mb-general">
    <div class="row h-100" *ngIf="input">
        <div class="col-12">
          <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between">

            <div class="d-flex align-items-center">
              <h3 class="mat-card-title my-0">Designer</h3>
              <div class="sm-icons">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
                  <mat-icon>help_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <div class="p-3">
                    <p>
                      Design your database and add columns, delete columns, create tables, etc.
                    </p>
                    <div class="d-flex justify-content-end">
                      <a target="_blank" href="https://docs.aista.com/documentation/magic/components/sql/"
                        mat-stroked-button>Learn more</a>
                    </div>
                  </div>
                </mat-menu>
              </div>
            </div>
            <!-- Trigger action menu button for database -->
            <button mat-icon-button class="action-button-more" [matMenuTriggerFor]="database">
              <mat-icon>more_vert</mat-icon>
            </button>

            <!-- Menu action items for database -->
            <mat-menu #database="matMenu">

              <button
                mat-menu-item
                (click)="createNewDatabase()"
                class="action-button">
                <mat-icon class="material-icons-outlined">language</mat-icon>
                New database
              </button>

              <button
                mat-menu-item
                (click)="createNewTable()"
                class="action-button">
                <mat-icon class="material-icons-outlined">add</mat-icon>
                Add table
              </button>

              <button
                mat-menu-item
                (click)="exportDatabase()"
                class="action-button">
                <mat-icon class="material-icons-outlined">cloud_download</mat-icon>
                Export database DDL
              </button>

              <button
                mat-menu-item
                (click)="deleteDatabase()"
                class="action-button">
                <mat-icon class="material-icons-outlined">delete</mat-icon>
                Drop database
              </button>

              <button mat-menu-item>
                <mat-slide-toggle
                  [(ngModel)]="autoMigrate"
                  (click)="$event.stopPropagation();"
                  labelPosition="after">Auto migrate</mat-slide-toggle>
              </button>
        
            </mat-menu>
          </div>

          <p class="mat-card-subtitle">Design and modify your database</p>



          <div *ngIf="!activeTables || activeTables.length === 0" class="col-12">
            Please add tables to your database
          </div>

        </div>
        <div
          class="col-xl-4 col-lg-6 col-md-12 col-sm-6 col-12 mb-3 db-table-design"
          *ngFor="let idxTable of activeTables">

          <mat-card
            class="h-100"
            [id]="idxTable.name"
            [class.animating]="animating === idxTable.name"
            [class.mat-elevation-z3]="highlighted === idxTable.name">

            <mat-card-content class="h-100">
              <div class="d-flex align-items-center justify-content-between mb-3">
                <h3 class="my-0">{{idxTable.name}}</h3>

                <!-- Trigger action menu button for table menu -->
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="table"
                  class="action-button-more">
                  <mat-icon>more_vert</mat-icon>
                </button>

                <!-- Menu action items for table -->
                <mat-menu #table="matMenu">

                  <button
                    mat-menu-item
                    (click)="createFieldKey(idxTable)"
                    class="action-button">
                    <mat-icon class="material-icons-outlined">add</mat-icon>
                    Add field/key
                  </button>

                  <button
                    mat-menu-item
                    (click)="exportTable(idxTable)"
                    class="action-button">
                    <mat-icon class="material-icons-outlined">cloud_download</mat-icon>
                    Export table DDL
                  </button>

                  <button
                    (click)="deleteTable(idxTable)"
                    mat-menu-item
                    class="action-button">
                    <mat-icon class="material-icons-outlined">delete</mat-icon>
                    Drop table
                  </button>

                </mat-menu>
              </div>
              <div class="pl-3 mb-2">
                <div
                  class="d-flex align-items-center justify-content-between py-1 table-element"
                  *ngFor="let idxColumn of idxTable.columns"
                  [class]="idxColumn.nullable ? 'nullable' : 'not-null'">

                  <div class="d-flex align-items-center">
                    <mat-icon
                      *ngIf="idxColumn.primary"
                      class="key-icon">vpn_key</mat-icon>
                    &nbsp;
                    <strong class="ml-1 mr-2">{{idxColumn.name}}</strong>
                    <span class="text-muted">{{idxColumn.db}}</span>
                  </div>

                  <button
                    mat-icon-button
                    *ngIf="!idxColumn.primary"
                    type="button"
                    (click)="deleteColumn(idxTable, idxColumn)">
                    <mat-icon class="material-icons-outlined">delete</mat-icon>
                  </button>

                </div>
              </div>

              <mat-divider
                *ngIf="idxTable.foreign_keys"
                id="custom-divider"></mat-divider>

              <div class="pl-3 pt-2">
                <div
                  class="d-flex align-items-center justify-content-between py-1 table-element"
                  *ngFor="let idxFk of idxTable.foreign_keys;let last = last"
                  [class.mb-2]="!last">

                  <div class="d-flex align-items-center text-truncate">
                    &nbsp;&nbsp;
                    <span>{{idxFk.column}}</span>
                    <mat-icon class="general-icon mx-1">arrow_right_alt</mat-icon>
                    <span
                      class="pointer"
                      role="button"
                      (click)="scrollIntoView(idxFk.foreign_table)">{{idxFk.foreign_table}}.{{idxFk.foreign_column}}</span>
                  </div>

                  <button
                    mat-icon-button
                    *ngIf="idxFk.name"
                    type="button"
                    (click)="deleteFk(idxTable, idxFk)">
                    <mat-icon class="general-icon">remove</mat-icon>
                  </button>

                </div>
              </div>

            </mat-card-content>
          </mat-card>
        </div>
    </div>
  </div>
</div>
