@import '../../../../assets/styles/colour.scss';
@import '../../../../assets/styles/mixin.scss';
@import '../../../../assets/styles/sizes.scss';
.min-h-400 { min-height: 400px; }
.min-width-80 { min-width: 80px; }
::ng-deep .data-row {
  @include general_transition(0.3s);
  &:hover {
    background-color: transparentize($color: $magic_default_alternative, $amount: 0.7);
  }
}

.database-actions, .table-actions {
  position: absolute;
  top: 5px;
  right: 15px;
}
.action-button {
  max-width: 100%;
}
@keyframes card-animation {
  0% {
    background: transparentize($color: $magic_accent_lighter, $amount: 0.5);
  }
  100% {
    background: transparent;
  }

}
mat-card.animating {
  animation-name: card-animation;
  animation-duration: 2s;
}

.row.manipuated-layout {
  margin-left: calc($side_space * -1.5 );
  margin-right: calc($side_space * -1.5 );
  div[class^="row"] {
    margin-left: calc($side_space / 2 );
    margin-right: calc($side_space / 2 );
  }
  div[class^="col-"] {
    padding-left: calc($side_space / 2 );
    padding-right: calc($side_space / 2 );
  }
  .row.no-gutters {
    margin-right: 0;
    margin-left: 0;
    div[class^="col-"]{
      padding-right: 0;
      padding-left: 0;
    }
  }
}
.db-table-design {
  h3 {font-weight: 500;}
}
.action-button-more {
  min-width: 40px;
  margin-right: -7px;
}
.absolutize {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 100;
}
::ng-deep .light {
  .table-element {
    &:hover {
      background-color: transparentize($color: $magic_dark_ng_border, $amount: 0.09);
    }
    mat-icon {color: transparentize($color: $magic_dark_ng_theme, $amount: 0.6);}
  }
}
::ng-deep .dark {
  .table-element {
    &:hover {
      background-color: transparentize($color: $magic_default_ng_border, $amount: 0.07);
    }
    mat-icon {color: transparentize($color: $magic_default_alternative, $amount: 0.6);}
  }
}
.table-element {
  border-radius: 4px;
  @include general_transition(0.3s);
  strong {
    font-weight: 500;
  }
  button {height: 24px;width: 24px;line-height: 24px;}
}
::ng-deep {
  #custom-divider.mat-divider {left: 1.2em;right: 1.2em;width: unset;}
}
mat-icon {
  &.key-icon {
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin-left: -1.1em;
  }
  &.general-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
}
.not-null strong {
  text-decoration: underline;
}
