@import '../../../../assets/styles/colour.scss';
@import '../../../../assets/styles/mixin.scss';
.min-h-400 { min-height: 400px; }
.min-width-80 { min-width: 80px; }
::ng-deep .data-row {
  @include general_transition(0.3s);
  &:hover {
    background-color: transparentize($color: $magic_default_alternative, $amount: 0.7);
  }
}
@media (max-width: 496px) {
  .custom-mb { margin-bottom: 1rem; }
}
button {
  max-width: fit-content;
}
.safe-mode {
  position: relative;
  .warning-icon {
    position: absolute;
    left: -6px;
    z-index: 1;
    font-size: 28px;
    height: 28px;
    width: 28px;
    line-height: 24px;
  }
}
.db-table-design {
  h3 {
    font-weight: bold;
  }
  ul {
    li {
      list-style-type: none;
      height: auto !important;
      clear:both;
      padding: 5px;
      .delete {
        position: relative !important;
        float: right;
        font-size: 20px;
        color: #b0b0b0;
        cursor: pointer;
      }
    }
    li:hover {
      background-color: rgba(0,0,0,.1);
    }
    li.nullable {
      font-style: italic;
    }
    li.not-null {
      span {
        font-weight: bold;
      }
    }
  }
  .after {
    padding-left: 34px;
    cursor: pointer;
  }
  mat-icon.arrow {
    margin-left: 5px;
    margin-right: 5px;
  }
  mat-icon.key {
    position: absolute;
    left: 12px;
    margin-top: 2px;
    font-size: 14px;
    color: #b0b0b0;
  }
  ul.foreign-keys {
    li {
      mat-icon {
        position: absolute;
        margin-top: -2px;
      }
    }
  }
}
.database-actions, .table-actions {
  position: absolute;
  top: 5px;
  right: 15px;
}
.action-button {
  max-width: 100%;
}