<mat-card class="h-100">
  <mat-card-content class="endpoint-generator h-100">
    <mat-tab-group mat-stretch-tabs dynamicHeight animationDuration="0ms" #tabs>
      <mat-tab>
        <ng-template mat-tab-label>Auto <span class="d-sm-inline d-none px-1">endpoint</span> generator</ng-template>
        <app-auto-generator
        [dbLoading]="dbLoading"
        [databaseTypes]="databaseTypes"
        [defaultDbType]="defaultDbType"
        [connectionStrings]="connectionStrings"
        [defaultConnectionString]="defaultConnectionString"
        [databases]="databases"
        [roles]="roles"
        (getConnectionString)="getConnectionString($event)"></app-auto-generator>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Manual <span class="d-sm-inline d-none px-1">endpoint </span> generator</ng-template>
        <app-manual-generator
        [dbLoading]="dbLoading"
        [databaseTypes]="databaseTypes"
        [defaultDbType]="defaultDbType"
        [connectionStrings]="connectionStrings"
        [defaultConnectionString]="defaultConnectionString"
        [databases]="databases"
        [roles]="roles"
        (getConnectionString)="getConnectionString($event)"></app-manual-generator>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
</mat-card>
