
<h1 mat-dialog-title>{{data ? 'Change user\'s password' : 'Create a new user'}}</h1>

<div mat-dialog-content>

  <mat-form-field class="fill-width">
    <mat-label class="dark">Username</mat-label>
    <input
      matInput
      [(ngModel)]="username"
      [disabled]="data"
      autocomplete="off"
      placeholder="Username">
  </mat-form-field>

  <mat-form-field class="fill-width">
    <mat-label class="dark">{{this.data ? 'New password' : 'Password'}}</mat-label>
    <input
      matInput
      [(ngModel)]="password"
      autocomplete="off"
      [placeholder]="this.data ? 'New password' : 'Password'">
  </mat-form-field>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <button
    *ngIf="!data"
    mat-button
    [disabled]="username === '' || password === ''"
    (click)="create()">Create</button>

  <button
    *ngIf="data"
    mat-button
    matTooltip="Generates a login link for user that can be used to authenticate user"
    (click)="generateLoginLink()">Login link</button>

  <button
    *ngIf="data"
    mat-button
    [disabled]="password === ''"
    (click)="update()">Update</button>

</div>