
mat-card.public-key {
  margin-bottom: 2rem;
  strong {
    margin-bottom: .25rem;
    width: 10rem;
    display: inline-block;
  }
  span {
    display: inline-block;
  }
  textarea {
    margin-top: 1rem;
    display: block;
    width: 100%;
  }
}

table.keys {
  tr {
    td:nth-child(3) {
      padding-top: 5px;
      padding-bottom: 9px;
      width: 5px;
    }
  }
}
