
mat-card.public-key {
  margin-bottom: 2rem;
  h3 {
    text-align: center;
    margin-top: -2rem;
  }
}

table.keys {
  tr {
    td:nth-child(3) {
      padding-top: 5px;
      padding-bottom: 9px;
      width: 5px;
    }
  }
}

.details-item {
  display: block;
  margin-bottom: .15rem;
  strong {
    width: 10rem;
    display: inline-block;
  }
  strong.full-width {
    display: block;
  }
  span {
    display: inline-block;
  }
  textarea {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: block;
    width: 100%;
  }
}
