
.public-key {
  strong {
    margin-bottom: .25rem;
    width: 10rem;
    display: inline-block;
  }
  span {
    display: inline-block;
  }
  textarea {
    margin-top: 1rem;
    display: block;
    width: 100%;
  }
}
