
<mat-card class="public-key" *ngIf="publicKeyFull">

  <strong>Fingerprint</strong><span>{{publicKeyFull.fingerprint}}</span>
  <br>
  <strong>Fingerprint format</strong><span>{{publicKeyFull.fingerprintFormat}}</span>
  <br>
  <strong>Key format</strong><span>{{publicKeyFull.keyFormat}}</span>
  <br>
  <strong>Key type</strong><span>{{publicKeyFull.keyType}}</span>
  <br>

  <textarea
    class="key"
    matTooltip="Public key"
    rows="10">{{publicKeyFull.publicKey}}</textarea>


</mat-card>

<mat-card>

  <table
    mat-table
    [dataSource]="publicKeys"
    class="keys clickable">

    <ng-container matColumnDef="subject">
      <td
        mat-cell
        *matCellDef="let el">{{el.subject}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <td
        mat-cell
        *matCellDef="let el">{{el.email}}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <td mat-cell class="minimalistic-col" *matCellDef="let el">
        <button
          mat-icon-button
          matTooltip="Delete"
          (click)="delete($event, el)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr
      mat-row
      [ngClass]="(shouldDisplayDetails(el) ? 'selected ' : '') + 'key-row'"
      (click)="toggleDetails(el)"
      *matRowDef="let el; columns: displayedColumns;"></tr>

  </table>

</mat-card>
