
h1 {
  margin-bottom: 2rem;
  text-align: center;
}

mat-horizontal-stepper {
  position: relative;
  min-height: 500px;
  app-setup-configuration {
    display: block;
    margin: 2rem 3rem 0 3rem;
  }
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
