
<h1>Setup Magic {{process}}</h1>

<mat-progress-bar
  mode="determinate"
  matTooltip="Remaining setup tasks"
  [value]="getSetupProgress()">
</mat-progress-bar>

<app-setup-configuration
  [class]="configurationCssClass"
  *ngIf="!status.config_done">
</app-setup-configuration>

<app-setup-database
  [class]="databaseCssClass"
  *ngIf="status.config_done && !status.magic_crudified">
</app-setup-database>

<app-setup-crypto
  [class]="cryptoCssClass"
  *ngIf="status.config_done && status.magic_crudified && !status.server_keypair">
</app-setup-crypto>
