
<mat-toolbar>

  <a
    mat-button
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{exact:true}">[[name]]</a>
[[router-links]]
  <a
    *ngIf="isLoggedIn()"
    mat-button
    (click)="logout()">logout</a>

</mat-toolbar>

<div *ngIf="isLoggedIn()">
  <router-outlet></router-outlet>
</div>

<div *ngIf="!isLoggedIn()">
  <mat-card class="login-card">

    <mat-form-field class="fill-width">
      <input 
        matInput 
        placeholder="Username"
        type="text" 
        [(ngModel)]="username">
    </mat-form-field>

    <mat-form-field class="fill-width">
      <input 
        matInput 
        placeholder="Password"
        autocomplete="new-password"
        type="password" 
        [(ngModel)]="password">
    </mat-form-field>

    <div class="right-aligned">
      <button 
        mat-button
        (click)="login()"
        matTooltip="Login to your app">Login</button>
    </div>

  </mat-card>
</div>
