<div class="d-flex justify-content-between align-items-center mb-3">
  <h3 mat-dialog-title class="mb-0">List of databases</h3>
  <mat-form-field class="standalone">
    <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
      <mat-icon>search</mat-icon>
      <span class="text-muted">|</span>
    </span>

    <input matInput type="text" #search placeholder="Search database name">
  </mat-form-field>
</div>

<div mat-dialog-content>
  <div class="table-responsive" *ngIf="data.list">
    <table mat-table [dataSource]="data.list" class="w-100 borderless hoverable">

      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Database name </th>
        <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
      </ng-container>

      <!-- tables Column -->
      <ng-container matColumnDef="tables">
        <th mat-header-cell *matHeaderCellDef class="text-nowrap"> No. of tables </th>
        <td mat-cell *matCellDef="let element"> {{element?.tables?.length ?? 0}} </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" routerLink="/sql-studio"
            [queryParams]="{dbType: data.item.dbTypeValue, dbName: element.name, dbCString: data.item.cStringKey}"
            mat-dialog-close>
            Edit
          </button>
          <button mat-button color="warn" class="ms-3" (click)="deleteDb(element)">
            Delete
          </button>
          <button mat-button color="primary" class="ms-3" routerLink="/endpoint-generator"
            [queryParams]="{dbType: data.item.dbTypeValue, dbName: element.name, dbCString: data.item.cStringKey}"
            mat-dialog-close>
            Generate API
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.d-none]="row.name.indexOf(search.value) === -1"></tr>
    </table>

  </div>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-flat-button mat-dialog-close color="primary">Close</button>
</div>
