
table.roles {
  width: 100%;
  tr {
    td.nowrap {
      white-space: nowrap;
    }
    td:nth-child(2) {
      display: none;
    }
    @media screen and (min-width: 600px) {
      td:nth-child(2) {
        display: table-cell;
      }
    }
  }
  .details-sheet {
    position: relative;
    .details-item {
      display: block;
      margin-bottom: 1rem;
      strong {
        display: block;
      }
      span {
        display: block;
      }
    }
  }
}
