
<div *ngIf="!showAdvanced" class="min-h-400">

  <strong>Database connection</strong>

  <form #dbForm="ngForm" novalidate>
    <mat-form-field class="form-field" appearance="outline">

      <mat-label>Database</mat-label>
      <mat-select
      [(ngModel)]="selectedDatabaseType"
      name="selectedDatabaseType">
        <mat-option
          *ngFor="let idx of databaseTypes"
          [value]="idx">{{idx}}</mat-option>
      </mat-select>

    </mat-form-field>

    <mat-form-field *ngIf="selectedDatabaseType" class="form-field wide" appearance="outline">

      <mat-label>Server</mat-label>
      <input
        matInput
        [(ngModel)]="config.magic.databases[selectedDatabaseType].generic"
        name="databaseGeneric">

    </mat-form-field>

    <strong *ngIf="selectedDatabaseType">Root account password</strong>

    <mat-form-field *ngIf="selectedDatabaseType" class="form-field"  appearance="outline">

      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        autocomplete="new-password"
        [(ngModel)]="password"
        name="password">

    </mat-form-field>

    <mat-form-field *ngIf="selectedDatabaseType" class="form-field" appearance="outline">

      <mat-label>Repeat</mat-label>
      <input
        matInput
        name="password"
        type="password"
        autocomplete="new-password"
        [(ngModel)]="passwordRepeat"
        [ngModelOptions]="{standalone: true}">

    </mat-form-field>

    <mat-form-field *ngIf="selectedDatabaseType" class="wide break"  appearance="outline">

      <mat-label>Auth secret {{config.magic.auth.secret.length}} characters</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="config.magic.auth.secret"
        name="authSecret">

    </mat-form-field>

  </form>
</div>


<div *ngIf="showAdvanced" class="min-h-400">
  
  <app-config-editor></app-config-editor>

</div>

<div class="d-flex justify-content-between">
  <mat-slide-toggle [(ngModel)]="showAdvanced">Advanced</mat-slide-toggle>
  
  <button
  *ngIf="!showAdvanced"
  mat-raised-button
  color="primary"
  [disabled]="!selectedDatabaseType || password === '' || password !== passwordRepeat"
  class="next"
  (click)="next()">
    Next
  </button>
</div>