
<strong *ngIf="!showAdvanced">Database connection</strong>

<mat-form-field *ngIf="!showAdvanced" class="form-field" appearance="outline">

  <mat-label>Database</mat-label>
  <mat-select
    [(ngModel)]="selectedDatabaseType">
    <mat-option
      *ngFor="let idx of databaseTypes"
      [value]="idx">{{idx}}</mat-option>
  </mat-select>

</mat-form-field>

<mat-form-field *ngIf="!showAdvanced && selectedDatabaseType" class="form-field wide" appearance="outline">

  <mat-label>Server</mat-label>
  <input
    matInput
    [(ngModel)]="config.magic.databases[selectedDatabaseType].generic">

</mat-form-field>

<strong *ngIf="!showAdvanced && selectedDatabaseType">Root account password</strong>

<mat-form-field *ngIf="!showAdvanced && selectedDatabaseType" class="form-field"  appearance="outline">

  <mat-label>Password</mat-label>
  <input
    matInput
    type="password"
    autocomplete="new-password"
    [(ngModel)]="password">

</mat-form-field>

<mat-form-field *ngIf="!showAdvanced && selectedDatabaseType" class="form-field" appearance="outline">

  <mat-label>Repeat</mat-label>
  <input
    matInput
    type="password"
    autocomplete="new-password"
    [(ngModel)]="passwordRepeat">

</mat-form-field>

<mat-form-field *ngIf="!showAdvanced && selectedDatabaseType" class="wide break"  appearance="outline">

  <mat-label>Auth secret {{config.magic.auth.secret.length}} characters</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="config.magic.auth.secret">

</mat-form-field>

<mat-slide-toggle [(ngModel)]="showAdvanced">Advanced</mat-slide-toggle>

<button
  *ngIf="!showAdvanced"
  mat-raised-button
  color="primary"
  [disabled]="!selectedDatabaseType || password === '' || password !== passwordRepeat"
  (click)="next()"
  class="next">
  Next
</button>

<div *ngIf="showAdvanced">

  <app-config-editor></app-config-editor>

</div>
