<div class="d-flex flex-sm-nowrap flex-wrap justify-content-between">
  <div class="d-flex align-items-center">
    <h3 class="my-0">Crudify database</h3>
    <div class="sm-icons">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?">
        <mat-icon>help_outline</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="p-3">
          <p>
            In order to use your newly created database Magic needs to generate HTTP CRUD web API endpoints wrapping its tables.
          </p>
          <div class="d-flex justify-content-end">
            <a target="_blank" href="https://docs.aista.com/documentation/magic/components/config/crudify/" mat-stroked-button>Learn more</a>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>
</div>
<mat-card-subtitle>Crudify your Magic database</mat-card-subtitle>
<ngx-codemirror
  *ngIf="crudifyContent"
  [(ngModel)]="crudifyContent"
  [options]="cmOptions.json">
</ngx-codemirror>

<div class="d-flex justify-content-end mt-3">
  <button
    mat-raised-button
    color="primary"
    (click)="next()"
    class="next">
    Next
  </button>
</div>
