<div class="d-flex justify-content-between align-items-center">
    <p class="my-0">New version available! 🎉</p>
    <div class="mx-1"></div>
    <div class="d-flex align-items-center">
        <a mat-icon-button (click)="dismiss()" matTooltip="Dismiss" class="p-0 custom-icon-btn mr-2">
            <mat-icon>close</mat-icon>
        </a>
        <a mat-icon-button (click)="reloadPage()" matTooltip="Refresh" class="p-0 custom-icon-btn" color="accent">
            <mat-icon>refresh</mat-icon>
        </a>
    </div>
</div>