
<h1 mat-dialog-title>Create validator</h1>
<div mat-dialog-content>

  <mat-form-field>
    <mat-select placeholder="Validator type" [(ngModel)]="validatorType" (selectionChange)="createHyperlambda($event)">
      <mat-option value="validators.url">validators.url</mat-option>
      <mat-option value="validators.string">validators.string</mat-option>
      <mat-option value="validators.regex">validators.regex</mat-option>
      <mat-option value="validators.mandatory">validators.mandatory</mat-option>
      <mat-option value="validators.integer">validators.integer</mat-option>
      <mat-option value="validators.enum">validators.enum</mat-option>
      <mat-option value="validators.email">validators.email</mat-option>
      <mat-option value="validators.date">validators.date</mat-option>
    </mat-select>
  </mat-form-field>
    
</div>

<div mat-dialog-actions>

  <div style="width:100%; text-align: right;">

    <button 
      mat-button
      [disabled]="validatorType === null || validatorType === undefined"
      [mat-dialog-close]="data">Ok</button>

    <button
      mat-button
      (click)="close()">Close</button>

  </div>

</div>
