
<h1 mat-dialog-title>Add validator/transformer/injectable</h1>
<div mat-dialog-content>

  <mat-form-field>
    <mat-select placeholder="Type" [(ngModel)]="validatorType" (selectionChange)="createHyperlambda($event)">
      <mat-option *ngFor="let cur of reactors" [value]="cur.name">{{cur.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    *ngIf="validatorType === 'validators.string' || validatorType === 'validators.integer'"
    style="margin-left: 2rem;">
    <input 
      matInput 
      placeholder="Min"
      type="number" 
      autocomplete="off"
      (change)="valueChanged()"
      [(ngModel)]="min">
  </mat-form-field>

  <mat-form-field
    *ngIf="validatorType === 'validators.string' || validatorType === 'validators.integer'"
    style="margin-left: 2rem;">
    <input 
      matInput 
      placeholder="Max"
      type="number" 
      autocomplete="off"
      (change)="valueChanged()"
      [(ngModel)]="max">
  </mat-form-field>

  <mat-form-field
    *ngIf="validatorType === 'validators.regex'"
    style="margin-left: 2rem;">
    <input 
      matInput 
      placeholder="Regex"
      type="string" 
      autocomplete="off"
      (change)="valueChanged()"
      [(ngModel)]="regex">
  </mat-form-field>

  <mat-form-field
    *ngIf="validatorType === 'validators.enum'"
    style="margin-left: 2rem;width:400px;">
    <input 
      matInput 
      placeholder="Comma separated values"
      type="string" 
      autocomplete="off"
      (change)="valueChanged()"
      [(ngModel)]="enumValues">
  </mat-form-field>

  <mat-form-field
    *ngIf="validatorType === 'validators.date'"
    style="margin-left: 2rem;">
    <input 
      matInput 
      placeholder="Min"
      type="date" 
      autocomplete="off"
      (change)="valueChanged()"
      [(ngModel)]="dateMin">
  </mat-form-field>

  <mat-form-field
    *ngIf="validatorType === 'validators.date'"
    style="margin-left: 2rem;">
    <input 
      matInput 
      placeholder="Max"
      type="date" 
      autocomplete="off"
      (change)="valueChanged()"
      [(ngModel)]="dateMax">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div style="width:100%; text-align: right;">

    <button 
      mat-button
      [disabled]="validatorType === null || validatorType === undefined"
      [mat-dialog-close]="data">Ok</button>

    <button
      mat-button
      (click)="close()">Close</button>

  </div>

</div>
