<div class="d-flex justify-content-between align-items-center w-100 mb-4">
  <h3 class="my-0">List of backends</h3>
  <a mat-flat-button color="primary" (click)="addNew()">
    <span class="d-sm-block d-none">Add new backend</span>
    <span class="d-sm-none d-block">New backend</span>
  </a>
</div>

<ng-container *ngIf="isLoading">
  <app-loading-skeleton [amount]="3" [blockHeight]="'40px'" [hasShadow]="false"></app-loading-skeleton>
</ng-container>

<div class="table-responsive backend-list" *ngIf="!isLoading">
  <table mat-table [dataSource]="backendsList" class="w-100 borderless">

    <!-- username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Username </th>
      <td mat-cell *matCellDef="let element" class="text-nowrap"> {{element?.username}} </td>
    </ng-container>

    <!-- backendURL Column -->
    <ng-container matColumnDef="backendURL">
      <th mat-header-cell *matHeaderCellDef> Backend URL </th>
      <td mat-cell *matCellDef="let element" class="text-nowrap"> {{element?.url}} </td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element" class="text-nowrap"> {{element?.url === activeBackend ? 'In use' : 'Not in
        use'}} </td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-nowrap"> Actions </th>
      <td mat-cell *matCellDef="let element;let index=index;let last=last;let first=first" class="text-nowrap">
        <button mat-button class="ps-0 mat-caption" color="primary" [disabled]="element?.url === activeBackend"
          (click)="switchBackend(element)">Switch</button>
        <button mat-button class="ps-0 mat-caption" color="primary" (click)="copyUrlWithBackend(element.url)">Copy
          URL</button>
        <button mat-button class="ps-0 mat-caption" color="warn"
          (click)="removeBackend(element,index,last,first)">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>