
<div *ngIf="input">

  <h2>Database {{input.database}}</h2>

  <h3>Endpoint URLs</h3>

  <mat-form-field class="form-field" appearance="outline">

    <mat-label>Primary</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [(ngModel)]="moduleName">

  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">

    <mat-label>Secondary</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [(ngModel)]="endpointName">

  </mat-form-field>

  <h3>Arguments</h3>

  <div class="arguments-declaration">

    <button
      mat-icon-button
      (click)="addArgument()">
      <mat-icon>add</mat-icon>
    </button>

    <mat-chip-list>
      <mat-chip
        *ngFor="let arg of arguments"
        (removed)="removeArgument(arg)"
        [matTooltip]="arg.name + ' as ' + arg.type">
        {{arg.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

  </div>

  <h3>Miscelanous</h3>

  <mat-form-field class="form-field" appearance="outline">

    <mat-label>HTTP verb</mat-label>
    <mat-select
      [(ngModel)]="verb">
      <mat-option
        *ngFor="let idx of verbs"
        [value]="idx">{{idx}}</mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">

    <mat-label>Authorization</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [(ngModel)]="authorization">

  </mat-form-field>

  <mat-checkbox [(ngModel)]="isList">Scalar</mat-checkbox>

  <h3>SQL</h3>

  <app-codemirror-sql [(model)]="input"></app-codemirror-sql>

  <div class="button-strip">

    <button
      mat-raised-button
      color="primary"
      [disabled]="moduleName === '' || endpointName === '' || input.sql === '' || !validModuleComponentName()"
      (click)="generate()">
      Generate
    </button>

  </div>

</div>
