<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- Needs to be right at the top to prevent Chrome from reloading favicon on every route change -->
    <link rel="icon" href="assets/favicon.jpeg" sizes="32x32" />
    <title>[[name]]</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <!-- Add to homescreen for iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <!-- Apple touch icons -->
    <link rel="apple-touch-icon" href="assets/apple-touch-icon-iphone-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/apple-touch-icon-ipad-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/apple-touch-icon-iphone-retina-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/apple-touch-icon-ipad-retina-152x152.png">

  </head>
  <body class="mat-typography">
    <!--[if lt IE 10]>
      <p>
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <noscript>
      <p>This page requires JavaScript to work properly. Please enable JavaScript in your browser.</p>
    </noscript>
    <app-root></app-root>
  </body>
</html>
