/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~material-design-icons-iconfont/src/material-design-icons";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Theme customization
@import "theme/theme";

// Date and time picker
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

.relativized {
  position: relative;
}

.right-aligned {
  text-align: right;
  width: 100%;
}

.fill-width {
  width: 100%;
}

/*
 * Styles for data entity components.
 */
.component-wrapper {
  position: relative;
  padding-top: 1rem;
  .grid-wrapper {
    min-width: fit-content;
    margin-left: 1rem;
    margin-right: 1rem;
    .new-button {
      position: absolute !important;
      top: 0;
      right: 0;
    }
    table {
      padding-top: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
      tr {
        transition-property: background-color;
        transition-duration: 0.2s;
        th,
        td {
          display: none;
        }
        td {
          max-width: 80px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          .details-sheet {
            border: solid 1px rgb(230, 230, 230);
            margin-top: 3rem;
            margin-bottom: 3rem;
            border-radius: 0.5rem;
            padding: 0 1rem 0 1rem;
            position: relative;
            .edit-details {
              position: absolute;
              bottom: 0;
              right: 0;
              padding-right: 0;
            }
            .details {
              flex-grow: 1;
              width: 100%;
              height: 100%;
              label {
                display: block;
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                font-weight: bold;
              }
              span {
                white-space: normal;
                display: block;
              }
            }
          }
        }
        th:nth-child(1),
        td:nth-child(1) {
          display: table-cell;
        }
        th {
          .filter-textbox {
            float: left;
            font-size: 10px;
            width: calc(100% - 70px);
          }
          .sort-button {
            margin-top: 2px;
            float: right;
            width: 70px;
            box-sizing: border-box;
            padding-left: 0;
            padding-right: 0;
          }
        }
        td.delete-column,
        th.delete-column {
          display: table-cell;
          width: 70px;
          text-align: right;
          padding-right: 0;
        }
        td.delete-column {
          color: rgb(100, 100, 100);
        }
        th.hidden,
        td.hidden {
          display: none !important;
        }
        td.mat-column-details {
          padding-left: .25rem;
          padding-right: .25rem;
        }
      }
      tr.visible-details {
        td {
          border-bottom-color: transparent !important;
          background-color: rgba(0, 0, 0, 0.05) !important;
        }
      }
      tr.mat-row:hover {
        cursor: pointer;
        background-color: #f0f0f0;
        transition-property: background-color;
        transition-duration: 0.1s;
      }
      tr.details-row {
        cursor: inherit;
        background-color: transparent !important;
        td {
          @keyframes drop-down {
            0% {
              opacity: 0;
              margin-top: -100px;
            }
            100% {
              opacity: 1;
              margin-top: 2rem;
            }
          }
          .details-sheet {
            animation: drop-down 0.2s ease-in;
            animation-fill-mode: forwards;
          }
        }
      }
      tr.details-row:hover {
        cursor: inherit;
      }
      tr.hidden {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 590px) {
  .component-wrapper {
    table {
      tr {
        th:nth-child(1),
        td:nth-child(1),
        th:nth-child(2),
        td:nth-child(2) {
          display: table-cell;
        }
        td {
          .details-sheet {
            display: flex;
            flex-wrap: wrap;
            .details {
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 840px) {
  .component-wrapper {
    table {
      tr {
        th:nth-child(3),
        td:nth-child(3) {
          display: table-cell;
        }
        td {
          .details-sheet {
            padding: 2rem 3rem 2rem 3rem;
            margin-top: 2rem;
            margin-bottom: 3rem;
            display: flex;
            flex-wrap: wrap;
            .details {
              width: 50% !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1420px) {
  .component-wrapper {
    table {
      tr {
        th:nth-child(5),
        td:nth-child(5) {
          display: table-cell;
        }
      }
    }
  }
}

@media screen and (min-width: 1620px) {
  .component-wrapper {
    table {
      tr {
        th:nth-child(6),
        td:nth-child(6) {
          display: table-cell;
        }
      }
    }
  }
}

@media screen and (min-width: 2048px) {
  .component-wrapper {
    table {
      tr {
        th:nth-child(7),
        td:nth-child(7) {
          display: table-cell;
        }
      }
    }
  }
}

.invisible {
  display: none;
}

.entity-edit-field {
  width: calc(100% - 1.2rem);
  margin-right: 1rem;
  display: inline-block;
  mat-icon {
    color: rgb(128, 128, 128);
    font-size: 1.1rem !important;
  }
}

@media screen and (min-width: 800px) {
  .entity-edit-field {
    width: calc(50% - 1.2rem);
    margin-right: 1rem;
    text-transform: capitalize;
    display: inline-block;
  }
}
