<div class="d-flex align-items-center flex-sm-row flex-column-reverse w-100">

  <div class="px-2"></div>

  <mat-form-field class="w-100 standalone-field">
    <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
      <mat-icon>search</mat-icon>
      <span class="text-muted">|</span>
    </span>

    <input matInput placeholder="Search through log items" [formControl]="filter" autocomplete="off">
    <button mat-icon-button matSuffix (click)="removeSearchTerm();" *ngIf="filter.value">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

</div>