
.current-folder {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.up-level {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

table.files {
  tr {
    td:nth-child(1) {
      padding-top: 14px;
      padding-bottom: 9px;
      width: 5px;
    }
    td {
      .file-details {
        margin: 1rem .25rem .5rem .25rem;
      }
    }
    td:nth-child(3) {
      padding-top: 5px;
      padding-bottom: 9px;
      width: 5px;
    }
  }
}

.button-strip {
  margin-top: 2rem;
  margin-bottom: -2rem !important;
}
