 ::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}

h1 {
    text-align: center;
}

.stats-wrapper {
    padding: 3rem 1rem 1rem 1rem;
    margin: 3rem 0 3rem 0;
    .chart {
        width: auto;
    }
}

@media screen and (min-width: 1024px) {
    .stats-wrapper {
        padding: 5rem;
        margin: 3rem 12rem 3rem 12rem;
    }
}
