
<h3 mat-dialog-title class="mb-0">Your question</h3>

<div mat-dialog-content>

  <p class="text-muted text-small mb-3">{{data.prompt}}</p>

  <ngx-codemirror
    class="codemirror-container h-100"
    [(ngModel)]="data.snippet"
    *ngIf="cmReady"
    [options]="options">
  </ngx-codemirror>

</div>

<div mat-dialog-actions [align]="'end'">

  <button
    *ngIf="data.callback"
    mat-button
    (click)="callbackInvoked()">
    {{data.callbackText}}
  </button>

  <button
    mat-button
    (click)="copy()">
    Copy
  </button>

  <button
    mat-flat-button
    mat-dialog-close>
    Close
  </button>

</div>
