
<h1 mat-dialog-title>Install module</h1>

<div mat-dialog-content>

  <mat-form-field class="fill-width" appearance="outline">
    <mat-label class="dark">URL</mat-label>
    <input
      type="text"
      matInput
      (change)="urlChanged()"
      autocomplete="off"
      [(ngModel)]="data.url">
  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">
    <mat-label class="dark">Name</mat-label>
    <input
      type="text"
      matInput
      autocomplete="off"
      [(ngModel)]="data.name">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!data.url || !data.name"
    (click)="install()">Install</button>

  <button
    mat-raised-button
    (click)="close()">Close</button>

</div>
