
<div class="d-flex flex-column w-100 h-100" id="sidebar" [class.disableLinks]="!backendService.active?.setupDone">
  <div class="top-box-sidebar d-flex flex-column justify-content-center align-items-center text-center">

    <div class="d-flex flex-column w-100 justify-content-center align-items-center min-h-88">
      <img src="../../../../assets/images/aista-{{theme === 'dark' ? 'blue-white-' : ''}}logo.svg" alt="" [width]="navbarService.expanded ? 130 : 65" class="mb-3" [ngClass]="{'mb-1': !navbarService.expanded, 'mb-3': navbarService.expanded}">
      <p class="nm-top text-uppercase">{{navbarService.expanded ? 'Magic Cloud' : 'MAGIC'}}</p>
    </div>

    <ng-container *ngIf="navbarService.expanded">

      <div class="position-relative w-100">
        <h5 class="my-0 text-muted d-flex align-items-center justify-content-center">
          <div class="text-truncate max-width">
            {{backendService.active?.token ? this.backendService.active.token['_username'] : 'anonymous'}}
          </div>
        </h5>
        <h5
          class="my-0 text-muted d-flex align-items-center justify-content-center pointer"
          [matMenuTriggerFor]="backends">
          <div
            class="text-truncate max-width"
            [class.text-warning]="backendService.active?.url.startsWith('http://')">{{getActiveBackendUrl()}} </div>
          <mat-icon class="small-icon">expand_more</mat-icon>
        </h5>
      </div>

      <mat-menu #backends="matMenu" yPosition="below">
        <div mat-menu-item *ngFor="let backend of backendService.backends" [matMenuTriggerFor]="selectedBackend" [matMenuTriggerData]="{backend: backend}">
          <mat-icon>{{backend.token ? 'lock' : 'lock_open'}}</mat-icon>
          <span [class.text-warning]="backend.url.startsWith('http://')">
            {{backend.url.substring(backend.url.indexOf('://') + 3)}}
          </span>
        </div>
        <button mat-menu-item (click)="login(false)">
          <mat-icon>add</mat-icon> Add new backend
        </button>
      </mat-menu>

      <mat-menu #selectedBackend="matMenu" xPosition="after">
        <ng-template matMenuContent let-backend="backend">
          <button
            mat-menu-item
            (click)="copyUrlWithBackend(backend.url)">
            <mat-icon>content_copy</mat-icon>
            Copy url
          </button>
          <button
            mat-menu-item
            [disabled]="backend.url === backendService.active?.url"
            (click)="switchBackend(backend)">
            <mat-icon>change_circle</mat-icon>
            {{backend.url === backendService.active?.url ? 'Currently in use' : 'Switch to this backend'}}
          </button>
          <button
            mat-menu-item
            (click)="removeBackend(backend)">
            <mat-icon>delete</mat-icon>
            Remove backend
          </button>
        </ng-template>
      </mat-menu>

    </ng-container>


    <div class="toggle-btn">
      <button
        mat-icon-button
        (click)="toggleNavbar()" tabindex="-1">
        <mat-icon>chevron{{navbarService.expanded ? '_left' : '_right'}}</mat-icon>
      </button>
    </div>
  </div>

  <mat-accordion displayMode="flat" [multi]="!navbarService.expanded">

    <!-- Dashboard -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header
        #panelD (click)="panelD._toggle()"
        [matTooltipDisabled]="navbarService.expanded"
        [matTooltip]="backendService.active?.access.files.list_files && backendService.active?.access.files.list_folders ? 'Dashboard' : 'Home'"
        matTooltipPosition="after"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-panel-title>
          <a
            class="w-100 h-100 d-flex align-items-center"
            [class.flex-column]="!navbarService.expanded"
            [class.justify-content-center]="!navbarService.expanded"
            (click)="largeScreen ? '' : closeNavbar()"
            [routerLink]="!backendService.active?.token || (backendService.active?.setupDone || !backendService.active?.token?.in_role('root')) ? '/' : null">
            <mat-icon>home</mat-icon>
            <span class="title">{{backendService.active?.access.files.list_files && backendService.active?.access.files.list_folders ? 'Dashboard' : 'Home'}}</span>
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <!-- Crypto if user not logged in or non-root user -->
    <mat-expansion-panel
      class="mat-elevation-z0"
      hideToggle
      *ngIf="(!backendService.active?.token || !backendService.active?.token?.in_role('root')) && backendService.active">
      <mat-expansion-panel-header
        #panelC (click)="panelC._toggle()"
        [matTooltipDisabled]="navbarService.expanded"
        matTooltip="Keys"
        matTooltipPosition="after"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-panel-title>
          <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" routerLink="/keys">
            <mat-icon>security</mat-icon>
            <span class="title">Keys</span>
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <!-- Tools -->
    <mat-expansion-panel class="mat-elevation-z0"
      [expanded]="hyperide?.isActive || endpoints?.isActive || bazar?.isActive || sql?.isActive || crudifier?.isActive || !navbarService.expanded"
      [hideToggle]="!navbarService.expanded"
      *ngIf="(backendService.active?.access.files.list_files && backendService.active?.access.files.list_folders) || backendService.active?.access.eval.execute || backendService.active?.access.sql.execute_access || (backendService.active?.access.crud.generate_crud || backendService.active?.access.crud.generate_sql || backendService.active?.access.crud.generate_frontend) || backendService.active?.access.tasks.read || backendService.active?.access.terminal.execute">
      <mat-expansion-panel-header
        *ngIf="navbarService.expanded"
        [ngClass]="{'active-link':hyperide?.isActive || endpoints?.isActive || bazar?.isActive || sql?.isActive || crudifier?.isActive}">
        <mat-panel-title>
          <mat-icon>build</mat-icon>
          <span class="title">Tools</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-selection-list [multiple]="false" [ngClass]="{'pt-0 pb-0': !navbarService.expanded}">

        <!-- SQL Studio -->
        <mat-list-option
          [style.display]="backendService.active?.access.sql.execute_access ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="SQL Studio"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #sql="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.sql.execute_access">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/sql' : null">
              <mat-icon>cloud_queue</mat-icon>
              <span class="title">SQL Studio</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Crudifier -->
        <mat-list-option
          [style.display]="backendService.active?.access.crud.generate_crud || backendService.active?.access.crud.generate_sql || backendService.active?.access.crud.generate_frontend ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Crudifier"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #crudifier="routerLinkActive"
          [routerLinkActiveOptions]="{exact:false}">
          <ng-container *ngIf="backendService.active?.access.crud.generate_crud || backendService.active?.access.crud.generate_sql || backendService.active?.access.crud.generate_frontend">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/crud-generator' : null">
              <mat-icon>touch_app</mat-icon>
              <span class="title">CRUD Generator</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Hyper IDE -->
        <mat-list-option
          [style.display]="backendService.active?.access.files.list_files && backendService.active?.access.files.list_folders ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Hyper IDE"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #hyperide="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.files.list_files && backendService.active?.access.files.list_folders">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/ide' : null">
              <mat-icon>extension</mat-icon>
              <span class="title">Hyper IDE</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Endpoints -->
        <mat-list-option
          [style.display]="backendService.active?.access.endpoints.view ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Endpoints"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #endpoints="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.endpoints.view">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/endpoints' : null">
              <mat-icon>http</mat-icon>
              <span class="title">Endpoints</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Plugins -->
        <mat-list-option
          [style.display]="backendService.active?.access.bazar.get_manifests ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Plugins"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #bazar="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.bazar.get_manifests">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/plugins' : null">
              <mat-icon>shop</mat-icon>
              <span class="title">Plugins</span>
            </a>
          </ng-container>
        </mat-list-option>

      </mat-selection-list>
    </mat-expansion-panel>

    <!-- Management -->
    <mat-expansion-panel class="mat-elevation-z0"
      [expanded]="auth?.isActive || cache?.isActive || tasks?.isActive || config?.isActive || crypto?.isActive || !navbarService.expanded"
      [hideToggle]="!navbarService.expanded"
      *ngIf="(backendService.active?.access.auth.view_users && backendService.active?.access.auth.view_roles) || backendService.active?.access.bazar.get_manifests || backendService.active?.access.config.load">
      <mat-expansion-panel-header
      *ngIf="navbarService.expanded"
      [ngClass]="{'active-link':auth?.isActive || cache?.isActive || tasks?.isActive || config?.isActive || crypto?.isActive}">
        <mat-panel-title>
          <mat-icon>local_hospital</mat-icon>
          <span class="title">Management</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" [ngClass]="{'pt-0 pb-0': !navbarService.expanded}">

        <!-- Users -->
        <mat-list-option
          [style.display]="backendService.active?.access.auth.view_users && backendService.active?.access.auth.view_roles ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Users & roles"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #auth="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.auth.view_users && backendService.active?.access.auth.view_roles">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/auth' : null">
              <mat-icon>supervisor_account</mat-icon>
              <span class="title">Users &amp; roles</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Tasks -->
        <mat-list-option
          [style.display]="backendService.active?.access.tasks.read ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Tasks"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #tasks="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.tasks.read">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/tasks' : null">
              <mat-icon>schedule</mat-icon>
              <span class="title">Task Scheduler</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Cache -->
        <mat-list-option
          [style.display]="backendService.active?.access.log.read ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="System's cache"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #cache="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.log.read">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/cache' : null">
              <mat-icon>cached</mat-icon>
              <span class="title">Cache</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Cryptography -->
        <mat-list-option
          [style.display]="backendService.active?.access.crypto.import_public_key ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Cryptography"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #crypto="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.crypto.import_public_key">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/keys' : null">
              <mat-icon>security</mat-icon>
              <span class="title text-center">Cryptography Keys</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Configuration -->
        <mat-list-option
          [style.display]="backendService.active?.access.config.load ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Config"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #config="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.config.load">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" routerLink="/config">
              <mat-icon>settings</mat-icon>
              <span class="title">Configuration</span>
            </a>
          </ng-container>
        </mat-list-option>

      </mat-selection-list>
    </mat-expansion-panel>

    <!-- Misc -->
    <mat-expansion-panel
      class="mat-elevation-z0"
      [expanded]="assumptions?.isActive || profile?.isActive || terminal?.isActive || evaluator?.isActive || sockets?.isActive || log?.isActive || !navbarService.expanded"
      [hideToggle]="!navbarService.expanded"
      *ngIf="backendService.active?.access.endpoints.view || backendService.active?.access.sockets.read">
      <mat-expansion-panel-header
        *ngIf="navbarService.expanded"
        [ngClass]="{'active-link':assumptions?.isActive || profile?.isActive || terminal?.isActive || evaluator?.isActive || log?.isActive || sockets?.isActive}">
        <mat-panel-title>
          <mat-icon>playlist_add</mat-icon>
          <span class="title">Misc</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" [ngClass]="{'pt-0 pb-0': !navbarService.expanded}">

        <!-- Log -->
        <mat-list-option
          [style.display]="backendService.active?.access.log.read ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Log"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #log="routerLinkActive"
          [routerLinkActiveOptions]="{exact:false}">
          <ng-container *ngIf="backendService.active?.access.log.read">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/log' : null">
              <mat-icon>bar_chart</mat-icon>
              <span class="title">Log</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Evaluator -->
        <mat-list-option
          [style.display]="backendService.active?.access.eval.execute ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Evaluator"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #evaluator="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.eval.execute">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/evaluator' : null">
              <mat-icon>flash_on</mat-icon>
              <span class="title">Evaluator</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Assumptions -->
        <mat-list-option
          [style.display]="backendService.active?.access.log.read ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Assumptions"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #assumptions="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.log.read">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/assumptions' : null">
              <mat-icon>fact_check</mat-icon>
              <span class="title">Assumptions</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Sockets -->
        <mat-list-option
          [style.display]="backendService.active?.access.sockets.read ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Sockets"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #sockets="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.sockets.read">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/sockets' : null">
              <mat-icon>compare_arrows</mat-icon>
              <span class="title">Sockets</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Terminal -->
        <mat-list-option
          [style.display]="backendService.active?.access.terminal.execute ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Terminal"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #terminal="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.access.terminal.execute">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/terminal' : null">
              <mat-icon>input</mat-icon>
              <span class="title">Terminal</span>
            </a>
          </ng-container>
        </mat-list-option>

        <!-- Profile -->
        <mat-list-option
          [style.display]="backendService.active?.token ? '' : 'none'"
          [matTooltipDisabled]="navbarService.expanded"
          matTooltip="Edit your profile"
          matTooltipPosition="after"
          routerLinkActive="active-link"
          #profile="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="backendService.active?.token">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" [routerLink]="backendService.active?.setupDone ? '/profile' : null">
              <mat-icon>person</mat-icon>
              <span class="title">Profile</span>
            </a>
          </ng-container>
        </mat-list-option>

      </mat-selection-list>
    </mat-expansion-panel>

    <!-- About -->
    <mat-expansion-panel
      class="mat-elevation-z0"
      hideToggle
      *ngIf="!backendService.active?.token">
      <mat-expansion-panel-header
        #panelH (click)="panelH._toggle()"
        [matTooltipDisabled]="navbarService.expanded"
        matTooltip="About"
        matTooltipPosition="after"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-panel-title>
          <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" routerLink="/about">
            <mat-icon>copyright</mat-icon>
            <span class="title">About Magic</span>
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <!-- Quick start -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle *ngIf="backendService.active?.token">
      <mat-expansion-panel-header
        #panelB (click)="panelB._toggle();showHelp()"
        [matTooltipDisabled]="navbarService.expanded"
        matTooltip="Quick start"
        matTooltipPosition="after"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-panel-title>
          <mat-icon>help</mat-icon>
          <span class="title">Quick start</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <!-- Documentation -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header
        #panelC (click)="panelC._toggle()"
        [matTooltipDisabled]="navbarService.expanded"
        matTooltip="Documentation"
        matTooltipPosition="after"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-panel-title>
          <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" href="https://docs.aista.com/" target="_blank">
            <mat-icon>book</mat-icon>
            <span class="title">Documentation</span>
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <!-- Login -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header
        #panelL (click)="panelL._toggle(); backendService.active?.token ? logout() : login(true)"
        [matTooltipDisabled]="navbarService.expanded"
        matTooltipPosition="after"
        [matTooltip]="backendService.active?.token ? 'Logout' : 'Login'">
        <mat-panel-title>
            <mat-icon>{{backendService.active?.token ? 'lock' : 'lock_open'}}</mat-icon>
            <span class="title">{{backendService.active?.token ? 'Logout' : 'Login'}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <!-- Register -->
    <mat-expansion-panel class="mat-elevation-z0"
      *ngIf="!backendService.active?.token && backendService.active" hideToggle>
      <mat-expansion-panel-header
        #panelH (click)="panelH._toggle()"
        [matTooltipDisabled]="navbarService.expanded"
        matTooltip="Create an account"
        matTooltipPosition="after"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact:true}">
        <mat-panel-title>
          <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!navbarService.expanded" [class.justify-content-center]="!navbarService.expanded" (click)="largeScreen ? '' : closeNavbar()" routerLink="/register">
            <mat-icon>how_to_reg</mat-icon>
            <span class="title">Register</span>
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Theme -->
  <mat-divider class="mt-4"></mat-divider>
  <button mat-button class="ml-2 mr-1"
    (click)="toggleTheme()"
    [color]="themeService.theme === 'dark' ? 'accent' : ''"
    [class.theme-btn]="!navbarService.expanded">
    <div class="d-flex align-items-center justify-content-between" [class.flex-column]="!navbarService.expanded">
      <div class="theme-title" [class.d-none]="!navbarService.expanded">{{'Switch to ' + (themeService.theme === 'light' ? 'dark' : 'light') + ' theme'}}</div>
      <div class="theme-title" [class.d-none]="navbarService.expanded">{{(themeService.theme === 'light' ? 'Dark' : 'Light') + ' theme'}}</div>
      <div class="switch-theme {{themeService.theme}}">
        <span class="light-icon">
          <mat-icon>light_mode</mat-icon>
        </span>
        <span class="dark-icon">
          <mat-icon>brightness_4</mat-icon>
        </span>
      </div>
    </div>
  </button>

  <!-- Footer -->
  <div class="footer d-flex flex-column justify-content-center align-items-center w-100 pt-3">
    <div class="d-flex flex-column align-items-center">
      <ng-container *ngIf="backendService.shouldUpdate">
        <a
          href="https://polterguy.github.io/tutorials/getting-started/"
          mat-raised-button
          matTooltip="Update your Magic installation"
          [matTooltipPosition]="navbarService.expanded ? 'above' : 'after'"
          target="_blank"
          class="mb-2"
          color="warn">
          {{navbarService.expanded ? 'Update to ' + backendService.latestPublishedBazarVersion : 'Update'}}
        </a>
      </ng-container>
    </div>
    <p class="my-0 mat-caption text-center" *ngIf="navbarService.expanded">
      &copy; Aista Ltd. 2019 - {{currentYear}}
    </p>
    <p class="my-0 mat-caption text-center" *ngIf="!navbarService.expanded">
      &copy; Aista Ltd.
    </p>
  </div>

</div>
