<div class="row">
  <div class="col-12 mb-general" id="assumption">
    <mat-card>

      <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between mb-1">
        <div class="d-flex align-items-center">
          <mat-card-title class="my-0">Assumptions</mat-card-title>
          <div class="sm-icons">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
              <mat-icon>help_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div class="p-3">
                <p>
                  These are your assumptions, which are tests you can run that somehow sanity checks the state
                  of your system, verifying your backend is operating as it should.
                </p>
                <div class="d-flex justify-content-end">
                  <a target="_blank" href="https://docs.aista.com/documentation/magic/components/assumptions/" mat-stroked-button>Learn more</a>
                </div>
              </div>
            </mat-menu>
          </div>
        </div>
      </div>

      <mat-card-subtitle>Assumptions and integration tests</mat-card-subtitle>

      <mat-card-content>
        <div class="d-flex align-items-center mb-2">
    
          <mat-form-field [class]="tests.length > 0 ? 'fill-width' : 'invisible'" appearance="outline" class="w-100 inline-input">
    
            <mat-label>Filter</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formControl]="filterFormControl">
            <mat-icon
              matSuffix
              *ngIf="filterFormControl.value.trim() !== ''"
              class="button"
              role="button"
              (click)="clearFilter()">clear</mat-icon>
    
          </mat-form-field>
    
          <button
            *ngIf="tests.length > 0"
            [disabled]="!backendService.active?.access.diagnostics.execute_test"
            mat-icon-button
            color="primary"
            [matTooltip]="'Run ' + getFilteredTests().length + ' health checks'"
            (click)="executeFiltered()">
            <mat-icon>play_arrow</mat-icon>
          </button>
    
        </div>
    
        <table
          mat-table
          [dataSource]="getFilteredTests()"
          class="w-100 expandable-table"
          multiTemplateDataRows>
    
          <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let el">{{getName(el.filename)}}</td>
          </ng-container>
    
          <ng-container matColumnDef="result">
            <td mat-cell class="mini-col icon-col" *matCellDef="let el">
              <mat-icon
                *ngIf="el.success !== null && el.success">favorite</mat-icon>
              <mat-icon
                *ngIf="el.success !== null && !el.success"
                class="warning">warning</mat-icon>
            </td>
          </ng-container>
    
          <ng-container matColumnDef="showDetails">
            <td
              mat-cell
              colspan="2"
              *matCellDef="let el">
              <div
                class="w-100 details-row"
                [@detailExpand]="el == expandedElement ? 'expanded' : 'collapsed'">   
                <div class="min-height w-100">
                  <div
                    class="py-3 w-100"
                    *ngIf="el.content">
      
                    <app-codemirror-hyperlambda [(model)]="el.content"></app-codemirror-hyperlambda>
      
                    <div class="d-flex justify-content-end align-items-center py-2">
      
                      <button
                        mat-raised-button
                        (click)="saveTest(el.filename, el.content.hyperlambda)">
                        Save
                      </button>
                      <div class="p-1"></div>
                      <button
                        mat-raised-button
                        (click)="deleteTest(el)">
                        Delete
                      </button>
                      <div class="p-1"></div>
                        <button
                          mat-raised-button
                          color="primary"
                          (click)="executeTest(el)">
                          Run
                        </button>
                      </div>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
    
          <tr
            mat-row
            [ngClass]="(expandedElement === el ? 'selected ' : '') + 'test-row'"
            class="expandable-row"
            (click)="expandedElement = expandedElement === el ? null : el; ensureTestContent(el)"
            mat-row *matRowDef="let el; columns: ['name', 'result'];"></tr>

          <tr mat-row *matRowDef="let el; columns: ['showDetails']" class="expanded-row"></tr>
    
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
