
<h1 mat-dialog-title>{{data.name}}</h1>

<div mat-dialog-content class="file-content">

  <div [innerHTML]="data.description | marked"></div>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <div *ngIf="!installed" class="purchase-info">
    You can purchase this module for €{{data.price}}
  </div>

  <button
    mat-raised-button
    *ngIf="!installed"
    color="primary"
    matTooltip="Click here to purchase the module"
    (click)="purchase()">Buy</button>

  <div *ngIf="installed" class="already-installed">
    You have already installed this module
  </div>

</div>
