
<div mat-dialog-content class="file-content">

  <div [innerHTML]="data.description | marked"></div>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <div *ngIf="!installed && canInstall && data.price > 0" class="purchase-info">
    Notice, we provide a 30 day money back guarantee
  </div>

  <div *ngIf="!installed && canInstall && data.price === 0" class="purchase-info">
    You can install this app for free
  </div>

  <button
    mat-raised-button
    *ngIf="!installed && canInstall"
    [disabled]="!authService.access.files.download_from_bazar"
    color="primary"
    matTooltip="Click here to purchase the module"
    (click)="purchase()">{{data.price === 0 ? 'Install' : 'Buy now'}}</button>

  <div *ngIf="installed" class="already-installed">
    You already own this module
  </div>

  <div *ngIf="needsCoreUpdate" class="needs-core-update">
    You need to update your Magic installation in order to install this app or module.
    <a target="_blank" href="https://polterguy.github.io">Click here to download the latest Magic version</a>.
  </div>

</div>
