
<div mat-dialog-content class="file-content">

  <div [innerHTML]="data.description | marked"></div>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <button
    [disabled]="hubConnection"
    mat-raised-button
    color="primary"
    (click)="purchase()">Purchase</button>

  <a
    [disabled]="!purchaseUrl || token"
    target="_blank"
    mat-raised-button
    color="primary"
    [href]="purchaseUrl">Pay</a>

  <button
    [disabled]="!token"
    mat-raised-button
    color="primary"
    (click)="install()">Install</button>

  <button
    mat-raised-button
    (click)="close()">Close</button>

</div>
