
<div class="meta-wrapper">

  <div class="meta-statistics">
    <strong matTooltip="Magic restarts over the last 2 weeks">Restarts</strong>
    <canvas
      *ngIf="restartData"
      baseChart
      chartType="bar"
      [data]="restartData" 
      [labels]="restartLabels" 
      [options]="pieOptions"
      [colors]="restartColors">
    </canvas>
  </div>

  <div class="meta-statistics">
    <strong matTooltip="Unhandled exceptions over the last 2 weeks">Exceptions</strong>
    <canvas
      *ngIf="unhandledData"
      baseChart
      chartType="bar"
      [data]="unhandledData" 
      [labels]="unhandledLabels" 
      [options]="pieOptions"
      [colors]="unhandledColors">
    </canvas>
  </div>

  <div class="meta-statistics">
    <strong matTooltip="Failed task executions over the last 2 weeks">Task failures</strong>
    <canvas
      *ngIf="taskData"
      baseChart
      chartType="bar"
      [data]="taskData" 
      [labels]="taskLabels" 
      [options]="pieOptions"
      [colors]="taskColors">
    </canvas>
  </div>

</div>
