
.meta-wrapper {
  margin-top: 5rem;
  min-height: 19rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 79rem;
  margin-left: auto;
  margin-right: auto;
  .meta-statistics {
    flex: 1;
    max-width: 21rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    strong {
      text-align: center;
      display: block;
      margin-bottom: .5rem;
      color: #aaa;
    }
  }
}
