

.endpoint-wrapper {
    padding:5rem 5rem 2rem 5rem;
}
.endpoints {
    width: 100%;
    table {
        width: 100%;
        tr {
            td:nth-child(1), th:nth-child(1) {
                width: 100%;
            }
            td:nth-child(2), th:nth-child(2) {
                width: 20px;
            }
        }
        tr.mat-row:hover {
            background-color: rgba(0,0,0,.1);
            cursor: pointer;
        }
    }
}

.active-wrapper {
    padding:0 5rem 2rem 5rem;
    .view-endpoint-card {
        min-height: 250px;
        .fill-width {
            width: 100%;
        }
        .right-aligned {
            text-align: right;
        }
    }
}

.result-wrapper {
    padding:0 5rem 2rem 5rem;
    .view-result-card {
        min-height: 250px;
        .fill-width {
            width: 100%;
        }
        .right-aligned {
            text-align: right;
        }
    }
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}
