
.mat-dialog-title {
  position: relative;
  .imported {
    font-style: italic;
    color: #aaa;
    font-size: .7rem;
    position: absolute;
    top: 0;
    right: .5rem;
  }
}
.dialog {
  .input-field {
    width: calc(50% - .5rem);
    margin-right: .5rem;
  }
}

.actions {
  .enabled-check {
    margin-right: .5rem;
  }
}

::ng-deep .CodeMirror-hints {
  position: fixed !important;
}
