
<h1 mat-dialog-title>{{data.id ? (data.readOnly ? 'Key ' + data.id : 'Edit key ' + data.id) : 'Import crypto key'}}</h1>

<div mat-dialog-content class="dialog">
  
  <mat-form-field style="width: 100%;">
    <textarea
      matInput
      placeholder="Key"
      matTooltip="Base64/DER encoded public key"
      [disabled]="data.id"
      rows="5"
      (change)="keyChanged()"
      [(ngModel)]="data.content">
    </textarea>
  </mat-form-field>

  <mat-form-field class="input-field">
    <input
      matInput 
      placeholder="Full name" 
      matTooltip="Full name of owner"
      [disabled]="data.readOnly"
      autocomplete="off" 
      [(ngModel)]="data.subject">
  </mat-form-field>

  <mat-form-field class="input-field">
    <input
      matInput 
      placeholder="Fingerprint" 
      autocomplete="off"
      disabled="true"
      [(ngModel)]="data.fingerprint">
  </mat-form-field>

  <mat-form-field class="input-field">
    <input
      matInput 
      placeholder="Email"
      matTooltip="Email address of owner"
      [disabled]="data.readOnly"
      autocomplete="off" 
      [(ngModel)]="data.email">
  </mat-form-field>

  <mat-form-field class="input-field">
    <input
      matInput 
      placeholder="Domain"
      matTooltip="Domain of owner"
      [disabled]="data.readOnly"
      autocomplete="off" 
      [(ngModel)]="data.domain">
  </mat-form-field>
  
  <ngx-codemirror
    *ngIf="!data.readOnly && initializedVocabulary"
    [(ngModel)]="data.vocabulary"
    class="smaller"
    [options]="getCodeMirrorOptions()"></ngx-codemirror>

  <div
    class="imported"
    matTooltip="Import date"
    *ngIf="!data.readOnly && data.id">
    {{getDate(data.imported)}}
  </div>
  
</div>

<div mat-dialog-actions class="actions">
  <div style="width:100%; text-align: right;">

    <mat-checkbox
      [disabled]="data.readOnly"
      matTooltip="Whether or not key is enabled on server or not"
      class="enabled-check"
      [(ngModel)]="data.enabled">Enabled</mat-checkbox>

    <button
      *ngIf="!data.readOnly"
      mat-raised-button
      color="primary"
      [disabled]="!data.fingerprint || !data.subject || data.subject === '' || !data.email || data.email === ''"
      [mat-dialog-close]="data">Save</button>

    <button
      mat-raised-button
      (click)="close()">Close</button>
      
  </div>
</div>
