<mat-card>
  <mat-card-content>

    <mat-tab-group
      mat-stretch-tabs
      dynamicHeight
      animationDuration="0ms"
      #tabs>

      <!-- Training data types -->
      <mat-tab>

        <ng-template mat-tab-label>
          Models
        </ng-template>

        <ng-template matTabContent>

          <app-machine-learning-types
            [(isConfigured)]="isConfigured"
            (trainModel)="trainModel($event)">
          </app-machine-learning-types>

        </ng-template>

      </mat-tab>

      <!-- Training snippets -->
      <mat-tab [disabled]="!isConfigured">

        <ng-template mat-tab-label>
          Training
        </ng-template>

        <ng-template matTabContent>

          <app-machine-learning-snippets>
          </app-machine-learning-snippets>

        </ng-template>

      </mat-tab>

      <!-- Requests -->
      <mat-tab [disabled]="!isConfigured">

        <ng-template mat-tab-label>
          Requests
        </ng-template>

        <ng-template matTabContent>

          <app-machine-learning-requests>
          </app-machine-learning-requests>

        </ng-template>

      </mat-tab>

    </mat-tab-group>

  </mat-card-content>
</mat-card>