
@import '../../../../../assets/styles/_variables/colors.scss';
@import '../../../../../assets/styles/_variables/mixin.scss';
@import '../../../../../assets/styles/_variables/sizing.scss';

// .scrollable-row {
//   max-height: 53vh;
//   overflow: auto;
//   @include general_transition(0.3s);
//   @include scrollbar(transparent, transparent, 7px);
//   &:hover {
//     @include scrollbar($aista_default_alt, $aista_default_grey4, 7px);
//   }
// }
.max-height-full {
  max-height: 53vh;
  min-height: 100%;
  overflow: hidden;
}
