
<div
  *ngIf="loaderService.isLoading | async"
  class="obscurer">
  <mat-spinner
    mode="indeterminate"
    diameter="50">
  </mat-spinner>
</div>

<mat-toolbar>
  <button
    mat-button
    matTooltip="Toggle navbar"
    (click)="toggleNavbar()">
    <mat-icon>menu</mat-icon>
    <span>[[name]]</span>
  </button>
  <span class="spacer"></span>
  <button
    *ngIf="!authService.me.isLoggedIn()"
    mat-icon-button
    matTooltip="Login"
    (click)="login()">
    <mat-icon>lock_open</mat-icon>
  </button>
  <button
    *ngIf="authService.me.isLoggedIn()"
    mat-icon-button
    matTooltip="Logout"
    (click)="logout()">
    <mat-icon>lock</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container mode="side">

  <mat-sidenav [(opened)]="sidenavOpened">
    <a
      mat-button
      routerLink="/"
      routerLinkActive="active-link"
      class="menu-item"
      (click)="closeNavigator()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>home</mat-icon>
      <span class="menu-item-text">Home</span>
    </a>
[[router-links]]
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet *ngIf="authService.hasEndpoints()"></router-outlet>
  </mat-sidenav-content>

<mat-sidenav-container>
