
.sidenav-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 1.2rem;
}

.login-button,
.logout-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    font-size: 1.2rem;
}

.ajax-wait {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

.sidenav-content {
    min-height: 100vh;
}
