<div class="row h-100 no-gutters">
    <div class="col-12 align-self-end">
        <div class="d-flex justify-content-between w-100 mt-4">
            <div>
                <h2 class="mb-0">{{data?.value?.name}}</h2>
                <p class="mt-0 text-muted">{{data?.value?.description}}
                    <small class="text-muted">(last 14 days)</small>
                </p>
            </div>
            <div>
                <button mat-icon-button
                    (click)="chartType === 'line' ? chartType = 'bar' : chartType = 'line';prepareChart()">
                    <mat-icon>{{chartType !== 'line' ? 'show' : 'bar'}}_chart</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <mat-card class="h-100">
            <mat-card-content class="h-100 p-0">
                <div echarts [options]="options" class="chart-size"></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>