
h1 {
  .warning-button {
    float: right;
    color: #e55 !important;
    margin-top: -.5rem;
    mat-icon {
      font-size: 2rem;
    }
  }
}

.mat-dialog-actions {
  float: right;
  mat-checkbox {
    margin-right: .5rem;
  }
}