<h1 mat-dialog-title>
  Login
  <button
    *ngIf="backendService.connected && backends.value.startsWith('http://')"
    mat-icon-button
    class="warning-button"
    matTooltip="Not secured"
    (click)="showSecurityWarning()">
    <mat-icon aria-label="Warning this will submit your password in clear text">warning</mat-icon>
  </button>
</h1>

<div mat-dialog-content>

  <mat-form-field class="fill-width">
    <input type="text"
      placeholder="Backend"
      aria-label="Choose backend"
      matInput
      [formControl]="backends"
      [matAutocomplete]="auto">
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="backendSelected()">
      <mat-option
        *ngFor="let el of filteredBackends | async"
        [value]="el">
        {{el}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="fill-width">
    <mat-label class="dark">Username</mat-label>
    <input
      matInput
      [(ngModel)]="username"
      autocomplete="off"
      placeholder="Username">
  </mat-form-field>

  <mat-form-field class="fill-width">
    <mat-label class="dark">Password</mat-label>
    <input
      matInput
      [(ngModel)]="password"
      [type]="hide ? 'password' : 'text'"
      autocomplete="off"
      placeholder="Password">
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

</div>

<div
  mat-dialog-actions
  class="mat-dialog-actions">

  <mat-checkbox
    aria-label="Save password"
    [(ngModel)]="savePassword">Save</mat-checkbox>

  <button
    mat-button
    [disabled]="username === '' || password === '' || backends.value === ''"
    aria-label="Login to the currently selected backend API"
    (click)="login()">Login</button>

</div>
