<h1 mat-dialog-title>Login</h1>

<div mat-dialog-content>

  <mat-form-field class="fill-width">
    <input type="text"
      placeholder="Backend"
      aria-label="Choose backend"
      matInput
      [formControl]="backends"
      [matAutocomplete]="auto">
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="backendChosen()">
      <mat-option
        *ngFor="let el of filteredBackends | async"
        [value]="el">
        {{el}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="fill-width">
    <mat-label>Username</mat-label>
    <input
      matInput
      [(ngModel)]="username"
      autocomplete="off"
      placeholder="Username">
  </mat-form-field>

  <mat-form-field class="fill-width">
    <mat-label>Password</mat-label>
    <input
      matInput
      [(ngModel)]="password"
      type="password"
      autocomplete="off"
      placeholder="Password">
  </mat-form-field>

</div>

<div
  mat-dialog-actions
  class="mat-dialog-actions">

  <mat-checkbox
    aria-label="Save password"
    [(ngModel)]="savePassword">Save</mat-checkbox>

  <button
    mat-button
    aria-label="Login to the currently selected backend API"
    (click)="login()">Login</button>

</div>
