
<mat-card>
  <h1>Magic Cloud</h1>
  <p>
    Welcome to Magic Cloud, a virtual cloud system and fifth generation programming platform,
    making it significantly easier to create modern web apps.
    To get started, click the question mark in the top right corner of this page, and watch the
    YouTube video, that will walk you through how to configure Magic initially.
    Each menu item will show a context sensitive tutorial video as you click the question mark,
    explaining the basic features for that particular page. 
  </p>
  <p>
    Notice, you will need a valid license
    for Magic, otherwise <strong>Magic will stop working after 47 hours</strong>. You can obtain
    and apply a license in the <em>"Configuration/License"</em> menu item, or buy one directly
    through <a target="_blank" href="https://servergardens.com/buy/">my website</a>.
  </p>
  <p class="copyright">
    Magic is the copyright of Thomas Hansen, thomas@servergardens.com and as of version 9.0.0 Open Source through to the bone :)  
  </p>
</mat-card>
