
h1 {
    text-align: center;
    margin-top: 3rem;
    small {
        font-size: .8rem;
        color: #aaa;
        font-weight: 300;
        margin-left: 1rem;
    }
}

.info-card {
    margin:2rem 5rem 2rem 5rem;
    padding: 3rem;
    margin-top: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.license-card {
    margin:2rem 5rem 2rem 5rem;
    padding: 3rem;
    margin-top: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    table {
        width: 100%;
        tr {
            td {
                width: 50%;
                padding-left: .25rem;
                padding-right: .25rem;
            }
            td:nth-child(1) {
                text-align: right;
                font-weight: bold;
            }
        }
        caption {
            margin-bottom: 2rem;
            font-weight: bold;
        }
    }
}

.copyright {
    margin: 3rem auto 5rem auto;
    text-align: center;
    font-size: 0.9rem;
    color:#aaaaaa;
    clear: both;
}
