
<h1>Magic Dashboard</h1>
<mat-card class="info-card">
  <img 
    src="../assets/thomas.jpg" 
    style="float:right; width:200px; margin-left: 1rem;margin-bottom:3rem;"
    alt="Thomas Hansen the author of Magic">
  <p>
    Magic is a CRUD backend generator built in ASP.NET Core. Its purpose is to
    allow you to <em>"magically"</em> do the boring stuff, by using automation techniques, creating
    80% of your CRUD endpoints, automatically wrapping your MySQL database - While you
    get to focus on the fun stuff. MS SQL Server will be supported soon.
  </p>
  <p>
    Although most of its source code is publicly available for academic reasons, Magic is
    not Open Source or Free Software - I do charge a fee for each server/hostname/DNS-record
    you want to run Magic on. Evaluating Magic and using it on your local development machine
    is free however. I also <strong>might</strong> give you a free license key, if you want
    to use Magic to create Free and Open Source Software.
    <a href="https://gaiasoul.com/license-magic/">Read more here</a>, or in its enclosed
    LICENSE file.
  </p>
  <p>
    If you represent an organisation or company that are actively and willingly
    violating United Nation's Declaration of Human Rights, I do not allow you to use Magic,
    neither for free, nor for a fee, and you must immediately stop using Magic, and delete all
    copies you have.
  </p>
  <p>
    Thomas Hansen - The creator of Magic
  </p>
  <div class="copyright">
    Copyright © Thomas Hansen, thomas@gaiasoul.com, all rights reserved -
    <a href="https://polterguy.github.io" target="_blank">Read more about Magic</a>
  </div>
</mat-card>
