
mat-card {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  h1 {
    text-align: center;
  }
  .buttons {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    button {
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;
      mat-icon {
        font-size: 45px;
        margin-left: -15px;
        margin-top: -10px;
        opacity: .5;
      }
      span {
        position: absolute;
        top: -.25rem;
        right: .35rem;
        font-size: .8rem;
        color:rgb(150,150,150);
      }
    }
    button:hover {
      box-shadow: 3px 3px 5px rgb(0,0,0,.5);
    }
  }
  .buttons:after {
    clear: both;
    display: table;
    content:'';
  }
  .copyright {
    display: block;
    text-align: center;
    color:#aaa;
    font-size: .8rem;
    margin-top: 2rem;
  }
}