<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between mb-1">

        <div class="d-flex align-items-center">
          <mat-card-title class="my-0">Frontend generator</mat-card-title>
          <div class="sm-icons">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
              <mat-icon>help_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div class="p-3">
                <p>
                  Automatically generate a frontend based upon your existing HTTP endpoints, and have
                  Magic automatically create a complete frontend for you.
                </p>
                <div class="d-flex justify-content-end">
                  <a target="_blank" href="https://docs.aista.com/documentation/magic/components/crudifier/frontend/" mat-stroked-button>Learn more</a>
                </div>
              </div>
            </mat-menu>
          </div>
        </div>

        <div>
          <mat-slide-toggle
            [(ngModel)]="deployLocally"
            labelPosition="before">
            Deploy locally
          </mat-slide-toggle>
        </div>

      </div>

      <mat-card-subtitle>Generate an Angular frontend</mat-card-subtitle>

      <mat-card-content>
        <div class="d-flex flex-sm-nowrap flex-wrap mt-4 w-100">
          <mat-form-field
            class="w-100"
            matTooltip="The name of your app"
            appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [(ngModel)]="name">
          </mat-form-field>

          <div class="p-1"></div>

          <mat-form-field
            class="w-100"
            matTooltip="Type of template you want to use"
            appearance="outline">
            <mat-label>Template</mat-label>
            <mat-select
              [(ngModel)]="template"
              (selectionChange)="templateChanged()">
              <mat-option
                *ngFor="let idx of templates"
                [value]="idx">{{idx}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="p-1"></div>

          <mat-form-field
            class="w-100 form-field-double"
            matTooltip="Common file comment for all files that can be commented"
            appearance="outline">
            <mat-label>Copyright</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [(ngModel)]="copyright">
          </mat-form-field>

        </div>
        
        <h3 *ngIf="template" class="mt-4">Deployment settings</h3>
        
        <div class="d-flex flex-sm-nowrap flex-wrap w-100">

          <mat-form-field
            *ngIf="template"
            class="w-100"
            matTooltip="Root API URL of the backend you intend to use for your app"
            appearance="outline">
            <mat-label>API URL</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [(ngModel)]="apiUrl">
          </mat-form-field>

          <div class="p-1"></div>

          <mat-form-field
            *ngIf="template"
            class="w-100"
            matTooltip="Needed to wire up docker-compose file correctly with your deployment domain/URL"
            appearance="outline">
            <mat-label>Deployment domain</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [(ngModel)]="frontendUrl">
          </mat-form-field>

          <div class="p-1"></div>

          <mat-form-field
            *ngIf="template"
            class="w-100"
            matTooltip="Needed to wire up docker-compose file correctly for creating SSL/TLS certificate from LetsEncrypt"
            appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              autocomplete="off"
              [(ngModel)]="email" [email]="true">
          </mat-form-field>

        </div>
        <div class="d-flex justify-content-end">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!template || name === '' || apiUrl === '' || frontendUrl === '' || !validateEmail()"
            (click)="generate()">
            Generate
          </button>
        </div>
        
      </mat-card-content>
    </mat-card>
  </div>
</div>