/*=-=-=-=-=-=
card
=-=-=-=-=-=*/
:root .mat-card {
  border-radius: $aista_radius;
  padding: 30px;
}

:root .mat-dialog-container {
  padding: 30px;
}

/*=-=-=-=-=-=
table
=-=-=-=-=-=*/
.borderless {

  th.mat-header-cell,
  td.mat-cell {
    padding-right: 8px;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border: none;
  }

  tr.mat-header-row {
    height: 35px;
  }

  tr.mat-row,
  tr.mat-footer-row {
    height: 40px;
  }

  button {
    font-size: 13px;
  }
}

.hoverable {
  tr.mat-row {
    @include general_transition(0.3s);

    &:hover {
      background-color: transparentize($color: $aista_default_alt, $amount: 0.5);
    }
  }
}

/*=-=-=-=-=-=
codemirror
=-=-=-=-=-=*/
.CodeMirror {
  border-radius: 5px;
  background-color: #faf8f3 !important;
  border: solid 1px rgba(0,0,0,.1);
}

.CodeMirror-scroll {
  overflow: auto !important;
  padding-bottom: 30px;
  margin-bottom: 0;
  max-height: 100%;
}

div.CodeMirror-selected {
  background: transparentize($color: $aista_info, $amount: 0.85);
}

.CodeMirror-line::selection,
.CodeMirror-line>span::selection,
.CodeMirror-line>span>span::selection {
  background: transparentize($color: $aista_info, $amount: 0.85);
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line>span::-moz-selection,
.CodeMirror-line>span>span::-moz-selection {
  background: transparentize($color: $aista_info, $amount: 0.85);
}

.CodeMirror-gutters {
  background: #fefefe;
  border-right: 0px;
  border-top-left-radius: $aista_radius;
  border-bottom-left-radius: $aista_radius;
}

.CodeMirror-guttermarker {
  color: white;
}

.CodeMirror-guttermarker-subtle {
  color: grey;
}

.CodeMirror-linenumber {
  color: #91828f;
}

.CodeMirror-cursor {
  border-left: 1px solid #21121f;
}

span.cm-comment {
  color: #95958a;
}

span.cm-atom {
  color: #00a8c6;
}

span.cm-number {
  color: #00a8c6;
}

span.cm-property,
span.cm-attribute {
  color: #3893a1;
}

span.cm-keyword {
  color: #a77106;
}

span.cm-string {
  color: #3893a1;
}

span.cm-string.cm-property {
  color: #41412f;
}

span.cm-variable {
  color: #913ca1;
}

span.cm-variable-2 {
  color: #a77106;
}

span.cm-def {
  color: #02803a;
}

span.cm-bracket {
  color: #a77106;
  font-weight: bold;
}

span.cm-tag {
  color: #037688;
}

span.cm-link {
  color: #f54b07;
}

span.cm-error {
  border-bottom: #636363;
  color: #d64f10;
}

span.cm-qualifier {
  color: #646452;
}

.CodeMirror-activeline-background {
  border-top: 1px solid transparentize($color: $aista_default_grey4, $amount: 0.75);
  border-bottom: 1px solid transparentize($color: $aista_default_grey4, $amount: 0.75);
  background: transparentize($color: $aista_default_grey4, $amount: 0.95);
}

.CodeMirror-matchingbracket {
  color: #ffb928 !important;
}

.CodeMirror-matchingtag {
  background: rgba(255, 255, 255, .37);
}

.CodeMirror-hints {
  position: absolute;
  z-index: 10000;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 2px;
  -webkit-box-shadow: 2px 3px 5px transparentize($color: $aista_dark, $amount: 0.8);
  -moz-box-shadow: 2px 3px 5px transparentize($color: $aista_dark, $amount: 0.8);
  box-shadow: 2px 3px 5px transparentize($color: $aista_dark, $amount: 0.8);
  border-radius: 3px;
  color: $aista_dark;
  background-color: #b29762;
  font-size: 90%;
  font-family: monospace;
  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: $aista_primary;
  color: white;
}

.CodeMirror-dialog-top {
  background-color: $aista_default_grey4;
}

app-dashboard>div {
  margin-bottom: -1.5rem;
}

/*=-=-=-=-=-=
accordion
=-=-=-=-=-=*/
.mat-expansion-panel-header.mat-expanded {
  height: 48px;
}

.custom-height-header {
  .mat-expansion-indicator {
    margin-right: 5px;
  }

  .mat-expanded .mat-expansion-indicator {
    margin-top: 10px;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }
}

/*=-=-=-=-=-=
dialog
=-=-=-=-=-=*/
.mat-dialog-content {
  @include scrollbar($aista_default_alt, $aista_default_grey4, 3px);
}

@media(max-width: 576px) {
  .cdk-overlay-pane {
    max-height: 78vh;
    margin-bottom: 12vh;
  }

  .mat-dialog-content {
    max-height: unset !important;
    overflow: unset !important;
  }
}

/*=-=-=-=-=-=
radio button
=-=-=-=-=-=*/
.card-radio {
  .mat-radio-label-content {
    width: 100%;

    @media (max-width: 576px) {
      img {
        max-width: 32px;
      }
    }

    @media (max-width: 335px) {
      font-size: 11px;
      padding-left: 0;

      img {
        margin-right: -0.5rem
      }
    }
  }
}

.plan-box {
  .mat-radio-label {
    white-space: unset;
  }
}

/*=-=-=-=-=-=
tab
=-=-=-=-=-=*/
.mat-tab-label-active {
  color: $aista_primary;
}

.mat-tab-label {
  font-weight: 600;
  font-size: clamp(13px, 2vw, 14px);

  &:not(.mat-tab-disabled) {
    opacity: 1;
  }
}