
pre {
  color: #fafafa;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.2);
  height: auto;
  min-height: 350px;
  max-height: 350px;
  margin: 0;
  text-wrap:wrap;
  padding: 1rem;
  overflow: auto;
}
