
mat-card.login {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: background-color 5000s, color 5000s;
}
.full-width-field {
    width: 100%;
 }

 .right-aligned-content {
    text-align: right;
 }
