
<!-- Execute macro -->
<button
    mat-menu-item
    [matTooltip]="'Execute a macro in \'' + activeFolder + '\' [ALT+O]'"
    matTooltipPosition="before"
    (click)="selectMacro()">
    <mat-icon>model_training</mat-icon>
    Macro
</button>

<!-- New file -->
<button
    mat-menu-item
    [disabled]="!backendService.active?.access.files.create_file"
    color="primary"
    [matTooltip]="'Create a new file in \'' + activeFolder + '\' [ALT+A]'"
    matTooltipPosition="before"
    (click)="createNewFileObject('file')">
    <mat-icon class="material-icons-outlined">note_add</mat-icon>
    New file
</button>

<!-- New folder -->
<button
  mat-menu-item
  [disabled]="!backendService.active?.access.files.create_folder"
  color="primary"
  [matTooltip]="'Create a new folder in \'' + activeFolder + '\' [ALT+B]'"
    matTooltipPosition="before"
  (click)="createNewFileObject('folder')">
  <mat-icon class="material-icons-outlined">create_new_folder</mat-icon>
  New folder
</button>

<!-- Upload file -->
<button
    mat-menu-item
    (click)="file.click()"
    [matTooltip]="'Upload a file to \'' + activeFolder + '\''"
    matTooltipPosition="before">
    <mat-icon class="material-icons-outlined">file_upload</mat-icon>
    Upload file
</button>
<input
    type="file"
    [(ngModel)]="fileInput"
    #file
    multiple
    class="d-none"
    (change)="uploadFiles($event.target.files)">

<!-- Download folder -->
<button
    mat-menu-item
    [disabled]="!activeFolder"
    [matTooltip]="'Download \'' + activeFolder + '\' as a zip file'"
    matTooltipPosition="before"
    (click)="downloadActiveFolder()">
    <mat-icon class="material-icons-outlined">cloud_download</mat-icon>
    Download folder
</button>

<!-- Rename folder -->
<button
    mat-menu-item
    [disabled]="!backendService.active?.access.files.rename || activeFolder === '/'"
    [matTooltip]="'Rename folder \'' + activeFolder + '\' [ALT+L]'"
    matTooltipPosition="before"
    (click)="renameActiveFolder()">
    <mat-icon class="material-icons-outlined"> drive_file_rename_outline </mat-icon>
    Rename
</button>

<!-- Delete folder -->
<button
    [disabled]="!backendService.active?.access.files.delete_folder || activeFolder === '/'"
    mat-menu-item
    [matTooltip]="'Delete folder \'' + activeFolder + '\' [ALT+X]'"
    matTooltipPosition="before"
    (click)="deleteActiveFolder()">
    <mat-icon class="material-icons-outlined">delete</mat-icon>
    Delete
</button>
