

.endpoint-wrapper {
    padding:2rem 5rem 2rem 5rem;
    .endpoints {
        margin-top: 2rem;
        padding: 5rem;
        position: relative;
        .absolutize {
            position: absolute;
            top: 3rem;
            left: 3rem;
        }
        table {
            width: 100%;
            tr {
                td:nth-child(1), th:nth-child(1) {
                    width: 70%;
                }
                td:nth-child(2), th:nth-child(2) {
                    width: 10%;
                }
                td:nth-child(3), th:nth-child(3) {
                    width: 10%;
                }
                td:nth-child(4), th:nth-child(4) {
                    width: 80px;
                }
            }
            tr.highlight {
                background-color: rgba(0,0,0,.1);
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
                cursor: pointer;
            }
            tr.has-details:hover {
                background-color: rgb(255,255,255);
            }
            tr.no-details {
                display: none;
            }
            tr.has-details td {
                .active-wrapper {
                    padding:2rem 0 2rem 0;
                    .view-endpoint-card {
                        padding-top: 1rem;
                        position: relative;
                        .fill-width {
                            width: 100%;
                        }
                        .right-aligned {
                            text-align: right;
                        }
                        .argument-list {
                            list-style: none;
                            li {
                                background-color: rgba(0,0,0,.1);
                                display: block;
                                float: left;
                                margin-right: .5rem;
                                margin-bottom: .5rem;
                                padding: .5rem;
                                min-width: 10rem;
                                cursor: pointer;
                                border-radius: 5px;
                                strong {
                                    margin-right: .5rem;
                                }
                            }
                        }
                    }
                }
                
                .result-wrapper {
                    padding:0 5rem 2rem 5rem;
                    .view-result-card {
                        min-height: 250px;
                        .fill-width {
                            width: 100%;
                        }
                        .right-aligned {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

.fill-width {
    width: 100%;
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}
