

.endpoint-wrapper {
    padding:2rem 5rem 2rem 5rem;
    .endpoints {
        margin-top: 2rem;
        padding: 5rem;
        position: relative;
        .absolutize {
            position: absolute;
            top: 3rem;
            left: 3rem;
        }
        table {
            width: 100%;
            tr {
                td:nth-child(1), th:nth-child(1) {
                    width: 80%;
                }
                td:nth-child(2), th:nth-child(2) {
                    width: 20%;
                }
                td:nth-child(3), th:nth-child(3) {
                    width: 40px;
                }
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
                cursor: pointer;
            }
        }
    }
}

.fill-width {
    width: 100%;
}

.active-wrapper {
    padding:0 5rem 2rem 5rem;
    .view-endpoint-card {
        padding-top: 3rem;
        position: relative;
        .fill-width {
            width: 100%;
        }
        .right-aligned {
            text-align: right;
        }
        .active-verb {
            position: absolute;
            top: .5rem;
            right: .5rem;
            padding: .5rem 1.5rem .5rem 1.5rem;
            background-color: rgba(128,255,128,.2);
            border-radius: .25rem;
            font-weight: bold;
        }
    }
}

.result-wrapper {
    padding:0 5rem 2rem 5rem;
    .view-result-card {
        min-height: 250px;
        .fill-width {
            width: 100%;
        }
        .right-aligned {
            text-align: right;
        }
    }
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}
