

.endpoint-wrapper {
    padding:2rem 5rem 2rem 5rem;
    .generate-args {
        .app-name {
            margin-right: 2rem;
            width: 10rem;
        }
        .generate-template {
            margin-right: 2rem;
        }
        .generate-copyright {
            margin-right: 2rem;
            width: 20rem;
        }
    }
    .description {
        margin-top: 2rem;
        margin-bottom: 4rem;
        padding: 3rem 5rem 3rem 5rem;
    }
    .endpoints {
        margin-top: 2rem;
        padding: 5rem;
        position: relative;
        .show-system-endpoints-button {
            position: absolute;
            top: 2rem;
            left: 2rem;
        }
        .absolutize {
            position: absolute;
            top: 3rem;
            left: 3rem;
        }
        table {
            table-layout: fixed;
            width: 100%;
            caption {
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-weight: bold;
            }
            tr {
                th {
                    button {
                        width: 100%;
                        text-align: left;
                        mat-icon {
                            float: right;
                            margin-top: .35rem;
                        }
                    }
                }
                td {
                    user-select: none;
                }
                td:nth-child(1), th:nth-child(1) {
                    width: 50%;
                }
                td:nth-child(2), th:nth-child(2) {
                    width: 10%;
                }
                td:nth-child(3), th:nth-child(3) {
                    width: 10%;
                }
                td:nth-child(4), th:nth-child(4) {
                    width: 10%;
                }
                td:nth-child(5), th:nth-child(5) {
                    width: 10%;
                }
                td:nth-child(6), th:nth-child(6) {
                    width: 80px;
                    text-align: right;
                }
            }
            tr.highlight {
                background-color: rgba(0,0,0,.1);
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
                cursor: pointer;
            }
            tr.has-details:hover {
                background-color: rgb(255,255,255);
                cursor: auto;
            }
            tr.no-details {
                display: none;
            }
            tr.has-details td {
                padding: 0;
                .active-wrapper {
                    padding:3rem 0 4rem 0;
                    margin-top: 2rem;
                    margin-bottom: 4rem;
                    position: relative;
                    .view-endpoint-card {
                        padding:1rem 4rem 0 4rem;
                        .endpoint-description {
                            position: absolute;
                            top: 1rem;
                            right: 3rem;
                            font-style: italic;
                            color:#999;
                        }
                        .query-params-wrapper {
                            .query-params {
                                width: 100%;
                            }
                        }
                        .right-aligned {
                            text-align: right;
                            margin-top: 1rem;
                            button {
                                min-width: 100px;
                            }
                        }
                        .argument-list {
                            list-style: none;
                            padding: 0;
                            li {
                                border-color: rgba(0,0,0,.3);
                                background-color: rgba(0,0,0,.1);
                                display: block;
                                float: left;
                                margin-right: .5rem;
                                margin-bottom: .5rem;
                                padding: .5rem;
                                min-width: 10rem;
                                cursor: pointer;
                                border-radius: 5px;
                                strong {
                                    margin-right: .5rem;
                                }
                            }
                            li:hover, li:active {
                                background-color: rgba(0,0,0,.2);
                            }
                        }
                    }
                }
                .view-result-card {
                    padding:1rem 4rem 0 4rem;
                    min-height: 250px;
                    margin-top: 1rem;
                }
                .view-image-result-card {
                    padding:1rem 4rem 0 4rem;
                    margin-top: 1rem;
                    img {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        max-width: 100%;
                    }
                }
            }
            tr.selected td {
                border-bottom: none;
                font-style: italic;
            }
        }
        .right-aligned {
            text-align: right;
            margin-top: 2rem;
        }
    }
}

.fill-width {
    width: 100%;
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}
