
<div class="endpoint-wrapper">

  <mat-form-field class="fill-width">
    <input 
      matInput 
      [placeholder]="getFilterText()"
      type="text" 
      [(ngModel)]="filter">
  </mat-form-field>

  <div class="mat-elevation-z4 endpoints">

    <label class="absolutize">
      <mat-checkbox [(ngModel)]="showSystemEndpoints">Show system endpoints</mat-checkbox>
    </label>

    <table
      mat-table
      multiTemplateDataRows
      [dataSource]="getFilteredEndpoints()">

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>URL</th>
        <td mat-cell *matCellDef="let el">{{el.endpoint.path}}</td>
      </ng-container>

      <ng-container matColumnDef="auth">
        <th mat-header-cell *matHeaderCellDef>Auth</th>
        <td mat-cell *matCellDef="let el">{{concatenateAuth(el.endpoint.auth)}}</td>
      </ng-container>

      <ng-container matColumnDef="verb">
        <th mat-header-cell *matHeaderCellDef>Verb</th>
        <td mat-cell *matCellDef="let el">{{el.endpoint.verb}}</td>
      </ng-container>

      <ng-container matColumnDef="crud">
        <th mat-header-cell *matHeaderCellDef>CRUD</th>
        <td mat-cell *matCellDef="let el">{{getCrudType(el.endpoint.type)}}</td>
      </ng-container>

      <ng-container matColumnDef="details">
        <td
          mat-cell
          *matCellDef="let el"
          colspan="4">
          <div 
            *ngIf="el.extra !== null && el.extra.visible"
            class="active-wrapper">

            <div class="view-endpoint-card">

              <p class="endpoint-description">{{getDescription(el.endpoint)}}</p>

              <div
                *ngIf="!el.extra.isJsonArguments">
                <ul class="argument-list">
                  <li 
                    *ngFor="let idx of el.extra.queryParameters" 
                    (click)="argumentClicked(el, idx.name)"
                    role="button">
                    <strong>{{idx.name}}</strong><small>{{idx.type}}</small>
                  </li>
                </ul>
              </div>

              <div
                class="query-params-wrapper"
                *ngIf="el.extra.queryParameters.length > 0">
                <mat-form-field
                  *ngIf="!el.extra.isJsonArguments"
                  class="query-params">
                  <input 
                    matInput 
                    placeholder="Query parameters to your endpoint"
                    type="text" 
                    class="query-params"
                    [(ngModel)]="el.extra.arguments"
                    autocomplete="off"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false">
                </mat-form-field>
              </div>

              <ngx-codemirror 
                *ngIf="el.extra.isJsonArguments"
                [(ngModel)]="el.extra.arguments"
                class="smaller"
                [options]="{
                  lineNumbers: true,
                  theme: 'material',
                  mode: 'application/ld+json'
                }"></ngx-codemirror>

              <div class="right-aligned">
                <button 
                  mat-raised-button 
                  matTooltip="Evaluates the endpoint with the specified parameters/payload" 
                  (click)="evaluate(el)">{{el.endpoint.verb}}</button>
              </div>

            </div>

            <div
              class="view-result-card"
              *ngIf="el.extra.endpointResult">

              <ngx-codemirror 
                [(ngModel)]="el.extra.endpointResult" 
                class="smaller"
                [options]="{
                  lineNumbers: true,
                  theme: 'material',
                  mode: 'application/ld+json'
                }"></ngx-codemirror>

            </div>

          </div>
        </td>
      </ng-container>
      
      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
      <tr 
        mat-row
        (click)="selectEndpoint(row)"
        [ngClass]="getClassForRow(row)"
        *matRowDef="let row; columns: displayedColumns;"
        title="{{getDescription(row.endpoint)}}"></tr>
      <tr
        mat-row
        [ngClass]="getClassForDetails(row)"
        *matRowDef="let row; columns: displayedSecondRowColumns; "></tr>

    </table>
  </div>
</div>
