
<div class="endpoint-wrapper">
  <mat-form-field class="fill-width">
    <input 
      matInput 
      placeholder="Filter your endpoints"
      type="text" 
      [(ngModel)]="filter">
  </mat-form-field>

  <div class="mat-elevation-z4 endpoints">

    <label class="absolutize">
      <mat-checkbox [(ngModel)]="showSystemEndpoints">Show system endpoints</mat-checkbox>
    </label>

    <table mat-table [dataSource]="getFilteredEndpoints()">

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>URL</th>
        <td mat-cell *matCellDef="let el" (click)="selectEndpoint(el)">{{el.path}}</td>
      </ng-container>

      <ng-container matColumnDef="auth">
          <th mat-header-cell *matHeaderCellDef>Auth</th>
          <td mat-cell *matCellDef="let el" (click)="selectEndpoint(el)">{{concatenateAuth(el.auth)}}</td>
        </ng-container>

        <ng-container matColumnDef="verb">
            <th mat-header-cell *matHeaderCellDef>Verb</th>
            <td mat-cell *matCellDef="let el" (click)="selectEndpoint(el)">{{el.verb}}</td>
          </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>

<div class="active-wrapper" *ngIf="selected != null">

  <mat-card class="mat-elevation-z4 view-endpoint-card">
 
    <h3>{{selected.url}}</h3>

    <div class="active-verb">{{selected.verb}}</div>

    <mat-form-field *ngIf="!isJsonArguments" class="fill-width">
      <input 
        matInput 
        placeholder="Query parameters to your endpoint"
        type="text" 
        [(ngModel)]="arguments">
    </mat-form-field>

    <ngx-codemirror 
      *ngIf="isJsonArguments"
      [(ngModel)]="arguments" 
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'application/ld+json'
      }"></ngx-codemirror>

    <div class="right-aligned">
      <button 
        mat-button 
        matTooltip="Evaluates the endpoint with the specified parameters/payload" 
        (click)="evaluate()">Evaluate</button>
    </div>

  </mat-card>

</div>

<div class="result-wrapper" *ngIf="endpointResult">

  <mat-card class="mat-elevation-z4 view-result-card">

    <ngx-codemirror 
      [(ngModel)]="endpointResult" 
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'application/ld+json'
      }"></ngx-codemirror>

  </mat-card>

</div>
