
/*
 * Default CSS style for OpenAI chat inclusion.
 */
.grecaptcha-badge {
  opacity:0;
}
.aista-chat-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 8px;
  background-color: #0084ff;
  border: none;
  padding: 15px;
  font-size: 16px;
  z-index: 9999;
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0,0,0,.5);
  border: solid 1px #0080eb;
  font-family: Helvetica;
  font-weight: normal;
  text-align: center;
  text-decoration: none !important;
}
.aista-chat-btn:hover {
  text-decoration: none !important;
}
.aista-chat-wnd {
  position: fixed;
  z-index: 10000;
  bottom: 10px;
  right: 10px;
  width: 350px;
  max-width: calc(100% - 20px);
  background-color: #fafafa;
  border-radius: 8px;
  border: solid 1px #999;
  box-shadow: 2px 2px 15px rgba(0,0,0,.8);
  display: none;
}
.aista-chat-header {
  font-size: 12px;
  margin: 18px 20px 15px 12px;
  color: rgb(128,128,128);
}
.aista-chat-close-btn {
  border-radius: 8px;
  background-color: #0084ff;
  border: none;
  padding: 8px 12px;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}
.aista-chat-close-btn:hover,
.aista-chat-close-btn:active,
.aista-chat-close-btn:focus {
  outline: none;
}
.aista-chat-msg-container {
  height: 300px;
  margin: 0 10px;
  background-color: rgb(240,240,255);
  border-radius: 5px;
  padding: 15px;
  border: solid 1px rgba(0,0,0,.2);
  overflow-y: auto;
  font-size: 12px;
}
@keyframes aista-chat-question-waiting {
  0% { margin-left:-10px; opacity: 0; color: rgb(128,128,0); }
  10% { margin-left:-10px; opacity: 0; color: rgb(128,128,0); }
  23% { margin-left:0px; opacity: 1; color: rgb(128,128,128); }
  50% { margin-left:0px; opacity: 1; color: rgb(128,128,128); }
  65% { margin-left:0px; opacity: 1; color: rgb(128,128,128); }
  100% { margin-left:-10px; opacity: 0; color: rgb(128,128,0); }
}
.aista-chat-question-waiting {
  animation-name: aista-chat-question-waiting;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
.aista-chat-question {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
.aista-chat-error {
  background-color: rgb(255,230,230);
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}
.aista-chat-answer {
  margin-bottom: 20px;
}
.aista-chat-form {
  padding: 10px;
}
.aista-chat-prompt {
  padding: 10px;
  border-radius: 8px;
  border: solid 1px rgba(0,0,0,.2);
  outline: none;
  width: 100%;
}
.aista-chat-prompt::placeholder {
  color: rgb(180,181,188);
}
