
/*
 * NuoMorphism CSS style for OpenAI chat inclusion.
 */
.grecaptcha-badge {
  opacity:0;
}
.aista-chat-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 8px 15px;
  font-size: 14px;
  z-index: 9999;
  cursor: pointer;
  font-family: Helvetica;
  font-weight: normal;
  text-align: center;
  text-decoration: none !important;
  background-color: rgb(230, 231, 238);
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  color: rgba(0, 0, 0, .87);
  transition-property: box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  border: .0625rem solid #d1d9e6;
  border-radius: 5px;
}
.aista-chat-btn:hover {
  text-decoration: none !important;
  box-shadow: 1px 1px 2px #b8b9be, -3px -3px 6px #fff;
  transition: box-shadow;
  transition-duration: .25s;
}
.aista-chat-wnd {
  background-color: rgb(230, 231, 238) !important;
  position: fixed;
  z-index: 10000;
  bottom: 10px;
  right: 10px;
  width: 350px;
  max-width: calc(100% - 20px);
  display: none;
  background-color: #fafafa;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  border: .0625rem solid #d1d9e6;
  border-radius: 5px;
  overflow: hidden;
}
@keyframes aista-fade-in {
  0% { opacity: 0; color: rgb(255,255,0); }
  50% { color: rgb(225,225,0) }
  100% { opacity: 1; color: rgb(128,128,128); }
}
.aista-chat-header {
  font-size: 12px;
  margin: 18px 20px 15px 12px;
  color: rgb(128,128,128);
  animation-name: aista-fade-in;
  animation-duration: .75s;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
}
.aista-chat-close-btn {
  border-radius: 8px;
  border: none;
  padding: 5px 9px;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  border: .0625rem solid #d1d9e6;
  border-radius: 5px;
  transition: box-shadow;
  transition-duration: .25s;
}
.aista-chat-close-btn:hover,
.aista-chat-close-btn:active,
.aista-chat-close-btn:focus {
  outline: none;
  box-shadow: 1px 1px 2px #b8b9be, -3px -3px 6px #fff;
  transition: box-shadow;
  transition-duration: .25s;
}
.aista-chat-msg-container {
  height: 300px;
  margin: 0 10px;
  padding: 15px;
  overflow-y: auto;
  font-size: 12px;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  background-color: rgb(230, 231, 238);
  border-radius: 5px;
}
@keyframes aista-chat-question-waiting {
  0% { opacity: .5; color: rgb(128,128,0); }
  10% { opacity: .5; color: rgb(128,128,0); }
  23% { opacity: 1; color: rgb(128,128,128); }
  50% { opacity: 1; color: rgb(128,128,128); }
  65% { opacity: 1; color: rgb(128,128,128); }
  100% { opacity: .5; color: rgb(128,128,0); }
}
.aista-chat-question-waiting {
  animation-name: aista-chat-question-waiting;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
.aista-chat-question {
  color: #555;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
.aista-chat-error {
  background-color: rgb(255,230,230);
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}
.aista-chat-answer {
  margin-bottom: 20px;
}
.aista-references-list {
  padding-left: 10px;
}
.aista-references-list li {
  list-style: none;
  margin-top: 5px;
}
@keyframes aista_fade_in {
  0% {
    margin-left: -100px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
.aista-references-list li {
  margin-left: -100px;
  opacity: 0;
  list-style: none;
  margin-top: 5px;
  animation-name: aista_fade_in;
  animation-duration: .75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.aista-references-list li:nth-child(1) {
  animation-delay: 0s;
}
.aista-references-list li:nth-child(2) {
  animation-delay: .25s;
}
.aista-references-list li:nth-child(3) {
  animation-delay: .5s;
}
.aista-references-list li:nth-child(4) {
  animation-delay: .75s;
}
.aista-references-list li:nth-child(5) {
  animation-delay: 1s;
}
.aista-references-list li:nth-child(6) {
  animation-delay: 1.25s;
}
.aista-references-list li:nth-child(7) {
  animation-delay: 1.5s;
}
.aista-references-list li:nth-child(8) {
  animation-delay: 1.75s;
}
.aista-references-list li:nth-child(9) {
  animation-delay: 2s;
}
.aista-references-list li:nth-child(10) {
  animation-delay: 2.25s;
}
.aista-references-list li a {
  text-decoration: none;
  color: rgb(128,128,255);
}
.aista-chat-prompt {
  padding: 10px;
  width: 100%;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  background-color: rgb(230, 231, 238);
  border-radius: 5px;
  outline: none;
  border: none;
}
.aista-chat-form {
  padding: 10px;
  margin: 0;
}
.aista-chat-prompt {
  padding: 10px;
  width: 100%;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  background-color: rgb(230, 231, 238);
  border-radius: 5px;
  outline: none;
  border: none;
  box-sizing: border-box;
}
.aista-chat-prompt::placeholder {
  color: rgb(180,181,188);
}
