@import '../../../../assets/styles/colour.scss';
@import '../../../../assets/styles/mixin.scss';

::ng-deep {
  .intro-panel {
    .mat-dialog-content {height: 84%;overflow: hidden auto;}
    .mat-tab-group {
      flex-direction: column-reverse;
      height: 100%;
      .mat-tab-label {
        height: unset;
        min-width: unset;
        padding: 0;
        background-color: transparent!important;
      }
      .mat-tab-header {
        border: none;
        margin-bottom: 0;
        // .mat-icon {
        //   color: $magic_primary;
        // }
        .mat-tab-label-active {
          opacity: 1;
          .mat-icon {
            color: $magic_primary;
            &::after {
              content: ' ';
              position: absolute;
              top: 9px;
              bottom: 9px;
              right: 9px;
              left: 9px;
              background: $magic_default;
              border-radius: 100%;
            }
          }
        }
      }
      .mat-ink-bar {display: none;}
      .mat-tab-body-wrapper {
        height: 100%;
      }
      .mat-tab-body-content {
        @include scrollbar($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),3px);
      }
    }

  }
  .dark .intro-panel .guide-title {color: $magic_accent_lighter;}
}

.bg-img {
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  opacity: 0.7;
  &.slide-1 {
    background-image: url('/assets/images/screenshots/db.jpg');
  }
  &.slide-2 {
    background-image: url('/assets/images/screenshots/crud.jpg');
  }
  &.slide-3 {
    background-image: url('/assets/images/screenshots/frontend-generator.jpg');
  }
  &.slide-4 {
    background-image: url('/assets/images/screenshots/sql.jpg');
  }
}

.guide-title {
  font-size: 28px;
  line-height: 35px;
  color: $magic_primary;
}
