<h1 mat-dialog-title>Welcome to Magic</h1>
<div mat-dialog-content>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>

      <div class="d-flex flex-sm-row flex-column h-100 align-items-center pb-5">
        <div class="w-100 h-100 slide-1 bg-img p-5"></div>
        <div class="p-4"></div>
        <div class="w-100">
          <h2 class="mb-4 guide-title">1. Install a plugin database</h2>
          <p class="mat-subheading-1">
            If you're new to Magic, you'd probably like to start with some safe moves towards
            generating your CRUD backend. As the first step let's install a new database as a plugin. Go to plugins and install
            the <strong>SQLite Chinook DB plugin</strong>.
          </p>
          <p class="mat-subheading-1 mb-5">
            You can also connect to your existing database from the "Management"/"Configuration" menu.
          </p>
          <button
            mat-stroked-button
            color="accent"
            routerLink="/plugins">Go to Plugins</button>
        </div>
      </div>
      <ng-template mat-tab-label #first>
        <mat-icon>fiber_manual_record</mat-icon> {{first.isActive}}
      </ng-template>
    </mat-tab>

    <mat-tab>
      <div class="d-flex flex-sm-row flex-column h-100 align-items-center pb-5">
        <div class="w-100 h-100 slide-2 bg-img p-5"></div>
        <div class="p-4"></div>
        <div class="w-100">
          <h2 class="mb-4 guide-title">2. Generate CRUD endpoints</h2>
          <p class="mat-subheading-1">
            To generate a CRUD backend, select the newly installed database in the CRUD Generator,
            then click <em>"CRUDify all tables"</em>. When you are done creating your backend API you can go to
            <em>"Management"/"Endpoints"</em> to immediately play with your API.
          </p>
          <p class="mat-subheading-1 mb-5">
            You can also configure the CRUD process on individual table level by selecting the table you want to configure
            before generating your CRUD API.
          </p>
          <button
            mat-stroked-button
            color="accent"
            routerLink="/crud-generator">Go to CRUD generator</button>
        </div>
      </div>

      <ng-template mat-tab-label #second>
        <mat-icon>fiber_manual_record</mat-icon> {{second.isActive}}
      </ng-template>
    </mat-tab>

    <mat-tab>
      <div class="d-flex flex-sm-row flex-column h-100 align-items-center pb-5">
        <div class="w-100 h-100 slide-3 bg-img p-5"></div>
        <div class="p-4"></div>
        <div class="w-100">
          <h2 class="mb-4 guide-title">3. Generate a frontend</h2>
          <p class="mat-subheading-1">
            When you're done generating a CRUD API you can also optionally create an Angular frontend wrapping
            your API. Go to the CRUD Generator, choose the Frontend tab, give your frontend a name, choose Angular,
            choose components, and click <em>"Generate"</em>.
          </p>
          <p class="mat-subheading-1 mb-5">
            You can find your newly generated frontend in Hyper IDE in the "/dev/frontend/" folder.
            Download it locally to play around with it, and/or create an Angular cloudlet from hub if you
            want to deploy it.
          </p>
          <button
            mat-stroked-button
            color="accent"
            routerLink="/crud-generator">Go to CRUD Generator</button>
        </div>
      </div>
      <ng-template mat-tab-label #third>
        <mat-icon>fiber_manual_record</mat-icon> {{third.isActive}}
      </ng-template>
    </mat-tab>

    <mat-tab>
      <div class="d-flex flex-sm-row flex-column h-100 align-items-center pb-5">
        <div class="w-100 h-100 slide-4 bg-img p-5"></div>
        <div class="p-4"></div>
        <div class="w-100">
          <h2 class="mb-4 guide-title">4. SQL Studio</h2>
          <p class="mat-subheading-1">
            You can also use Magic to manage your database in <em>"SQL Studio"</em>
            allowing you to immediately execute any SQL towards your database, and also design your database
            graphically without even knowing much SQL at all.</p>
          <p class="mat-subheading-1 mb-5">
            Start playing around with the SQL commands and see how easy it is to move onwards on your own. Look
            at the shortkeys in the top right corner of the page for keyboard shortcuts.
          </p>
          <button
            mat-stroked-button
            color="accent"
            routerLink="/sql">Go to SQL studio</button>
        </div>
      </div>
      <ng-template mat-tab-label #fourth>
        <mat-icon>fiber_manual_record</mat-icon> {{fourth.isActive}}
      </ng-template>
    </mat-tab>
  </mat-tab-group>


</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Got it!</button>
</div>
