
.wrapper {
  max-height: calc(100vh - 5rem);
  height: calc(100vh - 5rem);
  width: calc(100% + 8rem);
  margin-left: -4rem;
  margin-top: -2rem;
  margin-right: 0;
  margin-bottom: -5rem;

  mat-card {
    margin-bottom: 0;
  }

  .files-section {
    box-sizing: content-box;
    float: left;
    width: 30%;
    max-width: 30%;
    max-height: calc(100% - 2rem);
    height: calc(100% - 2rem);
    overflow: auto;
    margin-right: 1rem;
    padding: .5rem 1rem;

    .folder-btn {
      display: block;
      width: 100%;
      text-align: left;

      mat-icon {
        margin-right: .5rem;
        color: #999;
      }
    }

    .file-btn {
      display: block;
      width: 100%;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;

      mat-icon {
        margin-right: .5rem;
        color: #999;
        margin-top: -5px;
      }
    }
  }

  .content-section {
    float: left;
    width: calc(70% - 7rem);
    max-width: calc(70% - 7rem);
    height: calc(100% - 5rem);
    max-height: calc(100% - 5rem);
    position: relative;
    padding: 2rem;

    .light-bulb {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 50%;
      max-height: 70%;
    }

    .toolbar-top {
      display: table;
      width: 100%;

      .fill-width {
        display: block;
        float: left;
        width: calc(100% - 16.5rem);
      }

      .toolbar-button {
        margin-left: .5rem;
        float: left;
        width: 5rem;
        top: 5px;
        height: 50px;
      }
    }

    .wider {
      width: 80%;
    }
  }
}

::ng-deep .CodeMirror {
  height: calc(100vh - 16.5rem);
}

@media screen and (max-width: 800px) {
  .wrapper {
    display: block;
    max-height: unset;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    .files-section {
      float: none;
      width: calc(100% - 4rem);
      max-width: calc(100% - 6rem);
      min-width: calc(100% - 6rem);
      margin-left: 2rem;
      margin-bottom: 1rem;
    }
    .content-section {
      float: none;
      width: calc(100% - 4rem);
      max-width: calc(100% - 8rem);
      min-width: calc(100% - 8rem);
      margin-left: 2rem;
      margin-bottom: 0;
      padding-bottom: 1rem;
    }
  }  
}
