
<div class="wrapper">

  <mat-card class="files-section">
  
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

      <mat-tree-node
        *matTreeNodeDef="let file"
        matTreeNodePadding
        matTreeNodePaddingIndent="10">

        <button
          class="file-btn"
          [color]="activeFile === file.node.path ? 'primary' : 'default'"
          mat-button
          [matTooltip]="file.node.name"
          (click)="openFile(file.node)">

          <mat-icon class="mat-icon-rtl-mirror">insert_drive_file</mat-icon>{{file.name}}

        </button>

      </mat-tree-node>

      <mat-tree-node
        *matTreeNodeDef="let folder; when: isExpandable"
        matTreeNodePadding
        matTreeNodePaddingIndent="10">

        <button
          mat-icon-button
          class="expander"
          matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(folder) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>

        <button
          class="folder-btn"
          [color]="activeFolder === folder.node.path ? 'primary' : 'default'"
          mat-button
          (click)="selectFolder(folder)">

          <mat-icon class="mat-icon-rtl-mirror">folder_open</mat-icon>{{folder.name}}

        </button>

      </mat-tree-node>

    </mat-tree>

  </mat-card>

  <mat-card class="content-section">

    <div class="active-folder">{{activeFolder}}</div>

    <div class="toolbar-top">

      <mat-form-field appearance="outline" class="fill-width">
        <mat-label>Open files ...</mat-label>
        <mat-select
          [(ngModel)]="activeFile"
          (selectionChange)="selectedFileChanged()">
          <mat-option
            *ngFor="let idx of files"
            [value]="idx.path">{{idx.folder}}<strong>{{idx.name}}</strong></mat-option>
        </mat-select>
      </mat-form-field>

      <button
        [disabled]="!authService.access.files.delete_folder || activeFolder === '/' || activeFolder === '/misc/' || activeFolder === '/modules/' || activeFolder === '/temp/' || activeFolder === '/modules/system/'"
        mat-raised-button
        class="toolbar-button delete-folder-btn"
        [matTooltip]="'Delete folder \'' + activeFolder + '\' ALT+X'"
        (click)="deleteActiveFolder()">
        Delete
      </button>

      <button
        mat-raised-button
        class="toolbar-button new-macro-object-btn"
        matTooltip="Execute a macro ALT+O"
        (click)="selectMacro()">
        Macro
      </button>

      <button
        mat-raised-button
        [disabled]="!authService.access.files.create_folder"
        class="toolbar-button new-file-object-btn"
        color="primary"
        matTooltip="Create or add new file or folder to active folder ALT+A"
        (click)="createNewFileObject()">
        Add
      </button>

    </div>

    <img
      *ngIf="files.length === 0"
      src="assets/light-bulb.png"
      class="light-bulb"
      matTooltip="Hyper IDE, when you're in a hurry!"
      alt="Hyper IDE, when you're in a hurry">

    <div>

      <div *ngFor="let file of files">

        <div [class]="file.path === activeFile ? 'active-codemirror-editor' : 'invisible'">

          <ngx-codemirror
            [(ngModel)]="file.content"
            [options]="file.options">
          </ngx-codemirror>

          <div class="button-strip">

            <button
              mat-button
              class="save-file-btn"
              [disabled]="activeFileIsClean()"
              matTooltip="Save file ALT+S"
              (click)="saveFile(file)">
              Save
            </button>

            <button
              [disabled]="!file.path.endsWith('.hl')"
              matTooltip="Execute Hyperlambda file"
              mat-button
              (click)="executeFile(file)">
              Execute
            </button>

            <button
              [disabled]="!file.path.endsWith('.md')"
              matTooltip="Preview file"
              mat-button
              (click)="previewFile(file)">
              Preview
            </button>

            <button
              mat-button
              [disabled]="!authService.access.files.rename"
              class="rename-file-btn"
              matTooltip="Rename file ALT+R"
              (click)="renameFile(file)">
              Rename
            </button>

            <button
              mat-button
              class="delete-file-btn"
              [disabled]="!authService.access.files.delete_file"
              matTooltip="Delete file ALT+D"
              (click)="deleteFile(file)">
              Delete
            </button>

            <button
              mat-button
              class="close-file-btn"
              matTooltip="Close file ALT+C"
              (click)="closeFile(file)">
              Close
            </button>

          </div>

        </div>

      </div>

    </div>

  </mat-card>

</div>
