
<div class="row wrapper">

  <div class="col-12">
    <div class="row">
      <div class="col-xl-3 col-md-4 col-sm-5 col-12 pr-sm-2">
        <mat-card class="h-100">
  
          <mat-card-content>
            <div class="files-section">
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        
                <mat-tree-node
                  *matTreeNodeDef="let file"
                  [class]="activeFile === file.node.path ? 'selected-node' : ''"
                  matTreeNodePadding
                  matTreeNodePaddingIndent="10">
          
                  <button
                    class="file-btn"
                    mat-button
                    [matTooltip]="file.node.name"
                    (click)="openFile(file.node)">
          
                    <mat-icon class="mat-icon-rtl-mirror">insert_drive_file</mat-icon>{{file.name}}
          
                  </button>
          
                </mat-tree-node>
          
                <mat-tree-node
                  *matTreeNodeDef="let folder; when: isExpandable"
                  [class]="activeFolder === folder.node.path ? 'selected-node' : ''"
                  matTreeNodePadding
                  matTreeNodePaddingIndent="10">
          
                  <button
                    mat-icon-button
                    class="expander"
                    matTreeNodeToggle>
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(folder) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
          
                  <button
                    class="folder-btn"
                    mat-button
                    (click)="selectFolder(folder)">
          
                    <mat-icon class="mat-icon-rtl-mirror">folder_open</mat-icon>{{folder.name}}
          
                  </button>
          
                </mat-tree-node>
          
              </mat-tree>
            </div>
          </mat-card-content>
      
        </mat-card>
      </div>
      <div class="col-xl-9 col-md-8 col-sm-7 col-12 pl-sm-2">
        <mat-card class="h-100">
          <mat-card-content>
            <div class="content-section d-flex flex-column w-100">
              <p class="active-path">{{activeFolder}}</p>
          
              <div class="d-flex flex-xl-nowrap flex-wrap align-items-stretch mb-3">
          
                <mat-form-field appearance="outline" class="w-100 inline-input mb-xl-0 mb-1">
                  <mat-label>Open files ...</mat-label>
                  <mat-select
                    [(ngModel)]="activeFile"
                    (selectionChange)="selectedFileChanged()">
                    <mat-option
                      *ngFor="let idx of openFiles"
                      [value]="idx.path">{{idx.folder}}<strong>{{idx.name}}</strong></mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="p-xl-1"></div>
          
                <div class="d-flex flex-md-nowrap flex-wrap align-items-stretch">
                  <div class="d-flex w-100">
                    <button
                      [disabled]="!authService.access.files.delete_folder || activeFolder === '/' || activeFolder === '/misc/' || activeFolder === '/modules/' || activeFolder === '/temp/' || activeFolder.startsWith('/system/') || activeFolder.startsWith('/misc/')"
                      mat-raised-button
                      [matTooltip]="'Delete folder \'' + activeFolder + '\' ALT+X'"
                      class="w-100"
                      (click)="deleteActiveFolder()">
                      Delete
                    </button>
                    <div class="p-1"></div>

                    <button
                      mat-raised-button
                      matTooltip="Execute a macro ALT+O"
                      class="w-100"
                      (click)="selectMacro()">
                      Macro
                    </button>
                  </div>

                  <div class="p-1"></div>

                  <div class="d-flex w-100">
                    <button
                      mat-raised-button
                      [disabled]="!authService.access.crud.generate_crud && !authService.access.crud.generate_frontend && !authService.access.crud.generate_sql"
                      matTooltip="Generate CRUD apps"
                      class="w-100"
                      (click)="generateCrudApp()">
                      CRUD
                    </button>
                    <div class="p-1"></div>
              
                    <button
                      mat-raised-button
                      [disabled]="!authService.access.files.create_folder"
                      color="primary"
                      matTooltip="Create or add new file or folder to active folder ALT+A"
                      class="w-100"
                      (click)="createNewFileObject()">
                      Add
                    </button>
                    </div>
                </div>
          
              </div>
          
              <img
                *ngIf="openFiles.length === 0"
                src="assets/light-bulb.png"
                class="light-bulb"
                matTooltip="Hyper IDE, when you're in a hurry!"
                alt="Hyper IDE, when you're in a hurry">
          
              <div class="h-100">
          
                <div *ngFor="let file of openFiles" class="d-flex flex-column w-100 h-100">
          
                  <div [class]="file.path === activeFile ? 'active-codemirror-editor' : 'invisible'" class="h-100">
          
                    <ngx-codemirror
                      [(ngModel)]="file.content"
                      [options]="file.options">
                    </ngx-codemirror>
          
                    <div class="d-flex justify-content-around align-items-center flex-wrap my-2">
          
                      <button
                        mat-button
                        class="save-file-btn"
                        [disabled]="activeFileIsClean() || file.folder.startsWith('/system/') || activeFolder.startsWith('/misc/')"
                        matTooltip="Save file ALT+S"
                        (click)="saveFile(file)">
                        Save
                      </button>
          
                      <button
                        [disabled]="!file.path.endsWith('.hl')"
                        [matTooltip]="getEndpoint(file) === null ? 'Execute Hyperlambda file immediately' : 'Invoke endpoint through a modal dialog'"
                        mat-button
                        (click)="executeFile(file)">
                        {{getEndpoint(file) === null ? 'Execute' : 'Invoke ...'}}
                      </button>
          
                      <button
                        [disabled]="!file.path.endsWith('.md')"
                        matTooltip="Preview file"
                        mat-button
                        (click)="previewFile(file)">
                        Preview
                      </button>
          
                      <button
                        mat-button
                        [disabled]="!authService.access.files.rename || file.path.startsWith('/system/') || activeFolder.startsWith('/misc/')"
                        class="rename-file-btn"
                        matTooltip="Rename file ALT+R"
                        (click)="renameFile(file)">
                        Rename
                      </button>
          
                      <button
                        mat-button
                        class="delete-file-btn"
                        [disabled]="!authService.access.files.delete_file || file.folder.startsWith('/system/') || activeFolder.startsWith('/misc/')"
                        matTooltip="Delete file ALT+D"
                        (click)="deleteFile(file)">
                        Delete
                      </button>
          
                      <button
                        mat-button
                        class="close-file-btn"
                        matTooltip="Close file ALT+C"
                        (click)="closeFile(file)">
                        Close
                      </button>
          
                    </div>
          
                  </div>
          
                </div>
          
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    
  
  </div>

</div>
