@import '../../../assets/styles/colour.scss';
@import '../../../assets/styles/mixin.scss';

$max_height: calc(100vh - 170px);
$max_height_mobile: calc(100vh - 220px);

.wrapper {
  max-height: $max_height;
  height: calc(100vh - 5rem);
  // width: calc(100% + 8rem);
  // margin-left: -4rem;
  // margin-top: -2rem;
  // margin-right: 0;
  // margin-bottom: -5rem;

  mat-card {
    margin-bottom: 0;
  }

  .files-section {
    // box-sizing: content-box;
    // float: left;
    // width: 25%;
    // max-width: 25%;
    max-height: $max_height;
    height: calc(100% - 2rem);
    overflow: auto;
    @include scrollbar($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),8px);
    // margin-right: 1rem;
    // padding: .5rem 1rem;

    .mat-tree-node {
      height: 36px;
      min-height: 36px;

      button {
        font-weight: normal;
      }
    }
    .mat-tree-node.selected-node {

      button {
        font-weight: bold;
      }
    }

    .folder-btn {
      display: block;
      width: 100%;
      text-align: left;
      padding-left: 0;

      mat-icon {
        margin-right: .5rem;
        color: #999;
      }
    }

    .file-btn {
      display: block;
      width: 100%;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 30px;

      mat-icon {
        margin-right: .5rem;
        color: #999;
        margin-top: -5px;
      }
    }
  }

  .content-section {
    // float: left;
    // width: calc(75% - 7rem);
    // max-width: calc(75% - 7rem);
    height: calc(100% - 5rem);
    max-height: $max_height;
    position: relative;
    // padding: 2rem;

    .active-path{
      color: rgb(128, 128, 128);
      font-style: italic;
    }
    // .active-folder {
    //   position: absolute;
    //   top: .25rem;
    //   right: 1rem;
    //   color: rgb(128, 128, 128);
    //   font-style: italic;
    // }

    .light-bulb {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 50%;
      max-height: 70%;
      user-select: none;
    }

    .toolbar-top {
      display: table;
      width: 100%;

      .fill-width {
        display: block;
        float: left;
        width: calc(100% - 22rem);
      }

      .toolbar-button {
        margin-left: .5rem;
        float: left;
        width: 5rem;
        top: 5px;
        height: 50px;
      }
    }

    .wider {
      width: 80%;
    }
  }
}

.expander {
  width: 30px;
  color: rgb(128, 128, 128);
}

::ng-deep .content-section .CodeMirror {
  // height: calc(100vh - 16.5rem);
  height: calc(100vh - 350px);
  @media (min-width: 805px) and (max-width: 1024px){
    height: calc(100vh - 400px);
  }
  @media (min-width: 576px) and (max-width: 805px){
    height: calc(100vh - 450px);
  }
  @media (max-width: 575px) {
    height: 300px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    // display: block;
    max-height: $max_height_mobile;
    height: auto;
    overflow-y: auto;
    // margin-top: 0;
    // margin-bottom: 0;
    // .files-section {
    //   float: none;
    //   width: calc(100% - 4rem);
    //   max-width: calc(100% - 6rem);
    //   min-width: calc(100% - 6rem);
    //   margin-left: 2rem;
    //   margin-bottom: 1rem;
    // }
    // .content-section {
    //   float: none;
    //   width: calc(100% - 4rem);
    //   max-width: calc(100% - 8rem);
    //   min-width: calc(100% - 8rem);
    //   margin-left: 2rem;
    //   margin-bottom: 0;
    //   padding-bottom: 1rem;
    // }

    .content-section,
    .files-section{
      max-height: $max_height_mobile;
    }
  }  
}
