
<div [class]="showExplorer ? 'wrapper' : 'wrapper-full'">

  <mat-card
    class="files-section"
    *ngIf="showExplorer">

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

      <mat-tree-node
        *matTreeNodeDef="let file"
        matTreeNodePadding
        matTreeNodePaddingIndent="10">

        <mat-icon class="mat-icon-rtl-mirror">insert_drive_file</mat-icon>

        <button
          class="file-btn"
          [color]="activeFile === file.node.path ? 'primary' : 'default'"
          mat-button
          [matTooltip]="file.node.name"
          (click)="openFile(file.node)">{{file.name}}</button>

      </mat-tree-node>

      <mat-tree-node
        *matTreeNodeDef="let folder; when: hasChild"
        matTreeNodePadding
        matTreeNodePaddingIndent="10">

        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(folder) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>

        <button
          matTreeNodeToggle
          class="folder-btn"
          mat-button>
          {{folder.name}}
        </button>

      </mat-tree-node>

    </mat-tree>

  </mat-card>

  <mat-card [class]="showExplorer ? 'content-section' : 'content-section-full'">

    <button
      mat-icon-button
      class="toggle-explorer"
      (click)="toggleFileExplorer()">
      <mat-icon>all_out</mat-icon>
    </button>

    <mat-form-field appearance="outline" *ngIf="files.length > 0" class="wider">
      <mat-label>Files</mat-label>
      <mat-select [(ngModel)]="activeFile">
        <mat-option
          *ngFor="let idx of files"
          [matTooltip]="idx.path"
          [value]="idx.path">{{idx.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngFor="let file of files">

      <div *ngIf="file.path === activeFile">

        <ngx-codemirror
          [(ngModel)]="file.content"
          [options]="file.options">
        </ngx-codemirror>

        <div class="button-strip">

          <button
            mat-button
            (click)="saveFile(file)">
            Save
          </button>

          <button
            mat-button
            (click)="closeFile(file)">
            Close
          </button>

        </div>

      </div>

    </div>

  </mat-card>

</div>
