
<div mat-dialog-title class="mat-dialog-title">

  <mat-form-field class="fill-width no-padding" appearance="outline">
    <mat-label class="dark">Filter</mat-label>
    <input
      matInput
      [(ngModel)]="filter"
      autocomplete="off">
  </mat-form-field>

</div>

<div mat-dialog-content class="file-content">

  <ul class="file-list">
    <li *ngFor="let idx of getFiles()">
      <button
        mat-button
        (click)="select(idx)">
        {{getFilename(idx)}}
      </button>
    </li>
  </ul>

</div>
