
<div class="wrapper">

  <button
    mat-button
    matTooltip="Runs all assumption tests"
    class="run-all"
    (click)="executeAll()">
    Run all
  </button>

  <table
    mat-table
    [dataSource]="tests"
    class="tests clickable">

    <ng-container matColumnDef="name">
      <td mat-cell *matCellDef="let el">{{getName(el.filename)}}</td>
    </ng-container>

    <ng-container matColumnDef="result">
      <td mat-cell class="mini-col icon-col" *matCellDef="let el">
        <mat-icon
          *ngIf="el.success !== null && el.success"
          matTooltip="Success">check_circle</mat-icon>
        <mat-icon
          *ngIf="el.success !== null && !el.success"
          class="warning"
          matTooltip="Test failed, see log for details">warning</mat-icon>
      </td>
    </ng-container>

    <tr (click)="executeTest(el)" mat-row *matRowDef="let el; columns: ['name', 'result'];"></tr>

  </table>

</div>
