<h3 mat-dialog-title>Save SQL snippet</h3>

<form>
  <div mat-dialog-content>
    <mat-form-field class="w-100 text-prefix">
      <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-3">
        Name
      </span>

      <input matInput type="text" placeholder="Snippet name" [(ngModel)]="data" [ngModelOptions]="{standalone: true}"
        [pattern]="CommonRegEx.appNames">
      <mat-error>{{CommonErrorMessages.appNames}}</mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" class="px-4" (click)="save()" type="submit">Create</button>
  </div>
</form>