<a
  mat-button
  routerLink="/"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>home</mat-icon>
  <span>Home</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/crudifier')"
  mat-button
  routerLink="/crudifier"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>build</mat-icon>
  <span>Crudifier</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/endpoints')"
  mat-button
  routerLink="/endpoints"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>compare_arrows</mat-icon>
  <span>Endpoints</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/sql')"
  mat-button
  routerLink="/sql"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>cloud</mat-icon>
  <span>SQL</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/tasks')"
  mat-button
  routerLink="/tasks"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>calendar_today</mat-icon>
  <span>Tasks</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/file-system')"
  mat-button
  routerLink="/file-system"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>file_copy</mat-icon>
  <span>File system</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/evaluator')"
  mat-button
  routerLink="/evaluator"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>autorenew</mat-icon>
  <span>Evaluator</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/magic')"
  mat-button
  routerLink="/auth"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>people</mat-icon>
  <span>Auth</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/log')"
  mat-button
  routerLink="/log"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>bar_chart</mat-icon>
  <span>Log</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/crypto')"
  mat-button
  routerLink="/crypto"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>security</mat-icon>
  <span>Crypto</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/config')"
  mat-button
  routerLink="/config"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>settings</mat-icon>
  <span>Configuration</span>
</a>
