
<div class="d-flex justify-content-between align-items-center">
  <h3 mat-dialog-title class="my-0">Log ID {{data.id}}</h3>
  <p class="mat-h3" [class.text-danger]="data?.type === 'error'"> {{data?.type}} </p>
</div>

<div mat-dialog-content>
  <p class="fw-bold mt-2">Date &amp; time</p>
  <p>{{data.created | date: 'dd-MM-YYYY HH:mm'}}</p>

  <p class="fw-bold mt-4">Content</p>
  <p class="pre-formatted">{{data.content}}</p>

  <p class="fw-bold mt-4" *ngIf="data.meta">Meta</p>
  <p *ngFor="let item of data.meta | keyvalue">
    {{item.key}}: {{item.value}}
  </p>

  <p class="fw-bold mt-4" *ngIf="data.exception">Exception</p>
  <p [innerHTML]="data.exception" class="pre-formatted"></p>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-button color="primary" mat-dialog-close>Close</button>
</div>