
.security-wrapper {
    width: auto;
    padding: 5rem 2rem 2rem 2rem;
    .security-sheet {
        padding: 2rem;
        text-align: center;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        h3 {
            margin-top: -.5rem;
        }
        .password {
            display: inline-block;
        }
        .password-repeat {
            display: inline-block;
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }
}
