
.wrapper {
  margin:2rem;
  min-height: 20rem;
  .success-for-all {
    font-size: 7rem;
    display: block;
    margin-left: calc(50% - 3rem);
    margin-top: 5rem;
    color: lightgreen;
  }
  .fill-width {
    margin-top: 1rem;
  }
  .run-all {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }
  table {
    tr {
      td {
        .details-sheet {
          margin: 2rem 1rem 0 1rem;
        }
      }
    }
  }
}
