
.scheduler-wrapper {
    position: relative;
    padding:2rem 5rem 2rem 5rem;
    .tasks {
        margin-top: 2rem;
        padding: 5rem;
        position: relative;
        table {
            width: 100%;
            tr.highlight {
                background-color: rgba(0,0,0,.1);
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
                cursor: pointer;
            }
        }
        .create-new-task {
            position: absolute;
            top: 3rem;
            right: 3rem;
        }
    }
}

.active-wrapper {
    padding: 2rem 5rem 2rem 5rem;
    .view-task-card {
        margin-top: 2rem;
        padding: 5rem;
        position: relative;
        .due-date {
            position: absolute;
            top: 3rem;
            right: 3rem;
            color: rgb(128,128,128);
        }
        .repeat-pattern {
            position: absolute;
            top: 5rem;
            right: 3rem;
            color: rgb(128,128,128);
        }
    }
    .right-align {
        text-align: right;
    }
}

