
<h1 mat-dialog-title *ngIf="data.allowAuthentication">
  Login
  <mat-icon
    *ngIf="(backendHasBeenSelected && backendService.active && backends.value.startsWith('http://') && (autoLogin !== true || advanced === true))"
    matTooltip="Clicking the login button will transmit your password in clear text">warning</mat-icon>
</h1>

<form [formGroup]="loginForm" novalidate>
  <div mat-dialog-content>
    <mat-form-field class="fill-width" appearance="outline">

      <mat-label class="dark">Backend</mat-label>
      <input
        matInput
        [formControl]="backends"
        (keydown.enter)="backendValueChanged()"
        [matAutocomplete]="auto"
        type="url"
        placeholder="http://">
      <button mat-icon-button matSuffix [disabled]="backendHasBeenSelected || !backends.value"
        matTooltip="Connect to backend" type="button" (click)="backendValueChanged()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="backendSelected()">
        <ng-container *ngIf="data.allowAuthentication">
          <mat-option
            *ngFor="let el of filteredBackends | async"
            [value]="el">
            {{el}}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <mat-hint>e.g. https://api-yourdomain.com</mat-hint>
    </mat-form-field>
    <ng-container *ngIf="data.allowAuthentication && (backendHasBeenSelected && (!autoLogin || advanced))">
      <mat-form-field class="fill-width" appearance="outline">
  
        <mat-label class="dark">Username</mat-label>
        <input
          matInput
          type="text"
          name="username"
          formControlName="username"
          autocomplete="off">
  
      </mat-form-field>
  
      <mat-form-field class="fill-width" appearance="outline">
   
        <mat-label class="dark">Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          autocomplete="off">
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-pressed]="hide"
          type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
  
      </mat-form-field>
    </ng-container>

  </div>

  <div *ngIf="data.allowAuthentication && backendHasBeenSelected" mat-dialog-actions class="button-strip">

    <mat-checkbox
      *ngIf="autoLogin === true"
      [(ngModel)]="advanced" [ngModelOptions]="{standalone: true}">Advanced</mat-checkbox>

    <mat-checkbox
      *ngIf="autoLogin !== true && loginForm.value.password !== 'root'"
      [disabled]="loginForm.value.username === '' || loginForm.value.password === '' || backends.value === ''"
      [(ngModel)]="savePassword" [ngModelOptions]="{standalone: true}">Save</mat-checkbox>

    <button
      mat-raised-button
      color="primary" type="submit"
      (click)="login()"
      [disabled]="!autoLogin && loginForm.invalid">Login</button>

    <button
      *ngIf="autoLogin !== true"
      mat-raised-button
      [disabled]="autoLogin || loginForm.value.username === '' || loginForm.value.password !== '' || backends.value === ''"
      matTooltip="Send me a reset password link"
      type="button"
      (click)="resetPassword()">Forgot?</button>

  </div>
</form>
