
<h1 mat-dialog-title>{{data.name}}</h1>

<div mat-dialog-content>
  <div class="markdown" *ngIf="readme" [innerHTML]="readme | marked"></div>
</div>

<div *ngIf="readme" mat-dialog-actions class="mat-dialog-actions">

  <button
    *ngIf="authService.isRoot"
    mat-raised-button
    matTooltip="Removes app from your local Bazar"
    (click)="removeAppFromBazar()">Remove</button>

  <button
    mat-raised-button
    matTooltip="Get app's direct download URL"
    (click)="getUrl()">URL</button>

  <button
    mat-raised-button
    color="primary"
    (click)="close()">Close</button>

</div>
