
<mat-form-field
  class="form-field">

  <mat-label>Database type</mat-label>
  <mat-select
    [(ngModel)]="selectedDatabaseType"
    placeholder="Database type"
    (selectionChange)="databaseTypeChanged()">
    <mat-option
      *ngFor="let idx of databaseTypes"
      [value]="idx">{{idx}}</mat-option>
  </mat-select>

</mat-form-field>

<mat-form-field
  *ngIf="connectionString"
  class="form-field wide">

  <mat-label>Connection string</mat-label>
  <input
    matInput
    [ngModel]="connectionString">

</mat-form-field>

<br>

<mat-form-field
  *ngIf="connectionString"
  class="form-field">

  <mat-label>Root password</mat-label>
  <input
    matInput
    type="password"
    [(ngModel)]="password">

</mat-form-field>

<mat-form-field
  *ngIf="connectionString"
  class="form-field">

  <mat-label>Repeat password</mat-label>
  <input
    matInput
    type="password"
    [(ngModel)]="passwordRepeat">

</mat-form-field>

<button
  *ngIf="connectionString"
  mat-button
  [disabled]="password === null || password === '' || password !== passwordRepeat"
  (click)="save()">Save</button>
