
<mat-form-field class="form-field" appearance="outline">

  <mat-label>Template</mat-label>
  <mat-select
    [(ngModel)]="template"
    (selectionChange)="templateChanged()">
    <mat-option
      *ngFor="let idx of templates"
      [value]="idx">{{idx}}</mat-option>
  </mat-select>

</mat-form-field>

<mat-form-field class="form-field" appearance="outline">

  <mat-label>Name</mat-label>
  <input
    matInput
    type="text"
    autocomplete="off"
    [(ngModel)]="name">

</mat-form-field>

<mat-form-field class="form-field form-field-double" appearance="outline">

  <mat-label>Copyright</mat-label>
  <input
    matInput
    type="text"
    autocomplete="off"
    [(ngModel)]="copyright">

</mat-form-field>

<div class="button-strip">

  <button
    mat-raised-button
    color="primary"
    class="generate-button"
    [disabled]="!template || name === ''"
    (click)="generate()">
    Generate
  </button>

</div>
