<div class="d-flex flex-sm-nowrap flex-wrap justify-content-between">
  <div class="d-flex align-items-center">
    <h3 class="my-0">Generate frontend</h3>
    <div class="sm-icons">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?">
        <mat-icon>help_outline</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div class="p-3">
          <p>
            From here you can automatically generate a frontend based upon your existing HTTP CRUD endpoints.
          </p>
          <div class="d-flex justify-content-end">
            <a target="_blank" href="https://docs.aista.com/documentation/magic/components/crudifier/frontend/" mat-stroked-button>Learn more</a>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>
</div>
<mat-card-subtitle>Automatically generate your frontend.</mat-card-subtitle>
<mat-slide-toggle
  [(ngModel)]="deployLocally"
  labelPosition="before">
  Deploy locally
</mat-slide-toggle>

<mat-form-field
  class="form-field"
  matTooltip="The name of your app"
  appearance="outline">

  <mat-label>Name</mat-label>
  <input
    matInput
    type="text"
    autocomplete="off"
    [(ngModel)]="name">

</mat-form-field>

<mat-form-field
  class="form-field"
  matTooltip="Type of template you want to use"
  appearance="outline">

  <mat-label>Template</mat-label>
  <mat-select
    [(ngModel)]="template"
    (selectionChange)="templateChanged()">
    <mat-option
      *ngFor="let idx of templates"
      [value]="idx">{{idx}}</mat-option>
  </mat-select>

</mat-form-field>

<mat-form-field
  class="form-field form-field-double"
  matTooltip="Common file comment for all files that can be commented"
  appearance="outline">

  <mat-label>Copyright</mat-label>
  <input
    matInput
    type="text"
    autocomplete="off"
    [(ngModel)]="copyright">

</mat-form-field>

<h3 *ngIf="template">Deployment settings</h3>

<mat-form-field
  *ngIf="template"
  class="form-field form-field-double"
  matTooltip="Root API URL of the backend you intend to use for your app"
  appearance="outline">

  <mat-label>API URL</mat-label>
  <input
    matInput
    type="text"
    autocomplete="off"
    [(ngModel)]="apiUrl">

</mat-form-field>

<mat-form-field
  *ngIf="template"
  class="form-field form-field-double"
  matTooltip="Needed to wire up docker-compose file correctly with your deployment domain/URL"
  appearance="outline">

  <mat-label>Deployment domain</mat-label>
  <input
    matInput
    type="text"
    autocomplete="off"
    [(ngModel)]="frontendUrl">

</mat-form-field>

<mat-form-field
  *ngIf="template"
  class="form-field form-field-double"
  matTooltip="Needed to wire up docker-compose file correctly for creating SSL/TLS certificate from LetsEncrypt"
  appearance="outline">

  <mat-label>Email</mat-label>
  <input
    matInput
    type="text"
    autocomplete="off"
    [(ngModel)]="email">

</mat-form-field>

<div class="button-strip">

  <button
    mat-raised-button
    color="primary"
    class="generate-button"
    [disabled]="!template || name === '' || apiUrl === '' || frontendUrl === '' || email === ''"
    (click)="generate()">
    Generate
  </button>

</div>
