
<div class="wrapper">

  <button
    mat-icon-button
    matTooltip="Copy full invocation URL"
    class="copy-button"
    (click)="copyUrl()">
    <mat-icon>link</mat-icon>
  </button>

  <span class="item">
    <strong class="label">Relative URL</strong>
    <span class="description">{{endpoint.path}}</span>
  </span>

  <span class="item">
    <strong class="label">Verb</strong>
    <span class="description">{{endpoint.verb}}</span>
  </span>

  <span class="item" *ngIf="endpoint.type">
    <strong class="label">Type</strong>
    <span class="description">{{endpoint.type}}</span>
  </span>

  <span class="item" *ngIf="endpoint.description">
    <strong class="label">Description</strong>
    <span class="description">{{endpoint.description}}</span>
  </span>

  <span class="item" *ngIf="endpoint.auth">
    <strong class="label">Authorization</strong>
    <span class="description">{{getAuth(endpoint.auth)}}</span>
  </span>

  <span *ngIf="url" class="item">
    <strong class="label">Absolute URL</strong>
    <span class="description description-break">{{url}}</span>
  </span>

  <span
    *ngIf="endpoint.input && endpoint.input.length > 0 && (endpoint.verb === 'get' || endpoint.verb === 'delete')"
    class="item-full-width">
    <span class="description" *ngIf="getArguments(endpoint.input, true).length > 0">

      <mat-chip-list>
        <mat-chip
          *ngFor="let i of getArguments(endpoint.input, true)"
          [matTooltip]="getChipTooltip(i)"
          selectable="false"
          [class]="hasQueryParam(i) ? 'query-disabled' : ''"
          (removed)="removeQueryParameter(i)"
          (click)="addQueryParameter(i)">
          {{i.name}}
          <mat-icon
            *ngIf="hasQueryParam(i)"
            matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

    </span>
    <span class="description">

      <mat-chip-list>
        <mat-chip
          *ngFor="let i of getArguments(endpoint.input, false)"
          [matTooltip]="getChipTooltip(i)"
          selectable="false"
          [class]="hasQueryParam(i) ? 'query-disabled' : ''"
          (removed)="removeQueryParameter(i)"
          (click)="addQueryParameter(i)">
          {{i.name}}
          <mat-icon
            *ngIf="hasQueryParam(i)"
            matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

    </span>
  </span>

  <span
    *ngIf="endpoint.input && endpoint.input.length > 0 && (endpoint.verb !== 'get' && endpoint.verb !== 'delete')"
    class="item-full-width">
    <span class="description">
      <ngx-codemirror
        [(ngModel)]="payload"
        [options]="cmOptions.json">
      </ngx-codemirror>
    </span>
  </span>

  <div class="button-strip">
    <button
      mat-button
      (click)="invoke()">
      Invoke
    </button>
  </div>

  <span
    *ngIf="result"
    class="item-full-width">
    <span class="description">
      <ngx-codemirror
        [(ngModel)]="result"
        [options]="cmOptionsReadonly.json">
      </ngx-codemirror>
    </span>
  </span>

</div>
