
<h1 mat-dialog-title>Publish message</h1>
<form>
  <div mat-dialog-content>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label class="dark">Name</mat-label>
      <input
        matInput
        [(ngModel)]="data.message.name"
        autocomplete="off" name="name">
    </mat-form-field>

    <mat-form-field
      *ngIf="data.client === null || data.client === ''"
      class="w-100"
      appearance="outline">
      <mat-label class="dark">Groups</mat-label>
      <input
        matInput
        [(ngModel)]="data.groups"
        autocomplete="off" name="groups">
    </mat-form-field>

    <mat-form-field
      *ngIf="data.client === null || data.client === ''"
      class="w-100"
      appearance="outline">
      <mat-label class="dark">Roles</mat-label>
      <input
        matInput
        [(ngModel)]="data.roles"
        autocomplete="off" name="roles">
    </mat-form-field>

    <ngx-codemirror
      *ngIf="options"
      [(ngModel)]="data.message.content"
      [options]="options" name="content">
    </ngx-codemirror>
  </div>

  <div mat-dialog-actions class="mat-dialog-actions">
    <button
      [disabled]="!good()"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="send()">
      Send
    </button>
  </div>
</form>