
<h1 mat-dialog-title>Schedule task</h1>
<div mat-dialog-content>

  <mat-radio-group
    aria-label="Select an option"
    (change)="typeChanged($event)">
    <mat-radio-button
      checked
      value="once">Schedule once</mat-radio-button>
    <mat-radio-button
      style="margin-left: 1rem;"
      value="repeat">Repeat</mat-radio-button>
  </mat-radio-group>

  <mat-form-field
    style="margin-top: 1rem;"
    *ngIf="schedule === 'repeat'"
    class="fill-width">
    <input 
      matInput
      [(ngModel)]="repetition"
      placeholder="Task repetition"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field
    style="margin-top: 1rem;"
    *ngIf="schedule === 'once'"
    class="fill-width">
    <input
      matInput
      placeholder="Explicit due date"
      [(ngModel)]="due"
      [owlDateTime]="dueDateControl"
      [owlDateTimeTrigger]="dueDateControl"
      placeholder="Pick date and time">
    <owl-date-time #dueDateControl></owl-date-time>
  </mat-form-field>

  <div
    *ngIf="schedule === 'repeat'">
    <a rel="noopener noreferrer" target="_blank" href="https://github.com/polterguy/magic.lambda.scheduler#repeating-tasks">Documentation for repetition patterns</a>.
  </div>

</div>

<div mat-dialog-actions>
  <div style="width:100%; text-align: right;">

    <button
      mat-button
      (click)="saveTask()">Save</button>

    <button
      mat-button
      (click)="close()">Cancel</button>

  </div>
</div>
