
<div class="row h-100">
  <div class="col-12 mb-general">
    <mat-card [class]="isConnected ? 'terminal' : 'terminal closed'" class="h-100 overflow-hidden">
      <mat-card-content class="h-100 d-flex flex-column w-100">

        <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between mb-1">
          <div class="d-flex align-items-center">
            <mat-card-title class="my-0">Terminal</mat-card-title>
            <div class="sm-icons">
              <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
                <mat-icon>help_outline</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <div class="p-3">
                  <p>
                    This is your backend server terminal, allowing you to execute bash commands towards your backend
                    operating system.
                  </p>
                  <div class="d-flex justify-content-end">
                    <a target="_blank" href="https://docs.aista.com/documentation/magic/components/terminal/" mat-stroked-button>Learn more</a>
                  </div>
                </div>
              </mat-menu>
            </div>
          </div>
        </div>

        <mat-card-subtitle>Execute bash commands on your server</mat-card-subtitle>

        <div #terminal class="h-100"></div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
