
<div class="row">
  <div class="col-12">
    <mat-card>
      <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between">

        <div class="d-flex align-items-center">
          <mat-card-title class="my-0">Evaluator</mat-card-title>
          <div class="sm-icons">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              class="mat-caption"
              matTooltip="Need help?"
              type="button">
              <mat-icon>help_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div class="p-3">
                <p>
                  Execute Hyperlambda in immediate mode, in addition to saving frequently used Hyperlambda
                  snippets.
                </p>
                <div class="d-flex justify-content-end">
                  <a target="_blank" href="https://docs.aista.com/documentation/magic/components/evaluator/" mat-stroked-button>Learn more</a>
                </div>
              </div>
            </mat-menu>
          </div>
        </div>

        <div class="d-md-block d-none">
          <button
            mat-stroked-button
            [matMenuTriggerFor]="list"
            class="mat-caption"
            matTooltip="List of shortkeys">
            Shortkeys
          </button>

          <mat-menu #list="matMenu" class="shortkeys">

            <mat-list role="list" dense>
              <mat-list-item role="listitem">
                <span>
                  <span class="d-block">Toggle fullscreen</span>
                </span>
                <span class="code my-0 ml-5">Alt + M</span>
              </mat-list-item>

              <mat-list-item role="listitem">
                Load snippet
                <span class="code my-0 ml-5">Alt + L</span>
              </mat-list-item>

              <mat-list-item role="listitem">
                Save snippet
                <span class="code my-0 ml-5">Alt + S</span>
              </mat-list-item>

              <mat-list-item role="listitem">
                Execute
                <span class="code my-0 ml-5">F5</span>
              </mat-list-item>

              <mat-list-item role="listitem">
                Show autocomplete
                <span class="code my-0 ml-5">CTRL + SPACE</span>
              </mat-list-item>

            </mat-list>
          </mat-menu>
        </div>
      </div>

      <mat-card-subtitle>Execute Hyperlambda in immediate mode</mat-card-subtitle>

      <mat-card-content>
        <app-codemirror-hyperlambda [(model)]="input"></app-codemirror-hyperlambda>
    
        <div class="d-flex justify-content-end my-3">
      
          <button
            id="loadButton"
            mat-raised-button
            (click)="load()">Load</button>

          <div class="p-1"></div>

          <button
            id="saveButton"
            mat-raised-button
            [disabled]="input.hyperlambda.length === 0"
            (click)="save()">Save</button>

          <div class="p-1"></div>

          <button
            id="executeButton"
            mat-raised-button
            color="primary"
            [disabled]="input.hyperlambda.length === 0"
            (click)="execute()">Execute</button>
      
        </div>
      </mat-card-content>
    
    </mat-card>
  </div>

  <div class="col-12 mb-general">
    <mat-card *ngIf="output.hyperlambda && output.hyperlambda.length > 0" class="mt-3">
      <mat-card-content>
        <app-codemirror-hyperlambda [(model)]="output"></app-codemirror-hyperlambda>
      </mat-card-content>
    </mat-card>
  </div>
</div>

