<div class="row">
  <div class="col-12 mb-general">
    <mat-card>
      <mat-card-content>

        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center mb-1">
              <mat-card-title class="my-0">Tasks</mat-card-title>
              <div class="sm-icons">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
                  <mat-icon>help_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <div class="p-3">
                    <p>
                      Create, persist, and schedule Hyperlambda tasks. If you choose to schedule
                      your tasks for execution in the future, you can also have your task repeat at a specified
                      interval.
                    </p>
                    <div class="d-flex justify-content-end">
                      <a target="_blank" href="https://docs.aista.com/documentation/magic/components/tasks/" mat-stroked-button>Learn more</a>
                    </div>
                  </div>
                </mat-menu>
              </div>
            </div>
            <mat-card-subtitle>Administrate and schedule your tasks</mat-card-subtitle>
          </div>
        </div>

        <div class="d-flex align-items-center w-100 mb-2">

          <mat-form-field class="w-100 inline-input" appearance="outline">
            <mat-label>Filter</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formControl]="filterFormControl">
            <mat-icon
              matSuffix
              *ngIf="filterFormControl.value.trim() !== ''"
              class="button"
              role="button"
              (click)="clearFilter()">clear
            </mat-icon>
          </mat-form-field>

          <button
            mat-icon-button
            [disabled]="!backendService.active?.access.tasks.create"
            (click)="create()">
            <mat-icon>add_box</mat-icon>
          </button>

        </div>
      
        <table
          mat-table
          [dataSource]="tasks"
          class="w-100 expandable-table"
          multiTemplateDataRows>

          <ng-container matColumnDef="id">
            <td mat-cell *matCellDef="let el">{{el.task.id}}</td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <td mat-cell class="text-right" *matCellDef="let el">
              <button
                mat-icon-button
                [disabled]="!backendService.active?.access.tasks.delete"
                (click)="delete($event, el)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="showDetails">
            <td
              mat-cell
              colspan="2"
              *matCellDef="let el">
              <div
                class="w-100 details-row"
                [@detailExpand]="el == expandedElement ? 'expanded' : 'collapsed'">
                <div class="min-height-400 w-100">
                  <div class="w-100 py-3" *ngIf="el.model">

                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Description</mat-label>
                      <input
                        matInput
                        [disabled]="!backendService.active?.access.tasks.update"
                        [(ngModel)]="el.task.description"
                        autocomplete="off">
                    </mat-form-field>

                    <app-codemirror-hyperlambda [(model)]="el.model"></app-codemirror-hyperlambda>

                    <div class="d-flex justify-content-end align-items-center w-100">

                      <button
                        mat-icon-button
                        matTooltip="Schedule task"
                        [disabled]="!backendService.active?.access.tasks.addDue"
                        (click)="schedule(el.task)">
                        <mat-icon>more_time</mat-icon>
                      </button>

                      <button
                        mat-icon-button
                        matTooltip="Execute task"
                        [disabled]="!backendService.active?.access.tasks.update"
                        (click)="execute(el)">
                        <mat-icon>bolt</mat-icon>
                      </button>

                      <button
                        mat-icon-button
                        matTooltip="Save task"
                        [disabled]="!backendService.active?.access.tasks.update"
                        (click)="update(el)">
                        <mat-icon>save</mat-icon>
                      </button>

                    </div>

                    <div class="p-1" *ngIf="el.task.schedules"></div>

                    <div *ngIf="el.task.schedules">
                      <mat-chip-list>
                        <mat-chip
                          *ngFor="let idxSchedule of el.task.schedules"
                          selectable="false"
                          [disabled]="!backendService.active?.access.tasks.deleteDue"
                          [matTooltip]="'Next due date: ' + idxSchedule.due.toLocaleString()"
                          (removed)="deleteSchedule(el.task, idxSchedule)">
                          {{idxSchedule.repeats ? idxSchedule.repeats : (idxSchedule.due | from)}}
                          <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                      </mat-chip-list>
                    </div>

                  </div>
                </div>
              </div>
            </td>
      
          </ng-container>
      
          <tr
            mat-row
            [ngClass]="(expandedElement === el ? 'selected ' : '') + 'tasks-row'"
            class="expandable-row"
            (click)="toggleDetails(el);expandedElement = expandedElement === el ? null : el"
            *matRowDef="let el; columns: displayedColumns;"></tr>

          <tr mat-row *matRowDef="let el; columns: ['showDetails']" class="expanded-row"></tr>

        </table>
      
        <mat-paginator
          #paginator
          [class]="count > 10 ? '' : 'invisible'"
          [length]="count"
          pageSize="10"
          showFirstLastButtons="true"
          (page)="paged($event)"
          [pageSizeOptions]="[5,10,25,50]">
        </mat-paginator>

      </mat-card-content>
    </mat-card>
  </div>
</div>
