<ng-container *ngIf="authService.authenticated">
    <app-diagnostics-overview></app-diagnostics-overview>
</ng-container>
<!-- if not authenticated -->
<ng-container *ngIf="!authService.authenticated">
    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 w-100 welcome-section">
        <h1 class="mat-title">Welcome to Magic Cloud</h1>
        <p class="mat-subheading-2 mb-0">If you are a member, login to your account.</p>
        <p class="mat-subheading-2 mb-4">Don't have an account yet? register now and start creating your backend!</p>
        <div class="d-flex">
            <button mat-flat-button class="mr-1" color="primary">Login</button>
            <button mat-flat-button class="mr-1" color="accent">Register</button>
        </div>
        <div class="mt-4">
            <p class="mb-0">Don't know how it works?</p>
            <h3>Check out the <a>documentation</a> to get started.</h3>
        </div>
    </div>
</ng-container>