

<ng-container [ngSwitch]="true">
  <!-- if authenticated -->
  <ng-container *ngSwitchCase="backendService.active?.token !== null">
    <ng-template [ngIf]="backendService.active?.token?.in_role('root')" [ngIfElse]="isNotRoot">
      <ng-template [ngIf]="systemReportDisplayable !== null" [ngIfElse]="noReport">
        <div class="row manipuated-layout">
          <div class="col-12 mb-general">
            <div class="row justify-content-between">
              <div class="col-12">
                <app-overview [data]="systemReportDisplayable"></app-overview>
              </div>
              <div class="col-sm-6 col-12">
                <app-doughnut-chart [data]="systemReportDisplayable"></app-doughnut-chart>
              </div>
              <div class="col-sm-6 col-12">
                <app-pie-chart [data]="systemReportDisplayable"></app-pie-chart>
              </div>
              <div class="col-lg-4 col-sm-6 col-12"
               *ngFor="let chartItem of chartData | keyvalue:unsorted; let index = index;">
                  <app-main-chart [data]="chartItem"></app-main-chart>
              </div>
              <div class="col-12">
                <app-last-log-items [data]="systemReportDisplayable?.last_log_items" [totalLogs]="systemReportDisplayable?.log_items"></app-last-log-items>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- <ng-template [ngIf]="systemReportDisplayable !== null" [ngIfElse]="noReport">
        <div class="row manipuated-layout">
          <div class="col-12 mb-general">
            <div class="row justify-content-between">
              <div class="col-xl-4 col-lg-6 col-md-8 col-12">
                <app-overview [data]="systemReportDisplayable"></app-overview>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-4 col-sm-6 col-12">
                <app-doughnut-chart [data]="systemReportDisplayable"></app-doughnut-chart>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-12">
                <app-pie-chart [data]="systemReportDisplayable"></app-pie-chart>
              </div>
              <div class="col-xl-7 col-lg-8 col-12 order-md-5 order-lg-4">
                <app-last-log-items [data]="systemReportDisplayable?.last_log_items" [totalLogs]="systemReportDisplayable?.log_items"></app-last-log-items>
              </div>
              <div class="col-12 order-{{6+index}}"
              [ngClass]="{'col-xl-5 col-lg-8 col-md-7 order-md-4 order-lg-5': index===0, 'col-xl-6 col-sm-6': index!==0, 'col-lg-4': index===1}"
               *ngFor="let chartItem of chartData | keyvalue:unsorted; let index = index;">
                  <app-main-chart [data]="chartItem"></app-main-chart>
              </div>
            </div>
          </div>
        </div>
      </ng-template> -->
      <ng-template #noReport>
        <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 w-100 welcome-section">
          <h1 class="mat-title">Welcome to Aista Magic Cloud</h1>
          <p class="mat-subheading-2 mb-4">Your backend is not configured yet.</p>
          <div class="mt-4">
            <p class="mb-0">Configure your backend to see a full report on your system here.</p>
            <h3>Navigate to the <a routerLink="/config">config page.</a></h3>
          </div>
        </div>
      </ng-template>
    </ng-template>
    <ng-template #isNotRoot>
      <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 w-100 welcome-section">
        <h1 class="mat-title">Welcome to Aista Magic Cloud</h1>
        <p class="mat-subheading-2 mb-4">Navigate through pages to see how you can interact with the system.</p>
        <div class="mt-4">
          <p class="mb-0">Not sure what you can do here?</p>
          <h3>Check out the <a href="https://docs.aista.com/" target="_blank">documentation</a> to learn more.</h3>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <!-- if NOT authenticated -->
  <ng-container *ngSwitchCase="backendService.active?.token === null">
    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 w-100 welcome-section">
      <h1 class="mat-title">Welcome to Aista Magic Cloud</h1>
      <p class="mat-subheading-2 mb-0">If you already have a username you can login below.</p>
      <p class="mat-subheading-2 mb-4">Don't have an account on this server yet? Register to the left!</p>
      <div class="d-flex">
        <button mat-flat-button class="mr-1" color="primary" (click)="login()">Login</button>
      </div>
      <div class="mt-4">
        <p class="mb-0">Not sure where to start?</p>
        <h3>Check out the <a href="https://docs.aista.com/" target="_blank">documentation</a> to get started.</h3>
      </div>
    </div>
  </ng-container>
</ng-container>
