
<div
  class="obscurer"
  *ngIf="isFetching">
  <h3>Please wait ...</h3>
  <h4>Genius is thinking ...</h4>
  <mat-spinner
    mode="indeterminate"
    diameter="50"
    class="ajax-wait">
  </mat-spinner>
</div>

<div class="setup-wrapper">

  <div class="mat-elevation-z4 setup">

    <h3>Setup wizard</h3>

    <ol>
      <li>Select your database type</li>
      <li>Modify your database connection string. The connection string must have <code>{{ '{' }}database{{ '}' }}</code> as its database/initial-catalog</li>
      <li>Choose a root password</li>
      <li>Apply your license, if you have one</li>
    </ol>

    <mat-form-field
      class="fill-width">
      <input
        matInput
        placeholder="JWT secret key"
        autocomplete="off"
        disabled="true"
        minlength="50"
        type="text"
        [(ngModel)]="jwtSecret">
    </mat-form-field>

    <mat-form-field
      style="min-width: 20rem;"
      *ngIf="jwtSecret !== null && jwtSecret.length >= 50">
      <mat-select
        placeholder="Select database type"
        [(ngModel)]="databaseType">
        <mat-option value="mysql">My SQL</mat-option>
        <mat-option value="mssql">Microsoft SQL server</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      *ngIf="jwtSecret !== null && jwtSecret.length >= 50 && databaseType === 'mssql'"
      class="fill-width">
      <input
        matInput
        placeholder="MS SQL connection string"
        type="text"
        [(ngModel)]="mssqlConnectionString">
    </mat-form-field>

    <mat-form-field
      *ngIf="jwtSecret !== null && jwtSecret.length >= 50 && databaseType === 'mysql'"
      class="fill-width">
      <input
        matInput
        placeholder="MySQL connection string"
        type="text"
        [(ngModel)]="mysqlConnectionString">
    </mat-form-field>

    <mat-form-field
      *ngIf="jwtSecret !== null && jwtSecret.length >= 50 && databaseType !== null"
      style="margin-right: 1rem;min-width: 20rem;">
      <input
        matInput
        placeholder="Root password"
        type="password"
        [(ngModel)]="password">
    </mat-form-field>

    <mat-form-field
      *ngIf="jwtSecret !== null && jwtSecret.length >= 50 && databaseType !== null"
      style="margin-right: 1rem;min-width: 20rem;">
      <input
        matInput
        placeholder="Repeat root password"
        type="password"
        [(ngModel)]="repeatPassword">
    </mat-form-field>

    <mat-form-field
      *ngIf="jwtSecret !== null && jwtSecret.length >= 50 && databaseType === 'mysql'"
      class="fill-width">
      <input
        matInput
        placeholder="License"
        type="text"
        [(ngModel)]="licenseFile">
    </mat-form-field>

    <div
      *ngIf="checkConfig()"
      class="right-align">
      <button
        mat-raised-button
        color="primary"
        (click)="save()">
        Save
      </button>
    </div>

  </div>

</div>
