
.setup-wrapper {
    padding:2rem 5rem 2rem 5rem;
    .setup {
        margin-top: 4rem;
        padding: 5rem;
        .fill-width {
            width: 100%;
        }
        .right-align {
            text-align: right;
        }
    }
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}

::ng-deep .info-snackbar {
    background:rgb(100,255,100);
    color:rgb(0,0,0);
}

