
<div class="setup-wrapper">

    <div class="mat-elevation-z4 setup">

      <h3>Setup wizard</h3>

      <p>
        You have to setup your system such that it provides a real authentication scheme. Notice, this will permanently change
        the state of your installation, so be careful, and make sure you have chosen the correct database type that you wish to
        use. You can find any files that are overwritten in the process in your trashcan. Also, your connection string must
        be correct at this point, for the specific database type you wish to use. Edit it in your <em>"appsettings.json"</em>
        file if you haven't done so already!
      </p>

      <div class="database-selector">
        <mat-select placeholder="Select database type" (selectionChange)="databaseTypeChanged($event)" [(value)]="selectedDatabaseType">
          <mat-option *ngFor="let cur of databaseTypes" [value]="cur">{{cur}}</mat-option>
        </mat-select>
      </div>

      <mat-form-field *ngIf="selectedDatabaseType !== null" class="username">
        <input 
          matInput 
          autocomplete="off"
          readonly
          type="text" 
          placeholder="Root username"
          [(ngModel)]="username">
      </mat-form-field>

      <mat-form-field *ngIf="selectedDatabaseType !== null" class="password">
        <input 
          matInput 
          autocomplete="new-password"
          type="password" 
          placeholder="Root password"
          [(ngModel)]="password">
      </mat-form-field>

      <mat-form-field *ngIf="selectedDatabaseType !== null" class="password-repeat">
        <input 
          matInput 
          autocomplete="new-password"
          type="password" 
          placeholder="Repeat password"
          [(ngModel)]="passwordRepeat">
      </mat-form-field>

      <button
        *ngIf="selectedDatabaseType !== null"
        class="save-button"
        matTooltip="This might take some time"
        mat-button
        (click)="setupAuthentication()">
        Setup
      </button>
      
    </div>

  </div>
