

<mat-card>
  <mat-card-content>

    <form [formGroup]="configForm" (ngSubmit)="submit()">

      <div class="d-flex row">

        <mat-form-field class="flex-column flex-wrap col-lg-3">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>database</mat-icon>
            <span class="text-muted mx-2">|</span>
          </span>
          <mat-select
            formControlName="selectedDatabaseType"
            autofocus
            (selectionChange)="selectedDatabaseTypeChanged()"
            name="selectedDatabaseType">
            <mat-option
              *ngFor="let idx of databaseTypes"
              [value]="idx.value">{{idx.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-column flex-wrap col-lg-3">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>schedule</mat-icon>
            <span class="text-muted mx-2">|</span>
          </span>
          <mat-select
            formControlName="defaultTimeZone"
            name="defaultTimeZone">
            <mat-option value="none">None</mat-option>
            <mat-option value="utc">UTC</mat-option>
            <mat-option value="local">local</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-column flex-wrap col-lg-6">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>storage</mat-icon>
            <span class="text-muted mx-2">|</span>
          </span>
          <input
            matInput
            autocomplete="connectionString"
            placeholder="Connection string"
            formControlName="connectionString"
            name="connectionString">
          <mat-error *ngIf="configForm.controls.connectionString.errors?.['pattern']">You must provide a {{'{'}}database{{'}'}} part</mat-error>
        </mat-form-field>

      </div>

      <div class="d-flex row">

        <mat-form-field class="flex-column flex-wrap col-lg-3">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>password</mat-icon>
            <span class="text-muted mx-2">|</span>
          </span>
          <input
            matInput
            autocomplete="new-password"
            placeholder="Password"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            name="password">
          <button
            mat-icon-button
            (click)="toggleShowPassword()"
            type="button"
            matSuffix
            tabindex="-1">
            <mat-icon>visibility{{showPassword ? '_off' : ''}}</mat-icon>
          </button>
          <mat-error *ngIf="configForm.controls.password.hasError('pattern') || configForm.controls.password.hasError('required')">Minimum 12 characters</mat-error>
        </mat-form-field>

        <mat-form-field class="flex-column flex-wrap col-lg-3">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>password</mat-icon>
            <span class="text-muted mx-2">|</span>
          </span>
          <input
            matInput
            autocomplete="new-password"
            formControlName="passwordRepeat"
            placeholder="Repeat password"
            [type]="showPassword ? 'text' : 'password'"
            [errorStateMatcher]="matcher"
            name="password">
            <mat-error *ngIf="configForm.hasError('notSame')">Passwords must match</mat-error>
          </mat-form-field>

          <mat-form-field class="flex-column flex-wrap col-lg-3">
            <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
              <mat-icon>badge</mat-icon>
              <span class="text-muted mx-2">|</span>
            </span>
            <input
              matInput
              autocomplete="name"
              formControlName="name"
              placeholder="Name"
              name="name">
            <mat-error *ngIf="configForm.controls.name.errors?.['required']">You must provide your name</mat-error>
          </mat-form-field>

          <mat-form-field class="flex-column flex-wrap col-lg-3">
            <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
              <mat-icon>contact_mail</mat-icon>
              <span class="text-muted mx-2">|</span>
            </span>
            <input
              matInput
              autocomplete="email"
              placeholder="Email"
              formControlName="email"
              name="email">
            <mat-error *ngIf="configForm.controls.email.errors?.['required']">You must provide your email</mat-error>
          </mat-form-field>
  
      </div>

      <div class="text-end">
        <button
          mat-raised-button
          [disabled]="!configForm.valid"
          type="submit"
          class="px-5"
          color="primary">
          Save
        </button>
      </div>

    </form>

  </mat-card-content>
</mat-card>