
<div class="create-button">
  <button
    mat-icon-button
    *ngIf="backendService.active?.access.crypto.generate_server_key"
    matTooltip="Generate server key pair"
    (click)="create()">
    <mat-icon>add_box</mat-icon>
  </button>
</div>

<div *ngIf="publicKeyFull">
  <mat-list class="detail-list mb-3">

    <mat-list-item>
      <div mat-line>Fingerprint</div>
      <div mat-line>{{publicKeyFull.fingerprint}} </div>
    </mat-list-item>

    <mat-list-item>
      <div mat-line>Fingerprint format</div>
      <div mat-line>{{publicKeyFull.fingerprintFormat}} </div>
    </mat-list-item>

    <mat-list-item>
      <div mat-line>Key format</div>
      <div mat-line>{{publicKeyFull.keyFormat}} </div>
    </mat-list-item>

    <mat-list-item>
      <div mat-line>Key type</div>
      <div mat-line>{{publicKeyFull.keyType}} </div>
    </mat-list-item>

  </mat-list>
  
  <div class="d-flex justify-content-between align-items-center my-2">
    <h4 class="my-0">Public key</h4>
    <button
      mat-icon-button
      matTooltip="Copy public key"
      (click)="copyPublicKey()">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>

  <div class="w-100">
    <div class="code copy-to-clipboard word-break pre-wrap pb-2 px-3" (click)="copyPublicKey()">
      {{publicKeyFull.publicKey}}
    </div>
  </div>
  
</div>
