<div class="row fullPage">
  <div class="col-md-6 col-12 mb-md-0 mb-4">
    <mat-card class="h-100">
      <mat-card-content class="h-100 max-height-full">
        <div class="d-flex justify-content-between button-row align-items-center">
          <h3 class="my-0 fw-bold">
            List of sockets
          </h3>
          <button mat-flat-button color="primary" class="px-4" (click)="subscribe()">Subscribe</button>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <app-socket-searchbox (filterList)="filterList($event)"></app-socket-searchbox>
          </div>
        </div>

        <div class="row mt-3 scrollable-row pb-3">
          <div class="col-12 max-height pb-3">

            <app-socket-list [publishedMessages]="publishedMessages" [users]="users"
              (getConnections)="getConnections($event)" (subscribe)="subscribe($event)"></app-socket-list>

          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6 col-12">
    <mat-card class="h-100">
      <mat-card-content class="h-100 max-height-full">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="my-0 fw-bold">
            List of subscriptions
          </h3>
          <button mat-button color="primary" class="px-4" (click)="clearMessages()">Clear all messages</button>
        </div>

        <div class="row mt-3 scrollable-row">
          <div class="col-12 max-height pb-3">

            <app-socket-result [users]="users" [messages]="messages" [subscriptions]="subscriptions"
              (removeSubscription)="removeSubscription($event)"></app-socket-result>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
