
<button
  mat-icon-button
  matTooltip="Create new role"
  class="create-button"
  (click)="createRole()">
  <mat-icon aria-label="Creates a new role">add_box</mat-icon>
</button>

<mat-form-field class="fill-width">

  <mat-label>Filter roles ...</mat-label>

  <input
    matInput
    placeholder="Filter ..."
    type="text"
    autocomplete="off"
    [formControl]="filterFormControl">

  <mat-icon
    *ngIf="filterFormControl.value.trim() !== ''"
    matSuffix
    class="button"
    role="button"
    matTooltip="Clear filter"
    (click)="clearRoleFilter()">clear</mat-icon>

</mat-form-field>

<table
  mat-table
  [dataSource]="roles"
  class="roles clickable"
  multiTemplateDataRows>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let el">{{el.name}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <td mat-cell *matCellDef="let el">{{el.description}}</td>
  </ng-container>

  <ng-container matColumnDef="show-details">
    <td
      mat-cell
      *matCellDef="let el"
      colspan="2">

      <div
        class="details-sheet"
        *ngIf="shouldDisplayDetails(el)">

        <button
          mat-icon-button
          class="add-role"
          [disabled]="getAffectedUsers(el) === 0"
          [matTooltip]="'Add role to ' + getAffectedUsers(el) + ' selected user(s)'"
          (click)="addRole(el)">
          <mat-icon>add_box</mat-icon>
        </button>

        <button
          mat-icon-button
          class="edit-role"
          matTooltip="Edit role"
          [disabled]="el.name === 'root'"
          (click)="editRole(el)">
          <mat-icon>edit</mat-icon>
        </button>

        <span class="details-item">
          <strong>Name</strong>
          <span>{{el.name}}</span>
        </span>
        <span class="details-item">
          <strong>Description</strong>
          <span>{{el.description}}</span>
        </span>

        <button
          mat-icon-button
          [disabled]="el.name === 'root'"
          matTooltip="Delete role"
          class="delete-role"
          (click)="deleteRole(el)">
          <mat-icon>delete</mat-icon>
        </button>

      </div>

    </td>
  </ng-container>

  <tr
    mat-row
    [ngClass]="(shouldDisplayDetails(el) ? 'selected ' : '') + 'role-row'"
    (click)="toggleDetails(el)"
    *matRowDef="let el; columns: displayedColumns;"></tr>

  <tr
    mat-row
    [ngClass]="shouldDisplayDetails(el) ? 'details' : 'invisible'"
    *matRowDef="let el; columns: ['show-details'];"></tr>

</table>

<mat-paginator
  #paginator
  [class]="count > 5 ? '' : 'invisible'"
  [length]="count"
  pageSize="5"
  (page)="paged()"
  [pageSizeOptions]="[5]">
</mat-paginator>
