
table.roles {
  width: 100%;
  tr {
    td:nth-child(2),
    th:nth-child(2) {
      display: none;
    }
    @media screen and (min-width: 600px) {
      td:nth-child(2),
      th:nth-child(2) {
        display: table-cell;
      }
    }
  }
  .details-sheet {
    position: relative;
    .edit-role {
      position: absolute;
      bottom: 0;
      left: -1rem;
    }
    .add-role {
      position: absolute;
      top: -1rem;
      right: -1rem;
    }
    .details-item {
      display: block;
      margin-bottom: 1rem;
      strong {
        display: block;
      }
      span {
        display: block;
      }
    }
  }
}
