
table.roles {
  width: 100%;
  tr {
    td:nth-child(2),
    th:nth-child(2) {
      display: none;
    }
    @media screen and (min-width: 800px) {
      td:nth-child(2),
      th:nth-child(2) {
        display: table-cell;
      }
    }
  }
}
