
table.roles {
  width: 100%;
  tr {
    td:nth-child(1) {
      white-space: nowrap;
    }
    td:nth-child(2) {
      display: none;
    }
    @media screen and (min-width: 600px) {
      td:nth-child(2) {
        display: table-cell;
      }
    }
  }
  .details-sheet {
    position: relative;
    padding-bottom: 3rem;
    .edit-role {
      position: absolute;
      bottom: 0;
      left: -.5rem;
    }
    .delete-role {
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: -.5rem;
    }
    .add-role {
      position: absolute;
      top: -1rem;
      right: -1rem;
    }
    .details-item {
      display: block;
      margin-bottom: 1rem;
      strong {
        display: block;
      }
      span {
        display: block;
      }
    }
  }
}
