
<mat-card *ngIf="items">

  <div class="current-folder">{{currentFolder}}</div>

  <div class="up-level">
    <button
      mat-icon-button
      [disabled]="currentFolder === '/'"
      (click)="up()">
      <mat-icon>reply</mat-icon>
    </button>
  </div>

  <table
    mat-table
    [dataSource]="items"
    [(class)]="tableCssClass"
    multiTemplateDataRows>

    <ng-container matColumnDef="icon">
      <td class="mini-col icon-col" mat-cell *matCellDef="let el">
        <mat-icon *ngIf="!isFolder(el)">insert_drive_file</mat-icon>
        <mat-icon class="folder-icon" *ngIf="isFolder(el)">folder</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="path">
      <td mat-cell *matCellDef="let el">{{getItemName(el)}}</td>
    </ng-container>

    <ng-container matColumnDef="rename">
      <td class="mini-col button-col" mat-cell *matCellDef="let el">
        <button
          mat-icon-button
          (click)="rename($event, el)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="download">
      <td class="mini-col button-col" mat-cell *matCellDef="let el">
        <button
          mat-icon-button
          (click)="download($event, el)">
          <mat-icon>cloud_download</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <td class="mini-col button-col" mat-cell *matCellDef="let el">
        <button
          [disabled]="!canDeleteItem(el)"
          mat-icon-button
          (click)="delete($event, el)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit-file">
      <td
        mat-cell
        *matCellDef="let el"
        colspan="5">

        <div *ngIf="isEditing(el)" class="file-details">
          <app-file-editor [file]="el"></app-file-editor>
        </div>

      </td>
    </ng-container>

    <tr
      mat-row
      (click)="itemClicked(el)"
      [ngClass]="(isEditing(el) ? 'selected ' : '') + 'log-row'"
      *matRowDef="let el; columns: displayedColumns;"></tr>

    <tr
      mat-row
      [ngClass]="isEditing(el) ? 'details' : 'invisible'"
      *matRowDef="let el; columns: ['edit-file'];"></tr>

  </table>

  <div *ngIf="codeMirrorIsFullscreen === false" class="button-strip">

    <button
      *ngIf="isModuleFolder()"
      mat-icon-button
      matTooltip="(Re)-install module"
      class="install-button"
      (click)="installModule()">
      <mat-icon>touch_app</mat-icon>
    </button>

    <button
      mat-icon-button
      class="file-button">
      <mat-icon>cloud_upload</mat-icon>
    </button>

    <input
      type="file"
      [(ngModel)]="fileInput"
      multiple
      class="invisible-file-element"
      matTooltip="Upload"
      (change)="upload($event.target.files)">

    <button
      mat-icon-button
      matTooltip="Create file"
      (click)="newFile()">
      <mat-icon>create</mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Create folder"
      (click)="newFolder()">
      <mat-icon>add</mat-icon>
    </button>
  
  </div>
  
</mat-card>
