
<div class="files-wrapper">

  <h3>{{path}}</h3>

  <div class="mat-elevation-z4 relativized">

    <table mat-table [dataSource]="dataSource()">

      <ng-container matColumnDef="path">
        <th mat-header-cell *matHeaderCellDef>Path</th>
        <td mat-cell *matCellDef="let el" (click)="selectPath(el)">{{el}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div *ngIf="path !== '/'" class="absolutized">
      <button 
        mat-button
        matTooltip="Up one level"
        (click)="upOneFolder()">Up</button>
    </div>
  
  </div>

</div>

<div *ngIf="fileContent" class="result-wrapper">

  <h3>{{filePath}}</h3>
  <div class="mat-elevation-z4">
    <ngx-codemirror 
      [(ngModel)]="fileContent" 
      [options]="getOptions()"></ngx-codemirror>
  </div>

  <div class="right-aligned">
      <button
        *ngIf="getMode(this.filePath) == 'hyperlambda'"
        mat-button
        (click)="evaluate()"
        matTooltip="Evaluates your file">Evaluate</button>
      <button
        mat-button
        (click)="save()"
        matTooltip="Saves your file">Save</button>
      <button
        mat-button
        (click)="close()"
        matTooltip="Close your edited file">Close</button>
    </div>
  
</div>
