
<div class="files-wrapper">

  <mat-form-field class="fill-width">
    <input 
      matInput 
      placeholder="Filter files ..."
      type="text" 
      [(ngModel)]="filter">
  </mat-form-field>
    
  <h3>{{path}}</h3>

  <div class="mat-elevation-z4 relativized">

    <label class="absolutize">
      <mat-checkbox
        [(ngModel)]="safeMode">
        Safe mode
      </mat-checkbox>
    </label>

    <table
      mat-table
      multiTemplateDataRows
      [dataSource]="dataSource">

      <ng-container
        matColumnDef="path">
        <th
          mat-header-cell
          *matHeaderCellDef>Path</th>
        <td
          mat-cell
          *matCellDef="let el"
          (click)="selectPath(el)">{{getFileName(el.path)}}</td>
      </ng-container>

      <ng-container
        matColumnDef="download"
        class="download-column">
        <th
          mat-header-cell
          *matHeaderCellDef></th>
        <td
          mat-cell
          *matCellDef="let el">
          <button
            *ngIf="!isFolder(el.path)"
            (click)="downloadFile(el.path);"
            mat-button>
            Download
          </button>
        </td>
      </ng-container>

      <ng-container
        matColumnDef="delete">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="delete-column"></th>
        <td
          mat-cell
          *matCellDef="let el">
          <button
            [disabled]="!canModify(el.path)"
            (click)="deletePath(el);"
            mat-button>
            Delete
          </button>
        </td>
      </ng-container>

      <ng-container
        matColumnDef="details">
        <td
          mat-cell
          colspan="3"
          *matCellDef="let el">

          <div
            *ngIf="el.extra !== null && el.extra.fileContent !== null">
            <button
              mat-button
              class="close-button"
              (click)="close(el)"
              matTooltip="Close your edited file">Close</button>
            <h3>{{el.path}}</h3>
            <div
              class="mat-elevation-z4">
              <ngx-codemirror 
                [(ngModel)]="el.extra.fileContent" 
                [options]="getCodeMirrorOptions(el)">
              </ngx-codemirror>
            </div>

            <div
              *ngIf="el.extra !== null && el.extra.fileContent !== undefined && el.extra.fileContent !== null"
              class="right-aligned"
              style="margin-top: 1rem;">
              <button
                [disabled]="!canModify(el.path)"
                mat-button
                (click)="save(el)"
                matTooltip="Saves your file">Save</button>
              <button
                *ngIf="getMode(el) == 'text/x-mysql'"
                mat-button
                (click)="evaluateSql(el)"
                matTooltip="Evaluates your SQL">Evaluate</button>
              <mat-form-field
                *ngIf="getMode(el) == 'text/x-mysql'">
                <mat-select
                  [(value)]="selectedDatabaseType">
                  <mat-option
                    *ngFor="let cur of databaseTypes"
                    [value]="cur">{{cur}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button
                *ngIf="getMode(el) == 'hyperlambda'"
                mat-button
                (click)="evaluate(el)"
                matTooltip="Evaluates your file">Evaluate</button>
            </div>
          
          </div>
        
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="getRowClass(row)"></tr>
      <tr
        mat-row
        [ngClass]="getClassForDetails(row)"
        *matRowDef="let row; columns: displayedSecondRowColumns; "></tr>

    </table>

    <div class="absolutized-top">
      <button 
        [disabled]="atRoot()"
        mat-button
        matTooltip="Up one level"
        (click)="upOneFolder()">Up one level</button>
    </div>

    <div
      class="absolutized-bottom">
      <button
        class="file-button"
        [disabled]="!canModify(path)"
        mat-button>
        Upload file
      </button>
      <div style="display: inline-block"></div>
      <input
        type="file"
        id="file"
        [disabled]="!canModify(path)"
        multiple
        class="invisible-file-element"
        (change)="handleFileInput($event.target.files)">
      <button
        [disabled]="!canModify(path)"
        mat-button
        matTooltip="Create a new file"
        (click)="createNewFile()">New file</button>
      <button
        [disabled]="!canModify(path)"
        mat-button
        matTooltip="Create a new folder"
        (click)="createNewFolder()">New folder</button>
    </div>

  </div>

</div>
