
.current-folder {
  position: absolute;
  top: 1rem;
  left: 3rem;
}

.up-level {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

table.files {
  table-layout: fixed;
  tr {
    td {
      .file-details {
        margin: 1rem .25rem .5rem .25rem;
      }
      .folder-icon {
        color:rgb(189, 115, 18);
      }
    }
  }
}

.button-strip {
  margin-top: 2rem;
  margin-bottom: -2rem !important;
  position: relative;
}

.file-button {
  position:absolute;
  margin-left: -45px;
}

.invisible-file-element {
  margin-left: -45px;
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 0;
  width: 40px;
  height: 40px;
}

.invisible-file-element:hover {
  cursor: pointer;
}
