
.files-wrapper {
    h3 {
        margin-bottom: 3rem;
    }
    padding:2rem 5rem 2rem 5rem;
    position: relative;
    .relativized {
        position: relative;
        padding: 5rem;
        .absolutized-top {
            position: absolute;
            top: .5rem;
            right: .5rem;
        }
        .absolutized-bottom {
            position: absolute;
            bottom: .5rem;
            right: .5rem;
        }
        table {
            width: 100%;
            tr {
                th.delete-column,
                th.delete-column {
                    min-width: 70px;
                    text-align: right;
                }
            }
            tr {
                td:nth-child(1), th:nth-child(1) {
                    width: 100%;
                }
                td:nth-child(2), th:nth-child(2) {
                    width: 20px;
                }
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
                cursor: pointer;
            }
            tr.folder-row {
                font-weight: bold;
            }
            tr.selected-file {
                background-color: rgba(0,128,0,.2);
            }
            tr.mat-row.selected-file:hover {
                background-color: rgba(0,128,0,.3);
            }
            tr.danger td {
                color: rgb(255,57,57);
            }
        }
    }
}

.fill-width {
    width: 100%;
}

.result-wrapper {
    position: relative;
    padding: 0 5rem 2rem 5rem;
    .close-button {
        position: absolute;
        top: 0;
        right: 5rem;
}
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}

::ng-deep .success-snackbar {
    background:rgb(100,255,100);
    color:rgb(0,0,0);
}

.right-aligned {
    text-align: right;
}

.file-button {
    float:left;
    position:absolute;
    z-index:-1;
    margin-left: -100px;
}

.invisible-file-element {
    opacity: 0;
    font-size: 0;
    width: 90px;
    height: 37px;
    float: left; 
}

.invisible-file-element:hover {
    cursor: pointer;
}
