
<h1 mat-dialog-title>{{data ? 'Edit role' : 'Create new role'}}</h1>

<div mat-dialog-content>

  <mat-form-field class="fill-width" appearance="outline">
    <mat-label class="dark">Name</mat-label>
    <input
      matInput
      [(ngModel)]="name"
      [disabled]="data"
      autocomplete="off">
  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">
    <mat-label class="dark">Description</mat-label>
    <textarea
      matInput
      rows="4"
      [(ngModel)]="description"
      autocomplete="off"></textarea>
  </mat-form-field>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <button
    *ngIf="!data"
    mat-raised-button
    color="primary"
    [disabled]="name === '' || description === ''"
    (click)="create()">Create</button>

  <button
    *ngIf="data"
    mat-raised-button
    color="primary"
    [disabled]="description === ''"
    (click)="update()">Update</button>

</div>
