
<div class="row fullPage">

  <div class="col-xl-3 col-lg-4 col-md-5 col-12 mb-md-0 mb-4">

    <mat-card class="h-100 workflow-card">
      <mat-card-content class="h-100 max-height-full">

        <div class="row">
          <div class="col-12">

            <mat-form-field *ngIf="!(dbLoading | async)" class="w-100 standalone-field mb-lg-0 mb-2">
              <span
                matPrefix
                class="d-flex flex-nowrap align-items-center justify-content-between me-2">
                <mat-icon>database</mat-icon>
                <span class="text-muted">|</span>
              </span>
              <mat-select
                placeholder="Workflows ..."
                [(ngModel)]="selectedWorkflow"
                (selectionChange)="workflowChanged()">
                <mat-option
                  *ngFor="let item of workflows"
                  [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-xl-9 col-lg-8 col-md-7 col-12">
    <mat-card class="h-100 px-3 py-2">
      <mat-card-content class="h-100 max-height-full">

        <div #surface></div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
