/*=-=-=-=-=-=
main colour definistion
=-=-=-=-=-=*/
$aista_default: #FFFFFF;
$aista_default_alt: #f5f5f5; // background
$aista_default_grey5: #F0F0F0; // gray 5
$aista_default_grey4: #BDBDBD; // grey 4
$aista_default_grey3: #828282; // grey 3
$aista_default_grey2: #4F4F4F; // grey 2
$aista_default_grey1: #333333; // grey 1
$aista_dark: #060D16; // black 1 --- body text
$aista_dark_alt: #1D1D1D; // black 2
$aista_dark_darker: #282828; // black 3
$aista_primary: #0080FF;
$aista_accent: #002D75;
$aista_error: #EB5757;
$aista_warning: #E2B93B;
$aista_success: #27AE60;
$aista_info: #2F80ED;