/*=-=-=-=-=-=
Main colour definition
=-=-=-=-=-=*/
$ainiro_default: #FFFFFF;
$ainiro_default_alt: #f5f5f5; // background
$ainiro_default_grey5: #F0F0F0; // gray 5
$ainiro_default_grey4: #BDBDBD; // grey 4
$ainiro_default_grey3: #828282; // grey 3
$ainiro_default_grey2: #4F4F4F; // grey 2
$ainiro_default_grey1: #333333; // grey 1
$ainiro_dark: #060D16; // black 1 --- body text
$ainiro_dark_alt: #1D1D1D; // black 2
$ainiro_dark_darker: #282828; // black 3
$ainiro_primary: #0080FF;
$ainiro_accent: #002D75;
$ainiro_error: #EB5757;
$ainiro_warning: #E2B93B;
$ainiro_success: #27AE60;
$ainiro_info: #2F80ED;