@font-face {
  font-family: "inter-regular";
  src: url("../../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "inter-medium";
  src: url("../../fonts/Inter-Medium.ttf");
}

$aista_font: "inter-regular";
$aista_font_medium: "inter-medium";