    <mat-form-field
      *ngIf="canEditColumn('[[column-name]]')"
      class="entity-edit-field"
      appearance="outline">
      <mat-label>{{'[[column-name]]' | translate}}</mat-label>
      <input
        matInput
        name="[[form-control-name]]"
        (change)="changed('[[column-name]]')"
        [owlDateTime]="picker[[form-control-name]]"
        [(ngModel)]="data.entity['[[column-name]]']"
        autocomplete="off">
      <owl-date-time
        #picker[[form-control-name]]
        (afterPickerClosed)="changed('[[column-name]]')"></owl-date-time>
      <mat-icon
        [owlDateTimeTrigger]="picker[[form-control-name]]"
        matSuffix
        role="button"
        class="button-icon"
        matDatepickerToggleIcon>calendar_today</mat-icon>
    </mat-form-field>

