
<div class="row">
  <div class="col-12">
    <mat-card class="input">

      <mat-card-content>
        <app-codemirror-hyperlambda [(model)]="input"></app-codemirror-hyperlambda>
    
        <div class="d-flex justify-content-end my-3">
      
          <button
            id="loadButton"
            mat-raised-button
            (click)="load()">Load</button>
          <div class="p-1"></div>
          <button
            id="saveButton"
            mat-raised-button
            [disabled]="input.hyperlambda.length === 0"
            (click)="save()">Save</button>
          <div class="p-1"></div>
          <button
            id="executeButton"
            mat-raised-button
            color="primary"
            [disabled]="input.hyperlambda.length === 0"
            (click)="execute()">Execute</button>
      
        </div>
      </mat-card-content>
    
    </mat-card>
  </div>
  <div class="col-12">
    <mat-card *ngIf="output.hyperlambda && output.hyperlambda.length > 0" class="mt-3 mb-5">
      <mat-card-content>
        <app-codemirror-hyperlambda [(model)]="output"></app-codemirror-hyperlambda>
      </mat-card-content>
    </mat-card>
  </div>
</div>

