
<div class="evaluator-wrapper">

  <button mat-button class="legend-button" (click)="showLegend()">
    <mat-icon
      matTooltip="Shows legend for evaluator"
      matSuffix>info</mat-icon>
  </button>

  <div class="mat-elevation-z4">

    <ngx-codemirror 
      [(ngModel)]="hyperlambda" 
      class="smaller"
      [options]="getCodeMirrorOptions(true)"></ngx-codemirror>
    </div>

    <div class="execute-button">
      <button 
        mat-raised-button
        color="primary"
        id="executeButton"
        matTooltip="Evaluates your Hyperlambda"
        (click)="evaluate()">Evaluate</button>
    </div>

</div>

<div *ngIf="result" class="result-wrapper">

  <div class="mat-elevation-z4">
    <ngx-codemirror 
      [(ngModel)]="result" 
      class="smaller"
      [options]="getCodeMirrorOptions()"></ngx-codemirror>
  </div>
  
</div>
