
.evaluator-wrapper {
    margin:3rem 2rem 0 2rem;
    padding:2rem 2rem .5rem 2rem;
    position: relative;
    .legend-button {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -1rem;
        margin-right: 2rem;
    }
    .execute-button {
        text-align: right;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.result-wrapper {
    margin:0 2rem 0 2rem;
    padding:0 2rem 2rem 2rem;
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}
