
.evaluator-wrapper {
    margin:3rem 2rem 0 2rem;
    padding:2rem 2rem .5rem 2rem;
    .right-aligned {
        text-align: right;
    }
}

.result-wrapper {
    margin:0 2rem 0 2rem;
    padding:0 2rem 2rem 2rem;
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}
