
<h1 mat-dialog-title>Associate '{{data.username}}' with role</h1>

<div mat-dialog-content>

  <mat-form-field *ngIf="roles" class="w-100" appearance="outline">

    <mat-label class="dark">Choose new role</mat-label>
    <mat-select
      class="dark"
      [(ngModel)]="role">
      <mat-option
        *ngFor="let idx of roles"
        [value]="idx">{{idx.name}}</mat-option>
    </mat-select>

  </mat-form-field>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <button
    [disabled]="role === null"
    mat-raised-button
    color="primary"
    (click)="add()">Add</button>

</div>
