
<h1 mat-dialog-title>Set defaults</h1>

<div mat-dialog-content>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Create auth</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [(ngModel)]="data.authCreate">
  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Read auth</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [(ngModel)]="data.authRead">
  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Update auth</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [(ngModel)]="data.authUpdate">
  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Delete auth</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [(ngModel)]="data.authDelete">
  </mat-form-field>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Primary URL</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [(ngModel)]="data.primaryUrl">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <button
    mat-raised-button
    color="primary"
    (click)="apply()">Apply</button>

    <button
    mat-raised-button
    (click)="close()">Close</button>

  </div>
