
.meta-wrapper {
  margin-top: 5rem;
  min-height: 19rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 76rem;
  margin-left: auto;
  margin-right: auto;
  .meta-info {
    flex: 1;
    max-width: 16rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    .item {
      display: block;
      width: 20rem;
      strong {
        display: inline-block;
        width: 10rem;
      }
    }
  }
  .meta-statistics {
    flex: 1;
    max-width: 20rem;
    margin-bottom: 2rem;
    margin-right: 4rem;
    strong {
      text-align: center;
      display: block;
      margin-bottom: .5rem;
      color: #aaa;
    }
  }
}
