
.meta-wrapper {
  margin-top: 3rem;
  min-height: 19rem;
  display: flex;
  flex-wrap: wrap;
  .meta-info {
    flex: 1;
    max-width: 16rem;
    margin-bottom: 2rem;
    .item {
      display: block;
      width: 16rem;
      font-size: .8rem;
      line-height: 1rem;
      strong {
        display: inline-block;
        width: 8rem;
      }
    }
  }
  .meta-statistics {
    flex: 1;
    max-width: 16rem;
    margin-bottom: 2rem;
    strong {
      text-align: center;
      display: block;
      margin-bottom: .5rem;
      color: #aaa;
    }
  }
}
