h1 {
    text-align: center;
    margin-top: 3rem;
}

.info-card {
    margin:2rem 5rem 2rem 5rem;
    padding: 3rem;
    margin-top: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    margin: 3rem auto 5rem auto;
    text-align: center;
    font-size: 0.9rem;
    color:#aaaaaa;
}
