
<div class="wrapper" *ngIf="input">

  <mat-form-field class="form-field">

    <mat-label>Database type</mat-label>
    <mat-select
      [(ngModel)]="input.databaseType"
      matTooltip="Type of database endpoint encapsulates"
      (selectionChange)="databaseTypeChanged()"
      placeholder="Database type">
      <mat-option
        *ngFor="let idx of databaseTypes"
        [value]="idx">{{idx}}</mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field class="form-field">

    <mat-label>Connection string</mat-label>
    <mat-select
      [(ngModel)]="input.connectionString"
      matTooltip="Connection string endpoint encapsulates"
      (selectionChange)="connectionStringChanged()"
      placeholder="Connection string">
      <mat-option
        *ngFor="let idx of connectionStrings"
        [value]="idx">{{idx}}</mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field class="form-field">

    <mat-label>Database</mat-label>
    <mat-select
      [(ngModel)]="input.database"
      matTooltip="Database endpoint wraps"
      [disabled]="!databases || databases.length === 0"
      (selectionChange)="databaseChanged()"
      placeholder="Database">
      <mat-option
        *ngFor="let idx of databases"
        [value]="idx">{{idx}}</mat-option>
    </mat-select>

  </mat-form-field>

  <br *ngIf="input.database">

  <mat-form-field class="form-field" *ngIf="input.database">
    <mat-label>HTTP verb</mat-label>
    <mat-select
      matTooltip="HTTP verb endpoint encapsulates"
      [(ngModel)]="verb">
      <mat-option
        *ngFor="let idx of verbs"
        [value]="idx">{{idx}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field" *ngIf="input.database">
    <mat-label>Module name ...</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      matTooltip="Second last parts of URL of endpoint"
      [(ngModel)]="moduleName">
  </mat-form-field>

  <mat-form-field class="form-field" *ngIf="input.database">
    <mat-label>Endpoint name ...</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      matTooltip="Last parts of URL of endpoint"
      [(ngModel)]="endpointName">
  </mat-form-field>

  <mat-form-field class="form-field" *ngIf="input.database">
    <mat-label>Authorization ...</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      matTooltip="Comma separated list of roles users must belong to in order to invoke endpoint"
      [(ngModel)]="authorization">
  </mat-form-field>

  <mat-form-field class="form-field full-width" *ngIf="input.database">
    <mat-label>Arguments ...</mat-label>
    <textarea
      matInput
      rows="5"
      [(ngModel)]="arguments"></textarea>
  </mat-form-field>

  <app-codemirror-sql *ngIf="input.database" [(model)]="input"></app-codemirror-sql>

  <div class="button-strip" *ngIf="input.database">
    <button
      mat-button
      [disabled]="moduleName === '' || endpointName === '' || input.sql === ''"
      matTooltip="Generates your SQL endpoint"
      (click)="generate()">
      Generate
    </button>
  </div>

</div>