
<div *ngIf="input">

  <mat-form-field class="form-field" appearance="outline">

    <mat-label>Database</mat-label>
    <mat-select
      [(ngModel)]="input.databaseType"
      (selectionChange)="databaseTypeChanged()">
      <mat-option
        *ngFor="let idx of databaseTypes"
        [value]="idx">{{idx}}</mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">

    <mat-label>Connection</mat-label>
    <mat-select
      [(ngModel)]="input.connectionString"
      (selectionChange)="connectionStringChanged()">
      <mat-option
        *ngFor="let idx of connectionStrings"
        [value]="idx">{{idx}}</mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">

    <mat-label>Database</mat-label>
    <mat-select
      [(ngModel)]="input.database"
      [disabled]="!databases || databases.length === 0"
      (selectionChange)="databaseChanged()">
      <mat-option
        *ngFor="let idx of databases"
        [value]="idx">{{idx}}</mat-option>
    </mat-select>

  </mat-form-field>

</div>
