
<div *ngIf="table && database && databaseType">

  <h2>{{table.name}}</h2>

  <ul class="verbs">
    <li *ngFor="let idx of table.verbs">
      <mat-checkbox [(ngModel)]="idx.generate">{{getCrudNameForVerb(idx.name)}}</mat-checkbox>
    </li>
  </ul>

  <table
    mat-table
    [dataSource]="table.columns"
    class="table-items clickable"
    multiTemplateDataRows>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.name}}</td>
    </ng-container>

    <ng-container matColumnDef="db">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.db}}</td>
    </ng-container>

    <ng-container matColumnDef="nullable">
      <th mat-header-cell *matHeaderCellDef>Null</th>
      <td
        mat-cell
        class="icon-col"
        *matCellDef="let el">
        <mat-icon matTooltip="Column can accept null values" *ngIf="el.nullable === true">check</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="primary">
      <th mat-header-cell *matHeaderCellDef>Key</th>
      <td
        mat-cell
        class="icon-col"
        *matCellDef="let el">
        <mat-icon matTooltip="Column is a part of the table's primary key collection" *ngIf="el.primary === true">check</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="automatic">
      <th mat-header-cell *matHeaderCellDef>Default</th>
      <td
        mat-cell
        class="icon-col"
        *matCellDef="let el">
        <mat-icon matTooltip="Column has a default value" *ngIf="el.automatic === true">check</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="show-details">
      <td
        mat-cell
        *matCellDef="let el"
        colspan="6">
        <div
          class="details-sheet"
          *ngIf="el.expanded">
          <ul class="verbs">
            <li *ngFor="let idx of getEnabledVerbs()">
              <mat-checkbox
                [disabled]="verbForColumnIsDisabled(idx.name, el)"
                [(ngModel)]="el[idx.name]">{{getCrudNameForVerb(idx.name)}}</mat-checkbox>
            </li>
          </ul>

        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>

    <tr
      mat-row
      [ngClass]="(el.expanded ? 'selected ' : '') + 'crudify-row'"
      (click)="el.expanded = !el.expanded"
      *matRowDef="let el; columns: displayedColumns;"></tr>

    <tr
      mat-row
      [ngClass]="el.expanded ? 'details' : 'invisible'"
      *matRowDef="let el; columns: ['show-details'];"></tr>

  </table>

  <div class="splitter">

    <div class="section-1">

      <h3>URL</h3>

      <mat-form-field class="field-input" appearance="outline">

        <mat-label>Primary</mat-label>
        <input
          matInput
          [disabled]="!isGetIncluded() && !isDeleteIncluded() && !isPutIncluded() && !isPostIncluded()"
          type="text"
          autocomplete="off"
          [(ngModel)]="table.moduleName">

      </mat-form-field>

      <mat-form-field class="field-input" appearance="outline">

        <mat-label>Secondary</mat-label>
        <input
          matInput
          [disabled]="!isGetIncluded() && !isDeleteIncluded() && !isPutIncluded() && !isPostIncluded()"
          type="text"
          autocomplete="off"
          [(ngModel)]="table.moduleUrl">

      </mat-form-field>

    </div>

    <div class="section-2">

      <h3>Authorization</h3>

      <mat-form-field *ngIf="isPostIncluded()" class="field-input" appearance="outline">

        <mat-label>Create</mat-label>
        <input
          matInput
          [disabled]="!isPostIncluded()"
          type="text"
          autocomplete="off"
          [(ngModel)]="table.authPost">

      </mat-form-field>

      <mat-form-field *ngIf="isGetIncluded()" class="field-input" appearance="outline">

        <mat-label>Read</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [(ngModel)]="table.authGet">

      </mat-form-field>

      <mat-form-field *ngIf="isPutIncluded()" class="field-input" appearance="outline">

        <mat-label>Update</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [(ngModel)]="table.authPut">

      </mat-form-field>

      <mat-form-field *ngIf="isDeleteIncluded()" class="field-input" appearance="outline">

        <mat-label>Delete</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [(ngModel)]="table.authDelete">

      </mat-form-field>

    </div>

  </div>

  <div *ngIf="advanced">

    <h3>Miscellaneous</h3>

    <mat-form-field *ngIf="isGetIncluded()" class="field-input" appearance="outline">

      <mat-label>Caching</mat-label>
      <input
        matInput
        type="number"
        min="0"
        max="300"
        autocomplete="off"
        [disabled]="!isGetIncluded()"
        [(ngModel)]="table.cache">

    </mat-form-field>

    <mat-checkbox
      *ngIf="isGetIncluded()"
      [disabled]="!table.cache || table.cache === 0"
      [(ngModel)]="table.publicCache">Public cache</mat-checkbox>

    <mat-checkbox
      *ngIf="isDeleteIncluded()"
      [(ngModel)]="table.logDelete">Log delete</mat-checkbox>

    <mat-checkbox
      *ngIf="isPutIncluded()"
      [(ngModel)]="table.logPut">Log update</mat-checkbox>

    <h3>Additional POST/PUT Hyperlambda</h3>

    <app-codemirror-hyperlambda *ngIf="advanced" [(model)]="input"></app-codemirror-hyperlambda>

  </div>

  <div class="button-strip">

    <mat-checkbox
      matTooltip="Publish web socket messages during PUT, DELETE and POST invocations"
      [(ngModel)]="table.cqrs">Publish</mat-checkbox>

    <mat-checkbox
      [(ngModel)]="advanced">Advanced</mat-checkbox>

    <button
      [disabled]="isMagicDatabase() || (!isGetIncluded() && !isDeleteIncluded() && !isPutIncluded() && !isPostIncluded())"
      mat-raised-button
      color="primary"
      (click)="crudifyTable()">
      Crudify {{table.name}}
    </button>

  </div>

</div>
