@import '../../../../assets/styles/colour.scss';
@import '../../../../assets/styles/mixin.scss';

.bazaar{
  .line-truncate{@include line_truncate(5);}
  a.btn{
    color: inherit;
    cursor: pointer;
    @include general_transition(0.3s);
    &:hover{
      box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.20);
    }
    .text-accent{
      color: $magic_accent;
    }
  }
  ::ng-deep {
    .mat-raised-button.mat-button-disabled.mat-button-disabled{color: inherit;}
    .mat-list-base[dense] .mat-list-item .mat-list-item-content{padding: 0;}
    .mat-subheader{padding: 0;}
  }
}
::ng-deep {
  // preview modal
  .mat-dialog-content p, .mat-dialog-content pre, .mat-dialog-content code, .mat-dialog-content ul li {
    word-break: break-all;
    white-space: break-spaces;
  }
}