<div class="row">
  <div class="col-12 mb-general bazaar">

    <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between">
      <div class="d-flex align-items-center">
        <mat-card-title class="my-0">Bazaar</mat-card-title>
        <div class="sm-icons">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
            <mat-icon>help_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <div class="p-3">
              <p>
                This is Magic's integrate AppStore from where you can purchase, and/or install backend modules, 
                providing some micro service functionality, allowing you to extend your server's functionality without
                any coding required.
              </p>
              <div class="d-flex justify-content-end">
                <a target="_blank" href="https://docs.aista.com/documentation/magic/components/bazar/" mat-stroked-button>Learn more</a>
              </div>
            </div>
          </mat-menu>
        </div>
      </div>
      <button
        *ngIf="!subscribing"
        mat-icon-button
        class="subscribe"
        matTooltip="Subscribe to our newsletter"
        (click)="subscribe()">
        <mat-icon>email</mat-icon>
      </button>
    </div>

    <mat-card-subtitle class="mb-4">Purchase and install micro services</mat-card-subtitle>

    <div class="d-flex">
      <button mat-button 
        [class.mat-raised-button]="!installed" 
        (click)="installed = !installed" 
        [disabled]="!installed">Recommended</button>
      <div class="p-1"></div>
      <button mat-button 
        [class.mat-raised-button]="installed" 
        (click)="installed = !installed" 
        [disabled]="installed">Installed</button>
    </div>

    <div class="row">
      <div class="col-xl-4 col-md-6 col-12">

        <mat-form-field [class]="hideFilterControl ? 'invisible' : 'w-100'" appearance="outline">
          <mat-label>Filter ...</mat-label>
          <input
            matInput
            type="text"
            autocomplete="off"
            [formControl]="filterFormControl">
          <mat-icon
            matSuffix
            *ngIf="filterFormControl.value.trim() !== ''"
            class="button"
            role="button"
            (click)="clearFilter()">clear</mat-icon>
        </mat-form-field>

      </div>
    </div>

    <!-- Recommended apps -->
    <div class="row no-gutters mt-3" *ngIf="manifests && !installed">
      <div class="col-xl-3 col-md-4 col-sm-6 py-1" 
        *ngFor="let idx of apps;let i = index"
        [class]="appIsInstalled(idx) ? 'd-none' : ''"
        [ngClass]="{'pr-xl-3':((i + 1) / 4) !== 0,'pr-md-3':((i + 1) / 3) !== 0,'pr-sm-3':((i + 1) / 2) !== 0 }">
        <mat-card class="h-100 p-0">
          <mat-card-content class="h-100">
            <a class="w-100 h-100 d-block btn p-3" (click)="viewApp(idx)">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <h3 class="mb-0">{{idx.name}}</h3>
                <div class="p-1"></div>
                <p class="mb-0 text-muted">{{idx.version}}</p>
              </div>
              <h2 class="text-center text-accent my-3">{{idx.price === 0 ? 'Free' : (idx.price | currency:"EUR":"symbol" : '1.0-0')}}</h2>
              <p class="line-truncate mat-caption">{{idx.description}}</p>
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <p class="my-0">
                  Min. Magic: {{idx.min_magic_version}}
                </p>
                <button mat-button>View/Get</button>
              </div>
            </a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- Installed apps -->
    <div class="row no-gutters mt-3" *ngIf="manifests && installed">

      <!-- If no installed app was found -->
      <div class="col-12" *ngIf="manifests.length === 0">
        <mat-card>
          <mat-card-content>
            <h4 class="mb-2">You don't have any installed services yet.</h4>
            <p class="text-muted">Browse the recommended services to find what suits your application the best.</p>
          </mat-card-content>
        </mat-card>
      </div>
      
      <div class="col-xl-3 col-md-4 col-sm-6 py-1" 
        *ngFor="let idx of manifests;let i = index"
        [ngClass]="{'pr-xl-3':((i + 1) / 4) !== 0,'pr-md-3':((i + 1) / 3) !== 0,'pr-sm-3':((i + 1) / 2) !== 0 }">
        <mat-card class="h-100 p-0">
          <mat-card-content class="h-100">
            <a class="w-100 h-100 d-block btn p-3" 
            (click)="viewInstalledAppDetails(idx)"
            [matTooltip]="idx.has_update ? 'Update' : 'You seem to have the latest version'">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <h3 class="mb-0">{{idx.name}}</h3>
                <div class="p-1"></div>
                <p class="mb-0 text-muted">{{idx.version}}</p>
              </div>

              <mat-list dense>
                <div mat-subheader>Installation details:</div>
                <mat-list-item>
                  <div mat-line>{{idx?.installed_by}}</div>
                  <div mat-line> {{idx?.installed ? (idx?.installed | since) : ''}} </div>
                </mat-list-item>
              </mat-list>

              <div class="d-flex flex-wrap justify-content-between align-items-center mt-4">
                <div class="d-flex align-items-center" [ngClass]="{'text-accent': !idx.has_update, 'warning': idx.has_update}">
                  <p class="my-0 mr-2" *ngIf="!idx.has_update">
                    {{idx.has_update ? 'Update app' : 'Updated'}}
                  </p>
                  <mat-icon>{{idx.has_update ? 'get_app' : 'check'}}</mat-icon>
                </div>
                <button mat-button>View details</button>
              </div>
            </a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-paginator
          #paginator
          [class]="count > paginator.pageSize ? '' : 'invisible'"
          [length]="count"
          pageSize="5"
          [hidePageSize]="true"
          (page)="paged($event)"
          [pageSizeOptions]="[5]">
        </mat-paginator>
      </div>
    </div>

  </div>
</div>
