<div class="row  manipuated-layout">
  <div class="col-12 mb-general bazaar">
    <div class="row">
      <div class="col-12">

        <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between">
          <div class="d-flex align-items-center">
            <mat-card-title class="mb-1">Plugins</mat-card-title>
            <div class="sm-icons">
              <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
                <mat-icon>help_outline</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <div class="p-3">
                  <p>
                    This is Magic's integrate AppStore from where you can purchase, and/or install backend modules,
                    providing some micro service functionality, allowing you to extend your server's functionality without
                    any coding required.
                  </p>
                  <div class="d-flex justify-content-end">
                    <a target="_blank" href="https://docs.aista.com/documentation/magic/components/bazar/" mat-stroked-button>Learn more</a>
                  </div>
                </div>
              </mat-menu>
            </div>
          </div>
          <button
            *ngIf="!subscribing"
            mat-icon-button
            class="subscribe"
            matTooltip="Subscribe to our newsletter"
            (click)="subscribe()">
            <mat-icon>email</mat-icon>
          </button>
        </div>

        <mat-card-subtitle class="mb-4">Purchase and install micro services</mat-card-subtitle>
        <div class="d-flex flex-sm-nowrap flex-wrap justify-content-end mb-3">

          <mat-form-field [class.invisible]="hideFilterControl" appearance="outline" class="inline-input">
            <mat-label>Filter ...</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formControl]="filterFormControl">
            <mat-icon
              matSuffix
              *ngIf="filterFormControl.value.trim() !== ''"
              class="button"
              role="button"
              (click)="clearFilter()">clear</mat-icon>
          </mat-form-field>
          <mat-paginator
            #paginator
            [class]="count > paginator.pageSize ? '' : 'invisible'"
            [length]="count"
            [pageSize]="pageSize"
            [hidePageSize]="true"
            (page)="paged($event)"
            [pageSizeOptions]="[pageSize]">
          </mat-paginator>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="manifests && manifests.length > 0">
      <div class="col-12 mb-3">
        <div class="d-flex align-items-center justify-content-between has-border">
          <p class="my-0 section-title mat-body-2">Installed plugins</p>
          <!-- <a mat-button color="primary" class="see-all-link">See all</a> -->
          <p class="see-all-link my-0">{{getInstalledApps().length}} plugins</p>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12 mb-3" *ngFor="let idx of getInstalledApps();let i = index;let last=last">
        <mat-card class="h-100">
          <mat-card-content class="h-100">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="my-0 fw-500">{{idx.name}}</h3>
                <p class="my-0 mat-caption text-muted">
                  {{idx.version}}
                </p>
              </div>
              <p class="mat-caption mb-0 mt-1 text-accent" *ngIf="idx.has_update">
                New version available
              </p>
            </div>
            <div>
              <p class="line-truncate mat-body-1 my-4">{{idx.description}}</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <p class="my-0 mat-caption text-muted">
                Min. Magic version: {{idx.min_magic_version}}
              </p>
              <button mat-button (click)="viewInstalledAppDetails(idx)">{{idx.has_update ? 'Update' : 'Details'}}</button>
              <button mat-button color="warn" (click)="uninstallPlugin(idx)">Uninstall</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="row" *ngIf="getUniInstalledApps() && getUniInstalledApps().length > 0">
      <div class="col-12 my-3">
        <div class="d-flex align-items-center justify-content-between has-border">
          <p class="my-0 section-title mat-body-2">Recommended plugins</p>
          <!-- <a mat-button color="primary" class="see-all-link">See all</a> -->
          <p class="see-all-link my-0">{{getUniInstalledApps().length}} plugins</p>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12 mb-3" *ngFor="let idx of getUniInstalledApps();let i = index;let last=last">
        <mat-card class="h-100">
          <mat-card-content class="h-100">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="my-0 fw-500">{{idx.name}}</h3>
                <p class="my-0 mat-caption text-muted">
                  {{idx.version}}
                </p>
              </div>
              <p class="mat-caption my-0 text-accent">
                {{idx.price === 0 ? 'Free' : (idx.price | currency:"EUR":"symbol" : '1.0-0')}}
              </p>
            </div>
            <div>
              <p class="line-truncate mat-body-1 my-4">{{idx.description}}</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <p class="my-0 mat-caption text-muted">
                Min. Magic version: {{idx.min_magic_version}}
              </p>
              <button mat-button (click)="viewApp(idx)">Details</button>
              <button mat-flat-button color="primary" (click)="purchase(idx)">Install</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
