<form>

  <div mat-dialog-title>
    Add new link table
  </div>
  
  <div mat-dialog-content>

    <mat-form-field
      class="w-100"
      appearance="outline">
      <mat-label>Table 1</mat-label>
      <mat-select name="pkType" [(ngModel)]="data.table1">
        <mat-option *ngFor="let opt of data.tables" [value]="opt.name">{{opt.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      class="w-100"
      appearance="outline">
      <mat-label>Table 2</mat-label>
      <mat-select name="pkType" [(ngModel)]="data.table2">
        <mat-option *ngFor="let opt of data.tables" [value]="opt.name">{{opt.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

    <div
      mat-dialog-actions
      class="mat-dialog-actions">

      <button
        mat-raised-button
        [disabled]="!getValidInput()"
        color="primary"
        type="submit"
        [mat-dialog-close]="data">Create</button>

  </div>

</form>
