<div class="row help-center">

  <div class="col-12">
    <mat-card class="mb-4">
      <mat-card-content>

        <div class="row">
          <div class="col-lg-4 col-12 mb-3">
            <h3 class="fw-bold">Getting started with Magic</h3>
            <p>
              Here is a video teaching you how to get started with Magic, showing you all the essential components,
              such as SQL Studio, how to connect to your database, Hyper IDE, etc. Constructs demonstrated in the
              video are.
            </p>
            <ul>
              <li>Connecting to your existing database</li>
              <li>Installing a plugin database</li>
              <li>Designing a database from scratch</li>
              <li>Generating a CRUD API wrapping your database</li>
              <li>Generating and deploying a frontend using GitHub actions</li>
              <li>Editing your code using Hyper IDE</li>
              <li>Managing users and roles</li>
              <li>Invoking and testing your endpoints</li>
              <li>Scheduling and managing tasks</li>
              <li>Hyperlambda playground</li>
              <li>Working with sockets</li>
            </ul>
          </div>
          <div class="col-lg-8 col-12">
            <div class="video-wrapper">
              <iframe width="560" height="315" class="w-100 h-100" src="https://www.youtube.com/embed/pJHuUiItrnc"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-6 col-12 mb-4">

    <mat-card class="h-100">

      <h3 class="fw-bold">AI based Hyperlambda FAQ</h3>

      <p class="text-muted">
        Ask any question about Hyperlambda software development below and I will try my best to answer. Notice,
        you need to be very specific, and I am not always correct.
      </p>

      <app-openai-prompt
        fileType="hl"
        class="w-100">
      </app-openai-prompt>

    </mat-card>

  </div>

  <div class="col-lg-6 col-12 mb-4">
    <mat-card class="h-100">
      <mat-card-content>

        <div class="row">
          <div class="col-12">
            <h3 class="fw-bold">Online documentation and courses</h3>
            <p>
              Below you can find learning resources related to Aista Magic Cloud and Hyperlambda.
            </p>
            <ul>
              <li>
                <a target="_blank" href="https://docs.aista.com">Primary documentation</a>
              </li>
              <li>
                <a target="_blank" href="https://aista.com/hyperlambda-101/">Hyperlambda course</a>
              </li>
              <li>
                <a target="_blank" href="https://aista.com/hyperlambda-faq/">Hyperlambda FAQ</a>
              </li>
            </ul>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>