@import '../../../../assets/styles/colour.scss';
mat-toolbar {
  height: 40px;
  padding: 0 12px;
  ::ng-deep .mat-button{min-width: 36px;}
}
::ng-deep {
  .light .mat-toolbar-single-row{
    background-color: $magic_site_bg;
  }
  .dark .mat-toolbar-single-row{
    background-color: $magic_dark_alternative;
    .mat-icon-button{color: $magic_default_secondary;}
  }
}
