
<mat-card>

  <table
    mat-table
    [dataSource]="table.columns"
    class="table-items clickable">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Column name</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.name}}</td>
    </ng-container>

    <ng-container matColumnDef="db">
      <th mat-header-cell *matHeaderCellDef>Database type</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.db}}</td>
    </ng-container>

    <ng-container matColumnDef="hl">
      <th mat-header-cell *matHeaderCellDef>Hyperlambda type</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.hl}}</td>
    </ng-container>

    <ng-container matColumnDef="nullable">
      <th mat-header-cell *matHeaderCellDef>Nullable</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.nullable}}</td>
    </ng-container>

    <ng-container matColumnDef="primary">
      <th mat-header-cell *matHeaderCellDef>Primary key</th>
      <td
        mat-cell
        class="icon-col"
        *matCellDef="let el">
        <mat-icon matTooltip="Column is a part of the table's primary key collection" *ngIf="el.primary === true">check</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="automatic">
      <th mat-header-cell *matHeaderCellDef>Has default</th>
      <td
        mat-cell
        class="icon-col"
        *matCellDef="let el">
        <mat-icon matTooltip="Column has a default value" *ngIf="el.automatic === true">check</mat-icon>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>

    <tr
      mat-row
      *matRowDef="let el; columns: displayedColumns;"></tr>

  </table>

  <mat-form-field class="field-input">
    <mat-label>Module name ...</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      matTooltip="First part of relative URL to use for table"
      [(ngModel)]="table.moduleName">
  </mat-form-field>

  <mat-form-field class="field-input">
    <mat-label>Module URL ...</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      matTooltip="Second part of relative URL to use for table"
      [(ngModel)]="table.moduleUrl">
  </mat-form-field>

  <mat-form-field class="field-input">
    <mat-label>Caching ...</mat-label>
    <input
      matInput
      type="number"
      min="0"
      max="300"
      autocomplete="off"
      matTooltip="Seconds to cache read and count"
      [(ngModel)]="table.cache">
  </mat-form-field>

  <mat-checkbox
    [disabled]="!table.cache || table.cache === 0"
    [(ngModel)]="table.publicCache">Public cache</mat-checkbox>



</mat-card>
