
.field-input {
  width: 10rem;
  margin-right: 1rem;
}

mat-checkbox {
  margin-right: 1rem;
}

mat-card {
  position: relative;
  padding-bottom: 1rem;
  .table-name {
    position: absolute;
    top: 2rem;
    left: 4rem;
    color: #999;
    font-style: italic;
  }
  .verbs {
    padding-left: 0;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    li {
      list-style-type: none;
      float: left;
      margin-right: 1rem;
      width: 4rem;
    }
  }
  table.table-items {
    margin-top: 2rem;
    margin-bottom: 2rem;
    tr {
      td {
        .details-sheet {
          ul.verbs {
            position: relative;
            top: unset;
            right: unset;
          }
        }
      }
    }
  }
}
