
.field-input {
  width: 10rem;
  margin-right: 1rem;
}

mat-card {
  position: relative;
  padding-bottom: 1rem;
  .verbs {
    padding-left: 0;
    position: absolute;
    top: 2rem;
    right: 2rem;
    li {
      list-style-type: none;
      float: left;
      margin-right: 1rem;
      width: 4rem;
    }
  }
  table.table-items {
    margin-top: 2rem;
    margin-bottom: 2rem;
    tr {
      td {
        .details-sheet {
          strong {
            display: block;
          }
          ul.verbs {
            position: relative;
            top: unset;
            right: unset;
          }
        }
      }
    }
  }
}
