
<mat-card>

  <table
    mat-table
    [dataSource]="table.columns"
    class="table-items clickable">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.name}}</td>
    </ng-container>

    <ng-container matColumnDef="db">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.db}}</td>
    </ng-container>

    <ng-container matColumnDef="hl">
      <th mat-header-cell *matHeaderCellDef>Hyperlambda type</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.hl}}</td>
    </ng-container>

    <ng-container matColumnDef="nullable">
      <th mat-header-cell *matHeaderCellDef>Nullable</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.nullable}}</td>
    </ng-container>

    <ng-container matColumnDef="primary">
      <th mat-header-cell *matHeaderCellDef>Primary key</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.primary}}</td>
    </ng-container>

    <ng-container matColumnDef="automatic">
      <th mat-header-cell *matHeaderCellDef>Has default</th>
      <td
        mat-cell
        *matCellDef="let el">{{el.automatic}}</td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let el; columns: displayedColumns;"></tr>

  </table>


</mat-card>
