<h3 mat-dialog-title>
  <ng-container *ngIf="data?.type === 'create'">Create new key pair</ng-container>
  <ng-container *ngIf="data?.type === 'import'">Import new key</ng-container>
</h3>

<form>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-sm-6 col-12">
        <mat-form-field class="w-100">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>person</mat-icon>
            <span class="text-muted">|</span>
          </span>

          <input matInput placeholder="Full name"
            type="text"
            name="name"
            [(ngModel)]="newKey.subject"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-12">
        <mat-form-field class="w-100">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>mail</mat-icon>
            <span class="text-muted">|</span>
          </span>

          <input matInput placeholder="Email address"
            [(ngModel)]="newKey.email"
            [ngModelOptions]="{standalone: true}"
            [pattern]="CommonRegEx.email">
          <mat-error>{{CommonErrorMessages.email}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-12">
        <mat-form-field class="w-100">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>language</mat-icon>
            <span class="text-muted">|</span>
          </span>

          <input matInput placeholder="http://domain.com"
            type="url"
            name="url"
            [(ngModel)]="newKey.domain"
            [ngModelOptions]="{standalone: true}"
            [pattern]="CommonRegEx.backend">
          <mat-error>{{CommonErrorMessages.backend}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-12" *ngIf="data.type === 'create'">
        <mat-form-field class="w-100">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>nest_secure_alarm</mat-icon>
            <span class="text-muted">|</span>
          </span>

          <mat-select placeholder="Strength"
            [(ngModel)]="newKey.strength"
            [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let item of strengthArray" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <p>{{data?.type === 'create' ? 'Seed' : 'Public key'}}</p>
        <mat-form-field class="w-100">
          <textarea matInput rows="7"
            [(ngModel)]="newKey.content"
            [ngModelOptions]="{standalone: true}"
            (ngModelChange)="publicKeyChanged()"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-button color="primary" mat-dialog-close class="me-2">Cancel</button>
    <button mat-flat-button type="submit" color="primary" class="px-5"
      (click)="save()"
      [disabled]="isWaiting">
      {{data?.type === 'create' ? 'Save' : 'Import'}}
    </button>
  </div>
</form>
