
<h1 mat-dialog-title>Send message</h1>

<div mat-dialog-content>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Message name</mat-label>
    <input
      matInput
      [(ngModel)]="data.message.name"
      autocomplete="off">

  </mat-form-field>

  <mat-form-field *ngIf="data.client === null || data.client === ''" class="fill-width" appearance="outline">

    <mat-label class="dark">Groups</mat-label>
    <input
      matInput
      [(ngModel)]="data.groups"
      autocomplete="off">

  </mat-form-field>

  <mat-form-field *ngIf="data.client === null || data.client === ''" class="fill-width" appearance="outline">

    <mat-label class="dark">Roles</mat-label>
    <input
      matInput
      [(ngModel)]="data.roles"
      autocomplete="off">

  </mat-form-field>

  <ngx-codemirror
    *ngIf="options"
    [(ngModel)]="data.message.content"
    [options]="options">
  </ngx-codemirror>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <button
    [disabled]="!good()"
    mat-raised-button
    color="primary"
    (click)="send()">Send</button>

</div>
