

<div class="d-flex align-items-center flex-sm-row flex-column-reverse w-100">
  <mat-checkbox color="primary">Show error only</mat-checkbox>
  <div class="px-2"></div>
  <mat-form-field class="w-100 standalone-field">
    <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
      <mat-icon>search</mat-icon>
      <span class="text-muted">|</span>
    </span>

    <input matInput
      placeholder="Search through endpoints"
      (input)="applyFilter(input.value)" #input>
      <button mat-icon-button matSuffix (click)="removeSearchTerm();input.value = ''" *ngIf="input.value!==''">
        <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
</div>
