
// table.users {
//   width: 100%;
//   .details-sheet {
//     position: relative;
//     strong {
//       display: inline-block;
//       width: 5rem;
//     }
//     mat-chip-list {
//       display: block;
//       margin-top: 1rem;
//       mat-chip {
//         padding-right: 2.5rem;
//         padding-top: 2px;
//         padding-bottom: 2px;
//         min-height: 25px;
//         position: relative;
//         mat-icon {
//           position: absolute;
//           right: .5rem;
//         }
//       }
//     }
//     .button-strip {
//       margin-top: 2rem;
//       margin-bottom: -.5rem;
//     }
//   }
// }
tr.selected-row {
  position: relative;
  &::after {
    position: absolute;
    content: '\e876';
    top: 15px;
    right: 22px;
    font-size: 20px;
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }
}
.pointer-chip {
  cursor: pointer;
}