<mat-card>
  <mat-card-content>

    <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between mb-1">
      <div class="d-flex align-items-center">
        <mat-card-title class="my-0">Users</mat-card-title>
        <div class="sm-icons">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
            <mat-icon>help_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <div class="p-3">
              <p>
                Administrate your users, and/or assign existing users to roles, to change what parts of your
                system they are allowed to access.
              </p>
              <div class="d-flex justify-content-end">
                <a target="_blank" href="https://docs.aista.com/documentation/magic/components/auth/users/" mat-stroked-button>Learn more</a>
              </div>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>

    <mat-card-subtitle>Administrate your users</mat-card-subtitle>

    <div class="d-flex align-items-center">
      <mat-form-field class="w-100 inline-input" appearance="outline">
        <mat-label>Filter</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [formControl]="filterFormControl">
        <mat-icon
          matSuffix
          *ngIf="filterFormControl.value.trim() !== ''"
          class="button"
          role="button"
          (click)="clearUserFilter()">clear</mat-icon>
      </mat-form-field>

      <button
        mat-icon-button
        [disabled]="!backendService.active?.access.auth.create_user"
        (click)="createUser()">
        <mat-icon aria-label="Creates a new user">add_box</mat-icon>
      </button>
    </div>
    <p class="mt-3 mb-0">{{selectedUsers.length}} users selected</p>
    <p class="mat-caption text-muted">Toggle selection by clicking on each row.</p>
    <hr *ngIf="users && users.length > 0" class="mt-3" />
    <table
      mat-table
      [dataSource]="users"
      class="w-100 expandable-table"
      multiTemplateDataRows>

      <ng-container matColumnDef="username">
        <td mat-cell *matCellDef="let el">
          {{el.username}}
        </td>
      </ng-container>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <td mat-cell *matCellDef="let el">
          <div class="d-flex w-100 justify-content-end">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? toggleUserSelection(el) : null">
            </mat-checkbox>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="showDetails">
        <td mat-cell *matCellDef="let el" colspan="2">
          <div class="w-100 details-row flex-column"
          [@detailExpand]="el == expandedElement ? 'expanded' : 'collapsed'">

            <div class="d-flex justify-content-between align-items-center w-100 py-3">

              <div>
                <span class="d-block text-muted">Created</span>
                <span class="d-block">{{el.created | since}}</span>
              </div>

              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    [disabled]="el.username === 'root' || !backendService.active?.access.auth.create_user_role"
                    matTooltipPosition="before"
                    matTooltip="Add to role"
                    (click)="addToRole(el)">
                    <mat-icon>add_box</mat-icon>
                    Add to role
                  </button>
        
                  <button
                    mat-menu-item
                    matTooltipPosition="before"
                    matTooltip="Copy username to clipboard"
                    (click)="copyUsername(el)">
                    <mat-icon>bookmark</mat-icon>
                    Copy username
                  </button>
        
                  <button
                    mat-menu-item
                    [disabled]="el.username === 'root' || !backendService.active?.access.auth.update_user"
                    matTooltipPosition="before"
                    matTooltip="Change password"
                    (click)="editUser(el)">
                    <mat-icon>edit</mat-icon>
                    Change password
                  </button>
        
                  <button
                    mat-menu-item
                    [disabled]="el.username === 'root' || !backendService.active?.access.auth.impersonate"
                    matTooltipPosition="before"
                    matTooltip="Impersonate user"
                    (click)="generateLoginLink(el)">
                    <mat-icon>account_circle</mat-icon>
                    Impersonate user
                  </button>
        
                  <button
                    mat-menu-item
                    [disabled]="el.username === 'root' || !backendService.active?.access.auth.impersonate"
                    matTooltipPosition="before"
                    matTooltip="Create reset password link"
                    (click)="generateResetPasswordLink(el)">
                    <mat-icon>perm_identity</mat-icon>
                    Create reset password link
                  </button>
        
                  <button
                    mat-menu-item
                    [disabled]="el.username === 'root' || el.locked || !backendService.active?.access.auth.jail"
                    (click)="jailUser(el)"
                    matTooltipPosition="before"
                    matTooltip="Imprison user">
                    <mat-icon>gavel</mat-icon>
                    Imprison user
                  </button>
        
                  <button
                    mat-menu-item
                    [disabled]="el.username === 'root' || !backendService.active?.access.auth.jail"
                    (click)="lockedChanged(el)"
                    matTooltipPosition="before"
                    [matTooltip]="el.locked ? 'Release lock' : 'Lock user'">
                    <mat-icon *ngIf="el.locked">lock</mat-icon>
                    <mat-icon *ngIf="!el.locked">lock_open</mat-icon>
                    {{el.locked ? 'Release lock' : 'Lock user'}}
                  </button>
        
                  <button
                    mat-menu-item
                    [disabled]="el.username === 'root' || !backendService.active?.access.auth.delete_user"
                    matTooltipPosition="before"
                    matTooltip="Delete user"
                    (click)="delete(el)">
                    <mat-icon>delete</mat-icon>
                    Delete user
                  </button>

                  <button
                    mat-menu-item 
                    [matMenuTriggerFor]="menuUserExtra"
                    [disabled]="el.username === 'root'">
                    <mat-icon>manage_accounts</mat-icon>
                    Manage extra info
                  </button>
                </mat-menu>

                <mat-menu #menuUserExtra="matMenu">

                  <button
                    mat-menu-item
                    [disabled]="el.username === 'root'"
                    matTooltipPosition="after"
                    matTooltip="Add extra details"
                    (click)="openExtraInfoDialog(el?.user_extra, 'add', el.username)">
                    <mat-icon>person_add</mat-icon>
                    Add extra info
                  </button>

                  <button
                    mat-menu-item
                    [disabled]="el.username === 'root' || el?.user_extra?.length === 0"
                    matTooltipPosition="after"
                    matTooltip="Edit extra details"
                    (click)="openExtraInfoDialog(el?.user_extra, 'edit')">
                    <mat-icon>drive_file_rename_outline</mat-icon>
                    Edit extra info
                  </button>

                </mat-menu>
              </div>
            </div>

            <div class="d-flex flex-wrap pb-3">
              <mat-chip-list>
                <mat-chip
                  *ngFor="let role of el.roles"
                  selectable="false"
                  [disabled]="!backendService.active?.access.auth.delete_user_role || el.username === 'root' && role === 'root'"
                  (removed)="removeRole(el, role)">
                  {{role}}
                  <mat-icon
                    *ngIf="el.username !== 'root' || role !== 'root'"
                    matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>

            <div
              class="d-flex flex-wrap pb-3"
              *ngIf="el?.user_extra && el.user_extra.length > 0">
              <mat-chip-list>
                <mat-chip
                  *ngFor="let extra of el.user_extra;let index = index"
                  (click)="editExtra(extra)"
                  (removed)="removeExtra(extra)"
                  class="pointer-chip"
                  selectable="false">
                  {{extra.type}} - {{extra.value}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>

          </div>

        </td>
      </ng-container>

      <tr
        mat-row
        [ngClass]="(expandedElement === el ? 'selected ' : '') + 'user-row'"
        class="expandable-row users-table-row"
        (click)="toggleDetails(el);expandedElement = expandedElement === el ? null : el"
        *matRowDef="let el; columns: displayedColumns;"></tr>

      <tr mat-row *matRowDef="let el; columns: ['showDetails']" class="expanded-row"></tr>

    </table>

    <mat-paginator
      #paginator
      [class]="count > 5 ? '' : 'invisible'"
      [length]="count"
      pageSize="5"
      (page)="paged()"
      [pageSizeOptions]="[5]">
    </mat-paginator>

  </mat-card-content>
</mat-card>
