
<div class="row">
  <div class="col-12 mb-general">
    <mat-card>
      <mat-card-content>
        <div class="content-wrapper">

          <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between mb-1">
            <div class="d-flex align-items-center">
              <mat-card-title class="my-0">Sockets</mat-card-title>
              <div class="sm-icons">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
                  <mat-icon>help_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <div class="p-3">
                    <p>
                      Subscribe to and publish web socket messages, making it easier for you to debug your own modules
                      that are using web sockets.
                    </p>
                    <div class="d-flex justify-content-end">
                      <a target="_blank" href="https://docs.aista.com/documentation/magic/components/sockets/" mat-stroked-button>Learn more</a>
                    </div>
                  </div>
                </mat-menu>
              </div>
            </div>
          </div>

          <mat-card-subtitle>Subscribe to and publish socket messages</mat-card-subtitle>

          <div class="d-flex flex-sm-row flex-column align-items-sm-stretch align-items-end justify-content-center">

            <mat-form-field class="w-100 inline-input" appearance="outline">
              <mat-label>Filter</mat-label>
              <input
                matInput
                type="text"
                autocomplete="off"
                [formControl]="filterFormControl">
              <mat-icon
                matSuffix
                *ngIf="filterFormControl.value.trim() !== ''"
                class="button"
                role="button"
                (click)="clearFilter()">clear</mat-icon>
            </mat-form-field>

            <div class="p-1"></div>

            <div class="d-flex">
              <button
                mat-raised-button
                color="primary"
                class="button"
                (click)="subscribe()">
                Subscribe
              </button>
              <div class="p-1"></div>
              <button
                mat-raised-button
                [disabled]="!backendService.active?.access.sockets.send"
                color="primary"
                class="button"
                (click)="post()">
                Publish
              </button>
            </div>

          </div>

          <ng-container *ngIf="users && users.length > 0">
            <table
              mat-table
              [dataSource]="users"
              class="w-100 expandable-table mt-4"
              multiTemplateDataRows>

              <ng-container matColumnDef="name">
                <td mat-cell *matCellDef="let el">{{el.username}}</td>
              </ng-container>

              <ng-container matColumnDef="showDetails">
                <td
                  mat-cell
                  *matCellDef="let el">
                  <div class="w-100 details-row"
                    [@detailExpand]="el == expandedElement ? 'expanded' : 'collapsed'">
                    <mat-chip-list class="mt-2 mb-2">
                      <mat-chip
                        *ngFor="let con of el.connections"
                        [disabled]="!backendService.active?.access.sockets.send"
                        selectable="false"
                        (click)="sendMessageToConnection(con)">
                        {{con}}
                      </mat-chip>
                    </mat-chip-list>
                  </div>

                </td>
              </ng-container>

              <tr
                mat-row
                class="expandable-row"
                [ngClass]="(expandedElement === el ? 'selected ' : '') + 'user-row'"
                (click)="toggleDetails(el);expandedElement = expandedElement === el ? null : el"
                mat-row *matRowDef="let el; columns: ['name'];"></tr>

              <tr mat-row *matRowDef="let el; columns: ['showDetails']" class="expanded-row"></tr>

            </table>

          </ng-container>

          <mat-paginator
            #paginator
            [class]="count > paginator.pageSize ? '' : 'invisible'"
            [length]="count"
            pageSize="10"
            showFirstLastButtons="true"
            (page)="paged($event)"
            [pageSizeOptions]="[5,10,25,50]">
          </mat-paginator>

          <hr *ngIf="users && users.length > 0" />

          <p class="mt-3" *ngIf="subscriptions && subscriptions.length > 0">List of subscriptions</p>

          <mat-chip-list class="subscriptions mt-2 mb-2 d-block">
            <mat-chip
              *ngFor="let sub of subscriptions"
              class="non-selectable"
              selectable="false"
              (removed)="removeSubscription(sub)">
              {{sub}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>

          <div *ngFor="let idx of messages" class="message code mb-1 mt-0">
            <div class="d-flex justify-content-between align-items-center w-100 mt-3 ml-3 pr-3">
              <strong>{{idx.name}}</strong>
              <button
                mat-icon-button
                matTooltip="Remove message"
                (click)="deleteMessage(idx)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <pre class="ml-3 mr-3 mb-3 mt-0 pb-3">{{idx.content | json}}</pre>
          </div>

          <div *ngIf="messages.length > 0" class="button-strip">
            <button
              mat-raised-button
              class="clear-button"
              color="primary"
              matTooltip="Clear messages"
              (click)="clearMessages()">
              Clear
            </button>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
