
<span class="count">{{count}} items</span>

<table
  mat-table
  [dataSource]="items"
  class="log-items clickable"
  multiTemplateDataRows>

  <ng-container matColumnDef="content">
    <td
      mat-cell
      *matCellDef="let el">{{el.content}}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <td
      class="mini-col"
      mat-cell
      *matCellDef="let el">{{el.type}}</td>
  </ng-container>

  <ng-container matColumnDef="when">
    <td
      class="mini-col"
      mat-cell
      *matCellDef="let el">{{el.created | since}}</td>
  </ng-container>

  <ng-container matColumnDef="show-details">

    <td
      mat-cell
      *matCellDef="let el"
      colspan="3">

      <div
        class="details-sheet"
        *ngIf="shouldDisplayDetails(el)">

        <span class="details-item">
          <strong>ID</strong>
          <span>{{el.id}}</span>
        </span>

        <span class="details-item">
          <strong>Created</strong>
          <span>{{el.created}}</span>
        </span>

        <span class="details-item">
          <strong>Type</strong>
          <span>{{el.type}}</span>
        </span>

        <span class="details-item full-width">
          <strong>Content</strong>
          <span class="pre-formatted copy" (click)="copyContent(el.content)">{{el.content}}</span>
        </span>

        <span *ngIf="el.exception" class="details-item full-width">
          <strong>Exception</strong>
          <span class="pre-formatted copy" (click)="copyContent(el.exception)">{{el.exception}}</span>
        </span>

      </div>

    </td>

  </ng-container>

  <tr
    mat-row
    [ngClass]="(shouldDisplayDetails(el) ? 'selected ' + el.type : el.type) + ' log-row'"
    (click)="toggleDetails(el)"
    *matRowDef="let el; columns: displayedColumns;"></tr>

  <tr
    mat-row
    [ngClass]="shouldDisplayDetails(el) ? 'details' : 'invisible'"
    *matRowDef="let el; columns: ['show-details'];"></tr>

</table>

<button
  *ngIf="items.length !== count"
  mat-button
  class="more-btn"
  matTooltip="Retrieves next 20 items"
  (click)="feedMore()">
  More ...
</button>
