
mat-card {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  .me {
    float: right;
    max-width: 200px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 5%;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
  }
  .clearfix {
    clear: both;
    display: table;
    margin-bottom: 2rem;
  }
}
