
<mat-card>

  <h2>About Magic Cloud</h2>

  <img class="me" src="/assets/thomas.jpeg" alt="Yours truly">
  <p>
    Magic Cloud is in its entirety created by me (Thomas Hansen), and is 100% Open Source and free to use, also in
    proprietary/commercial projects. Magic consists of years of innovation and work, and is constantly maintained
    by yours truly in my spare time.
  </p>
  <p>
    However, in order for me to create the best possible product for you, I am dependent upon your willingness to donate,
    such that I can justify spending time on the project. Simply because creating and maintaining Magic is an insane
    amount of work, and we all need to feed our families.
  </p>
  <p>
    If you got value from Magic, I would appreciate a
    donation from you. This justifies me continuing working on the project, ensuring you get the best possible value
    out of it. Click the button below to donate to me. Notice, I am also available for hire in my spare time to create
    modules for Magic, and or help you getting started with Magic. If you're interested in this, you can
    <a href="mailto:thomas@servergardens.com">send me an email</a> and ask for a quote.
  </p>

  <div class="clearfix"></div>

  <ngx-paypal [config]="payPalConfig"></ngx-paypal>

</mat-card>
