
mat-card {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  .logo {
    float: right;
    max-width: 512px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    img {
      width: 100%;
      display: block;
      border-radius: .5rem;
      box-shadow: 3px 3px 5px rgba(0,0,0,.7);
    }
  }
  .clearfix {
    clear: both;
    display: table;
    margin-bottom: 2rem;
  }
}
