
<mat-card>

  <h2>About Magic Cloud</h2>

  <a matTooltip="A ServerGardens.Com production" class="logo" href="https://servergardens.com" target="_blank">
    <img src="/assets/logo-no-text.svg" alt="ServerGardens.Com">
  </a>

  <p>
    Magic Cloud is maintained and distributed by <a target="_blank" href="https://servergardens.com">Server Gardens</a>.
    In addition to delivering amazing Open Source frameworks, Cloud Systems, No-Code and Low-Code tools, we
    also provide services such as hosting, consulting, teaching, etc.
  </p>

  <p>
    If you need hosting, and/or consulting services on top of Magic Cloud, you can contact us at
    <a href="mailto:thomas@servergardens.com">thomas@servergardens.com</a>, or visit
    <a target="_blank" href="https://servergardens.com">our website</a> for more information.
    We also provide a whole range of Micro Services on top of Magic Cloud, such
    as translations, enterprise email components, enterprise chat clients, etc. Either hosted by us on
    our servers, or hosted on premises by you. Visit the <a href="/bazar">Bazar</a> to see a list of components
    we provide.
  </p>

  <div class="clearfix"></div>

</mat-card>

<mat-card>

  <h2>Credits</h2>

  <p>
    Although every single line of code in Magic, is created by Server Gardens, no
    company is an island. We would therefor like to give credits where credits are due, to the following individuals,
    and/or organisations, having helped us on this journey, facilitating for us being able to create what ultimately
    turned into Magic Cloud.
  </p>

  <ul>
    <li><a href="https://github.com/dotnet/core">.Net 5</a> and its amazing team</li>
    <li><a href="https://www.bouncycastle.org/csharp/">Bouncy Castle</a> for creating an amazing cryptography library for .Net</li>
    <li><a href="http://www.mimekit.net/">MimeKit</a> and MailKit created by the amazing Jeffrey Stedfast</li>
    <li><a href="https://angular.io/">Angular</a> and <a href="https://material.angular.io/">Material</a> for making it dead simple for me to create an amazing frontend to Magic</li>
    <li><a href="https://codemirror.net/">CodeMirror</a>, an amazing JS library that made the code editor possible in Magic</li>
    <li><a href="https://docs.microsoft.com/en-us/aspnet/signalr/overview/getting-started/introduction-to-signalr">SignalR</a>, an amazing socket library for .Net</li>
    <li><a href="https://github.com/ngx-rocket/generator-ngx-rocket">Rocket Generator</a>, the frontend template used when generating CRUD apps</li>
    <li><a href="https://joshclose.github.io/CsvHelper/">CSV Helper</a></li>
    <li>Logo created by <a href="https://www.linkedin.com/in/jobaer-mohammad-b865b5169/">Jobaer Mohammad</a></li>
    <li>Plus many more, check out the packages for Magic for details ...</li>
  </ul>

</mat-card>


