
<div class="row">
  <div class="col-12 mb-general">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-xl-7 col-md-6 col-sm-6 col-12">
            <h2>About Magic Cloud</h2>
            <p>
              Magic Cloud is maintained and distributed by <a target="_blank" href="https://docs.aista.com">Aista, Ltd</a>.
              In addition to delivering amazing Open Source frameworks, Cloud Systems, No-Code and Low-Code tools, we
              also provide services such as hosting, consulting, teaching, etc.
            </p>

            <p>
              Magic Cloud is 100% open source, and you can freely use it in your proprietary (closed source) projects. Magic
              supports MySQL, Microsoft SQL Server, and PostgreSQL - In addition to a whole range of NoSQL based databases.
              Magic contains its own DSL called Hyperlambda, similar to YAML in structure, allowing you to “declare” your
              logic using syntax resembling that of YAML. This makes it a perfect “first programming language”, due to that
              it's an extremely high level abstraction, eliminating most of the problems from more traditional programming languages.
            </p>
          
            <p>
              If you need hosting, and/or consulting services on top of Magic Cloud, you can contact us at
              <a href="mailto:info@aista.com">info@aista.com</a>, or visit
              <a target="_blank" href="https://docs.aista.com">our website</a> for more information.
              We also provide a whole range of Micro Services on top of Magic Cloud, such
              as translations, enterprise email components, enterprise chat clients, etc. Either hosted by us on
              our servers, or hosted on premises by you. Visit the <a href="/bazar">Bazar</a> to see a list of components
              we provide.
            </p>

            <div class="d-flex flex-column links mt-4">
              <h3 class="mb-2">Useful links</h3>
              <div class="mb-1">
                <a class="d-flex align-items-center" href="https://docs.aista.com/tutorials/" target="_blank">
                  <mat-icon mat-list-icon>keyboard_double_arrow_right</mat-icon>
                  <p class="my-0 ml-1">Tutorials </p>
                </a>
              </div>
              <div>
                <a class="d-flex align-items-center" href="https://docs.aista.com/documentation/" target="_blank">
                  <mat-icon mat-list-icon>keyboard_double_arrow_right</mat-icon>
                  <p class="my-0 ml-1">Docs </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-md-6 col-sm-6 col-12 mt-sm-0 mt-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLgyI389Eb9HPkKFKUCb1LMf-w0PUd-2CC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
