
<h1 mat-dialog-title>New user</h1>
<div mat-dialog-content>

  <mat-form-field class="fill-width">
    <input 
      matInput 
      placeholder="Username"
      autocomplete="off"
      [(ngModel)]="data.name">
  </mat-form-field>

  <mat-form-field class="half-size">
    <input 
      matInput 
      placeholder="Password"
      autocomplete="new-password"
      type="password"
      [(ngModel)]="data.password">
  </mat-form-field>

  <mat-form-field class="half-size">
    <input 
      matInput 
      placeholder="Repeat"
      autocomplete="new-password"
      type="password"
      [(ngModel)]="passwordRepeat">
  </mat-form-field>

</div>

<div mat-dialog-actions>

  <div class="right-aligned">

    <button 
      mat-button
      (click)="ok()">Ok</button>

    <button
      mat-button
      (click)="cancel()">Cancel</button>

  </div>

</div>
