
.user-roles {
  padding-left: 0;
  margin: 0 0 .5rem 0;
  min-height: 2.5rem;
  li {
      list-style-type: none;
      display: block;
      float: left;
      margin-right: .5rem;
      .remove-role {
        color: rgb(128, 128, 128);
      }
  }
}
.user-roles:after {
  content: '';
  display: table;
  clear: both;
}
