
.markdown-preview {
  height: 399px;
  overflow: auto;
  ::ng-deep img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.modal-wrp {
  position: relative;
}
.pager {
  position: absolute;
  top:0;
  right:0;
  margin-top: -25px;
  margin-right: -25px;
}