
@import '../../../../../../assets/styles/_variables/colors.scss';
@import '../../../../../../assets/styles/_variables/mixin.scss';

::ng-deep .sql-editor {
  height: calc(100vh - 392px);
  .CodeMirror:not(.CodeMirror-fullscreen) { height: 100%;max-height: 42vh; }
}
.table-responsive {
  max-height: calc(100vh - 436px);
  @include scrollbar  ($aista_default_alt,$aista_default_grey4,5px);
  .text-truncate {
    max-width: 50vw;
  }
}
