
<div class="row justify-content-center align-items-sm-center h-100">
  <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-12">
    <form>
      <mat-card>
        <h2 class="my-0">Change password</h2>
        <mat-card-subtitle>Change your password</mat-card-subtitle>
        <mat-card-content>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>New password</mat-label>
            <input
              matInput
              type="password"
              autocomplete="new-password"
              [(ngModel)]="password"
              name="password">
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Repeat password</mat-label>
            <input
              matInput
              type="password"
              autocomplete="new-password"
              [(ngModel)]="repeatPassword"
              name="repeatPassword">
          </mat-form-field>

          <div class="d-flex justify-content-end w-100">
            <button
              mat-raised-button
              [disabled]="!password || password.length === 0 || password !== repeatPassword"
              (click)="changePassword()"
              color="primary">
              Save password
            </button>
          </div>

        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>