@import '../../../../assets/styles/colour.scss';
@import '../../../../assets/styles/mixin.scss';
.details-row {
  max-height: 69.2vh;
  overflow-y: auto;
  @include scrollbar($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),6px);
  pre {
    word-break: break-all;
    white-space: pre-wrap;
  }
}
