
<h3 mat-dialog-title class="mb-1">{{dataSource?.length ?? '0'}} Hyperlambda snippets</h3>

<div mat-dialog-content>

  <mat-form-field class="w-100 standalone-field mt-3">
    <span
      matPrefix
      class="d-flex flex-nowrap align-items-center justify-content-between me-2">
      <mat-icon>search</mat-icon>
      <span class="text-muted">|</span>
    </span>
    <input
      matInput
      [(ngModel)]="filter"
      autocomplete="off"
      spellcheck="false"
      placeholder="Filter ...">
    <button
      mat-icon-button
      matSuffix
      (click)="filter = ''"
      *ngIf="filter !== ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-card *ngFor="let idx of getFilteredItems()" class="card my-4 p-4">

    <strong class="title mb-4">{{idx.prompt}}</strong>

    <div class="code">{{idx.completion}}</div>

  </mat-card>

</div>

<div mat-dialog-actions [align]="'end'">

  <button
    mat-button
    (click)="close()">
    Close
  </button>

</div>
