@import '../../../../assets/styles/colour.scss';
@import '../../../../assets/styles/mixin.scss';
.count {
  color: #aaa;
  font-size: .8rem;
  font-style: italic;
}
.pre-formatted {
  white-space: pre-wrap;
  word-break: break-all;
}
.fixed-min-width{min-width: 100px;}
.infinite-scrolling-table-wrapper{
  max-height: 82.4vh;
  overflow-y: auto;
  @include scrollbar($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),6px);
}
