<div id="navbar" class="d-flex align-items-center justify-content-lg-between mat-elevation-z2">

  <button mat-icon-button color="primary" class="d-lg-none d-block me-2" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="me-lg-0 me-auto pointer" routerLink="/">
    <img src="../../../../assets/images/aista-logo.svg" alt="Aista Ltd." height="20" class="my-auto d-sm-block d-none">
    <img src="../../../../assets/images/icons/apple-icon-180x180.png" alt="Aista Ltd." height="50" class="my-auto d-sm-none d-block">
  </a>


  <div class="nav-links mx-auto  d-flex flex-lg-row flex-column" [class.open]="sideExpanded">
    <img src="../../../../assets/images/aista-logo.svg" alt="Aista Ltd." height="20"
    class="mx-auto d-block d-lg-none mb-4">

    <a mat-button class="nav-link" *ngFor="let item of navLinks"
      [routerLink]="item.url"
      (click)="item.expandable ? null : closeSidebarInSidePanel()"
      [matMenuTriggerFor]="item.expandable ? subMenu : null" [matMenuTriggerData]="item"
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">

      {{item.name}} <mat-icon *ngIf="item.expandable">expand_more</mat-icon>

    </a>

    <mat-menu #subMenu="matMenu">
      <ng-template matMenuContent let-submenuItems="submenu">
        <a mat-menu-item [class.warn]="item.color"
          *ngFor="let item of submenuItems"
          [disabled]="item.disabled"
          [routerLink]="item.disabled ? null : item.url"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active-link"
          #isActiveLink="routerLinkActive"
          (click)="getGithubToken(item.name);logout(item.name);closeSidebarInSidePanel()">
          {{item.name}}
        </a>
      </ng-template>
    </mat-menu>


    <!-- ONLY to be displayed on medium size screens and smaller -->
    <!-- <div class="d-md-none d-block mt-auto">
      <a mat-button class="justify-content-center w-100 logout-btn" color="warn" (click)="logout()">Logout</a>
    </div> -->
  </div>

  <div class="d-flex align-items-center">

    <button mat-flat-button color="primary" class="url-btn" (click)="viewBackends()">
      <div class="d-flex flex-nowrap align-items-center ps-1">
        <mat-icon>database</mat-icon>
        <p class="my-0 mx-2 text-truncate url-text">{{activeUrl}}</p>
        <mat-icon>expand_more</mat-icon>
      </div>
    </button>

  </div>
</div>
<!-- Account dowpdown menu -->
<!-- <mat-menu #backendsMenu="matMenu">
  <button mat-menu-item *ngFor="let item of backendList"
  [matMenuTriggerFor]="selectedBackend"
  [matMenuTriggerData]="{backend: item}">
    <mat-icon>{{item.token ? 'lock' : 'lock_open'}}</mat-icon>
    <span [class.warn]="item.url.startsWith('http://')">
      {{item.url.substring(item.url.indexOf('://') + 3)}}
    </span>
  </button>
  <button mat-menu-item>
    <mat-icon>add</mat-icon> Add new backend
  </button>
</mat-menu>
<mat-menu #selectedBackend="matMenu" xPosition="after">
  <ng-template matMenuContent let-backend="backend">
    <button
      mat-menu-item
      (click)="copyUrlWithBackend(backend.url)">
      <mat-icon>content_copy</mat-icon>
      Copy url
    </button>
    <button
      mat-menu-item
      [disabled]="backend.url === backendService.active?.url"
      (click)="switchBackend(backend)">
      <mat-icon>change_circle</mat-icon>
      {{backend.url === backendService.active?.url ? 'Currently in use' : 'Switch to this backend'}}
    </button>
    <button
      mat-menu-item
      (click)="removeBackend(backend)">
      <mat-icon>delete</mat-icon>
      Remove backend
    </button>
  </ng-template>
</mat-menu> -->

<div class="overlay" *ngIf="sideExpanded" (click)="toggleSidebar()"></div>
