<div class="row">
  <div class="col-12">
    <mat-card>

      <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between mb-1">
        <div class="d-flex align-items-center">
          <mat-card-title class="my-0">Backend generator</mat-card-title>
          <div class="sm-icons">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              class="mat-caption"
              matTooltip="Need help?"
              type="button">
              <mat-icon>help_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div class="p-3">
                <p>
                  Automatically generate CRUD HTTP endpoints wrapping your existing database by
                  choosing your database and click the CRUDify button.
                </p>
                <p>
                    No database? Install one in the <a routerLink="/plugins">plugins section</a>.
                </p>
                <p>
                    Connect to your existing database through in the <a routerLink="/config">config section</a>.
                </p>
                <div class="d-flex justify-content-end">
                  <a target="_blank" href="https://docs.aista.com/documentation/magic/components/crudifier/backend/" mat-stroked-button>Learn more</a>
                </div>
              </div>
            </mat-menu>
          </div>
        </div>
      </div>

      <mat-card-subtitle>Generate CRUD HTTP endpoints</mat-card-subtitle>

      <mat-card-content>
        <div class="d-flex flex-xl-nowrap flex-wrap mt-4 w-100">

          <mat-form-field
            class="w-100"
            appearance="outline">
            <mat-label>Database type</mat-label>
            <mat-select
              [(ngModel)]="databaseType"
              (selectionChange)="databaseTypeChanged()">
              <mat-option
                *ngFor="let idx of databaseTypes"
                [value]="idx">{{getDatabaseTypeName(idx)}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="p-lg-1"></div>

          <mat-form-field
            *ngIf="databaseType && connectionStrings.length > 0"
            class="w-100"
            appearance="outline">
            <mat-label>Connection string</mat-label>
            <mat-select
              [(ngModel)]="connectionString"
              (selectionChange)="connectionStringChanged()">
              <mat-option
                *ngFor="let idx of connectionStrings"
                [value]="idx">{{idx}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="p-lg-1" *ngIf="connectionString && databases && databases.databases.length > 0"></div>

          <mat-form-field
            *ngIf="connectionString && databases && databases.databases.length > 0"
            class="w-100"
            appearance="outline">
            <mat-label>Database name</mat-label>
            <mat-select
              [(ngModel)]="database"
              (selectionChange)="databaseChanged()">
              <mat-option
                *ngFor="let idx of databases.databases"
                [value]="idx"
                [class]="getDatabaseCssClass(idx.name)">{{idx.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="p-lg-1" *ngIf="database && database.tables && database.tables.length > 0"></div>

          <mat-form-field
            *ngIf="database && database.tables && database.tables.length > 0"
            class="w-100"
            appearance="outline">
            <mat-label>Configure table</mat-label>
            <mat-select
              [(ngModel)]="table"
              (selectionChange)="tableChanged()">
              <mat-select-trigger
                [class.warning-yellow]="table ? hasWarnings(table) : false">
                {{table?.name}}
              </mat-select-trigger>
              <mat-option
                *ngFor="let idx of database.tables"
                matTooltipPosition="before"
                [value]="idx">
                <div class="d-flex align-items-center justify-content-between w-100"
                  [class.warning-yellow]="hasWarnings(idx)">
                  {{idx.name}}
                  <div *ngIf="hasWarnings(idx)" class="sm-icons">
                    <mat-icon
                      fontSet="material-icons-outlined"
                      matTooltip="I tried my best to guess how to treat this table, but I might be wrong, and you might want to double check my guesstimates"
                      class="m-0 text-muted warning-yellow">report_problem</mat-icon>
                  </div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="d-flex justify-content-end align-items-sm-center align-items-end flex-sm-row flex-column-reverse w-100">
          <div
            class="d-flex align-items-center"
            *ngIf="database && database.tables && database.tables.length > 0">
            <mat-checkbox [(ngModel)]="transformService.join">Left joins</mat-checkbox>

            <div class="p-1"></div>

            <mat-checkbox [(ngModel)]="transformService.verbose">Verbose</mat-checkbox>

            <div class="p-1"></div>

            <mat-checkbox [(ngModel)]="transformService.overwrite">Overwrite</mat-checkbox>

          </div>

          <div class="p-1"></div>

          <div class="d-lg-none d-inline-block">

            <button
              *ngIf="database && database.tables && database.tables.length > 0"
              mat-icon-button
              [matMenuTriggerFor]="actionMenu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <button
              *ngIf="!(database && database.tables && database.tables.length > 0)"
              mat-raised-button
              [matMenuTriggerFor]="actionMenu">
              Actions
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #actionMenu="matMenu">
              <button
                [disabled]="!backendService.active?.access.config.delete_cache_item"
                (click)="refresh()"
                mat-menu-item>
                Empty server cache
              </button>

              <div class="p-1"></div>

              <button
                [disabled]="!database || (database && database.name === 'magic' || (database.tables || []).length === 0)"
                (click)="setDefaults()"
                mat-menu-item>
                Set default values
              </button>

              <div class="p-1"></div>

              <button
                [disabled]="!database || (database && database.name === 'magic' || (database.tables || []).length === 0)"
                color="primary"
                (click)="crudifyAll()"
                mat-menu-item>
                CRUDify all tables
              </button>

            </mat-menu>

          </div>

          <div class="d-lg-flex d-none align-items-center">

            <button
              id="loadButton"
              mat-icon-button
              [disabled]="!backendService.active?.access.config.delete_cache_item"
              (click)="refresh()">
              <mat-icon>refresh</mat-icon>
            </button>

            <div class="p-1"></div>

            <button
              [disabled]="!database || (database && database.name === 'magic' || (database.tables || []).length === 0)"
              mat-raised-button
              (click)="setDefaults()"
              class="w-100">
              Set defaults
            </button>

            <div class="p-1"></div>

            <button
              [disabled]="!database || (database && database.name === 'magic' || (database.tables || []).length === 0)"
              mat-raised-button
              color="primary"
              (click)="crudifyAll()"
              class="w-100" id="largeBtn">
              CRUDify all tables
            </button>

          </div>

        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
