
<mat-card>
  <mat-tab-group>

    <mat-tab label="Overview">
      <ng-template matTabContent>
        <app-health-log></app-health-log>
      </ng-template>
    </mat-tab>

    <mat-tab label="Security">
      <ng-template matTabContent>
        <app-health-security></app-health-security>
      </ng-template>
    </mat-tab>

    <mat-tab label="Diagnostics">
      <ng-template matTabContent>
        <app-health-diagnostics></app-health-diagnostics>
      </ng-template>
    </mat-tab>

    <mat-tab label="Cache">
      <ng-template matTabContent>
        <app-health-cache></app-health-cache>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</mat-card>

