
.item-details {
  padding: 2rem;
  position: relative;
  background-color: #ccc;
  margin-bottom: 2rem;
  .close {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }
}

tr.display-details {
  background-color: rgba(255,255,255,.1);
  td {
    border-bottom: none;
  }
}

tr.lighter {
  background-color: rgba(255,255,255,.05);
}

.details-sheet, .item-details {
  position: relative;
  .details-item {
    display: block;
    margin-bottom: .15rem;
    strong {
      display: inline-block;
      width: 5rem;
    }
    span {
      padding-left: 1rem;
    }
  }
  .full-width {
    margin-top: 2rem;
    strong {
      display: block;
    }
    span {
      display: block;
      padding-left: 0;
    }
    width: 100%;
  }
  .id-link {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.word-break {
  word-break: break-word;
}

table {
  tr {
    th:nth-child(1),
    th:nth-child(2) {
      display: none;
    }
    td:nth-child(3),
    th:nth-child(3) {
      padding-left: 1rem;
    }
  }
  tr.log-row {
    td:nth-child(1),
    td:nth-child(2) {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    tr {
      th:nth-child(1),
      th:nth-child(2) {
        display: table-cell;
      }
    }
    tr.log-row {
      td:nth-child(1),
      td:nth-child(2) {
        display: table-cell;
      }
    }
  }
}
