<ng-container *ngIf="!forgotPass">
  <h1 mat-dialog-title *ngIf="data.allowAuthentication">
    Login
    <mat-icon
      *ngIf="(backendHasBeenSelected && backendService.active && backends.value.startsWith('http://') && (autoLogin !== true || advanced === true))"
      matTooltip="Clicking the login button will transmit your password in clear text">warning</mat-icon>
  </h1>

  <form [formGroup]="loginForm" novalidate>
    <div mat-dialog-content>
      <mat-form-field class="fill-width" appearance="outline">

        <mat-label class="dark">Backend</mat-label>
        <input matInput [formControl]="backends" (keydown.enter)="backendValueChanged()" [matAutocomplete]="auto"
          type="url" placeholder="http://">
        <button mat-icon-button matSuffix [disabled]="backendHasBeenSelected || !backends.value"
          matTooltip="Connect to backend" type="button" (click)="backendValueChanged()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="backendSelected()">
          <ng-container *ngIf="data.allowAuthentication">
            <mat-option *ngFor="let el of filteredBackends | async" [value]="el">
              {{el}}
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <mat-hint>e.g. https://api-yourdomain.com</mat-hint>
      </mat-form-field>
      <ng-container *ngIf="data.allowAuthentication && (backendHasBeenSelected && (!autoLogin || advanced))">
        <mat-form-field class="fill-width" appearance="outline">

          <mat-label class="dark">Username</mat-label>
          <input matInput type="text" name="username" formControlName="username" autocomplete="off">

        </mat-form-field>

        <mat-form-field class="fill-width" appearance="outline">

          <mat-label class="dark">Password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

        </mat-form-field>
      </ng-container>

    </div>

    <div *ngIf="data.allowAuthentication && backendHasBeenSelected" mat-dialog-actions
      class="flex-column align-items-end pt-0 custom-mb w-100">

      <div class="d-flex justify-content-between w-100 align-items-center mb-2 custom-mt">
        <div>

          <mat-checkbox
            *ngIf="autoLogin === true"
            [(ngModel)]="advanced"
            [ngModelOptions]="{standalone: true}"
            class="mr-2">
            Advanced
          </mat-checkbox>

          <mat-checkbox
            *ngIf="autoLogin !== true && loginForm.value.password !== 'root'"
            [disabled]="loginForm.value.username === '' || loginForm.value.password === '' || backends.value === ''"
            [(ngModel)]="savePassword"
            [ngModelOptions]="{standalone: true}">Save</mat-checkbox>

        </div>

        <re-captcha
          #captchaRef="reCaptcha"
          [siteKey]="recaptchaKey"
          size="invisible"
          (resolved)="$event && resetPassword($event)"
          *ngIf="recaptchaKey !== '' && recaptchaKey !== null"></re-captcha>

        <button
          *ngIf="autoLogin !== true"
          mat-button
          type="button"
          class="mr-0 forgot-pass"
          (click)="toggleForgotPass(true)">Forgot password?</button>

      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="login()"
        class="w-100 custom-height"
        [disabled]="!autoLogin && loginForm.invalid">Login</button>

    </div>
  </form>
</ng-container>
<ng-container *ngIf="forgotPass">
  <h2 class="mb-0">Request a reset password link</h2>
  <p class="mb-3 mat-caption">This link will be sent to the email address associated with your username.</p>
  <form>
    <div mat-dialog-content>
      <mat-form-field class="fill-width" appearance="outline">

        <mat-label class="dark">Username</mat-label>
        <input matInput type="text" name="username" [(ngModel)]="forgotPass_username" autocomplete="off" #forgotInput>

        <mat-hint>Please enter your registered username.</mat-hint>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>

      <button mat-button matTooltip="Send me a reset password link" type="button" (click)="toggleForgotPass(false)">
        Back to login
      </button>

      <re-captcha #captchaRef="reCaptcha" [siteKey]="recaptchaKey" size="invisible"
        (resolved)="$event && resetPassword($event)" *ngIf="recaptchaKey !== '' && recaptchaKey !== null"></re-captcha>

      <button mat-raised-button color="primary"
        matTooltip="Send me a reset password link"
        type="submit"
        (click)="recaptchaKey !== '' && recaptchaKey !== null ? executeRecaptcha() : resetPassword()"
        [disabled]="forgotPass_username===''">
        Send the link
      </button>
    </div>
  </form>
</ng-container>
