
h1 {
  mat-icon {
    float: right;
    color: #e55 !important;
    margin-top: -.5rem;
    font-size: 2rem;
  }
}
::ng-deep {
  .mat-dialog-container {overflow-x: hidden;}
}
.custom-mt {margin-top: -10px;}
.forgot-pass {
  font-weight: 400;
}
.custom-mb {margin-bottom: -10px;}
.custom-height {height: 45px;}
