

<h3 mat-dialog-title class="mb-0">Spice up '{{data.type}}' model</h3>

<form (ngSubmit)="scrape()">

  <div mat-dialog-content>

    <p class="text-small text-muted mb-3">
      Spice up training model by importing a single web page, such as a single WikiPedia page, etc.
    </p>

    <mat-form-field class="standalone-field w-100">
      <span
        matPrefix
        matTooltip="Website URL to scrape for training data"
        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>http</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <input
        matInput
        placeholder="Website URL"
        [(ngModel)]="url"
        name="url"
        autocomplete="off">
    </mat-form-field>

  </div>

  <div mat-dialog-actions [align]="'end'">

    <mat-slide-toggle
      labelPosition="before"
      class="me-5"
      matTooltip="Import lists"
      name="lists"
      [(ngModel)]="lists">
      Lists
    </mat-slide-toggle>

    <mat-slide-toggle
      labelPosition="before"
      class="me-5"
      matTooltip="Import code segments"
      name="code"
      [(ngModel)]="code">
      Code
    </mat-slide-toggle>

    <mat-slide-toggle
      labelPosition="before"
      class="me-5"
      matTooltip="Import images"
      name="images"
      [(ngModel)]="images">
      Images
    </mat-slide-toggle>

    <button
      class="pe-3"
      type="submit"
      color="primary"
      mat-flat-button>
      Scrape
    </button>

    <button
      mat-button
      type="button"
      mat-dialog-close>
      Cancel
    </button>

  </div>
  
</form>
