
<mat-card>
  <mat-card-content>

    <div *ngIf="!configured" class="row">

      <div class="col-12 mb-3">

        <h3 class="fw-bold">Chatbot Wizard</h3>

        <p class="text-muted">
          Before you can create a chatbot you need to supply your OpenAI API key, your reCAPTCHA site-key and secret.
        </p>

      </div>

      <div class="col-12 text-end">

        <button
          mat-button
          color="primary"
          (click)="manageOpenAI()">
          Configure OpenAI API key
        </button>

        <button
          mat-button
          color="primary"
          (click)="manageCAPTCHA()">
          Configure reCAPTCHA
        </button>

      </div>

    </div>

    <form class="row" (ngSubmit)="createBot()" *ngIf="configured">

      <div class="col-12 mb-3">

        <h3 class="fw-bold">Chatbot Wizard</h3>

        <p class="text-muted">
          What website do you wish to generate training data from?
        </p>

      </div>

      <div class="col-md-6 col-12">

        <div class="d-flex justify-content-md-between align-items-md-center align-items-end flex-md-row w-100">

          <mat-form-field class="w-100 standalone-field">
            <span
              matPrefix
              matTooltip="Website URL"
              class="d-flex flex-nowrap align-items-center justify-content-between me-2">
              <mat-icon>http</mat-icon>
              <span class="text-muted">|</span>
            </span>
            <input
              matInput
              type="text"
              placeholder="Website URL"
              name="url"
              [disabled]="crawling"
              [(ngModel)]="url"
              autocomplete="off">
          </mat-form-field>

          <button
            mat-flat-button
            [disabled]="!goodWebsite() || crawling"
            class="ms-3 px-5">
            Start
          </button>

        </div>
        
      </div>

    </form>

    <div class="row" *ngIf="crawling" class="mt-4 messages">

      <div
        *ngFor="let idx of messages; index as i"
        [class]="'msg ' + idx.type"
        [id]="'m_' + i">{{idx.message}}</div>

    </div>

  </mat-card-content>
</mat-card>
