
<h1 mat-dialog-title>{{data.manifest.name}} - [{{data.manifest.module_name}}] - {{data.manifest.version}}</h1>

<div mat-dialog-content>

  <div class="details">
    Requires Magic version {{data.manifest.requires}}, publisher {{data.manifest.publisher}}
  </div>

  <div class="markdown" *ngIf="readme" [innerHTML]="readme | marked"></div>

</div>

<div *ngIf="readme" mat-dialog-actions class="mat-dialog-actions">

  <button
    mat-raised-button
    [disabled]="!data.canInstall"
    color="primary"
    (click)="install()">Install</button>

  <button
    mat-raised-button
    (click)="close()">Close</button>

</div>
