
::ng-deep .markdown img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.details {
  color: rgb(128,128,128);
  font-size: .8rem;
  margin-bottom: 2rem;
  font-style: italic;
}
