
/*
 * Default modern chat CSS file.
 *
 * Making sure we use Montserrat on everything by default.
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
 * Common CSS and variables.
 */
.common{opacity:0}

/*
 * Applying font for all elements.
 */
html>body.ainiro_bdy>button.ainiro,
html>body.ainiro_bdy>div.ainiro {
  font-family: Montserrat;
}
html>body.ainiro_bdy>div.ainiro * {
  font-family: inherit;
}

/*
 * Fade into view animation used for chatbot button and window.
 */
@keyframes ainiro_fade_into_view {
  0% {
    opacity: 0;
    margin-right: -100px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

/*
 * Button to open chatbot.
 */
html>body.ainiro_bdy>button.ainiro {
  display: block !important;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px 35px;
  font-size: 18px;
  z-index: 1000000;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  animation-name: ainiro_fade_into_view;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: color .1s ease-in-out;
  background: linear-gradient(var(--ainiro-bg-start), var(--ainiro-bg-end));
  color:var(--ainiro-color);
}
html>body.ainiro_bdy>button.ainiro.ainiro_left {
  left: 0;
  right: unset;
}
html>body.ainiro_bdy>button.ainiro:hover,
html>body.ainiro_bdy>button.ainiro:active,
html>body.ainiro_bdy>button.ainiro:focus {
  transition: color .1s ease-in-out;
  color:var(--ainiro-link);
}
html>body.ainiro_bdy>button.ainiro>i.ainiro-icofont {
  font-size: 24px;
  margin-left: 15px;
  margin-right: 15px;
}

/*
 * Chat window itself.
 */
html>body.ainiro_bdy>div.ainiro {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  animation-name: ainiro_fade_into_view;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1000001;
  width: 800px;
  max-width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(var(--ainiro-bg-start), var(--ainiro-bg-end));
}
html>body.ainiro_bdy>div.ainiro.ainiro_left {
  left: 0;
  right: unset;
}
html>body.ainiro_bdy>div.ainiro.show_ainiro_chatbot {
  display: block !important;
  transition: all .25s ease-in-out;
}
html>body.ainiro_bdy>div.ainiro.show_ainiro_chatbot.ainiro_maximized {
  width: 100%;
  height: 100%;
  transition: all .25s ease-in-out;
}
@keyframes ainiro_fade_in_backdrop {
  0% {
    background-color: rgba(0,0,0,0);
  }
  100% {
    background-color: rgba(0,0,0,.75);
  }
}
html>body.ainiro_bdy>button.ainiro.ainiro_hide:after {
  content: '';
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation-name: ainiro_fade_in_backdrop;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: default;
}
@keyframes ainiro_hide_button {
  0% {
    height: auto;
    bottom: 0;
  }
  80% {
    height: auto;
    bottom: 0;
  }
  100% {
    height: 5px;
    bottom: 20px;
  }
}
html>body.ainiro_bdy>button.ainiro.ainiro_hide {
  animation-name: ainiro_hide_button;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*
 * Toolbar.
 */
html>body.ainiro_bdy>div.ainiro>div.ainiro_toolbar {
  display: flex !important;
  flex-direction: row;
  padding: 10px 15px;
  border-bottom: solid 1px rgb(0,0,0);
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_toolbar>div.ainiro_header {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  padding:7px 0 0 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:var(--ainiro-color);
}

/*
 * Action buttons, close and maximize.
 */
html>body.ainiro_bdy>div.ainiro>div.ainiro_toolbar>button.ainiro_action {
  padding: 5px;
  margin-left: 5px;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_toolbar>button.ainiro_action i {
  color:var(--ainiro-color);
  transition: color .1s ease-in-out;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_toolbar>button.ainiro_action:hover i,
html>body.ainiro_bdy>div.ainiro>div.ainiro_toolbar>button.ainiro_action:active i,
html>body.ainiro_bdy>div.ainiro>div.ainiro_toolbar>button.ainiro_action:focus i {
  transition: color .1s ease-in-out;
  color: var(--ainiro-link);
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_toolbar>button.ainiro_action.ainiro_new_chat i {
  font-size:26px;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_toolbar>button.ainiro_action.ainiro_maximize i {
  font-size:18px;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_toolbar>button.ainiro_action.ainiro_close i {
  font-size:26px;
}
html>body.ainiro_bdy>div.ainiro.show_ainiro_chatbot:not(.ainiro_maximized)>div.ainiro_toolbar>button.ainiro_maximize>i.ainiro-icofont-contract-alt {
  display: none;
}
html>body.ainiro_bdy>div.ainiro.show_ainiro_chatbot.ainiro_maximized>div.ainiro_toolbar>button.ainiro_maximize>i.ainiro-icofont-expand-full {
  display: none;
}

/*
 * Chat window surface.
 */
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface {
  height: calc(100% - 144px);
  padding: 15px 35px;
  overflow-y: auto;
}

/*
 * Conversation starters.
 */
@keyframes ainiro_fade_full {
  0% {
    margin-left: -50px;
    opacity:0;
  }
  100% {
    margin-left: 0;
    opacity:1;
  }
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters {
  margin-top: 55px;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter {
  border: solid 1px rgb(0,0,0);
  padding: 8px 15px;
  margin: 0 15px 15px 0;
  font-size: 14px;
  opacity: 0;
  animation-name: ainiro_fade_full;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: inherit;
  transition: color .1s ease-in-out;
  text-align: left;
  color: var(--ainiro-color);
  background-color: rgba(0,0,0,.1);
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:hover,
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:active,
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:focus {
  transition: color .1s ease-in-out;
  color: var(--ainiro-link);
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:nth-child(1) {
  animation-delay: .2s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:nth-child(2) {
  animation-delay: .3s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:nth-child(3) {
  animation-delay: .4s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:nth-child(4) {
  animation-delay: .5s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:nth-child(5) {
  animation-delay: .6s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:nth-child(6) {
  animation-delay: .7s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:nth-child(7) {
  animation-delay: .8s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:nth-child(8) {
  animation-delay: .9s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_starters>button.ainiro_starter:nth-child(9) {
  animation-delay: 1s;
}

/*
 * Watermark.
 */
 html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_watermark {
  text-align: right;
  margin-bottom: 10px;
  margin-top: -10px;
  font-size: 12px;
  opacity: .4;
  color:var(--ainiro-color);
}

html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_watermark a {
  font-size: 12px;
  color:var(--ainiro-link);
}

/*
 * Chat messages from human or machine.
 */
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine,
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_human {
  margin-bottom: 55px;
  font-size: 18px;
  text-align: justify;
  position: relative;
  padding: 35px;
  color: var(--ainiro-color);
  background-color: rgba(0,0,0,.1);
  border: solid 1px rgb(0,0,0);
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine:after,
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_human:after {
  content:'';
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  position: absolute;
  filter: grayscale(100%);
  border-radius: 50%;
  bottom: -18px;
  border: solid 1px rgb(0,0,0);
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine {
  margin-right: 0;
}
@keyframes ainiro_fade_in_left {
  0% {
    margin-left: -100px;
    margin-right: 100px;
    opacity:0;
  }
  100% {
    margin-left: 0;
    margin-right: 0;
    opacity:1;
  }
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine.ainiro_question {
  opacity: 0;
  animation-name: ainiro_fade_in_left;
  animation-duration: .4s;
  animation-delay: .25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine:after {
  background-image: url('https://ainiro.io/assets/images/misc/machine5.png');
  left: -18px;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_human {
  margin-left: 0;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_human:after {
  background-image: url('https://ainiro.io/assets/images/misc/human5.png');
  right: -18px;
}
@keyframes ainiro_fade_from_right {
  0% {
    opacity: 0;
    margin-right: -100px;
    margin-left: 100px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
    margin-left: 0;
  }
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_human.ainiro_just_added {
  opacity: 0;
  animation-name: ainiro_fade_from_right;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine.ainiro_error {
  background-color: rgba(255,0,0,.2);
}
@keyframes ainiro_fade_from_left {
  0% {
    opacity: 0;
    margin-left: -100px;
    margin-right: 100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine.ainiro_just_added {
  opacity: 0;
  animation-name: ainiro_fade_from_left;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: .400s;
  margin-right: 50px;
}

/*
 * Wait animation items shown while we're waiting for server to return data.
 */
@keyframes ainiro_jump {
  0%   {
    bottom: 0px;
  }
  20%  {
    bottom: 5px;
  }
  40%  {
    bottom: 0px;
  }
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>p>span.ainiro-dot {
  position: relative;
  animation: ainiro_jump 1s infinite;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 3px;
  background-color: var(--ainiro-color);
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>p>span.ainiro-dot.ainiro-dot-1 {
  animation-delay: 150ms;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>p>span.ainiro-dot.ainiro-dot-2 {
  animation-delay: 300ms;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>p>span.ainiro-dot.ainiro-dot-3 {
  animation-delay: 450ms;
}

/*
 * References.
 */
 @keyframes ainiro_fade_in_left_full_width {
  0% {
    margin-left: -100px;
    margin-right: 100px;
    opacity:0;
  }
  100% {
    margin-left: 0;
    margin-right: 0;
    opacity:1;
  }
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references {
  display: block;
  padding-left: 0;
  margin-top: 25px;
  padding-left: 30px;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li {
  list-style-type:decimal;
  color: #999 !important;
  animation-name: ainiro_fade_in_left_full_width;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  display: list-item;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(1) {
  animation-delay: .1s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(2) {
  animation-delay: .2s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(3) {
  animation-delay: .3s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(4) {
  animation-delay: .4s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(5) {
  animation-delay: .5s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(6) {
  animation-delay: .6s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(7) {
  animation-delay: .7s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(8) {
  animation-delay: .8s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(9) {
  animation-delay: .9s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(10) {
  animation-delay: 1s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(11) {
  animation-delay: 1.1s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(12) {
  animation-delay: 1.2s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(13) {
  animation-delay: 1.3s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(14) {
  animation-delay: 1.4s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(15) {
  animation-delay: 1.5s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(16) {
  animation-delay: 1.6s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(17) {
  animation-delay: 1.7s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(18) {
  animation-delay: 1.8s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(19) {
  animation-delay: 1.9s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li:nth-child(20) {
  animation-delay: 2s;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li>a {
  text-decoration: none;
  padding: 5px 15px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
  width: 100%;
  border-radius:5px;
  transition: background-color .1s ease-in-out;
  box-sizing: border-box;
  color: var(--ainiro-link);
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li>a:hover,
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li>a:active,
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>ul.ainiro_references>li>a:focus {
  background-color: rgba(0,0,0,.2);
  transition: background-color .1s ease-in-out;
}

/*
 * Form elements.
 */
 html>body.ainiro_bdy>div.ainiro>form.ainiro_form {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0 36px;
}
html>body.ainiro_bdy>div.ainiro>form.ainiro_form>input.ainiro_query {
  display: block;
  width: 100%;
  padding: 8px 15px;
  outline: none;
  font-size: 20px;
  color: #555 !important;
  background-color: #fefefe;
  box-sizing: border-box;
  border: none;
  font-family: inherit;
}
html>body.ainiro_bdy>div.ainiro>form.ainiro_form>input.ainiro_query::placeholder {
  color: rgb(180,180,180) !important;
}
html>body.ainiro_bdy>div.ainiro>form.ainiro_form>button.ainiro_send {
  outline: none;
  padding: 0 25px;
  border: none;
  font-size: 20px;
  transition: color .4s ease-in-out;
  cursor: pointer;
  background: linear-gradient(var(--ainiro-bg-start), var(--ainiro-bg-end));
}
html>body.ainiro_bdy>div.ainiro>form.ainiro_form>button.ainiro_send:disabled {
  cursor: not-allowed !important;
}
html>body.ainiro_bdy>div.ainiro>form.ainiro_form>button.ainiro_send i {
  transition: color .4s ease-in-out, opacity .4s ease-in-out;
  color: var(--ainiro-color);
}
html>body.ainiro_bdy>div.ainiro>form.ainiro_form>button.ainiro_send:hover i,
html>body.ainiro_bdy>div.ainiro>form.ainiro_form>button.ainiro_send:active i,
html>body.ainiro_bdy>div.ainiro>form.ainiro_form>button.ainiro_send:focus i {
  color: var(--ainiro-link);
}
html>body.ainiro_bdy>div.ainiro>form.ainiro_form>button.ainiro_send:disabled i {
  opacity: 0.1;
  transition: color .4s ease-in-out, opacity .4s ease-in-out;
  cursor: not-allowed !important;
}

/*
 * Phone specific CSS.
 */
 @keyframes ainiro_fade_in_left_2 {
  0% {
    margin-left: -100px;
    margin-right: 100px;
    opacity:0;
  }
  100% {
    margin-left: 0;
    margin-right: 0;
    opacity:1;
  }
}
@keyframes ainiro_fade_in_right_2 {
  0% {
    margin-right: -100px;
    margin-left: 100px;
    opacity:0;
  }
  100% {
    margin-right: 0;
    margin-left: 0;
    opacity:1;
  }
}
@media (max-width: 768px) {
  html>body.ainiro_bdy>div.ainiro.show_ainiro_chatbot {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  html>body.ainiro_bdy>div.ainiro.show_ainiro_chatbot:not(.ainiro_maximized)>div.ainiro_toolbar>button.ainiro_maximize {
    display: none;
  }
  html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine,
  html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_human {
    text-align: left;
  }
  html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine {
    margin-right: 0;
  }
  html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_human.ainiro_just_added {
    animation-name: ainiro_fade_in_right_2;
  }
  html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_human {
    margin-left: 0;
  }
  html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine.ainiro_just_added {
    animation-name: ainiro_fade_in_left_2;
  }
  html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine.ainiro_just_added {
    margin-right: 0;
  }
  html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_human.ainiro_just_added {
    margin-left: 0;
  }
  html>body.ainiro_bdy>div.ainiro>div.ainiro_toolbar {
    border-radius: 0;
    margin-top: 0;
  }
}

/*
 * Copy response button.
 */
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>button.ainiro_copy_response {
  position:absolute !important;
  bottom: 10px !important;
  right: 10px !important;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
  opacity: .5 !important;
  transition: opacity .1s ease-in-out !important;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>button.ainiro_copy_response:hover,
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>button.ainiro_copy_response:active,
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>button.ainiro_copy_response:focus {
  opacity: 1 !important;
  transition: opacity .1s ease-in-out !important;
}
html>body.ainiro_bdy>div.ainiro>div.ainiro_chat_surface>div.ainiro_machine>button.ainiro_copy_response i {
  font-size: 20px !important;
  color: var(--ainiro-color);
}

html>body.ainiro_bdy>button.ainiro_hidden {
  display: none !important;
}
