
/*
 * NuoMorphism CSS style for OpenAI chat inclusion.
 */
.grecaptcha-badge {
  opacity:0 !important;
}
.aista-chat-btn,
.aista-chat-btn i,
.aista-chat-wnd,
.aista-chat-header,
.aista-chat-msg-container,
.aista-chat-answer,
.aista-chat-answer p,
.aista-chat-answer img,
.aista-chat-answer a,
.aista-chat-answer ul,
.aista-chat-answer ol,
.aista-chat-answer li,
.aista-chat-close-btn,
.aista-chat-prompt,
.aista-chat-close-btn i {
  all:revert;
}
.aista-chat-btn i,
.aista-chat-close-btn i {
  font-style: normal;
}
.aista-chat-btn {
  display: block !important;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 8px 15px;
  font-size: 14px !important;
  z-index: 100000 !important;
  cursor: pointer;
  font-family: Helvetica !important;
  font-weight: normal;
  text-align: center;
  text-decoration: none !important;
  background-color: rgb(230, 231, 238) !important;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff !important;
  color: rgba(0, 0, 0, .87) !important;
  transition-property: box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  border: .0625rem solid #d1d9e6 !important;
  border-radius: 5px !important;
}
.aista-chat-btn i {
  font-size: 20px;
}
.aista-chat-btn:hover {
  text-decoration: none !important;
  box-shadow: 1px 1px 2px #b8b9be, -3px -3px 6px #fff !important;
  transition: box-shadow;
  transition-duration: .25s;
}
@keyframes ainiro_fade_in_chat_window {
  0% {
    opacity: 0;
    margin-bottom: -100px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}
.aista-chat-wnd {
  animation-name: ainiro_fade_in_chat_window;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: rgb(230, 231, 238) !important;
  position: fixed;
  z-index: 100001 !important;
  bottom: 10px;
  right: 10px;
  width: 450px !important;
  max-width: calc(100% - 20px) !important;
  display: none;
  background-color: #fafafa !important;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff !important;
  border: .0625rem solid #d1d9e6 !important;
  border-radius: 5px !important;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif !important;
}
@keyframes aista-fade-in {
  0% { opacity: 0; color: rgb(255,255,0); }
  50% { color: rgb(225,225,0) }
  100% { opacity: 1; color: rgb(128,128,128); }
}
.aista-chat-header {
  font-size: 12px !important;
  margin: 18px 60px 15px 12px !important;
  color: rgb(128,128,128) !important;
  animation-name: aista-fade-in;
  animation-duration: .75s;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
}
.aista-chat-close-btn {
  border-radius: 8px !important;
  border: none !important;
  padding: 5px 9px !important;
  font-size: 12px !important;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer !important;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff !important;
  border: .0625rem solid #d1d9e6 !important;
  border-radius: 5px !important;
  transition: box-shadow;
  transition-duration: .25s;
}
.aista-chat-close-btn:hover,
.aista-chat-close-btn:active,
.aista-chat-close-btn:focus {
  box-shadow: 1px 1px 2px #b8b9be, -3px -3px 6px #fff !important;
  transition: box-shadow;
  transition-duration: .25s;
  outline: none !important;
  text-decoration: none !important;
}
.aista-chat-msg-container {
  height: 400px !important;
  margin: 0 10px !important;
  padding: 15px !important;
  overflow-y: auto !important;
  font-size: 12px !important;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
  background-color: rgb(230, 231, 238) !important;
  border-radius: 5px !important;
}
.aista-chat-msg-container a {
  text-decoration: none !important;
  color: #5555ff !important;
}
.aista-chat-msg-container a:visited {
  color: #5555ff !important;
}
.aista-chat-wnd .ainiro-powered-by {
  width: calc(100% - 50px);
  position: absolute;
  bottom: 62px;
  left: 15px;
  text-align: right;
  font-size: 10px;
  opacity: .5;
  display: block !important;
}
.aista-chat-wnd .ainiro-powered-by a {
  text-decoration: none;
}
@keyframes jump {
  0%   {bottom: 0px;}
  20%  {bottom: 5px;}
  40%  {bottom: 0px;}
}
.ainiro-waiting-animation span {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  animation: jump 1s infinite;
  display: inline-block;
  margin-top: 3px;
  margin-bottom: -3px;
}
.ainiro-waiting-animation .ainiro-dot-1 {
  background-color: #958e95;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
  animation-delay: 200ms;
}
.ainiro-waiting-animation .ainiro-dot-2 {
  background-color: #958e95;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
  animation-delay: 400ms;
}
.ainiro-waiting-animation .ainiro-dot-3 {
  background-color: #958e95;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 3px;
  animation-delay: 600ms;
}
@keyframes aista-chat-question-waiting {
  0% { opacity: .2; }
  100% { opacity: 1; }
}
.aista-chat-question-waiting {
  animation-name: aista-chat-question-waiting;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-size: 14px !important;
  margin-bottom: 10px !important;
  font-weight: bold !important;
}
.aista-chat-question {
  color: #555 !important;
  font-size: 14px !important;
  margin-bottom: 10px !important;
  font-weight: bold !important;
}
.aista-chat-error {
  background-color: rgba(255,230,230,.65) !important;
  padding: 15px !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
  margin-bottom: 20px !important;
}
.aista-chat-answer {
  margin-bottom: 20px !important;
}
.aista-chat-answer.stop,
.aista-chat-answer.cached {
  color: unset;
}
.aista-chat-answer.length {
  background-color: rgb(255,230,230) !important;
}
.aista-chat-answer img:not(.emoji) {
  display: block;
  width: calc(100% - 20px) !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  cursor: pointer !important;
}
.aista-chat-answer img {
  max-width: 100%;
}
.aista-chat-answer pre {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  text-overflow: ellipsis;
  overflow: hidden;
}
.aista-chat-answer ol {
  padding-left: 20px !important;
}
.aista-chat-answer ul {
  padding-left: 20px !important;
  margin: 0 !important;
}
.aista-chat-answer ul li {
  list-style-type: circle !important;
  margin: 0 !important;
}
@keyframes aista-zoom-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.aista-zoom-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 100002;
  background-color: rgba(0,0,0,.7) !important;
  opacity: 0;
  animation-name: aista-zoom-image;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}
@keyframes aista-drop-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.aista-zoom-image img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: auto !important;
  max-width: calc(100% - 50px) !important;
  max-height: calc(100% - 50px) !important;
  margin-top: 25px !important;
  opacity: 0;
  animation-name: aista-drop-down;
  animation-duration: .25s;
  animation-delay: .25s;
  animation-fill-mode: forwards;
  border-radius: 5px !important;
  box-shadow: 0 0 15px rgba(255,255,0,.5) !important;
}
.aista-references-list {
  margin: 10px 0 !important;
  padding: 0 !important;
}
.aista-references-list li {
  display: none;
}
.aista-references-list li:nth-child(1),
.aista-references-list li:nth-child(2),
.aista-references-list li:nth-child(3),
.aista-references-list li:nth-child(4),
.aista-references-list li:nth-child(5) {
  display: list-item;
}
.aista-references-list li {
  list-style: none !important;
  margin: 0 !important;
}
@keyframes aista_fade_in {
  0% {
    margin-left: -100px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
.aista-references-list li {
  margin-left: -100px;
  opacity: 0;
  list-style: none !important;
  margin-top: 0 !important;
  animation-name: aista_fade_in;
  animation-duration: .75s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.aista-references-list li:nth-child(1) {
  animation-delay: 0s;
}
.aista-references-list li:nth-child(2) {
  animation-delay: .25s;
}
.aista-references-list li:nth-child(3) {
  animation-delay: .5s;
}
.aista-references-list li:nth-child(4) {
  animation-delay: .75s;
}
.aista-references-list li:nth-child(5) {
  animation-delay: 1s;
}
.aista-references-list li:nth-child(6) {
  animation-delay: 1.25s;
}
.aista-references-list li:nth-child(7) {
  animation-delay: 1.5s;
}
.aista-references-list li:nth-child(8) {
  animation-delay: 1.75s;
}
.aista-references-list li:nth-child(9) {
  animation-delay: 2s;
}
.aista-references-list li:nth-child(10) {
  animation-delay: 2.25s;
}
.aista-references-list li a {
  text-decoration: none !important;
  color: rgb(128,128,255) !important;
  transition: color, background-color .25s ease-in-out !important;
  padding: 5px 5px 5px 10px !important;
  display: block !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.aista-references-list li a:hover,
.aista-references-list li a:active,
.aista-references-list li a:focus {
  color: rgb(90,90,235) !important;
  transition: color, background-color .25s ease-in-out !important;
  background-color: rgba(0,0,0,.1) !important;
}
.aista-chat-form {
  padding: 10px !important;
  margin: 0 !important;
}
.aista-chat-prompt {
  font-size: 16px !important;
  padding: 10px !important;
  width: 100% !important;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
  background-color: rgb(230, 231, 238) !important;
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
  box-sizing: border-box !important;
}
.aista-chat-prompt:disabled {
  color: rgb(198,198,198) !important;
}
.aista-speech-button {
  right: 10px;
  bottom: 8px;
  height: 40px;
  width: 50px;
  position: absolute;
  font-size: 20px;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #b0b0b0;
  transition: color .25s ease-in-out;
}
.aista-speech-button:hover,
.aista-speech-button:focus,
.aista-speech-button:active {
  color: #808080;
  transition: color .25s ease-in-out;
}
.aista-speech-button:disabled {
  transition: none;
  color: #c0c0c0;
  cursor: default;
}
.aista-chat-prompt::placeholder {
  color: rgb(180,181,188) !important;
}
