
h3 {
  text-align: center;
}

textarea.crypto-key {
  margin-top: 1.5rem;
  margin-top: .5rem;
  display: block;
  width: 100%;
}

.details-item {
  display: block;
  margin-bottom: .15rem;
  strong {
    width: 10rem;
    display: inline-block;
  }
  span {
    display: inline-block;
  }
}
