<div class="d-flex justify-content-sm-between align-items-sm-end align-items-center flex-sm-row flex-column">
    <div>
        <p class="my-0 dialog-title">New version available! 🎉</p>
        <p class="my-0 mat-caption d-sm-block d-none">If you have unsaved works, try saving them, then refresh the page.</p>
    </div>
    <div class="mx-md-5 mx-sm-3 my-sm-0 my-2"></div>
    <div class="d-flex flex-sm-column flex-row-reverse">
        <button mat-flat-button color="primary" (click)="reloadPage()">Refresh now</button>
        <button mat-button (click)="remindLater()">Remind me later</button>
    </div>
</div>