
<mat-card>
  <mat-card-content>
    <div class="row align-items-stretch">
      <div class="col-lg-auto col-12 align-self-center">
        <p class="fw-bold mb-lg-0">Select a database</p>
      </div>
      <!-- database types -->
      <div class="col-md col-sm-6 col-12"
      [class.col-md-3]="dbLoading | async">
        <mat-form-field class="w-100 standalone-field mb-lg-0 mb-2">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>database</mat-icon>
            <span class="text-muted">|</span>
          </span>

          <mat-select placeholder="Database type" [(ngModel)]="selectedDbType" (selectionChange)="getConnectionString(selectedDbType)">
            <mat-option *ngFor="let item of databaseTypes" [value]="item.type">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- connection string -->
      <div class="col-md col-sm-6 col-12"
      [class.col-md-2]="dbLoading | async">
        <ng-container *ngIf="dbLoading | async">
          <app-loading-skeleton
          [amount]="1"
          [colClass]="'col-12'"
          [blockHeight]="'45px'"
          [hasShadow]="false"></app-loading-skeleton>
        </ng-container>
        <mat-form-field class="w-100 standalone-field mb-lg-0 mb-2" *ngIf="!(dbLoading | async)">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>conversion_path</mat-icon>
            <span class="text-muted">|</span>
          </span>

          <mat-select placeholder="Connection string" [(ngModel)]="selectedConnectionString" (selectionChange)="getDatabases(selectedDbType, selectedConnectionString)">
            <mat-option *ngFor="let item of connectionStrings | keyvalue" [value]="item.key">{{item.key}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- databases list -->
      <div class="col-md col-sm-6 col-12"
      [class.col-md-2]="dbLoading | async">
        <ng-container *ngIf="dbLoading | async">
          <app-loading-skeleton
          [amount]="1"
          [colClass]="'col-12'"
          [blockHeight]="'45px'"
          [hasShadow]="false"></app-loading-skeleton>
        </ng-container>
        <mat-form-field class="w-100 standalone-field mb-lg-0 mb-2" *ngIf="!(dbLoading | async)">
          <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>database</mat-icon>
            <span class="text-muted">|</span>
          </span>

          <mat-select placeholder="Databases" [(ngModel)]="selectedDatabase" (selectionChange)="changeTable()">
            <mat-option *ngFor="let item of databases | sortBy: 'name'" [value]="item.name">{{item.name}} <span class="ms-2 mat-caption text-muted">{{item?.tables?.length ?? 0}} table(s)</span></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col align-self-center">
        <div class="d-flex justify-content-end flex-sm-nowrap flex-wrap mt-xl-0 mt-3">
          <button mat-button color="primary" class="mat-caption px-1"
            [disabled]="selectedDatabase === 'magic' || (dbLoading | async)"
            (click)="addNewTable()">
            Add new table
          </button>
          <button mat-button color="primary" class="mat-caption ps-3 pe-1"
            [disabled]="selectedDatabase === 'magic' || (dbLoading | async)"
            (click)="createNewLinkTable()">
            Link table
          </button>
          <button mat-button color="primary" class="mat-caption px-1"
            [disabled]="(dbLoading | async)"
            [matMenuTriggerFor]="menu">
            More
          </button>
          <button mat-button color="primary" class="ms-3 mat-caption px-1"
            (click)="sqlView = !sqlView">
            {{sqlView ? 'Table view' : 'SQL view'}}
          </button>
          <!-- Menu for more button -->
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="exportDatabase()">
              {{selectedDatabase === 'magic' || selectedDbType === 'sqlite' || selectedDbType === 'mysql' || selectedDbType === 'pgsql' ? 'View database as DDL' : 'Export database'}}
            </button>
            <button mat-menu-item
              (click)="callParentAction('save')">
              Save SQL snippet
            </button>
            <button mat-menu-item
              (click)="sqlView ? sqlFileImport.click() : callParentAction('')">
              Import SQL file
            </button>
            <button mat-menu-item
              [disabled]="selectedDatabase === 'magic'"
              (click)="deleteDatabase()">
              Delete database
            </button>
            <button mat-menu-item
              [disabled]="selectedDbType !== 'sqlite'"
              (click)="downloadBackup()">
              Download backup
            </button>
            <button mat-menu-item
              [disabled]="selectedDbType !== 'sqlite'"
              (click)="clearServerCache()">
              Clear server side cache
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <input
      type="file"
      name="sqlFile"
      id="sqlFile"
      #sqlFileImport
      class="d-none"
      accept=".sql"
      [(ngModel)]="sqlFile"
      (change)="callParentAction($event)">
  </mat-card-content>
</mat-card>
<div class="row mt-4">
  <div class="col-12">
    <container-element [ngSwitch]="sqlView">
      <ng-container *ngSwitchCase="false">
        <app-tables-view
        [dbLoading]="dbLoading|async"
        [tables]="tables"
        [databases]="databases"
        [selectedDatabase]="selectedDatabase"
        [selectedDbType]="selectedDbType"
        [selectedConnectionString]="selectedConnectionString"
        (getDatabases)="getDatabases($event)"></app-tables-view>
      </ng-container>

      <ng-container *ngSwitchCase="true">
        <app-sql-view
          [dbLoading]="dbLoading|async"
          [tables]="tables | async"
          [databases]="databases"
          [selectedDatabase]="selectedDatabase"
          [selectedDbType]="selectedDbType"
          [selectedConnectionString]="selectedConnectionString"
          [saveSnippet]="saveSnippet"
          (getDatabases)="getDatabases($event)"></app-sql-view>
      </ng-container>
    </container-element>
  </div>
</div>
