
<mat-card class="info-card">

  <div
    *ngIf="noErrors !== 0"
    class="error-items">
    {{noErrors}} errors
  </div>

  <table mat-table [dataSource]="items">

    <ng-container matColumnDef="when">
      <th mat-header-cell *matHeaderCellDef>When</th>
      <td mat-cell *matCellDef="let el">{{el.created | since}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let el">{{el.type}}</td>
    </ng-container>

    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef>Content</th>
      <td mat-cell *matCellDef="let el">
        <pre>{{el.content}}</pre>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

    <mat-paginator
      [class]="count > 10 ? '' : 'invisible'"
      #paginator
      hidePageSize="true"
      showFirstLastButtons="true"
      [length]="count"
      pageSize="10"
      (page)="paged($event)"
      [pageSizeOptions]="[10]">
    </mat-paginator>

</mat-card>
