
.logs-wrapper {
    position: relative;
    padding:2rem 5rem 2rem 5rem;
    .live-polling-button {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
    .error-items {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        color:rgb(255,128,128);
    }
    .delete-items {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .statistics {
        margin-top: 2rem;
        margin-bottom: 4rem;
        padding: 3rem 5rem 5rem 5rem;
        h3 {
            margin-bottom: 2rem;
            font-weight: bold;
            text-align: center;
        }
        .charts {
            display: flex;
            .chart {
                flex:1;
            }
        }
    }
    .logs {
        margin-top: 2rem;
        padding: 5rem;
        position: relative;
        table {
            table-layout: fixed;
            width: 100%;
            caption {
                margin-bottom: 2rem;
                font-weight: bold;
            }
            tr {
                th:nth-child(1) {
                    width: 150px;
                }
                td:nth-child(1) {
                    padding-top: 1.25rem;
                    vertical-align: top;
                }
                th:nth-child(2) {
                    width: 100px;
                }
                td:nth-child(2) {
                    vertical-align: top;
                    padding-top: 1.25rem;
                }
                td:nth-child(3) {
                    pre {
                        background-color: rgb(245,245,245);
                        padding:.5rem;
                        max-height: 5.5rem;
                        overflow: hidden;
                        margin-right: 1rem;
                    }
                }
                th:nth-child(4) {
                    width: 50px;
                }
                td:nth-child(4) {
                    text-align: right;
                }
            }
        }
    }
}

.fill-width {
    width: 100%;
}
