
.info-card {
    margin:5rem 4rem .5rem 4rem;
    padding: 3rem;
    table {
        width: 100%;
        tr {
            td:nth-child(1),
            td:nth-child(2) {
                width: 20%;
            }
        }
    }
}
