
<mat-card>

  <button
    mat-icon-button
    matTooltip="Create new task"
    class="create-button"
    (click)="create()">
    <mat-icon aria-label="Creates a new task">add_box</mat-icon>
  </button>

  <mat-form-field class="fill-width">

    <mat-label>Filter ...</mat-label>

    <input
      matInput
      placeholder="Filter ..."
      type="text"
      autocomplete="off"
      [formControl]="filterFormControl">

    <mat-icon
      matSuffix
      *ngIf="filterFormControl.value.trim() !== ''"
      class="button"
      matTooltip="Clear filter"
      (click)="clearFilter()">clear</mat-icon>

  </mat-form-field>

  <table
    mat-table
    [dataSource]="tasks"
    class="tasks clickable"
    multiTemplateDataRows>

    <ng-container matColumnDef="id">
      <td mat-cell *matCellDef="let el">{{el.task.id}}</td>
    </ng-container>

    <ng-container matColumnDef="show-details">

      <td
        mat-cell
        *matCellDef="let el">

        <div
          class="task-details"
          *ngIf="el.model">

          <mat-form-field class="fill-width">

            <mat-label>Description ...</mat-label>

            <input
              matInput
              placeholder="Description ..."
              [(ngModel)]="el.task.description"
              autocomplete="off">

          </mat-form-field>
        
          <app-codemirror-hyperlambda
            [(model)]="el.model"></app-codemirror-hyperlambda>

          <div class="button-strip">
          
            <button
              mat-icon-button
              class="save-button"
              matTooltip="Save task"
              (click)="update(el)">
              <mat-icon>save</mat-icon>
            </button>
          
          </div>
          
        </div>

      </td>

    </ng-container>

    <tr
      mat-row
      [ngClass]="(el.model ? 'selected ' : '') + 'tasks-row'"
      (click)="toggleDetails(el)"
      *matRowDef="let el; columns: displayedColumns;"></tr>

    <tr
      mat-row
      [ngClass]="el.model ? 'details' : 'invisible'"
      *matRowDef="let el; columns: ['show-details'];"></tr>

  </table>

  <mat-paginator
    #paginator
    [class]="count > 10 ? '' : 'invisible'"
    [length]="count"
    pageSize="10"
    showFirstLastButtons="true"
    (page)="paged($event)"
    [pageSizeOptions]="[5,10,25,50]">
  </mat-paginator>

</mat-card>
