<div class="d-flex flex-column w-100 h-100" id="sidebar">
  <div class="top-box-sidebar d-flex flex-column justify-content-center align-items-center text-center">
    <div class="d-flex flex-column w-100 justify-content-center align-items-center">
      <img src="../../../../assets/logo-no-text.svg" alt="" [width]="sideNavStatus ? 80 : 35">
      <p class="nm-top">MAGIC</p>
    </div>
    <ng-container *ngIf="sideNavStatus">
      <h4 class="mb-0 text-capitalized" *ngIf="authService.authenticated">Welcome {{getUserRoles()}}</h4>
      <h5 class="mb-0 mt-0 text-capitalized text-muted">
        {{getUserStatus()}}
      </h5>
    </ng-container>
  </div>
  <mat-accordion displayMode="flat" [multi]="!sideNavStatus">
    <p class="mb-0 text-muted p-3" *ngIf="(authService.access.log.read || authService.access.endpoints.view || authService.access.sockets.read) && sideNavStatus">Main pages</p>
    <mat-expansion-panel class="mat-elevation-z0"
      [expanded]="dashboard?.isActive || health?.isActive || !sideNavStatus" 
      [hideToggle]="!sideNavStatus"
      *ngIf="authService.access.log.read">
      <mat-expansion-panel-header 
      *ngIf="sideNavStatus"
      [ngClass]="{'active-link':dashboard?.isActive || health?.isActive}">
        <mat-panel-title>
          <mat-icon>equalizer</mat-icon>
          <span class="title">Analytics</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" [ngClass]="{'pt-0 pb-0': !sideNavStatus}">
        <!-- dashboard -->
        <mat-list-option 
        [style.display]="authService.access.log.read ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="Dashboard" 
        routerLink="/" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #dashboard="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.log.read">
            <mat-icon>analytics</mat-icon>
            <span class="title">Dashboard</span>
          </ng-container>
        </mat-list-option>
        <!-- health -->
        <mat-list-option 
        [style.display]="authService.access.log.read ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="System's health check" 
        routerLink="/diagnostics" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #health="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.log.read">
            <mat-icon>local_hospital</mat-icon>
            <span class="title">Health</span>
          </ng-container>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
    <!-- health -->
    <!-- <mat-expansion-panel class="mat-elevation-z0" 
      *ngIf="authService.access.files.list_files && authService.access.files.list_folders" hideToggle>
      <mat-expansion-panel-header 
      #panelH (click)="panelH._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="System's health check" 
      routerLink="/diagnostics" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
              <mat-icon>local_hospital</mat-icon>
              <span class="title">Health</span>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel> -->

    <!-- hyper ide -->
    <mat-expansion-panel class="mat-elevation-z0" 
    *ngIf="authService.access.files.list_files && authService.access.files.list_folders" hideToggle>
      <mat-expansion-panel-header 
      #panelH (click)="panelH._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="Hyper IDE" 
      routerLink="/ide" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
              <mat-icon>extension</mat-icon>
              <span class="title">Hyper IDE</span>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- endpoints -->
    <mat-expansion-panel class="mat-elevation-z0" 
    *ngIf="authService.access.endpoints.view" hideToggle>
      <mat-expansion-panel-header 
      #panelH (click)="panelH._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="Endpoints" 
      routerLink="/endpoints" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
              <mat-icon>http</mat-icon>
              <span class="title">Endpoints</span>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- sockets -->
    <mat-expansion-panel class="mat-elevation-z0" 
    *ngIf="authService.access.sockets.read" hideToggle>
      <mat-expansion-panel-header 
      #panelH (click)="panelH._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="Sockets" 
      routerLink="/sockets" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
              <mat-icon>compare_arrows</mat-icon>
              <span class="title">Sockets</span>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <p class="mb-0 text-muted p-3"
    *ngIf="(authService.access.tasks.read || (authService.access.files.list_files && authService.access.files.list_folders) || authService.access.sql.execute_access || authService.access.terminal.execute || authService.access.eval.execute || authService.access.config.load || (authService.access.auth.view_users && authService.access.auth.view_roles) || authService.access.crypto.import_public_key || authService.access.crypto.import_public_key) && sideNavStatus">Settings</p>
    <!-- reports -->
    <mat-expansion-panel class="mat-elevation-z0"
      [expanded]="tasks?.isActive || files?.isActive || !sideNavStatus" 
      [hideToggle]="!sideNavStatus"
      *ngIf="authService.access.tasks.read || (authService.access.files.list_files && authService.access.files.list_folders)">
      <mat-expansion-panel-header 
      *ngIf="sideNavStatus"
      [ngClass]="{'active-link':crypto?.isActive || tasks?.isActive || files.isActive}">
        <mat-panel-title>
          <mat-icon>flag</mat-icon>
          <span class="title">Reports</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" [ngClass]="{'pt-0 pb-0': !sideNavStatus}">
        <!-- log -->
        <!-- <mat-list-option 
        [style.display]="authService.access.log.read ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="Log" 
        routerLink="/log/" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #log="routerLinkActive">
          <ng-container *ngIf="authService.access.log.read">
            <mat-icon>bar_chart</mat-icon>
            <span class="title">Log</span>
          </ng-container>
        </mat-list-option> -->
        <!-- tasks -->
        <mat-list-option 
        [style.display]="authService.access.tasks.read ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="Tasks" 
        routerLink="/tasks" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #tasks="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
        <ng-container *ngIf="authService.access.tasks.read">
          <mat-icon>calendar_today</mat-icon>
          <span class="title">Tasks</span>
        </ng-container>
        </mat-list-option>
        <!-- files -->
        <mat-list-option 
        [style.display]="authService.access.files.list_files && authService.access.files.list_folders ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="Files" 
        routerLink="/file-system" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #files="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.files.list_files && authService.access.files.list_folders">
            <mat-icon>file_copy</mat-icon>
            <span class="title">Files</span>
          </ng-container>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
    
    <!-- tools -->
    <mat-expansion-panel class="mat-elevation-z0"
      [expanded]="sql?.isActive || terminal?.isActive || eval?.isActive || config?.isActive || crypto?.isActive || crudifier?.isActive || !sideNavStatus" 
      [hideToggle]="!sideNavStatus"
      *ngIf="authService.access.sql.execute_access || authService.access.terminal.execute || authService.access.eval.execute || authService.access.config.load || authService.access.crypto.import_public_key || (authService.access.crud.generate_crud || authService.access.crud.generate_sql || authService.access.crud.generate_frontend)">
      <mat-expansion-panel-header 
      *ngIf="sideNavStatus"
      [ngClass]="{'active-link':sql?.isActive || terminal?.isActive || eval?.isActive || config?.isActive || crypto?.isActive || crudifier?.isActive}">
        <mat-panel-title>
          <mat-icon>code</mat-icon>
          <span class="title">Tools</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" [ngClass]="{'pt-0 pb-0': !sideNavStatus}">
        <!-- sql -->
        <mat-list-option 
        [style.display]="authService.access.sql.execute_access ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="SQL" 
        routerLink="/sql" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #sql="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.sql.execute_access">
            <mat-icon>language</mat-icon>
            <span class="title">SQL</span>
          </ng-container>
        </mat-list-option>
        <!-- terminal -->
        <mat-list-option 
        [style.display]="authService.access.terminal.execute ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="Terminal" 
        routerLink="/terminal" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #terminal="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.terminal.execute">
            <mat-icon>input</mat-icon>
            <span class="title">Terminal</span>
          </ng-container>
        </mat-list-option>
        <!-- evaluator -->
        <mat-list-option 
        [style.display]="authService.access.eval.execute ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="Evaluator" 
        routerLink="/evaluator" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #eval="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.eval.execute">
            <mat-icon>offline_bolt</mat-icon>
            <span class="title">Evaluator</span>
          </ng-container>
        </mat-list-option>
        <!-- evaluator -->
        <mat-list-option 
        [style.display]="authService.access.config.load ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="Config" 
        routerLink="/config" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #config="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.config.load">
            <mat-icon>settings</mat-icon>
            <span class="title">Config</span>
          </ng-container>
        </mat-list-option>
        <!-- crypto -->
        <mat-list-option 
        [style.display]="authService.access.crypto.import_public_key ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="Cryptography" 
        routerLink="/crypto" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #crypto="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
        <ng-container *ngIf="authService.access.crypto.import_public_key">
          <mat-icon>security</mat-icon>
          <span class="title">Cryptography</span>
        </ng-container>
        </mat-list-option>
        <!-- crudifier -->
        <mat-list-option 
        [style.display]="authService.access.crud.generate_crud || authService.access.crud.generate_sql || authService.access.crud.generate_frontend ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="CRUD" 
        routerLink="/crudifier" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #crudifier="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.crud.generate_crud || authService.access.crud.generate_sql || authService.access.crud.generate_frontend">
            <mat-icon>build</mat-icon>
            <span class="title">CRUD</span>
          </ng-container>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
    <!-- user settings -->
    <mat-expansion-panel class="mat-elevation-z0"
      [expanded]="authLink?.isActive || passwordLink?.isActive || !sideNavStatus" 
      [hideToggle]="!sideNavStatus"
      *ngIf="(authService.access.auth.view_users && authService.access.auth.view_roles) || authService.authenticated">
      <mat-expansion-panel-header 
      *ngIf="sideNavStatus"
      [ngClass]="{'active-link':authLink?.isActive || passwordLink?.isActive}">
        <mat-panel-title>
          <mat-icon>manage_accounts</mat-icon>
          <span class="title">Management</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" [ngClass]="{'pt-0 pb-0': !sideNavStatus}">
        <!-- auth -->
        <mat-list-option 
        [style.display]="authService.access.auth.view_users && authService.access.auth.view_roles ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="Users & roles" 
        routerLink="/auth" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #authLink="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.auth.view_users && authService.access.auth.view_roles">
            <mat-icon>people</mat-icon>
            <span class="title">Users & roles</span>
          </ng-container>
        </mat-list-option>
        <!-- password -->
        <mat-list-option 
        [style.display]="authService.authenticated ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="Password setting" 
        routerLink="/profile" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #passwordLink="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
        <ng-container *ngIf="authService.authenticated">
          <mat-icon>password</mat-icon>
          <span class="title">Password</span>
        </ng-container>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
    <!-- get started -->
    <p class="mb-0 text-muted p-3" *ngIf="sideNavStatus">Help</p>
    <!-- about -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header 
      #panelH (click)="panelH._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="About" 
      routerLink="/about" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
              <mat-icon>copyright</mat-icon>
              <span class="title">About Magic</span>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- bazar -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header 
      *ngIf="authService.access.bazar.get_manifests"
      #panelH (click)="panelH._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="Bazaar" 
      routerLink="/bazar" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
              <mat-icon>storefront</mat-icon>
              <span class="title">Bazaar</span>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- document -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header 
      #panelH (click)="panelH._toggle();navigateToDocumentation()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="Documentation" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
              <mat-icon>book</mat-icon>
              <span class="title">Documentation</span>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- register -->
    <mat-expansion-panel class="mat-elevation-z0" 
      *ngIf="!authService.authenticated" hideToggle>
      <mat-expansion-panel-header 
      #panelH (click)="panelH._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="Create an account" 
      routerLink="/register" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
              <mat-icon>how_to_reg</mat-icon>
              <span class="title">Register</span>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<!-- <a
  mat-button
  routerLink="/"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>home</mat-icon>
  <span>Home</span>
</a>

<a
  *ngIf="authService.access.sql.execute_access"
  mat-button
  routerLink="/sql"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>language</mat-icon>
  <span>SQL</span>
</a>

<a
  *ngIf="authService.access.crud.generate_crud || authService.access.crud.generate_sql || authService.access.crud.generate_frontend"
  mat-button
  routerLink="/crudifier"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>build</mat-icon>
  <span>CRUD</span>
</a>

<a
  *ngIf="authService.access.endpoints.view"
  mat-button
  routerLink="/endpoints"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>http</mat-icon>
  <span>Endpoints</span>
</a>

<a
  *ngIf="authService.access.files.list_files && authService.access.files.list_folders"
  mat-button
  routerLink="/ide"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>extension</mat-icon>
  <span>Hyper IDE</span>
</a>

<a
  *ngIf="authService.access.auth.view_users && authService.access.auth.view_roles"
  mat-button
  routerLink="/auth"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>people</mat-icon>
  <span>Auth</span>
</a>

<a
  *ngIf="authService.access.log.read"
  mat-button
  routerLink="/diagnostics"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>local_hospital</mat-icon>
  <span>Health</span>
</a>

<a
  *ngIf="authService.access.tasks.read"
  mat-button
  routerLink="/tasks"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>calendar_today</mat-icon>
  <span>Tasks</span>
</a>

<a
  *ngIf="authService.access.terminal.execute"
  mat-button
  routerLink="/terminal"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>input</mat-icon>
  <span>Terminal</span>
</a>

<a
  *ngIf="authService.access.eval.execute"
  mat-button
  routerLink="/evaluator"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>offline_bolt</mat-icon>
  <span>Eval</span>
</a>

<a
  *ngIf="authService.access.crypto.import_public_key"
  mat-button
  routerLink="/crypto"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>security</mat-icon>
  <span>Crypto</span>
</a>

<a
  *ngIf="authService.access.files.list_files && authService.access.files.list_folders"
  mat-button
  routerLink="/file-system"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>file_copy</mat-icon>
  <span>Files</span>
</a>

<a
  *ngIf="authService.access.sockets.read"
  mat-button
  routerLink="/sockets"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>compare_arrows</mat-icon>
  <span>Sockets</span>
</a>

<a
  *ngIf="authService.access.config.load"
  mat-button
  routerLink="/config"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>settings</mat-icon>
  <span>Config</span>
</a>

<a
  *ngIf="!authService.authenticated"
  mat-button
  routerLink="/register"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>face</mat-icon>
  <span>Register</span>
</a>

<a
  *ngIf="authService.authenticated"
  mat-button
  routerLink="/profile"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>account_circle</mat-icon>
  <span>Profile</span>
</a>

<a
  *ngIf="authService.access.bazar.get_manifests"
  mat-button
  routerLink="/bazar"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>public</mat-icon>
  <span>Bazar</span>
</a>

<a
  mat-button
  routerLink="/about"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>copyright</mat-icon>
  <span>About</span>
</a> -->
