
<a
  mat-button
  routerLink="/"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>home</mat-icon>
  <span>Home</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/file-system')"
  mat-button
  routerLink="/ide"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>extension</mat-icon>
  <span>IDE</span>
</a>

<a
  *ngIf="authService.isRoot"
  mat-button
  routerLink="/terminal"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>input</mat-icon>
  <span>Terminal</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/auth/imprison')"
  mat-button
  routerLink="/auth"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>people</mat-icon>
  <span>Auth</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/sql')"
  mat-button
  routerLink="/sql"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>language</mat-icon>
  <span>SQL</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/crudifier')"
  mat-button
  routerLink="/crudifier"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>build</mat-icon>
  <span>CRUD</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/endpoints')"
  mat-button
  routerLink="/endpoints"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>http</mat-icon>
  <span>Endpoints</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/file-system')"
  mat-button
  routerLink="/file-system"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>file_copy</mat-icon>
  <span>Files</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/evaluator')"
  mat-button
  routerLink="/evaluator"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>offline_bolt</mat-icon>
  <span>Eval</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/tasks')"
  mat-button
  routerLink="/tasks"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>calendar_today</mat-icon>
  <span>Tasks</span>
</a>

<a
  mat-button
  routerLink="/crypto"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>security</mat-icon>
  <span>Crypto</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/misc')"
  mat-button
  routerLink="/sockets"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>compare_arrows</mat-icon>
  <span>Sockets</span>
</a>

<a
  mat-button
  routerLink="/register"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>face</mat-icon>
  <span>Register</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/diagnostics')"
  mat-button
  routerLink="/diagnostics"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>local_hospital</mat-icon>
  <span>Health</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/log')"
  mat-button
  routerLink="/log"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:false}">
  <mat-icon matSuffix>bar_chart</mat-icon>
  <span>Log</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/config')"
  mat-button
  routerLink="/config"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>settings</mat-icon>
  <span>Config</span>
</a>

<a
  *ngIf="authService.hasAccess('magic/modules/system/misc/bazar')"
  mat-button
  routerLink="/bazar"
  routerLinkActive="active-link"
  (click)="closeNavbar()"
  [routerLinkActiveOptions]="{exact:true}">
  <mat-icon matSuffix>public</mat-icon>
  <span>Bazar</span>
</a>
