<div class="d-flex flex-column w-100 h-100" id="sidebar" [class.disableLinks]="!backendIsConfigured">
  <div class="top-box-sidebar d-flex flex-column justify-content-center align-items-center text-center">
    <div class="d-flex flex-column w-100 justify-content-center align-items-center">
      <img src="../../../../assets/logo-no-text.svg" alt="" [width]="sideNavStatus ? 80 : 35">
      <p class="nm-top text-uppercase">{{sideNavStatus ? 'Aista Magic Cloud' : 'MAGIC'}}</p>
    </div>
    <ng-container *ngIf="sideNavStatus">
      <h4 class="mb-0 text-capitalized" *ngIf="authService.authenticated">Welcome {{getUserRoles()}}</h4>
      <h5 class="mb-0 mt-0 text-capitalized text-muted">
        {{getUserStatus()}}
      </h5>
    </ng-container>
    <div class="toggle-btn">
      <button
        mat-icon-button
        (click)="toggleNavbar()">
        <mat-icon>menu{{sideNavStatus ? '_open' : ''}}</mat-icon>
      </button>
    </div>
  </div>
  <mat-accordion displayMode="flat" [multi]="!sideNavStatus">
    <!-- dashboard -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header 
      #panelD (click)="panelD._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      [matTooltip]="authService.access.files.list_files && authService.access.files.list_folders ? 'Dashboard' : 'Home'" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
              <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="!authService.authenticated || backendIsConfigured ? '/' : null">
                <mat-icon>{{authService.access.files.list_files && authService.access.files.list_folders ? 'dashboard' : 'home'}}</mat-icon>
                <span class="title">{{authService.access.files.list_files && authService.access.files.list_folders ? 'Dashboard' : 'Home'}}</span>
              </a>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- crypto if user not logged in -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle *ngIf="!authService.authenticated">
      <mat-expansion-panel-header 
      #panelC (click)="panelC._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="Cryptography" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" routerLink="/crypto">
              <mat-icon>security</mat-icon>
              <span class="title">Cryptography</span>
            </a>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- tools -->
    <mat-expansion-panel class="mat-elevation-z0"
      [expanded]="hyperide?.isActive || evaluator?.isActive || sql?.isActive || crudifier?.isActive || tasks?.isActive || !sideNavStatus" 
      [hideToggle]="!sideNavStatus"
      *ngIf="(authService.access.files.list_files && authService.access.files.list_folders) || authService.access.eval.execute || authService.access.sql.execute_access || (authService.access.crud.generate_crud || authService.access.crud.generate_sql || authService.access.crud.generate_frontend) || authService.access.tasks.read">
      <mat-expansion-panel-header 
        *ngIf="sideNavStatus"
        [ngClass]="{'active-link':hyperide?.isActive || evaluator?.isActive || sql?.isActive || crudifier?.isActive || tasks?.isActive}">
        <mat-panel-title>
          <mat-icon>build_circle</mat-icon>
          <span class="title">Tools</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" [ngClass]="{'pt-0 pb-0': !sideNavStatus}">
        <!-- crudifier -->
        <mat-list-option 
          [style.display]="authService.access.crud.generate_crud || authService.access.crud.generate_sql || authService.access.crud.generate_frontend ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Crudifier" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #crudifier="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.crud.generate_crud || authService.access.crud.generate_sql || authService.access.crud.generate_frontend">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/crudifier' : null">
              <mat-icon>touch_app</mat-icon>
              <span class="title">Crudifier</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- hyper ide -->
        <mat-list-option 
          [style.display]="authService.access.files.list_files && authService.access.files.list_folders ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Hyper IDE" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #hyperide="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.files.list_files && authService.access.files.list_folders">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/ide' : null">
              <mat-icon>extension</mat-icon>
              <span class="title">Hyper IDE</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- sql -->
        <mat-list-option 
          [style.display]="authService.access.sql.execute_access ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="SQL" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #sql="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.sql.execute_access">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/sql' : null">
              <mat-icon>language</mat-icon>
              <span class="title">SQL</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- evaluator -->
        <mat-list-option 
          [style.display]="authService.access.eval.execute ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Evaluator" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #evaluator="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.eval.execute">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/evaluator' : null">
              <mat-icon>offline_bolt</mat-icon>
              <span class="title">Evaluator</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- tasks -->
        <mat-list-option 
          [style.display]="authService.access.tasks.read ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Tasks" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #tasks="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.tasks.read">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/tasks' : null">
              <mat-icon>calendar_today</mat-icon>
              <span class="title">Tasks</span>
            </a>
          </ng-container>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
    <!-- management -->
    <mat-expansion-panel class="mat-elevation-z0"
      [expanded]="auth?.isActive || config?.isActive || crypto?.isActive || bazar?.isActive || terminal?.isActive || profile?.isActive || !sideNavStatus" 
      [hideToggle]="!sideNavStatus"
      *ngIf="(authService.access.auth.view_users && authService.access.auth.view_roles) || authService.access.bazar.get_manifests || authService.access.config.load || authService.access.terminal.execute">
      <mat-expansion-panel-header 
      *ngIf="sideNavStatus"
      [ngClass]="{'active-link':auth?.isActive || config?.isActive || crypto?.isActive || bazar?.isActive || profile?.isActive || terminal?.isActive}">
        <mat-panel-title>
          <mat-icon>manage_accounts</mat-icon>
          <span class="title">Management</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" [ngClass]="{'pt-0 pb-0': !sideNavStatus}">
        <!-- users -->
        <mat-list-option 
        [style.display]="authService.access.auth.view_users && authService.access.auth.view_roles ? '' : 'none'"
        [matTooltipDisabled]="sideNavStatus" 
        matTooltip="Users & roles" 
        matTooltipPosition="after" 
        routerLinkActive="active-link"
        #auth="routerLinkActive"
        [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.auth.view_users && authService.access.auth.view_roles">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/auth' : null">
              <mat-icon>supervisor_account</mat-icon>
              <span class="title">Users &amp; roles</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- config -->
        <mat-list-option 
          [style.display]="authService.access.config.load ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Config" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #config="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.config.load">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" routerLink="/config">
              <mat-icon>settings</mat-icon>
              <span class="title">Config</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- terminal -->
        <mat-list-option 
          [style.display]="authService.access.terminal.execute ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Terminal" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #terminal="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.terminal.execute">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/terminal' : null">
              <mat-icon>input</mat-icon>
              <span class="title">Terminal</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- Cryptography -->
        <mat-list-option 
          [style.display]="authService.access.crypto.import_public_key ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Cryptography" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #crypto="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.crypto.import_public_key">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/crypto' : null">
              <mat-icon>security</mat-icon>
              <span class="title">Cryptography</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- profile -->
        <mat-list-option 
          [style.display]="authService.authenticated ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Edit your profile" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #profile="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.authenticated">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/profile' : null">
              <mat-icon>person</mat-icon>
              <span class="title">Profile</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- bazar -->
        <mat-list-option 
          [style.display]="authService.access.bazar.get_manifests ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Bazar" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #bazar="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.bazar.get_manifests">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/bazar' : null">
              <mat-icon>storefront</mat-icon>
              <span class="title">Bazaar</span>
            </a>
          </ng-container>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
    <!-- analytics -->
    <mat-expansion-panel class="mat-elevation-z0"
      [expanded]="assumptions?.isActive || cache?.isActive || endpoints?.isActive || sockets?.isActive || log?.isActive || !sideNavStatus" 
      [hideToggle]="!sideNavStatus"
      *ngIf="authService.access.endpoints.view || authService.access.sockets.read">
      <mat-expansion-panel-header 
      *ngIf="sideNavStatus"
      [ngClass]="{'active-link':assumptions?.isActive || cache?.isActive || log?.isActive || endpoints?.isActive || sockets?.isActive}">
        <mat-panel-title>
          <mat-icon>equalizer</mat-icon>
          <span class="title">Analytics</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" [ngClass]="{'pt-0 pb-0': !sideNavStatus}">
        <!-- log -->
        <mat-list-option 
          [style.display]="authService.access.log.read ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Log" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #log="routerLinkActive"
          [routerLinkActiveOptions]="{exact:false}">
          <ng-container *ngIf="authService.access.log.read">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/log' : null">
              <mat-icon>bar_chart</mat-icon>
              <span class="title">Log</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- assumptions //TODO -->
        <mat-list-option 
          [style.display]="authService.access.log.read ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Assumptions" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #assumptions="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.log.read">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/assumptions' : null">
              <mat-icon>fact_check</mat-icon>
              <span class="title">Assumptions</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- cache //TODO -->
        <mat-list-option 
          [style.display]="authService.access.log.read ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="System's cache" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #cache="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.log.read">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/cache' : null">
              <mat-icon>cached</mat-icon>
              <span class="title">Cache</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- endpoints -->
        <mat-list-option 
          [style.display]="authService.access.endpoints.view ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Endpoints" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #endpoints="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.endpoints.view">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/endpoints' : null">
              <mat-icon>http</mat-icon>
              <span class="title">Endpoints</span>
            </a>
          </ng-container>
        </mat-list-option>
        <!-- sockets -->
        <mat-list-option 
          [style.display]="authService.access.sockets.read ? '' : 'none'"
          [matTooltipDisabled]="sideNavStatus" 
          matTooltip="Sockets" 
          matTooltipPosition="after" 
          routerLinkActive="active-link"
          #sockets="routerLinkActive"
          [routerLinkActiveOptions]="{exact:true}">
          <ng-container *ngIf="authService.access.sockets.read">
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" [routerLink]="backendIsConfigured ? '/sockets' : null">
              <mat-icon>compare_arrows</mat-icon>
              <span class="title">Sockets</span>
            </a>
          </ng-container>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
    <!-- about -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header 
      #panelH (click)="panelH._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="About" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" routerLink="/about">
              <mat-icon>copyright</mat-icon>
              <span class="title">About Magic</span>
            </a>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- document -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header 
      #panelH (click)="panelH._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="Documentation" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" href="https://docs.aista.com/" target="_blank">
              <mat-icon>book</mat-icon>
              <span class="title">Documentation</span>
            </a>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- login -->
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header
      #panelL (click)="panelL._toggle();authService.authenticated ? logout() : login()" 
      [matTooltipDisabled]="sideNavStatus" 
      [matTooltip]="authService.authenticated ? 'Logout' : 'Login'">
          <mat-panel-title>
              <mat-icon>{{authService.authenticated ? 'lock' : 'lock_open'}}</mat-icon>
              <span class="title">{{authService.authenticated ? 'Logout' : 'Login'}}</span>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- register -->
    <mat-expansion-panel class="mat-elevation-z0" 
      *ngIf="!authService.authenticated" hideToggle>
      <mat-expansion-panel-header 
      #panelH (click)="panelH._toggle()" 
      [matTooltipDisabled]="sideNavStatus" 
      matTooltip="Create an account" 
      matTooltipPosition="after" 
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}">
          <mat-panel-title>
            <a class="w-100 h-100 d-flex align-items-center" [class.flex-column]="!sideNavStatus" [class.justify-content-center]="!sideNavStatus" (click)="notSmallScreen ? '' : closeNavbar()" routerLink="/register">
              <mat-icon>how_to_reg</mat-icon>
              <span class="title">Register</span>
            </a>
          </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- theme -->
  <mat-divider class="mt-4"></mat-divider>
  <button mat-button class="ml-2 mr-1"
  (click)="themeChanged(theme === 'light' ? 'dark' : 'light')" 
  [color]="theme === 'dark' ? 'accent' : ''"
  [class.theme-btn]="!sideNavStatus">
    <div class="d-flex align-items-center justify-content-between" [class.flex-column]="!sideNavStatus">
      <div class="theme-title" [class.d-none]="!sideNavStatus">{{'Switch to ' + (theme === 'light' ? 'dark' : 'light') + ' theme'}}</div>
      <div class="theme-title" [class.d-none]="sideNavStatus">{{(theme === 'light' ? 'Dark' : 'Light') + ' theme'}}</div>
      <div class="switch-theme {{theme}}">
        <span class="light-icon">
          <mat-icon>light_mode</mat-icon>
        </span>
        <span class="dark-icon">
          <mat-icon>brightness_4</mat-icon>
        </span>
      </div>
    </div>
  </button>
  <div class="footer d-flex flex-column justify-content-center align-items-center w-100 pt-3">
    <div class="d-flex flex-column align-items-center">
      <ng-container *ngIf="shouldUpdateCore">
        <a
          href="https://polterguy.github.io/tutorials/getting-started/"
          mat-raised-button
          matTooltip="Update your Magic installation"
          [matTooltipPosition]="sideNavStatus ? 'above' : 'after'" 
          target="_blank"
          class="mb-2"
          color="warn">
          {{sideNavStatus ? 'Update to ' + bazarVersion : 'Update'}}
        </a>
      </ng-container>
      <ng-container>
        <span
        [matTooltip]="shouldUpdateCore ? 'You should probably update your local Magic installation' : 'You seem to have the latest version installed'"
        [matTooltipPosition]="sideNavStatus ? 'above' : 'after'" >{{version}}</span>
      </ng-container>
    </div>
    <p class="my-0 mat-caption text-center" *ngIf="sideNavStatus">
      &copy; Aista Ltd. 2020 - {{currentYear}}
    </p>
  </div>
</div>