
<h3 mat-dialog-title class="mb-3">Import training snippets for {{data.type}}</h3>

<div mat-dialog-content>

  <!-- Upload training data part -->
  <div class="row">

    <div class="col-12 mt-2">

      <form>
  
        <div class="drop-container pointer border-color">
  
          <input
            type="file"
            [(ngModel)]="trainingFileModel"
            name="trainingFileModel"
            class="w-100 h-100 hide pointer"
            #upload
            (change)="getFile($event)"
            accept=".csv">
  
          <button
            mat-button
            class="w-100"
            (click)="upload.click()"
            *ngIf="trainingFileModel === ''"
            [disabled]="uploading">
            <i>Drag & drop or click to upload your training material here</i> <br />
            <span class="text-primary">Choose a file</span>
          </button>
  
          <ng-container *ngIf="trainingFileModel !== ''">
            <h4 class="my-0">{{getFileName()}}</h4>
            <p class="text-center mt-3" *ngIf="uploading">Uploading ...</p>
            <p class="text-center mt-3" *ngIf="!uploading">Done!</p>
          </ng-container>
  
        </div>
  
      </form>
  
    </div>

  </div>

</div>

<div mat-dialog-actions [align]="'end'">

  <button
    mat-button
    mat-dialog-close>
    Close
  </button>

</div>
