
<h3 mat-dialog-title class="mb-3">Import training snippets for {{data.type}}</h3>

<div mat-dialog-content>

  <form (ngSubmit)="importUrl()" class="d-flex justify-content-md-between align-items-md-center align-items-end flex-md-row flex-column-reverse w-100">

    <mat-form-field class="w-100 standalone-field me-2 mb-2">
      <span
        matPrefix
        matTooltip="Root URL to crawl for training data"
        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>http</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <input
        matInput
        placeholder="URL"
        [(ngModel)]="url"
        name="url"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field class="standalone-field me-2 mb-2">
      <span
        matPrefix
        matTooltip="Delay in milliseconds between page crawls"
        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>hourglass_empty</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <input
        matInput
        placeholder="Delay"
        [(ngModel)]="delay"
        type="number"
        min="500"
        max="300000"
        name="delay"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field class="standalone-field me-2 mb-2">
      <span
        matPrefix
        matTooltip="Max pages to crawl"
        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>hourglass_empty</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <input
        matInput
        placeholder="Max pages"
        [(ngModel)]="max"
        type="number"
        min="1"
        max="1000"
        name="max"
        autocomplete="off">
    </mat-form-field>

    <button
      class="mb-2"
      mat-flat-button>
      Crawl
    </button>

  </form>

  <!-- Upload training data part -->
  <div class="row">

    <div class="col-6">

      <mat-form-field class="w-100 standalone-field">
        <span
          matPrefix
          matTooltip="Prompt field"
          class="d-flex flex-nowrap align-items-center justify-content-between me-2">
          <mat-icon>help_outline</mat-icon>
          <span class="text-muted">|</span>
        </span>
        <input
          matInput
          placeholder="Prompt field"
          [(ngModel)]="prompt"
          autocomplete="off">
      </mat-form-field>
  
    </div>

    <div class="col-6">

      <mat-form-field class="w-100 standalone-field">
        <span
          matPrefix
          matTooltip="Completion field"
          class="d-flex flex-nowrap align-items-center justify-content-between me-2">
          <mat-icon>edit</mat-icon>
          <span class="text-muted">|</span>
        </span>
        <input
          matInput
          placeholder="Completion field"
          [(ngModel)]="completion"
          autocomplete="off">
      </mat-form-field>

    </div>

    <div class="col-12 mt-2">
  
      <div class="drop-container pointer border-color">

        <input
          type="file"
          [(ngModel)]="trainingFileModel"
          name="trainingFileModel"
          class="w-100 h-100 hide pointer"
          #upload
          (change)="getFile($event)"
          accept=".csv,.xml,.yaml,.yml,.json">

        <button
          mat-button
          class="w-100"
          (click)="upload.click()"
          *ngIf="trainingFileModel === ''"
          [disabled]="uploading">
          <i>Drag & drop or click to upload your training data here, CSV, XML, JSON or YAML</i> <br />
          <span class="text-primary">Choose a file</span>
        </button>

        <ng-container *ngIf="trainingFileModel !== ''">
          <h4 class="my-0">{{getFileName()}}</h4>
          <p class="text-center mt-3" *ngIf="uploading">Uploading ...</p>
          <p class="text-center mt-3" *ngIf="!uploading">Done!</p>
        </ng-container>

      </div>
  
    </div>

  </div>

</div>

<div mat-dialog-actions [align]="'end'">

  <button
    mat-button
    mat-dialog-close>
    Close
  </button>

</div>
