<h3 mat-dialog-title>New list item</h3>

<form (ngSubmit)="onSubmit()">

  <div mat-dialog-content>

    <mat-form-field class="w-100 standalone-field prompt">
      <span
        matPrefix
        matTooltip="Value of item"
        class="d-flex flex-nowrap align-items-center justify-content-between pe-2">
        <mat-icon>edit</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <input
        type="text"
        matInput
        placeholder="Value of list item ..."
        [formControl]="autocompleter"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [matTooltip]="option.complete === false ? 'Incomplete expression, cannot deduce complete path' : ''"
          matTooltipPosition="right"
          [class]="option.complete === false ? 'warning' : ''"
          [value]="option.value">{{option.label}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </div>

  <div mat-dialog-actions [align]="'end'">

    <button
      mat-button
      mat-dialog-close>
      Close
    </button>

    <button
      mat-flat-button
      color="primary"
      type="submit">
      OK
    </button>

  </div>

</form>
