<mat-card class="input">
  <div class="d-flex flex-sm-nowrap flex-wrap justify-content-between">
    <div class="d-flex align-items-center">
      <mat-card-title class="my-0">Assumptions</mat-card-title>
      <div class="sm-icons">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?">
          <mat-icon>help_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div class="p-3">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem autem consequatur explicabo architecto sequi asperiores odit minima incidunt error facilis, animi eaque a pariatur magnam doloribus libero ad. Voluptatum, harum!
            </p>
          </div>
        </mat-menu>
      </div>
    </div>
    <div>
      <button mat-stroked-button [matMenuTriggerFor]="list" class="mat-caption" matTooltip="List of shortkeys">
        Shortkeys
      </button>
      <mat-menu #list="matMenu" class="shortkeys">
        <mat-list role="list" dense>
          <mat-list-item role="listitem">
            <span>
              <span class="d-block">Fullscreen</span>
              <span class="d-block">Exit fullscreen</span>
            </span>
            <span class="code my-0 ml-5">Alt + M</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            Load
            <span class="code my-0 ml-5">Alt + L</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            Save
            <span class="code my-0 ml-5">Alt + S</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            Execute
            <span class="code my-0 ml-5">F5</span>
          </mat-list-item>
        </mat-list>
      </mat-menu>
    </div>
  </div>
  <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
  <div class="wrapper">

    <div class="button-strip">

      <mat-form-field [class]="tests.length > 0 ? 'fill-width' : 'invisible'" appearance="outline">

        <mat-label>Filter</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [formControl]="filterFormControl">
        <mat-icon
          matSuffix
          *ngIf="filterFormControl.value.trim() !== ''"
          class="button"
          role="button"
          (click)="clearFilter()">clear</mat-icon>

      </mat-form-field>

      <button
        *ngIf="tests.length > 0"
        [disabled]="!authService.access.diagnostics.execute_test"
        mat-raised-button
        color="primary"
        [matTooltip]="'Run ' + getFilteredTests().length + ' health checks'"
        class="run-all"
        (click)="executeFiltered()">
        Run
      </button>

    </div>

    <table
      mat-table
      [dataSource]="getFilteredTests()"
      class="tests clickable"
      multiTemplateDataRows>

      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let el">{{getName(el.filename)}}</td>
      </ng-container>

      <ng-container matColumnDef="result">
        <td mat-cell class="mini-col icon-col" *matCellDef="let el">
          <mat-icon
            *ngIf="el.success !== null && el.success">favorite</mat-icon>
          <mat-icon
            *ngIf="el.success !== null && !el.success"
            class="warning">warning</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="show-details">
        <td
          mat-cell
          colspan="2"
          *matCellDef="let el">

          <div
            class="details-sheet"
            *ngIf="shouldDisplayDetails(el) && el.content">

            <app-codemirror-hyperlambda [(model)]="el.content"></app-codemirror-hyperlambda>

            <div class="button-strip">

              <button
                mat-raised-button
                (click)="saveTest(el.filename, el.content.hyperlambda)">
                Save
              </button>

              <button
                mat-raised-button
                (click)="deleteTest(el)">
                Delete
              </button>

              <button
                mat-raised-button
                color="primary"
                (click)="executeTest(el)">
                Run
              </button>

            </div>

          </div>

        </td>
      </ng-container>

      <tr
        mat-row
        [ngClass]="(shouldDisplayDetails(el) ? 'selected ' : '') + 'test-row'"
        (click)="toggleDetails(el)"
        mat-row *matRowDef="let el; columns: ['name', 'result'];"></tr>

      <tr
        mat-row
        [ngClass]="shouldDisplayDetails(el) ? 'details' : 'invisible'"
        *matRowDef="let el; columns: ['show-details'];"></tr>

    </table>

  </div>
</mat-card>
