/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
@import "~codemirror/addon/display/fullscreen";
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

.content {
  margin-bottom: 5rem;
}

.CodeMirror.cm-s-material {
  height: 500px;
  .cm-variable-2 {
    color: #e7c2f5;
  }
}

.image-container {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 3rem;
  border-radius: .5rem;
  box-shadow: 3px 3px 5px rgba(0,0,0,.7);
  box-sizing: border-box;
  img {
    max-width: 100%;
    width: 100%;
  }
}

.large .CodeMirror {
  height: 500px;
}

.smaller .CodeMirror {
  height: 300px;
}

.reactor .CodeMirror {
  height: 150px;
}

.CodeMirror-hints {
  position: absolute;
  z-index: 10000;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 2px;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid silver;
  background: white;
  font-size: 90%;
  font-family: monospace;
  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.obscurer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.85);
  z-index: 5;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
  h3 {
    margin-top: 10rem;
    font-size: 2rem;
  }
  h4 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  h3, h4 {
    text-align: center;
    color: whitesmoke;
  }
  .ajax-wait {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
  }
}
