/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";

.CodeMirror {
    height: auto;
}
