
<mat-form-field class="w-100" appearance="outline">

  <mat-label>Filter</mat-label>
  <input
    matInput
    type="text"
    autocomplete="off"
    [formControl]="filterFormControl">
  <mat-icon
    matSuffix
    *ngIf="filterFormControl.value.trim() !== ''"
    class="button"
    role="button"
    (click)="clearFilter()">clear</mat-icon>

</mat-form-field>

<table
  mat-table
  [dataSource]="invocations"
  class="w-100 expandable-table"
  multiTemplateDataRows>

  <ng-container matColumnDef="request_id">
    <td mat-cell *matCellDef="let el">{{el.request_id}}</td>
  </ng-container>

  <ng-container matColumnDef="created">
    <td mat-cell *matCellDef="let el" class="mini-col">{{el.created | since}}</td>
  </ng-container>

  <ng-container matColumnDef="showDetails">
    <td mat-cell *matCellDef="let el" colspan="2">
      <div class="w-100 details-row"
        [@detailExpand]="el == expandedElement ? 'expanded' : 'collapsed'">
        <div class="w-100">
          <mat-list class="detail-list mb-3">
            <mat-list-item>
              <div mat-line>Date</div>
              <div mat-line class="copy-to-clipboard" (click)="copyToClipboard(el.created)">{{el.created}}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>ID</div>
              <div mat-line class="copy-to-clipboard" (click)="copyToClipboard(el.request_id)">{{el.request_id}} </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Full name</div>
              <div mat-line class="copy-to-clipboard"
              (click)="copyToClipboard(getCryptoKeySubject(el.crypto_key))">{{getCryptoKeySubject(el.crypto_key)}} </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Key fingerprint</div>
              <div mat-line class="copy-to-clipboard"
              (click)="copyToClipboard(getCryptoKeyFingerprint(el.crypto_key))">{{getCryptoKeyFingerprint(el.crypto_key)}} </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Request</div>
              <div mat-line class="code copy-to-clipboard" (click)="copyToClipboard(el.request)">{{el.request}}</div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Signed request</div>
              <div mat-line class="no-overflow copy-to-clipboard" (click)="copyToClipboard(el.request_raw)">{{el.request_raw}} </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Response</div>
              <div mat-line class="code">{{el.response}} </div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </td>
    <!-- <td
      mat-cell
      *matCellDef="let el"
      colspan="2">
      <div *ngIf="shouldDisplayDetails(el)">

        <div class="crypto-details">
          <span class="item">
            <strong>Date</strong>
            <span class="clipboard" (click)="copyToClipboard(el.created)">{{el.created}}</span>
          </span>
          <span class="item">
            <strong>ID</strong>
            <span class="clipboard" (click)="copyToClipboard(el.request_id)">{{el.request_id}}</span>
          </span>
          <span class="item">
            <strong>Full name</strong>
            <span
              class="clipboard"
              (click)="copyToClipboard(getCryptoKeySubject(el.crypto_key))">{{getCryptoKeySubject(el.crypto_key)}}</span>
          </span>
          <span class="item">
            <strong>Key fingerprint</strong>
            <span
              class="clipboard"
              (click)="copyToClipboard(getCryptoKeyFingerprint(el.crypto_key))">{{getCryptoKeyFingerprint(el.crypto_key)}}</span>
          </span>
          <span class="item">
            <strong class="full-width">Request</strong>
            <span class="code clipboard" (click)="copyToClipboard(el.request)">{{el.request}}</span>
          </span>
          <span class="item">
            <strong class="full-width">Signed request</strong>
            <span class="no-overflow clipboard" (click)="copyToClipboard(el.request_raw)">{{el.request_raw}}</span>
          </span>
          <span class="item">
            <strong class="full-width">Response</strong>
            <span class="code">{{el.response}}</span>
          </span>
        </div>

      </div>
    </td> -->
  </ng-container>

  <tr
    mat-row
    [ngClass]="expandedElement === el ? 'selected ' + ' invocation-row' : ''"
    class="expandable-row"
    (click)="toggleDetails(el);expandedElement = expandedElement === el ? null : el"
    *matRowDef="let el; columns: displayedColumns;"></tr>

  <!-- <tr
    mat-row
    [ngClass]="shouldDisplayDetails(el) ? 'details' : 'invisible'"
    *matRowDef="let el; columns: ['show-details'];"></tr> -->
  <tr mat-row *matRowDef="let el; columns: ['showDetails']" class="expanded-row"></tr>

</table>

<mat-paginator
  #paginator
  [class]="count > 10 ? '' : 'invisible'"
  [length]="count"
  pageSize="10"
  showFirstLastButtons="true"
  (page)="paged($event)"
  [pageSizeOptions]="[5,10,25,50]">
</mat-paginator>
