
<div class="meta-wrapper">

  <div class="meta-info">

    <span class="item">
      <strong>Installed</strong>
      <span matTooltip="When Magic was installed">{{age | since}}</span>
    </span>

    <span class="item">
      <strong>Users</strong>
      <span matTooltip="Total number of users in Magic">{{userCount}}</span>
    </span>

    <span class="item">
      <strong>Roles</strong>
      <span matTooltip="Total number of roles in Magic">{{roleCount}}</span>
    </span>

    <span class="item">
      <strong>Tasks</strong>
      <span matTooltip="Total number of tasks in system">{{taskCount}}</span>
    </span>

    <span class="item">
      <strong>Endpoints</strong>
      <span matTooltip="Total number of endpoints in system">{{endpoints}}</span>
    </span>

    <span class="item">
      <strong>Log items</strong>
      <span matTooltip="Total count of log items in Magic">{{logCount}}</span>
    </span>

    <span class="item">
      <strong>Errors</strong>
      <span matTooltip="Total number of errors that has been raised by the system">{{errors}}</span>
    </span>

    <span class="item">
      <strong>LOC generated</strong>
      <span [matTooltip]="getLocTooltip()">{{loc}}</span>
    </span>

    <span class="item">
      <strong>Version</strong>
      <span matTooltip="Backend version of Magic">{{version}}</span>
    </span>

  </div>

  <div class="meta-statistics">
    <strong matTooltip="Log items per day the last 2 weeks">Log items</strong>
    <canvas
      *ngIf="daysData"
      baseChart
      chartType="bar"
      [data]="daysData" 
      [labels]="daysLabels" 
      [options]="daysOptions"
      [colors]="daysColors">
    </canvas>
  </div>

  <div class="meta-statistics">
    <strong matTooltip="Type of log items over the last 2 weeks">Type</strong>
    <canvas
      *ngIf="logTypeData"
      baseChart 
      legend="true"
      chartType="pie"
      [data]="logTypeData" 
      [labels]="logTypeLabels" 
      [options]="logTypeOptions"
      [colors]="logTypeColors">
    </canvas>
  </div>

</div>
