
<h1 mat-dialog-title>Add query parameter</h1>

<div mat-dialog-content>

  <mat-form-field *ngIf="data.argument.type === 'string' && data.argument.name === 'operator'" class="fill-width">
    <mat-select
      [(ngModel)]="value"
      class="dark"
      placeholder="Logical comparison operator">
      <mat-option *ngFor="let cur of operators" [value]="cur">{{cur}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="data.argument.type === 'string' && data.argument.name === 'direction'" class="fill-width">
    <mat-select
      [(ngModel)]="value"
      class="dark"
      placeholder="Sort order direction">
      <mat-option *ngFor="let cur of directions" [value]="cur">{{cur}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="data.argument.type === 'string' && data.argument.name === 'order'" class="fill-width">
    <mat-select
      [(ngModel)]="value"
      class="dark"
      placeholder="Column to order result by">
      <mat-option *ngFor="let cur of orders" [value]="cur">{{cur}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="data.argument.type === 'string' && data.argument.name !== 'operator' && data.argument.name !== 'direction' && data.argument.name !== 'order'" class="fill-width">
    <mat-label class="dark">Value</mat-label>
    <input
      matInput
      [(ngModel)]="value"
      autocomplete="off"
      placeholder="Value">
  </mat-form-field>

  <mat-form-field *ngIf="data.argument.type === 'long' || data.argument.type === 'int' || data.argument.type === 'uint' || data.argument.type === 'ulong' || data.argument.type === 'shor' || data.argument.type === 'ushort'" class="fill-width">
    <mat-label class="dark">Value</mat-label>
    <input
      matInput
      [(ngModel)]="value"
      type="number"
      autocomplete="off"
      placeholder="Value">
  </mat-form-field>

  <mat-checkbox
    *ngIf="data.argument.type === 'bool'"
    [(ngModel)]="value">Value</mat-checkbox>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <button
    mat-button
    (click)="create()">Add</button>

</div>