
<h1 mat-dialog-title>Add query parameter</h1>

<div mat-dialog-content>

  <mat-form-field *ngIf="data.type === 'string' && data.name === 'operator'" class="fill-width">
    <mat-select
      [(ngModel)]="value"
      class="dark"
      placeholder="Logical comparison operator">
      <mat-option *ngFor="let cur of operators" [value]="cur">{{cur}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="data.type === 'string' && data.name !== 'operator'" class="fill-width">
    <mat-label class="dark">Value</mat-label>
    <input
      matInput
      [(ngModel)]="value"
      autocomplete="off"
      placeholder="Value">
  </mat-form-field>

  <mat-form-field *ngIf="data.type === 'long'" class="fill-width">
    <mat-label class="dark">Value</mat-label>
    <input
      matInput
      [(ngModel)]="value"
      type="number"
      autocomplete="off"
      placeholder="Value">
  </mat-form-field>

  <mat-checkbox
    *ngIf="data.type === 'bool'"
    [(ngModel)]="value">Value</mat-checkbox>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <button
    mat-button
    (click)="create()">Add</button>

</div>