
<ngx-codemirror
  *ngIf="content"
  [(ngModel)]="content"
  [options]="options">
</ngx-codemirror>

<div
  *ngIf="!content"
  class="no-editor">
  <span *ngIf="isZipFile()">
    <p>
      This seems to be a zip file, click the extract button to unzip it in the current folder.
    </p>
    <div class="button-strip">
      <button
        mat-button
        (click)="unzip()">
        Extract
      </button>
    </div>
  </span>
  <span *ngIf="!isZipFile()">
    You don't have a registered editor for files of this type. Download the file and edit it locally if you want to edit it.
  </span>
</div>

<div
  *ngIf="content"
  class="button-strip">

  <button
    *ngIf="isHyperlambdaFile()"
    mat-icon-button
    matTooltip="Execute content"
    (click)="execute()">
    <mat-icon>offline_bolt</mat-icon>
  </button>

  <button
    mat-icon-button
    (click)="save()">
    <mat-icon>save</mat-icon>
  </button>

</div>
