
<ngx-codemirror
  *ngIf="content"
  [(ngModel)]="content"
  [options]="options">
</ngx-codemirror>

<div
  *ngIf="!content"
  class="no-editor">
  You don't have a registered editor for files of this type. Download the file and edit it locally if you want to edit it.
</div>

<div
  *ngIf="content"
  class="button-strip">

  <button
    *ngIf="isHyperlambdaFile()"
    mat-icon-button
    matTooltip="Execute content"
    (click)="execute()">
    <mat-icon>offline_bolt</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Save file"
    (click)="save()">
    <mat-icon>save</mat-icon>
  </button>

</div>
