
<mat-spinner
  *ngIf="loaderService.isLoading | async"
  class="obscurer"
  mode="indeterminate"
  diameter="50">
</mat-spinner>

<div [class]="theme">

  <app-toolbar></app-toolbar>

  <mat-sidenav-container>

    <mat-sidenav mode="side" [(opened)]="sidenavOpened">
      <app-navbar></app-navbar>
    </mat-sidenav>

    <mat-sidenav-content>

      <div class="img-wrapper"></div>

      <div
        *ngIf="sidenavOpened"
        class="obscurer"
        (click)="closeNavbar()"></div>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
