
<div class="progress-holder">
  <mat-progress-bar mode="indeterminate" *ngIf="loaderService.isLoading | async"></mat-progress-bar>
</div>

<!-- <mat-spinner
  *ngIf="loaderService.isLoading | async"
  class="obscurer"
  mode="indeterminate"
  diameter="50">
</mat-spinner> -->

<div [class]="theme">

  <!-- <app-toolbar [sideNavStatus]="sidenavOpened"></app-toolbar> -->

  <mat-sidenav-container (backdropClick)="closeNavbar()" id="main-wrapper">

    <mat-sidenav [mode]="notSmallScreen ? 'side' : 'over'" class="mat-elevation-z2"
      [opened]="sidenavOpened || notSmallScreen"
      [class.sideClosed]="!sidenavOpened && notSmallScreen"
      [class.full-width-sidebar]="sidenavOpened"
      [class.small-width-sidebar]="notSmallScreen && !sidenavOpened"
      *ngIf="sidenavOpened !== undefined"
      id="sidebar-main">
      <app-navbar [sideNavStatus]="sidenavOpened"></app-navbar>
    </mat-sidenav>

    <mat-sidenav-content
    [class.content-with-full-sidebar]="notSmallScreen && sidenavOpened"
    [class.content-with-small-sidebar]="notSmallScreen && !sidenavOpened" id="main-section">
    <div class="toggle-btn" *ngIf="!notSmallScreen">
      <button
        mat-flat-button
        (click)="toggleNavbar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <!-- <app-toolbar [sideNavStatus]="sidenavOpened"></app-toolbar> -->

      <!-- <div class="img-wrapper"></div> -->

      <!-- <div
        *ngIf="sidenavOpened"
        class="obscurer"
        (click)="closeNavbar()"></div> -->

      <div class="container-fluid h-100">
        <router-outlet *ngIf="authService.has_endpoints"></router-outlet>
      </div>

      
    </mat-sidenav-content>
    
  </mat-sidenav-container>

</div>
