
@import '../../../assets/styles/sizes.scss';
@import '../../../assets/styles/colour.scss';
@import '../../../assets/styles/mixin.scss';

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.obscurer {
  position: fixed;
  top: .5rem;
  left: calc(50% - 25px);
  z-index: 1001;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: .5s;
}
.progress-holder{position: fixed;top: 0;left: 0;right: 0;z-index: 9;}
/*=-=-=-=-=-=
copyright
=-=-=-=-=-=*/
.footer{padding-right: $side_space;padding-left: $side_space;padding-bottom: $side_space;}

.light .footer{
  background-color: $magic_site_bg;
}
.dark .footer{
  background-color: $magic_dark_alternative;
}
::ng-deep{
  /*=-=-=-=-=-=
  sidebar settings
  =-=-=-=-=-=*/
  .dark .mat-drawer{
    background-color: $magic_dark_secondary_light!important;
  }
  // .mat-drawer-inner-container{
  //   @include scrollbar(transparent,transparent,3px);
  //   &:hover{
  //     @include scrollbar(transparent,transparentize($color: $magic_default_alternative, $amount: 0.75),3px)
  //   }
  // }
  /*=-=-=-=-=-=
  sidebar and content width and margin relatively
  =-=-=-=-=-=*/
  mat-sidenav.full-width-sidebar{
    width: $sidebar_full_width;
    @include general_transition(0.2s);
  }
  mat-sidenav.small-width-sidebar{
    width: $sidebar_small_width;
    @include general_transition(0.2s);
  }
  mat-sidenav-content.content-with-full-sidebar{
    margin-left: calc(#{$sidebar_full_width} + #{$side_space})!important;
    @include general_transition(0.2s);
  }
  mat-sidenav-content.content-with-small-sidebar{
    margin-left: calc(#{$sidebar_small_width} + #{$side_space})!important;
    @include general_transition(0.2s);
  }
}
