
<mat-card>
  <mat-tab-group>

    <mat-tab label="Log">
      <ng-template matTabContent>
        <app-diagnostics-log></app-diagnostics-log>
      </ng-template>
    </mat-tab>

    <mat-tab label="Cache" [disabled]="!authService.access.diagnostics.list_cache">
      <ng-template matTabContent>
        <app-diagnostics-cache></app-diagnostics-cache>
      </ng-template>
    </mat-tab>

    <mat-tab label="Assumptions" [disabled]="!authService.access.diagnostics.execute_test">
      <ng-template matTabContent>
        <app-diagnostics-assumptions></app-diagnostics-assumptions>
      </ng-template>
    </mat-tab>

    <mat-tab label="Misc">
      <ng-template matTabContent>
        <app-diagnostics-overview></app-diagnostics-overview>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</mat-card>

