
<div class="form-wrapper">

  <mat-form-field class="form-field" appearance="outline">

    <mat-label>Frontend domain</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [(ngModel)]="domain">

  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">

    <mat-label>API domain</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [(ngModel)]="apiDomain">

  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    [disabled]="domain === '' || apiDomain === ''"
    (click)="generate()">
    Generate
  </button>

</div>
