<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <form>
          <div *ngIf="!showAdvanced">

            <div class="d-flex align-items-center mb-1">
              <mat-card-title class="m-0">Database</mat-card-title>
              <div class="sm-icons">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
                  <mat-icon>help_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <div class="p-3">
                    <p>
                      Before you can use Magic you need to create a database where Magic can persist users, roles, log items, tasks, etc.
                    </p>
                    <div class="d-flex justify-content-end">
                      <a target="_blank" href="https://docs.aista.com/documentation/magic/components/config/setup-database/" mat-stroked-button>Learn more</a>
                    </div>
                  </div>
                </mat-menu>
              </div>
            </div>

            <mat-card-subtitle class="mb-3">Create your Magic database</mat-card-subtitle>

            <div class="d-flex align-items-center mb-3">
              <mat-icon>storage</mat-icon>
              <p class="my-0 ml-1">Database</p>
            </div>

            <div class="d-flex">

              <mat-form-field appearance="outline" class="standlone-input">
                <mat-label>Default time zone</mat-label>
                <mat-select
                  [(ngModel)]="defaultTimeZone"
                  name="defaultTimeZone">
                  <mat-option value="none">None</mat-option>
                  <mat-option value="utc">UTC</mat-option>
                  <mat-option value="local">local</mat-option>
                </mat-select>
              </mat-form-field>

              <div class="p-1"></div>

              <mat-form-field appearance="outline" class="standlone-input">
                <mat-label>Database type</mat-label>
                <mat-select
                  [(ngModel)]="selectedDatabaseType"
                  name="selectedDatabaseType">
                  <mat-option
                    *ngFor="let idx of databaseTypes"
                    [value]="idx">{{getDatabaseName(idx)}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>

            <ng-container *ngIf="selectedDatabaseType">

              <mat-form-field class="w-100" appearance="outline" 
              [class.warning]="!validateConnectionString()">
                <mat-label>Connection string</mat-label>
                <input
                  matInput
                  [(ngModel)]="config.magic.databases[selectedDatabaseType].generic"
                  name="databaseGeneric">
              </mat-form-field>

              <div class="d-flex align-items-center mb-3">
                <mat-icon>password</mat-icon>
                <p class="my-0 ml-1">Root password</p>
              </div>

              <div class="d-flex">

                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    type="password"
                    autocomplete="new-password"
                    [(ngModel)]="password"
                    name="password">
                </mat-form-field>

                <div class="p-1"></div>

                <mat-form-field appearance="outline">
                  <mat-label>Repeat</mat-label>
                  <input
                    matInput
                    name="password"
                    type="password"
                    autocomplete="new-password"
                    [(ngModel)]="passwordRepeat"
                    [ngModelOptions]="{standalone: true}">
                </mat-form-field>

              </div>


              <div class="d-flex align-items-center mb-3">
                <mat-icon>vpn_key</mat-icon>
                <p class="my-0 ml-1">reCAPTCHA settings</p>
              </div>

              <div class="d-flex flex-sm-row flex-column">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>reCAPTCHA site_key</mat-label>
                  <input
                    matInput
                    type="text"
                    name="site_key"
                    [(ngModel)]="config.magic.auth.recaptcha.key">
                </mat-form-field>
                <div class="p-sm-1"></div>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>reCAPTCHA secret_key</mat-label>
                  <input
                    matInput
                    type="text"
                    name="secret_key"
                    [(ngModel)]="config.magic.auth.recaptcha.secret">
                </mat-form-field>
              </div>

              <mat-form-field class="w-100"  appearance="outline">
                <mat-label>Auth secret {{config.magic.auth.secret.length}} characters</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="config.magic.auth.secret"
                  name="authSecret">
              </mat-form-field>

            </ng-container>
          </div>

          <div *ngIf="showAdvanced" class="full-height-editor">
            <app-config-editor></app-config-editor>
          </div>

          <div class="d-{{showAdvanced ? 'inline-' : ''}}flex justify-content-between mt-3">
            <mat-slide-toggle [(ngModel)]="showAdvanced" name="showAdvanced">Advanced</mat-slide-toggle>
            <button
              *ngIf="!showAdvanced"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!selectedDatabaseType || password === '' || password !== passwordRepeat || !validateConnectionString()"
              class="next"
              (click)="next()">
              Next
            </button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>