<h3 mat-dialog-title>Insert SQL table name</h3>

<form>
  <div mat-dialog-content>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label class="dark">Table name</mat-label>
      <input type="text"
        matInput
        [(ngModel)]="table_name"
        name="table_name">
    </mat-form-field>
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close tabindex="-1">
      Cancel
    </button>
    <button mat-flat-button color="primary" [mat-dialog-close]="table_name" [disabled]="table_name === ''" type="submit">
      Export
    </button>
  </div>
</form>