
.meta-wrapper {
  margin-top: 3rem;
  min-height: 19rem;
  display: flex;
  .meta-info {
    flex: 1;
    .item {
      display: block;
      margin-bottom: .125rem;
      strong {
        display: inline-block;
        width: 8rem;
      }
    }
  }
  .meta-statistics {
    flex: 1;
    strong {
      text-align: center;
      display: block;
      margin-bottom: .5rem;
      color: #aaa;
    }
  }
}
