
<h1 mat-dialog-title>New task</h1>
<form>
  <div mat-dialog-content>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label class="dark">Name</mat-label>
      <input
        matInput
        [(ngModel)]="name"
        name="name"
        [disabled]="data"
        autocomplete="off"
        pattern="/^[_a-z][a-z0-9_.-]*$/">
      <mat-hint
        *ngIf="!argumentValid() && name !== ''"
        class="warning">Name is required and cannot contain blank space, uppercase or special characters.</mat-hint>
    </mat-form-field>

  </div>

  <div mat-dialog-actions class="mat-dialog-actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="name === '' || !argumentValid()"
      (click)="create()">
      Create
    </button>
  </div>
</form>