<mat-form-field *ngIf="filteredOptions" appearance="outline">
  <mat-label>{{ placeholder }}</mat-label>
  <input
    type="text"
    matInput
    [formControl]="control"
    (focus)="focused()"
    [matAutocomplete]="auto" />
  <mat-autocomplete
    #auto="matAutocomplete"
    autoActiveFirstOption
    (optionSelected)="selectionChanged($event)"
    [displayWith]="displayFn.bind(this)">
    <ng-container *ngIf="!loading">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option">
        {{ option[value] }}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
  <mat-icon>search</mat-icon>
</mat-form-field>
