<mat-card>
  <mat-card-content>

    <mat-tab-group
      mat-stretch-tabs
      dynamicHeight
      animationDuration="0ms"
      #tabs>

      <mat-tab>

        <ng-template mat-tab-label>Manage</ng-template>

        <ng-template matTabContent>
          <app-manage-databases></app-manage-databases>
        </ng-template>

      </mat-tab>

      <mat-tab>

        <ng-template mat-tab-label>Connect</ng-template>

        <ng-template matTabContent>
          <app-connect-databases></app-connect-databases>
        </ng-template>

      </mat-tab>

    </mat-tab-group>

  </mat-card-content>
</mat-card>