
<div mat-dialog-title>
  Export
</div>

<div mat-dialog-content>

  <ngx-codemirror
    *ngIf="done && type === 'JSON'"
    [(ngModel)]="json" 
    class="smaller"
    [options]="getCodeMirrorOptionsJson()"></ngx-codemirror>

  <ngx-codemirror
    *ngIf="done && type === 'CSV'"
    [(ngModel)]="csv" 
    class="smaller"
    [options]="getCodeMirrorOptionsCsv()"></ngx-codemirror>

  <ngx-codemirror
    *ngIf="done && type === 'SQL'"
    [(ngModel)]="sql" 
    class="smaller"
    [options]="getCodeMirrorOptionsSql()"></ngx-codemirror>

  <div class="right-align">

    <mat-form-field
      *ngIf="done && type === 'SQL'"
      class="argument">
      <input 
        matInput 
        autocomplete="off"
        type="text"
        (change)="parseResult()"
        matTooltip="Table name to use for SQL insert statements"
        placeholder="Table name"
        [(ngModel)]="sqlTableName">
    </mat-form-field>

    <mat-form-field>
      <mat-select
        (selectionChange)="parseResult()"
        [(ngModel)]="type"
        placeholder="Type of result">
        <mat-option value="JSON">JSON</mat-option>
        <mat-option value="CSV">CSV</mat-option>
        <mat-option value="SQL">SQL</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-button
      (click)="close()">
      Close
    </button>

  </div>

</div>
