
.full-width {
    width: 100%;
}

::ng-deep pre {
    background-color: #f0f0f0;
    padding: 2rem 1rem 2rem 2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    vertical-align: middle;
    text-align: left;
}
