
<h3 mat-dialog-title>Publish message</h3>

<form>
  <div mat-dialog-content>

    <mat-form-field class="w-100 standalone-field">
      <span
        matPrefix
        matTooltip="Name of message to publish"
        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>edit_note</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <input
        matInput
        placeholder="Name of message"
        [(ngModel)]="data.message.name"
        [ngModelOptions]="{standalone: true}"
        required
        spellcheck="false"
        autocomplete="off"
        name="-"
        [pattern]="CommonRegEx.appNamesWithUppercaseDot">
      <mat-error>{{CommonErrorMessages.appNamesWithUppercaseDot}}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="data.client === null || data.client === ''">
      <span
        matPrefix
        matTooltip="Comma separated list of groups to publish message to"
        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>group</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <input
        matInput
        placeholder="Group"
        [(ngModel)]="data.groups"
        spellcheck="false"
        [ngModelOptions]="{standalone: true}"
        autocomplete="off"
        name="-">
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="data.client === null || data.client === ''">
      <span
        matPrefix
        matTooltip="Comma separated list of roles to publish message to"
        class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>shield</mat-icon>
        <span class="text-muted">|</span>
      </span>
      <input
        matInput
        placeholder="Roles"
        [(ngModel)]="data.roles"
        [ngModelOptions]="{standalone: true}"
        autocomplete="off"
        name="-">
    </mat-form-field>

    <ng-container *ngIf="codemirrorIsReady">

      <ngx-codemirror
        [(ngModel)]="data.message.content"
        [ngModelOptions]="{standalone: true}"
        [options]="options"
        name="content">
      </ngx-codemirror>

    </ng-container>

  </div>

  <div mat-dialog-actions [align]="'end'">

    <button
      mat-button
      mat-dialog-close
      color="primary">
      Close
    </button>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="px-4"
      (click)="send()">
      Publish
    </button>

  </div>

</form>
