
<h3 mat-dialog-title>Publish message</h3>
<form>
  <div mat-dialog-content>
    <mat-form-field class="w-100">
      <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>edit_note</mat-icon>
        <span class="text-muted">|</span>
      </span>

      <input
        matInput placeholder="Message's name"
        [(ngModel)]="data.message.name"
        [ngModelOptions]="{standalone: true}"
        autocomplete="off" name="-">
    </mat-form-field>
    <mat-form-field class="w-100" *ngIf="data.client === null || data.client === ''">
      <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>group</mat-icon>
        <span class="text-muted">|</span>
      </span>

      <input
        matInput placeholder="Group"
        [(ngModel)]="data.groups"
        [ngModelOptions]="{standalone: true}"
        autocomplete="off" name="-">
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="data.client === null || data.client === ''">
      <span matPrefix class="d-flex flex-nowrap align-items-center justify-content-between me-2">
        <mat-icon>group_add</mat-icon>
        <span class="text-muted">|</span>
      </span>

      <input
        matInput placeholder="Roles"
        [(ngModel)]="data.roles"
        [ngModelOptions]="{standalone: true}"
        autocomplete="off" name="-">
    </mat-form-field>

    <ng-container *ngIf="codemirrorIsReady">
      <ngx-codemirror
        [(ngModel)]="data.message.content"
        [ngModelOptions]="{standalone: true}"
        [options]="options" name="content">
      </ngx-codemirror>
    </ng-container>
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close color="primary">Close</button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="px-4"
      (click)="send()">
      Publish
    </button>
  </div>
</form>
