.container {
  text-align: center;
  padding: 1em;
  mat-card {
    padding-bottom: 3rem;
    p {
      text-align: left;
    }
  }
  ul {
    li {
      text-align: left;
    }
  }
}

.mat-icon {
  vertical-align: middle;
}

.version {
  position: absolute;
  bottom: .5rem;
  right: 1rem;
  color: rgb(128, 128, 128);
}
