
<div class="d-flex align-items-center mb-1">
  <h2 class="my-0">Cryptographically secured HTTP lambda invocations</h2>
  <div class="sm-icons">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?">
      <mat-icon>help_outline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="p-3">
        <p>This will turn your Magic server into a crypto wallet and a financial transaction server, by allowing you to securely execute Hyperlambda code created by a 3rd party client - And have receipts giving you a guarantee of that the executed code was in fact created by one specific client.</p>
        <div class="d-flex justify-content-end">
          <a target="_blank" href="https://docs.aista.com/tutorials/crypto-lambda-http/" mat-stroked-button>Learn more</a>
        </div>
      </div>
    </mat-menu>
  </div>
</div>
<mat-card-subtitle>Create, view and edit your public keys</mat-card-subtitle>
<div class="row mb-3">
  <div class="col-12">
    <mat-accordion class="card-replacement left-align-arrow" displayMode="flat">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2 class="mb-0">Server key</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-server-public-key></app-server-public-key>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div class="row pb-5" *ngIf="authService.access.crypto.crypto_invocations">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <mat-tab-group #tab dynamicHeight>   
          <mat-tab label="Keys">
            <ng-template matTabContent>
              <app-public-keys></app-public-keys>
            </ng-template>
          </mat-tab>
      
          <mat-tab label="Receipts" [disabled]="!authService.access.crypto.crypto_invocations">
            <ng-template matTabContent>
              <app-crypto-invocations></app-crypto-invocations>
            </ng-template>
          </mat-tab>     
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row" *ngIf="!isRoot() && showImport">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <mat-form-field class="fill-width top-space" appearance="outline">
          <mat-label>Public key</mat-label>
          <textarea
            matInput
            [(ngModel)]="importKey"
            rows="7"></textarea>     
        </mat-form-field>
      
        <div class="divider">     
          <mat-form-field appearance="outline">      
            <mat-label>Full name</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="importSubject"
              autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="importEmail"
              autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Domain</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="importDomain"
              autocomplete="off">
          </mat-form-field>
        </div>
      
        <div class="button-strip">
          <button
            mat-raised-button
            [disabled]="importKey === '' || importSubject === '' || importEmail === '' || importDomain === ''"
            class="wider-button"
            (click)="importPublicKey()"
            color="primary">
            Import
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
