
h1 {
    text-align: center;
    margin-top: 3rem;
}
.crypto-wrapper {
    padding:2rem 5rem 2rem 5rem;
    .crypto-key {
        h2 {
            text-align: center;
        }
        margin-top: 2rem;
        padding: 5rem;
        .key-strength {
            width: 300px;
            margin-right: 1rem;
        }
        .seed {
            width: 300px;
            margin-right: 1rem;
        }
        .fingerprint {
            color: #999;
            font-size: .8rem;
        }
        .key {
            display: block;
            width: 100%;
            margin-top: 1rem;
        }
        .qr-code {
            margin-top: 3rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            box-shadow: 1px 1px 5px rgba(0,0,0,.2);
            border-radius: 5px;
            position: relative;
            .txt {
                position: absolute;
                top: .5rem;
                right: .5rem;
                color: #bbb;
                font-style: italic;
                font-size: .7rem;
            }
            mat-form-field {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .keys {
        margin-top: 4rem;
        padding: 4rem;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        table {
            width: 100%;
            caption {
                margin-bottom: 2rem;
                font-weight: bold;
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
                cursor: pointer;
            }
            tr {
                th:nth-child(1),
                td:nth-child(1) {
                    width: 25%;
                }
                th:nth-child(2),
                td:nth-child(2) {
                    width: 35%;
                }
                th:nth-child(3),
                td:nth-child(3) {
                    width: 35%;
                }
                th:nth-child(4),
                td:nth-child(4) {
                    width: 50px;
                }
            }
        }
        .import-key-button {
            position: absolute;
            top: .5rem;
            right: .5rem;
        }
    }
}