
.users-wrapper {
    position: relative;
    padding:2rem 5rem 2rem 5rem;
    .users {
        margin-top: 2rem;
        padding: 4rem;
        position: relative;
        width: 50%;
        float: left;
        box-sizing: border-box;
        table {
            width: 100%;
            tr {
                td:nth-child(1), th:nth-child(1) {
                    width: 100%;
                }
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
                cursor: pointer;
            }
            tr.selected {
                background-color: rgba(0,128,0,.2);
            }
        }
        .new-user-button {
            position: absolute;
            top: .5rem;
            right: .5rem;
        }
    }
    .user {
        padding: 4rem;
        position: relative;
        margin-top: 2rem;
        margin-left: calc(50% + 2rem);
        .add-role-button {
            position: absolute;
            top: .5rem;
            right: .5rem;
        }
        table {
            width: 100%;
            tr {
                td:nth-child(1), th:nth-child(1) {
                    width: 100%;
                }
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
            }
        }
    }
}

.info-wrapper {
    margin: 5rem 5rem 5rem 5rem;
    padding: 5rem;
}

.filter-users {
    width: 100%;
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}

::ng-deep .info-snackbar {
    background:rgb(100,255,100);
    color:rgb(0,0,0);
}

