
.users-wrapper {
    position: relative;
    padding:2rem 5rem 2rem 5rem;
    .users {
        margin-top: 2rem;
        padding: 2rem;
        position: relative;
        width: 40%;
        float: left;
        box-sizing: border-box;
        table {
            width: 100%;
            tr {
                td:nth-child(1), th:nth-child(1) {
                    width: 100%;
                }
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
                cursor: pointer;
            }
            tr.selected {
                background-color: rgba(0,128,0,.2);
            }
        }
        .new-user-button {
            position: absolute;
            top: .5rem;
            right: .5rem;
        }
    }
    .user {
        padding: 2rem;
        position: relative;
        margin-top: 2rem;
        margin-left: calc(40% + 2rem);
        table {
            width: 100%;
            tr {
                td:nth-child(1), th:nth-child(1) {
                    width: 100%;
                }
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
            }
        }
    }
}

.filter-users {
    width: 100%;
}
