
<mat-spinner
  *ngIf="loaderService.isLoading | async"
  mode="indeterminate"
  diameter="50"
  class="ajax-wait">
</mat-spinner>

<mat-sidenav-container
  mode="side"
  class="sidenav-container">

  <mat-sidenav
    class="sidenav-menu"
    [(opened)]="sidenavOpened">
    <a
      mat-button
      routerLink="/"
      routerLinkActive="active-link"
      class="menu-item"
      (click)="closeNavigator()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>home</mat-icon>
      <span class="menu-item-text">Home</span>
    </a>
[[router-links]]    <a
      *ngIf="authService.me.inRole(['root','admin'])"
      mat-button
      routerLink="/auth"
      routerLinkActive="active-link"
      class="menu-item"
      (click)="closeNavigator()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>supervisor_account</mat-icon>
      <span class="menu-item-text">Auth</span>
    </a>
    <a
      *ngIf="authService.me.isLoggedIn()"
      mat-button
      routerLink="/profile"
      routerLinkActive="active-link"
      class="menu-item"
      (click)="closeNavigator()"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon matSuffix>account_circle</mat-icon>
      <span class="menu-item-text">Profile</span>
    </a>
  </mat-sidenav>

  <mat-sidenav-content
    class="sidenav-content">

    <button
      (click)="openSideNavigation()"
      class="sidenav-button"
      mat-button>Menu</button>

    <button
      mat-button
      class="logout-button"
      *ngIf="!authService.me.isLoggedIn()"
      (click)="login()">Login</button>

    <button
      mat-button
      class="login-button"
      *ngIf="authService.me.isLoggedIn()"
      (click)="logout()">Logout</button>

    <router-outlet *ngIf="authService.hasEndpoints()"></router-outlet>

  </mat-sidenav-content>

<mat-sidenav-container>
