
<h1 mat-dialog-title>Subscribe to message</h1>
<form>
  <div mat-dialog-content>
    <mat-form-field class="fill-width" appearance="outline">
      <mat-label class="dark">Name</mat-label>
      <input
        matInput
        [(ngModel)]="data"
        name="data"
        autocomplete="off">
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="mat-dialog-actions">
    <button
      [disabled]="!data || data.length === 0"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="connect()">Subscribe</button>
  </div>
</form>