
<mat-card class="waiting-for-paypal" *ngIf="hubConnection">
  <mat-progress-spinner
    diameter="50"
    mode="indeterminate"
    [strokeWidth]="4"
    class="progress"></mat-progress-spinner>
  <h1>
    Waiting for PayPal to notify our systems
  </h1>
  <p>
    <strong>
      Do not close this window before installation process is done!
      This might take some few minutes.
    </strong>
    <span *ngIf="timeout">
      If something goes wrong you can contact <a href="mailto:thomas@servergardens.com">thomas@servergardens.com</a>
      and we will help you with installing the module.
    </span>
  </p>
</mat-card>

<mat-card [class]="hubConnection ? 'invisible' : ''">

  <h2>Bazar</h2>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label>Filter ...</mat-label>
    <input
      matInput
      type="text"
      autocomplete="off"
      [formControl]="filterFormControl">
    <mat-icon
      matSuffix
      *ngIf="filterFormControl.value.trim() !== ''"
      class="button"
      role="button"
      (click)="clearFilter()">clear</mat-icon>

  </mat-form-field>

  <div *ngIf="manifests">

    <button
      *ngFor="let idx of apps"
      [class]="appIsInstalled(idx) ? 'app installed' : 'app'"
      (click)="viewApp(idx)"
      [matTooltip]="appIsInstalled(idx) ? 'You already own this app' : (idx.price === 0 ? 'Download this app for free' : 'Purchase this module from Server Gardens for €' + idx.price)"
      mat-raised-button>
      <span class="title">{{idx.name}}</span>
      <span class="price">{{appIsInstalled(idx) ? 'Owned' : (idx.price === 0 ? 'Free' : '€' + idx.price)}}</span>
      <mat-icon matSuffix color="primary">get_app</mat-icon>
    </button>

    <div class="clearfix"></div>

  </div>

  <mat-paginator
    #paginator
    [class]="count > paginator.pageSize ? '' : 'invisible'"
    [length]="count"
    pageSize="10"
    [hidePageSize]="true"
    (page)="paged($event)"
    [pageSizeOptions]="[10]">
  </mat-paginator>

</mat-card>

<mat-card *ngIf="!hubConnection && manifests && manifests.length > 0">

  <h2>Installed apps</h2>

  <button
    *ngFor="let idx of manifests"
    [class]="idx.has_update && idx.has_update === true ? 'app has-update' : 'app'"
    [matTooltip]="idx.has_update ? 'Update' : 'You seem to have the latest version'"
    (click)="viewInstalledAppDetails(idx)"
    mat-raised-button>
    <span class="title">{{idx.name}}</span>
    <span class="price">{{idx.has_update ? 'Update app' : ''}}</span>
    <mat-icon matSuffix color="primary">{{idx.has_update ? 'get_app' : 'extension'}}</mat-icon>
  </button>

  <div class="clearfix"></div>

</mat-card>
