
<h3 mat-dialog-title class="mb-4">
    <span class="text-capitalized">{{data?.action}}</span> information: <br>
    <span class="text-muted"> {{data?.extra[0]?.user}}</span>
</h3>
<form [formGroup]="extraInfoForm" novalidate class="user-extra-form">
    <div mat-dialog-content>
        <div *ngFor="let item of data?.extra">
            <ng-container *ngIf="item.type !== ''">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label class="dark text-capitalized">{{item.type}}</mat-label>
                    <input
                    matInput
                    [formControlName]="item.type"
                    [name]="item.type"
                    [autocomplete]="item.type">
                    <button mat-icon-button matSuffix color="warn" *ngIf="data?.action === 'delete'"
                    matTooltip="Delete this record"
                    matTooltipPosition="above"
                    (click)="deleteExtra(item.type, item.user)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix *ngIf="item?.new"
                    matTooltip="Remove this record"
                    matTooltipPosition="above"
                    (click)="removeNewField(item)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </ng-container>
        </div>

        <ng-container *ngIf="data?.action === 'add'">
            <ng-container *ngIf="fieldsToBeAdded">
                <div class="d-flex flex-sm-nowrap flex-wrap">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label class="dark text-capitalized">Title</mat-label>
                        <input
                        matInput
                        [(ngModel)]="tempType"
                        [ngModelOptions]="{standalone: true}"
                        name="type"
                        #newInput>
                    </mat-form-field>
                    <div class="p-1"></div>
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label class="dark text-capitalized">Value</mat-label>
                        <input
                        matInput
                        [(ngModel)]="tempValue"
                        [ngModelOptions]="{standalone: true}"
                        name="value">
                    </mat-form-field>
                </div>
                <div class="d-flex w-100 flex-sm-row flex-column-reverse">
                    <button mat-stroked-button (click)="fieldsToBeAdded = false" class="w-100" type="button">Cancel</button>
                    <div class="p-1"></div>
                    <button mat-flat-button (click)="saveNewFields()" class="w-100" color="primary" [disabled]="temptType === '' || tempValue === ''">Save new fields</button>
                </div>
            </ng-container>
            <button mat-flat-button (click)="createNewFields()" *ngIf="!fieldsToBeAdded" class="w-100">
                <mat-icon>add</mat-icon>
                Add extra field
            </button>
        </ng-container>
    </div>

    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button (click)="data?.action === 'delete' ? close() : (data?.action === 'edit' ? editExtra() : (data?.action === 'add' ? addExtra() : ''))" [disabled]="fieldsToBeAdded">
            Save & close
        </button>
    </div>
</form>