
@import '../../../assets/styles/sizes.scss';
@import '../../../assets/styles/colour.scss';
@import '../../../assets/styles/mixin.scss';

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    background-color: rgba(0,0,0,0);
  }
  100% {
    background-color: rgba(0,0,0,.7);
  }
}

.global-obscurer {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation-name: fade-in;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  h1 {
    text-align: center;
    color: white;
    margin-top: 3rem;
  }
}

.obscurer {
  position: fixed;
  top: .5rem;
  left: calc(50% - 25px);
  z-index: 1001;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: .5s;
}
.progress-holder{position: fixed;top: 0;left: 0;right: 0;z-index: 9;}
.toggle-btn{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  ::ng-deep .mat-flat-button{
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0;
  }
}
::ng-deep{
  /*=-=-=-=-=-=
  sidebar settings
  =-=-=-=-=-=*/

  .dark .mat-sidenav{
    background-color: $magic_dark_secondary_light!important;
  }
  /*=-=-=-=-=-=
  sidebar and content width and margin relatively
  =-=-=-=-=-=*/
  mat-sidenav.full-width-sidebar{
    width: $sidebar_full_width;
    @include general_transition(0.2s);
  }
  mat-sidenav.small-width-sidebar{
    width: $sidebar_small_width;
    @include general_transition(0.2s);
  }
  mat-sidenav-content.content-with-full-sidebar{
    margin-left: calc(#{$sidebar_full_width} + #{$side_space})!important;
    @include general_transition(0.2s);
    table .CodeMirror:not(.CodeMirror-fullscreen){
      max-width: calc(100vw - (#{$sidebar_full_width} + (#{$side_space} * 3) + 80px));
    }
  }
  mat-sidenav-content.content-with-small-sidebar{
    margin-left: calc(#{$sidebar_small_width} + #{$side_space})!important;
    @include general_transition(0.2s);
    table .CodeMirror:not(.CodeMirror-fullscreen){
      max-width: calc(100vw  - (#{$sidebar_small_width} + (#{$side_space} * 3) + 80px));
    }
  }
  // fix for codemirror only in smaller screens
  .is-small-screen table .CodeMirror:not(.CodeMirror-fullscreen){
    max-width: calc(100vw  - ((#{$side_space} * 3) + 80px));
  }
}
