
<div class="progress-holder">
  <mat-progress-bar mode="indeterminate" *ngIf="loaderService.isLoading | async"></mat-progress-bar>
</div>

<div [class]="themeService.theme" class="main-body">

  <mat-sidenav-container (backdropClick)="closeNavbar()" id="main-wrapper">

    <mat-sidenav
      [mode]="largeScreen ? 'side' : 'over'"
      class="mat-elevation-z2"
      [opened]="navbarService.expanded || largeScreen"
      [class.sideClosed]="!navbarService.expanded && largeScreen"
      [class.full-width-sidebar]="navbarService.expanded"
      [class.small-width-sidebar]="largeScreen && !navbarService.expanded"
      id="sidebar-main">
      <app-navbar [largeScreen]="largeScreen"></app-navbar>
    </mat-sidenav>

    <mat-sidenav-content
      [class.content-with-full-sidebar]="largeScreen && navbarService.expanded"
      [class.content-with-small-sidebar]="largeScreen && !navbarService.expanded" id="main-section"
      [class.is-small-screen]="!largeScreen">

      <ng-container *ngIf="!largeScreen">
        <app-toolbar></app-toolbar>
      </ng-container>

      <div class="container-fluid h-100">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
