<h3 mat-dialog-title>New assumption</h3>

<div mat-dialog-content class="tests">

  <mat-form-field class="w-100 standalone-field">
    <span
      matPrefix
      class="d-flex flex-nowrap align-items-center justify-content-between me-2">
      <mat-icon>edit</mat-icon>
      <span class="text-muted">|</span>
    </span>
    <input
      type="text"
      placeholder="Test name"
      matInput
      [(ngModel)]="data.filename"
      [matAutocomplete]="auto"
      [pattern]="CommonRegEx.appNamesWithDot">
    <mat-error>{{CommonErrorMessages.appNamesWithDot}}</mat-error>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        id="custom-option"
        *ngFor="let idx of getFiltered()"
        [value]="getFilename(idx)">
        {{getFilename(idx)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="w-100 custom-alignment">
    <span
      matPrefix
      class="d-flex flex-nowrap align-items-center justify-content-between me-2">
      <mat-icon>featured_play_list</mat-icon>
      <span class="text-muted">|</span>
    </span>
    <textarea
      matInput
      placeholder="Description"
      [(ngModel)]="data.description"
      rows="5">
    </textarea>
  </mat-form-field>

</div>

<div mat-dialog-actions [align]="'end'">

  <mat-checkbox
    [(ngModel)]="data.matchResponse"
    color="primary">Match response</mat-checkbox>

  <div class="p-2"></div>

  <button
    mat-flat-button
    color="primary"
    class="px-5"
    (click)="create()">
    Create
  </button>

</div>