
// ::ng-deep {
//     .pwa-update-panel .mat-dialog-container {
//         // box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
//         // background-color: rgb(255, 240, 206, 0.9);
//         // border: 1px solid #fff0ce;
//         // padding: 15px;
//         button {
//             font-size: 13px;
//             line-height: 28px;
//         }
//     }
//     .light {
//         .dialog-title {
//             color: #ff5722;
//         }
//     }
//     .dark {
//         .dialog-title {
//             color: #ff5722;
//         }
//         .pwa-update-panel .mat-dialog-container {
//             color: black;
//         }
//     }
// }
