#crud-back-table .mat-divider-horizontal{position: relative;}
::ng-deep {
  .mat-dialog-content {
    @media(max-width: 992px) {
      .flex-sm-nowrap,
      .flex-column .d-flex {
        flex-wrap: wrap;
        flex-wrap: wrap!important;
      }
    }
    @media(max-width: 450px) {
      .mat-form-field { margin-top: 11px; }
      th.mat-header-cell, td.mat-cell {
        padding-left: 5px;
        padding-right: 5px;
      }
      th.mat-header-cell:first-of-type,
      td.mat-cell:first-of-type {
        padding-left: 10px;
      }
      th.mat-header-cell:last-of-type,
      td.mat-cell:last-of-type {
        padding-right: 10px;
      }
    }
  }
}
.textwrap {
  white-space: pre-wrap;
  line-height: 1.5;
}
