
<div *ngIf="table && database && databaseType" id="crud-back-table">

  <h2>{{table.name}}</h2>

  <div class="d-flex justify-content-sm-end align-items-center mb-2 flex-sm-nowrap flex-wrap">
    <div *ngFor="let idx of table.verbs;let i = index">
      <mat-checkbox
        [(ngModel)]="idx.generate"
        [class.mr-3]="i !== table.verbs.length - 1">{{getCrudNameForVerb(idx.name)}}</mat-checkbox>
    </div>
  </div>

  <div class="table-responsive">
    <table
      mat-table
      [dataSource]="table.columns"
      class="w-100 expandable-table"
      multiTemplateDataRows>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td
          mat-cell
          *matCellDef="let el">{{el.name}}</td>
      </ng-container>

      <ng-container matColumnDef="db">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td
          mat-cell
          *matCellDef="let el">{{el.db}}</td>
      </ng-container>

      <ng-container matColumnDef="hl">
        <th mat-header-cell *matHeaderCellDef>Hyperlambda</th>
        <td
          mat-cell
          *matCellDef="let el">{{el.hl}}</td>
      </ng-container>

      <ng-container matColumnDef="nullable">
        <th mat-header-cell *matHeaderCellDef class="text-right">Null</th>
        <td
          mat-cell
          class="text-right"
          *matCellDef="let el">
          <mat-icon matTooltip="Column can accept null values" *ngIf="el.nullable === true">check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="primary">
        <th mat-header-cell *matHeaderCellDef class="text-right">Key</th>
        <td
          mat-cell
          class="text-right"
          *matCellDef="let el">
          <mat-icon matTooltip="Column is a part of the table's primary key collection" *ngIf="el.primary === true">check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="automatic">
        <th mat-header-cell *matHeaderCellDef class="text-right">Default</th>
        <td
          mat-cell
          class="text-right"
          *matCellDef="let el">
          <mat-icon matTooltip="Column has a default value" *ngIf="el.automatic === true">check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="showDetails">
        <td
          mat-cell
          *matCellDef="let el" class="'{{el.expanded}}'"
          colspan="6">
          <div class="w-100 details-row"
            [@detailExpand]="el.expanded ? 'expanded' : 'collapsed'">
            <div
              [class]="el.warning ? 'details-sheet crud-warning' : 'details-sheet'"
              *ngIf="el.expanded" class="w-100 py-3">

              <div class="d-flex justify-content-end align-items-center mb-2">
                <mat-icon
                  class="warning"
                  *ngIf="el.warning"
                  [matTooltip]="el.warning">warning</mat-icon>
              </div>

              <div
                *ngIf="!el.primary"
                class="mb-4 d-flex justify-content-sm-end">

                <mat-form-field
                  class="inline-input"
                  appearance="outline"
                  class="mr-4"
                  matTooltip="Lock this field with row level security">

                  <mat-label>Lock field</mat-label>
                  <mat-select
                    [(ngModel)]="el.locked">
                    <mat-option
                      [value]="null">No lock</mat-option>
                    <mat-option
                      value="auth.ticket.get">Lock to username</mat-option>
                  </mat-select>

                </mat-form-field>

                <mat-form-field
                  class="inline-input"
                  appearance="outline"
                  matTooltip="How to handle this field">

                  <mat-label>Handling</mat-label>
                  <mat-select
                    [(ngModel)]="el.handling">
                    <mat-option
                      [value]="null">No special handling</mat-option>
                    <mat-option
                      value="textarea">Long text</mat-option>
                    <mat-option
                      value="image">Image</mat-option>
                    <mat-option
                      value="file">File</mat-option>
                    <mat-option
                      value="email">Email</mat-option>
                    <mat-option
                      value="url">URL</mat-option>
                    <mat-option
                      value="youtube">YouTube</mat-option>
                    <mat-option
                      value="phone">Phone</mat-option>
                  </mat-select>

                </mat-form-field>

              </div>

              <div class="d-flex justify-content-sm-end align-items-center flex-sm-nowrap flex-wrap">
                <div *ngFor="let idx of getEnabledVerbs();let i = index">
                  <mat-checkbox [class.mr-3]="i !== getEnabledVerbs().length - 1"
                    [disabled]="verbForColumnIsDisabled(idx.name, el)"
                    [(ngModel)]="el[idx.name]">{{getCrudNameForVerb(idx.name)}}</mat-checkbox>
                </div>
              </div>

              <div
                *ngIf="foreignKeys[el.name] && foreignKeys[el.name].length > 0"
                class="foreign-key d-flex w-100 mt-3 align-items-center">

                <mat-form-field
                  class="w-100 inline-input"
                  appearance="outline"
                  matTooltip="Link this field to a value field in its referenced table">

                  <mat-label>Foreign field</mat-label>
                  <mat-select
                    [(ngModel)]="el.foreign_key.foreign_name">
                    <mat-option [value]="null">No link</mat-option>
                    <mat-option
                      *ngFor="let idx of foreignKeys[el.name]"
                      [disabled]="idx.type !== 'string'"
                      [value]="idx.value">{{idx.name + ' [' + idx.type + ']'}}</mat-option>
                  </mat-select>

                </mat-form-field>

                <mat-checkbox
                  [(ngModel)]="el.foreign_key.long_data"
                  class="long-data ml-3"
                  matTooltip="If your referenced table contains more than 50 records">Long data</mat-checkbox>
              </div>

            </div>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>

      <tr
        mat-row
        [ngClass]="(el.expanded ? 'selected ' : '') + 'crudify-row'"
        class="expandable-row"
        (click)="el.expanded = !el.expanded"
        *matRowDef="let el; columns: displayedColumns;"></tr>

      <tr mat-row *matRowDef="let el; columns: ['showDetails']" class="expanded-row"></tr>

    </table>
  </div>

  <div class="d-flex flex-column w-100 my-2">
    <h3 class="mt-3 mb-0">URL</h3>
    <div class="d-flex w-100">

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Primary</mat-label>
        <input
          matInput
          [disabled]="!isGetIncluded() && !isDeleteIncluded() && !isPutIncluded() && !isPostIncluded()"
          type="text"
          autocomplete="off"
          [(ngModel)]="table.moduleName">
        <mat-hint>Only alphanumeric characters, and - or _ please</mat-hint>
      </mat-form-field>

      <div class="p-1"></div>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Secondary</mat-label>
        <input
          matInput
          [disabled]="!isGetIncluded() && !isDeleteIncluded() && !isPutIncluded() && !isPostIncluded()"
          type="text"
          autocomplete="off"
          [(ngModel)]="table.moduleUrl">
          <mat-hint>Only alphanumeric characters, and -, / or _ please</mat-hint>
      </mat-form-field>

    </div>

    <h3 class="mt-sm-3 mt-5 mb-0">Authorisation</h3>
    <div class="d-flex flex-lg-nowrap flex-md-wrap flex-sm-nowrap flex-wrap w-100">

      <mat-form-field *ngIf="isPostIncluded()" class="w-100" appearance="outline">
        <mat-label>Create</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [(ngModel)]="table.authPost">
          <mat-hint>List of roles allowed to invoke endpoint</mat-hint>
      </mat-form-field>

      <div class="p-1"*ngIf="isGetIncluded()"></div>

      <mat-form-field *ngIf="isGetIncluded()" class="w-100" appearance="outline">
        <mat-label>Read</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [(ngModel)]="table.authGet">
          <mat-hint>List of roles allowed to invoke endpoint</mat-hint>
      </mat-form-field>

      <div class="p-1" *ngIf="isPutIncluded()"></div>

      <mat-form-field *ngIf="isPutIncluded()" class="w-100" appearance="outline">
        <mat-label>Update</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [(ngModel)]="table.authPut">
          <mat-hint>List of roles allowed to invoke endpoint</mat-hint>
      </mat-form-field>

      <div class="p-1" *ngIf="isDeleteIncluded()"></div>

      <mat-form-field *ngIf="isDeleteIncluded()" class="w-100" appearance="outline">
        <mat-label>Delete</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [(ngModel)]="table.authDelete">
          <mat-hint>List of roles allowed to invoke endpoint</mat-hint>
      </mat-form-field>
    </div>

    <h3 class="mt-sm-3 mt-5 mb-0">reCAPTCHA</h3>
    <div class="d-flex flex-lg-nowrap flex-md-wrap flex-sm-nowrap flex-wrap w-100">

      <mat-form-field *ngIf="isPostIncluded()" class="w-100" appearance="outline">
        <mat-label>Create</mat-label>
        <input
          matInput
          type="number"
          min="0"
          max="1"
          step="0.1"
          autocomplete="off"
          [(ngModel)]="table.captchaPost">
          <mat-hint>reCAPTCHA value required to invoke endpoint</mat-hint>
      </mat-form-field>

      <div class="p-1"*ngIf="isGetIncluded()"></div>

      <mat-form-field *ngIf="isGetIncluded()" class="w-100" appearance="outline">
        <mat-label>Read</mat-label>
        <input
          matInput
          type="number"
          min="0"
          max="1"
          step="0.1"
          autocomplete="off"
          [(ngModel)]="table.captchaGet">
          <mat-hint>reCAPTCHA value required to invoke endpoint</mat-hint>
      </mat-form-field>

      <div class="p-1" *ngIf="isPutIncluded()"></div>

      <mat-form-field *ngIf="isPutIncluded()" class="w-100" appearance="outline">
        <mat-label>Update</mat-label>
        <input
          matInput
          type="number"
          min="0"
          max="1"
          step="0.1"
          autocomplete="off"
          [(ngModel)]="table.captchaPut">
          <mat-hint>reCAPTCHA value required to invoke endpoint</mat-hint>
      </mat-form-field>

      <div class="p-1" *ngIf="isDeleteIncluded()"></div>

      <mat-form-field *ngIf="isDeleteIncluded()" class="w-100" appearance="outline">
        <mat-label>Delete</mat-label>
        <input
          matInput
          type="number"
          min="0"
          max="1"
          step="0.1"
          autocomplete="off"
          [(ngModel)]="table.captchaDelete">
          <mat-hint>reCAPTCHA value required to invoke endpoint</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="d-flex flex-column w-100 my-2">
    <h3 class="mt-3 mb-0">SignalR</h3>
    <div class="d-flex flex-column w-100">

      <mat-checkbox [(ngModel)]="table.cqrs">Publish</mat-checkbox>

      <mat-divider class="my-2"></mat-divider>

      <mat-form-field
        *ngIf="table.cqrs"
        class="w-100"
        appearance="outline">
        <mat-label>Message authorisation type</mat-label>
        <mat-select
          [(ngModel)]="table.cqrsAuthorisation">
          <mat-option
            *ngFor="let idx of cqrsAuthorisationTypes"
            [value]="idx">{{idx}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="w-100"
        *ngIf="table.cqrs && (table.cqrsAuthorisation === 'roles' || table.cqrsAuthorisation === 'groups' || table.cqrsAuthorisation === 'users')"
        matTooltip="Comma separated list of authorisation values"
        appearance="outline">
        <mat-label>Authorisation values</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [(ngModel)]="table.cqrsAuthorisationValues">
      </mat-form-field>    

    </div>

  </div>

  <div class="d-flex flex-column w-100">

    <h3 class="mt-3 mb-0">Miscellaneous</h3>

    <mat-form-field *ngIf="isGetIncluded()" class="w-100" appearance="outline">
      <mat-label>Caching</mat-label>
      <input
        matInput
        type="number"
        min="0"
        max="300"
        autocomplete="off"
        [disabled]="!isGetIncluded()"
        [(ngModel)]="table.cache">
    </mat-form-field>

    <div class="d-flex flex-sm-nowrap flex-wrap justify-content-sm-end align-items-center w-100">

      <mat-checkbox
        *ngIf="isGetIncluded()"
        [disabled]="!table.cache || table.cache === 0"
        [(ngModel)]="table.publicCache">Public cache</mat-checkbox>

      <div class="p-1" *ngIf="isPostIncluded()"></div>

      <mat-checkbox
        *ngIf="isPostIncluded()"
        [(ngModel)]="table.logPost">Log create</mat-checkbox>

      <div class="p-1" *ngIf="isPutIncluded()"></div>

      <mat-checkbox
        *ngIf="isPutIncluded()"
        [(ngModel)]="table.logPut">Log update</mat-checkbox>

      <div class="p-1" *ngIf="isDeleteIncluded()"></div>

      <mat-checkbox
        *ngIf="isDeleteIncluded()"
        [(ngModel)]="table.logDelete">Log delete</mat-checkbox>

    </div>

    <h3 class="mt-3">Additional POST/PUT Hyperlambda</h3>

    <app-codemirror-hyperlambda [(model)]="input"></app-codemirror-hyperlambda>

  </div>

  <div class="d-flex justify-content-end align-items-center w-100 mt-3">

    <button
      [disabled]="isMagicDatabase() || (!isGetIncluded() && !isDeleteIncluded() && !isPutIncluded() && !isPostIncluded()) || !validModuleComponentName()"
      class="textwrap py-2"
      mat-raised-button
      color="primary"
      (click)="crudifyTable()">
      Crudify {{table.name}}
    </button>

  </div>

</div>
