
<h1 mat-dialog-title>{{data ? 'Edit role' : 'Create new role'}}</h1>

<form>
  <div mat-dialog-content>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label class="dark">Name</mat-label>
      <input
        matInput
        [(ngModel)]="name"
        name="name"
        [disabled]="data"
        autocomplete="off"
        pattern="^[A-Za-z0-9_]+$">
        <mat-hint *ngIf="!argumentValid() && name !== ''">Please avoid special chars and blank space</mat-hint>
    </mat-form-field>
  
    <mat-form-field class="w-100" appearance="outline">
      <mat-label class="dark">Description</mat-label>
      <textarea
        matInput
        rows="4"
        [(ngModel)]="description"
        name="description"
        autocomplete="off"></textarea>
    </mat-form-field>
  
  </div>
  
  <div mat-dialog-actions class="mat-dialog-actions">
  
    <button
      *ngIf="!data"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="name === '' || description === '' || !argumentValid()"
      (click)="create()">Create</button>
  
    <button
      *ngIf="data"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="description === ''"
      (click)="update()">Update</button>
  
    <button
      mat-raised-button
      (click)="close()">Close</button>
  
  </div>
</form>
