
.license-info, .apply-license {
  margin-top: 5rem;
  min-height: 19rem;
}

.license-info {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  .item {
    display: block;
    margin-bottom: .5rem;
    strong {
      display: inline-block;
      width: 8rem;
      text-align: right;
      margin-right: 1rem;
    }
  }
}
