
table.users {
  width: 100%;
  .details-sheet {
    position: relative;
    .edit-user {
      position: absolute;
      bottom: 0;
      left: -1rem;
    }
    strong {
      display: inline-block;
      width: 5rem;
    }
    mat-checkbox {
      position: absolute;
      top: 0;
      right: 0;
    }
    mat-chip-list {
      display: block;
      margin-top: 2rem;
    }
  }
}
