
table.users {
  width: 100%;
  .details-sheet {
    position: relative;
    strong {
      display: inline-block;
      width: 5rem;
    }
    mat-chip-list {
      display: block;
      margin-top: 2rem;
    }
  }
}
