<div>
  <mat-form-field appearance="outline">
    <mat-label>{{label}}</mat-label>
    <input
      matInput
      [value]="getFileName(model[field])"
      disabled />
  </mat-form-field>
  <input
    hidden
    type="file"
    id="{{ 'file_' + field }}"
    (change)="uploadFile($event)">
  <div>
    <button
      *ngIf="model[field]"
      mat-icon-button
      (click)="remove()">
      <mat-icon>not_interested</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="clickFileUploader()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
  </div>
</div>
