
<h3 mat-dialog-title class="mb-3">
  {{data.prompt ? 'Edit training snippet' : 'New training snippet'}}
</h3>

<form (ngSubmit)="save()">
  <div mat-dialog-content>

    <div class="row">

      <!-- Prompt -->
      <div class="col-lg-9 col-12 pe-lg-0">

        <mat-form-field class="w-100 standalone-field me-2">
          <span
            matPrefix
            matTooltip="Prompt"
            class="d-flex flex-nowrap align-items-center justify-content-between me-2">
            <mat-icon>help_outline</mat-icon>
            <span class="text-muted">|</span>
          </span>
          <input
            matInput
            cdkFocusInitial
            placeholder="Prompt"
            [(ngModel)]="prompt"
            name="prompt"
            autocomplete="off">
        </mat-form-field>

      </div>

      <div class="col-lg-3 col-12 ps-lg-1">

        <mat-form-field class="w-100 standalone-field">
          <span
            matPrefix
            matTooltip="Type of snippet"
            class="d-flex flex-nowrap align-items-center justify-content-between me-2 pe-2 min-width">
            <mat-icon>list</mat-icon>
            <span class="text-muted">|</span>
          </span>
          <mat-select
            [(ngModel)]="type"
            placeholder="Type of snippet"
            [disabled]="data?.prompt"
            (selectionChange)="typeChanged()"
            name="type">
            <mat-option
              *ngFor="let idx of types"
              [value]="idx">{{idx}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </div>

    <!-- CodeMirror editor in case data is Hyperlambda -->
    <div class="col-12" *ngIf="ready">

      <app-codemirror-hyperlambda
        [(model)]="model">
      </app-codemirror-hyperlambda>

    </div>

    <!-- Any other types of content besides Hyperlambda -->
    <div class="col-12 mb-0" *ngIf="!ready">

      <mat-form-field class="w-100 custom-alignment">
        <span
          matPrefix
          matTooltip="Completion for prompt"
          class="d-flex flex-nowrap align-items-center justify-content-between me-2">
          <mat-icon>featured_play_list</mat-icon>
          <span class="text-muted">|</span>
        </span>
        <textarea
          matInput
          name="txt_completion"
          placeholder="Completion"
          [(ngModel)]="completion"
          rows="18">
        </textarea>
      </mat-form-field>

    </div>

  </div>

  <div mat-dialog-actions [align]="'end'">

    <mat-checkbox
      [(ngModel)]="pushed"
      name="pushed"
      class="me-2"
      labelPosition="before"
      color="primary">Pushed</mat-checkbox>

    <button
      mat-button
      mat-dialog-close>
      Cancel
    </button>

    <button
      mat-flat-button
      type="submit">
      Save
    </button>

  </div>

</form>
