
<mat-card>

  <div class="new-password">

    <mat-form-field class="fill-width" appearance="outline">

      <mat-label>New password</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="password"
        autocomplete="new-password">

    </mat-form-field>

    <mat-form-field class="fill-width" appearance="outline">

      <mat-label>Repeat password</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="repeatPassword"
        autocomplete="new-password">

    </mat-form-field>

    <div class="button-strip">
      <button
        mat-raised-button
        color="primary"
        (click)="savePassword()">
        Save
      </button>
    </div>

  </div>

</mat-card>
