
<mat-card>
  <form [formGroup]="savePasswordForm" (ngSubmit)="savePassword()" novalidate>
    <div class="new-password">

      <mat-form-field class="fill-width" appearance="outline">

        <mat-label>New password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          autocomplete="new-password">

      </mat-form-field>

      <mat-form-field class="fill-width" appearance="outline">

        <mat-label>Repeat password</mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="repeatPassword"
          [ngModelOptions]="{standalone: true}"
          autocomplete="new-password">

      </mat-form-field>

      <div class="button-strip">
        <button
          mat-raised-button
          color="primary"
          type="submit">
          Save
        </button>
      </div>

    </div>
  </form>
</mat-card>
