
<div *ngIf="input">

  <h2>{{input.database}}</h2>

  <div class="splitter">

    <h3 class="mb-1">URL</h3>

    <div class="d-flex flex-sm-nowrap flex-wrap">

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Verb</mat-label>
        <mat-select
          [(ngModel)]="verb">
          <mat-option
            *ngFor="let idx of verbs"
            [value]="idx">{{idx}}</mat-option>
        </mat-select>
        <mat-hint>HTTP verb to use for endpoint</mat-hint>
      </mat-form-field>

      <div class="p-1"></div>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Primary</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [(ngModel)]="moduleName">
        <mat-hint>Only lowercase alphanumeric characters, and - or _ please</mat-hint>
      </mat-form-field>

      <div class="p-1"></div>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Secondary</mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          [(ngModel)]="endpointName">
        <mat-hint>Only lowercase alphanumeric characters, and - or _ please</mat-hint>
      </mat-form-field>

    </div>

    <h3 class="mb-1 mt-3">Authorization</h3>

    <mat-form-field appearance="outline">
      <mat-label>Roles</mat-label>
      <input
        matInput
        type="text"
        autocomplete="off"
        [(ngModel)]="authorization">
    </mat-form-field>

  </div>

  <h3 class="mb-1">Arguments</h3>

  <div class="d-flex flex-wrap align-items-center">

    <button
      mat-icon-button
      class="mt-1"
      (click)="addArgument()">
      <mat-icon>add</mat-icon>
    </button>

    <div class="p-1"></div>

    <mat-chip-list class="mt-1">
      <mat-chip
        *ngFor="let arg of arguments"
        (removed)="removeArgument(arg)">
        {{arg.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

  </div>

  <h3 class="mb-1 mt-3">SQL</h3>

  <app-codemirror-sql [(model)]="input"></app-codemirror-sql>

  <div class="d-flex align-items-center justify-content-end mt-3">

    <mat-checkbox [(ngModel)]="isScalar">Scalar</mat-checkbox>

    <div class="p-1"></div>

    <mat-checkbox [(ngModel)]="overwrite">Overwrite</mat-checkbox>

    <div class="p-1"></div>

    <button
      mat-raised-button
      [disabled]="!backendService.active?.access.sql.list_files"
      matTooltip="Load a previously saved SQL snippet"
      class="mr-2"
      (click)="load()">
      Load
    </button>

    <button
      mat-raised-button
      color="primary"
      [disabled]="moduleName === '' || endpointName === '' || input.sql === '' || !validModuleComponentName()"
      (click)="generate()">
      Generate
    </button>

  </div>

</div>
