<div class="row h-100">
    <div class="col-12">
        <div class="d-flex justify-content-between mt-4">
            <div>
                <h2 class="mb-0">Last log items</h2>
                <p class="mt-0 text-muted">The last 10 logs on your system.</p>
            </div>
            <div>
                <button mat-button routerLink="/log">
                    <div class="d-flex align-items-center">
                        View all &nbsp;<span class="text-accent mat-h3 my-0">{{totalLogs | number}} </span>&nbsp; logs
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <mat-card class="h-100">
            <mat-card-content class="h-100">
                <div class="table-responsive w-100 log-table">
                    <table mat-table [dataSource]="dataSource" class="w-100">
        
                        <!-- data/time Column -->
                        <ng-container matColumnDef="created">
                            <th mat-header-cell *matHeaderCellDef> Data/time </th>
                            <td mat-cell *matCellDef="let element" class="pr-3 text-nowrap"> {{element.created | since}} </td>
                        </ng-container>
        
                        <!-- type Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> Type </th>
                            <td mat-cell *matCellDef="let element" class="pr-3"
                            [class.error]="element.type === 'error' || element.type === 'fatal'"> {{element.type}} </td>
                        </ng-container>
        
                        <!-- result Column -->
                        <ng-container matColumnDef="content">
                            <th mat-header-cell *matHeaderCellDef> Result </th>
                            <td mat-cell *matCellDef="let element" class="pr-3"> 
                                <p class="my-0 text-truncate mx-width-100">{{element.content}} </p>
                            </td>
                        </ng-container>
        
                        <!-- more Column -->
                        <ng-container matColumnDef="more">
                            <th mat-header-cell *matHeaderCellDef> more </th>
                            <td mat-cell *matCellDef="let element" (click)="viewLog(element)">
                                <button mat-icon-button>
                                    <mat-icon>help</mat-icon>
                                </button>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
