
<div mat-dialog-content class="file-content">

  <div [innerHTML]="markdown | marked"></div>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <button
    *ngIf="data.has_update"
    mat-raised-button
    matTooltip="Automatically updates your app"
    color="primary"
    (click)="update()">Update</button>

  <button
    *ngIf="!data.has_update"
    mat-raised-button
    (click)="close()">Close</button>

  <button
    mat-raised-button
    [disabled]="!backendService.current.access.files.delete_folder"
    (click)="uninstall()">Uninstall</button>

</div>
