
<div class="d-flex flex-column w-100 h-100">

  <div class="d-flex flex-wrap justify-content-between align-items-center w-100 mb-3" *ngIf="currentFileData">
    <div class="d-flex align-items-center">
      <h3 class="my-0 fw-bold">Edit</h3>&nbsp;&nbsp;
      {{currentFileData?.path}}
    </div>
    <div>
      <a mat-button color="primary" href="https://docs.aista.com/documentation/magic/components/hyper-ide/" target="_blank">Help</a>
      <button mat-button color="primary" (click)="openShortkeys()">Shortkeys</button>
    </div>
  </div>
  <ng-container *ngFor="let file of openFiles;let index = index">
    <div class="active-codemirror-editor-{{index}} h-100 frontend-editor"
    [class.d-none]="currentFileData.path !== file.path">
      <ngx-codemirror
        class="codemirror-container h-100"
        [(ngModel)]="file.content"
        [options]="file.options">
      </ngx-codemirror>
    </div>
  </ng-container>

  <div class="d-flex justify-content-end button-row align-items-center w-100 mt-3" *ngIf="currentFileData">
    <button mat-button color="primary" class="px-sm-5" (click)="closeActiveFile()">Close</button>
    <button mat-flat-button color="primary" class="px-sm-5" (click)="saveActiveFile()">Save</button>
  </div>
</div>
