
<div class="evaluator-wrapper">

  <div class="mat-elevation-z4">

    <ngx-codemirror 
      [(ngModel)]="hyperlambda" 
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'hyperlambda',
        tabSize: 3,
        indentUnit: 3,
        indentAuto:true,
        extraKeys:{
          'Shift-Tab':'indentLess',
          'Tab':'indentMore'
        }
      }"></ngx-codemirror>
    </div>

    <div class="right-aligned">
      <button 
        mat-button
        matTooltip="Evaluates your Hyperlambda"
        (click)="evaluate()">Evaluate</button>
    </div>

</div>

<div *ngIf="result" class="result-wrapper">

  <div class="mat-elevation-z4">
    <ngx-codemirror 
      [(ngModel)]="result" 
      [options]="{
        lineNumbers: true,
        theme: 'material',
        mode: 'hyperlambda',
        tabSize: 3,
        indentUnit: 3,
        indentAuto:true,
        readOnly: true,
        extraKeys:{
          'Shift-Tab':'indentLess',
          'Tab':'indentMore'
        }
      }"></ngx-codemirror>
  </div>
  
</div>
