<mat-card class="h-100">
  <mat-card-content class="h-100 p-0 d-flex flex-column">

    <ng-container *ngIf="log === true;else complexity">
      <p class="mb-0 mat-body-2 fw-bold">Last actions</p>
      <p class="mt-0 text-muted">An overview over the last 10 log items</p>
    </ng-container>
    <ng-template #complexity>
      <p class="mb-0 mat-body-2 fw-bold">Complexity of modules</p>
      <p class="mt-0 text-muted">Based on lines of code in each module</p>
    </ng-template>

    <div class="d-flex h-100 align-items-center">
      <div echarts [options]="options" class="chart-size"></div>
    </div>

  </mat-card-content>
</mat-card>
