
.terminal {

  background-color: #202020;
  color: #fafafa;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.2);
  height: auto;
  margin-bottom: 1rem;
  overflow: auto;

  h3 {
    margin-bottom: 0;
  }

  .args {
    margin-top: 0;
    text-wrap:wrap;
  }

  .error {
    color: #ff2020;
  }

  hr {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

pre.result {
  color: #fafafa;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.2);
  height: auto;
  margin: 0;
  text-wrap:wrap;
  padding: 1rem;
  overflow: auto;
}
