/*
 * Aista CodeMirror theme.
 */
.light {
  .cm-s-aista.CodeMirror {
    background: $aista_default_grey5;
    color: #41323f;
  }

  .cm-s-aista div.CodeMirror-selected {
    background: transparentize($color: $aista_info, $amount: 0.85);
  }

  .cm-s-aista .CodeMirror-line::selection,
  .cm-s-aista .CodeMirror-line>span::selection,
  .cm-s-aista .CodeMirror-line>span>span::selection {
    background: transparentize($color: $aista_info, $amount: 0.85);
  }

  .cm-s-aista .CodeMirror-line::-moz-selection,
  .cm-s-aista .CodeMirror-line>span::-moz-selection,
  .cm-s-aista .CodeMirror-line>span>span::-moz-selection {
    background: transparentize($color: $aista_info, $amount: 0.85);
  }

  .cm-s-aista .CodeMirror-gutters {
    background: $aista_default_grey5;
    border-right: 0px;
    border-top-left-radius: $aista_radius;
    border-bottom-left-radius: $aista_radius;
  }

  .cm-s-aista .CodeMirror-guttermarker {
    color: white;
  }

  .cm-s-aista .CodeMirror-guttermarker-subtle {
    color: grey;
  }

  .cm-s-aista .CodeMirror-linenumber {
    color: #91828f;
  }

  .cm-s-aista .CodeMirror-cursor {
    border-left: 1px solid #21121f;
  }

  .cm-s-aista span.cm-comment {
    color: #95958a;
  }

  .cm-s-aista span.cm-atom {
    color: #00a8c6;
  }

  .cm-s-aista span.cm-number {
    color: #00a8c6;
  }

  .cm-s-aista span.cm-property,
  .cm-s-aista span.cm-attribute {
    color: #3893a1;
  }

  .cm-s-aista span.cm-keyword {
    color: #a77106;
  }

  .cm-s-aista span.cm-string {
    color: #3893a1;
  }

  .cm-s-aista span.cm-string.cm-property {
    color: #ffffec;
  }

  .cm-s-aista span.cm-variable {
    color: #913ca1;
  }

  .cm-s-aista span.cm-variable-2 {
    color: #a77106;
  }

  .cm-s-aista span.cm-def {
    color: #02803a;
  }

  .cm-s-aista span.cm-bracket {
    color: #a77106;
    font-weight: bold;
  }

  .cm-s-aista span.cm-tag {
    color: #037688;
  }

  .cm-s-aista span.cm-link {
    color: #f54b07;
  }

  .cm-s-aista span.cm-error {
    border-bottom: #636363;
    color: #d64f10;
  }

  .cm-s-aista span.cm-qualifier {
    color: #ffffec;
  }

  .cm-s-aista .CodeMirror-activeline-background {
    border-top: 1px solid transparentize($color: $aista_default_grey4, $amount: 0.75);
    border-bottom: 1px solid transparentize($color: $aista_default_grey4, $amount: 0.75);
    background: transparentize($color: $aista_default_grey4, $amount: 0.95);
  }

  .cm-s-aista .CodeMirror-matchingbracket {
    color: #ffb928 !important;
  }

  .cm-s-aista .CodeMirror-matchingtag {
    background: rgba(255, 255, 255, .37);
  }
}

.dark {
  .cm-s-aista.CodeMirror {
    background: #2c2c2c;
    color: #ffffec;
  }

  .cm-s-aista div.CodeMirror-selected {
    background: #716C62;
  }

  .cm-s-aista .CodeMirror-line::selection,
  .cm-s-aista .CodeMirror-line>span::selection,
  .cm-s-aista .CodeMirror-line>span>span::selection {
    background: rgba(113, 108, 98, .99);
  }

  .cm-s-aista .CodeMirror-line::-moz-selection,
  .cm-s-aista .CodeMirror-line>span::-moz-selection,
  .cm-s-aista .CodeMirror-line>span>span::-moz-selection {
    background: rgba(113, 108, 98, .99);
  }

  .cm-s-aista .CodeMirror-gutters {
    background: #424242;
    border-right: 0px;
  }

  .cm-s-aista .CodeMirror-guttermarker {
    color: white;
  }

  .cm-s-aista .CodeMirror-guttermarker-subtle {
    color: grey;
  }

  .cm-s-aista .CodeMirror-linenumber {
    color: #dadada;
  }

  .cm-s-aista .CodeMirror-cursor {
    border-left: 1px solid #ffffec;
  }

  .cm-s-aista span.cm-comment {
    color: #95958a;
  }

  .cm-s-aista span.cm-atom {
    color: #00a8c6;
  }

  .cm-s-aista span.cm-number {
    color: #00a8c6;
  }

  .cm-s-aista span.cm-property,
  .cm-s-aista span.cm-attribute {
    color: #9ddfe9;
  }

  .cm-s-aista span.cm-keyword {
    color: #ffb928;
  }

  .cm-s-aista span.cm-string {
    color: #9ddfe9;
  }

  .cm-s-aista span.cm-string.cm-property {
    color: #ffffec;
  }

  .cm-s-aista span.cm-variable {
    color: #ffffec;
  }

  .cm-s-aista span.cm-variable-2 {
    color: #ffb928;
  }

  .cm-s-aista span.cm-def {
    color: #27b969;
  }

  .cm-s-aista span.cm-bracket {
    color: #ffb928;
    font-weight: bold;
  }

  .cm-s-aista span.cm-tag {
    color: #9ddfe9;
  }

  .cm-s-aista span.cm-link {
    color: #f54b07;
  }

  .cm-s-aista span.cm-error {
    border-bottom: #636363;
    color: #d64f10;
  }

  .cm-s-aista span.cm-qualifier {
    color: #ffffec;
  }

  .cm-s-aista .CodeMirror-activeline-background {
    background: #494b41;
  }

  .cm-s-aista .CodeMirror-matchingbracket {
    color: #ffb928 !important;
  }

  .cm-s-aista .CodeMirror-matchingtag {
    background: rgba(255, 255, 255, .37);
  }
}

.CodeMirror-hints {
  position: absolute;
  z-index: 10000;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 2px;
  -webkit-box-shadow: 2px 3px 5px transparentize($color: $aista_dark, $amount: 0.8);
  -moz-box-shadow: 2px 3px 5px transparentize($color: $aista_dark, $amount: 0.8);
  box-shadow: 2px 3px 5px transparentize($color: $aista_dark, $amount: 0.8);
  border-radius: 3px;
  color: $aista_dark;
  background-color: $aista_default_grey4;
  font-size: 90%;
  font-family: monospace;
  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: $aista_primary;
  color: white;
}

.CodeMirror-dialog-top {
  background-color: $aista_default_grey4;
}