/*=-=-=-=-=-=
main colour definistion
=-=-=-=-=-=*/
$magic_default: #ffffff;
$magic_default_secondary: #fafafa;
$magic_default_alternative: #e5e5e5;

$magic_dark: #000000;
$magic_dark_secondary: #0f132c;
$magic_dark_secondary_light: #242424;
$magic_dark_alternative: #303030;

$magic_dark_ng_theme: #424242;
$magic_dark_ng_border: rgba(0, 0, 0, 0.12);
$magic_default_ng_border: rgba(255, 255, 255, 0.12);

$magic_primary_dark: #311B92;
$magic_site_bg: #fdfdfd;
$magic_primary: #3F51B5;
$magic_accent: #1A237E;

$magic_warning: #cb8058;
$magic_success: #00b31e;
$magic_error: rgba(255, 0, 0, 0.2);

/*=-=-=-=-=-=
to change the default colour paletter --
    in fact only the "accent" colour is changed from pink to light blue
=-=-=-=-=-=*/
@use '@angular/material' as mat;
@include mat.core();

$theme-primary: mat.define-palette(mat.$indigo-palette, 500);
$theme-accent: mat.define-palette(mat.$indigo-palette, 900);

$theme: mat.define-light-theme((
 color: (
   primary: $theme-primary,
   accent: $theme-accent,
 )
));

.light{
  @include mat.all-component-themes($theme);
}
/*=-=-=-=-=-=
defining dark theme palette
=-=-=-=-=-=*/
@import '@angular/material/theming';

$dark-primary: mat.define-palette(mat.$indigo-palette, 500);
$dark-accent:  mat-palette(mat.$indigo-palette, 900);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);
.dark{
    @include mat.all-component-themes($dark-theme);
}

