.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.light .text-accent { color: $magic_primary; }
.dark .text-accent { color: $magic_accent_lighter; }
.text-warning { color: $magic_warning; }
.text-capitalized {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right!important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-nowrap {
  white-space: nowrap;
}
.text-muted {
  opacity: 0.7;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.fit-height-card {
  height: 100%;
  display: flex!important;
  flex-direction: column;
  mat-card-content{
    height: -webkit-fill-available;
  }
}
.position-relative{
  position: relative;
}
.pointer{
  cursor: pointer;
}
.copy-to-clipboard{
  cursor: pointer;
  &:active{
    background-color: $magic_default_alternative;
  }
}
.code {
  margin-bottom: 1rem;
  margin-top: .5rem;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: .8rem;
  line-height: .9rem;
  border-radius: 4px;
  &:not(.pre-wrap){
    white-space: pre !important;
  }
  &.pre-wrap{
    white-space: pre-wrap;
  }
}
.dark .code{
  background-color: transparentize($color: $magic_default_alternative, $amount: 0.95);
}
.light .code{
  background-color: transparentize($color: $magic_dark_alternative, $amount: 0.97);
}
.no-overflow {
  text-overflow: unset!important;
  white-space: normal!important;
  word-break: break-all;
  background-color: transparentize($color: $magic_default_alternative, $amount: 0.95);
  font-size: .8rem;
  line-height: .9rem;
}
.word-break { word-break: break-all; }
.mb-general {
  margin-bottom: calc(#{$side_space} * 2);
  @media (max-width: 576px) {
    margin-bottom: calc(#{$side_space} * 3);
  }
}
.table-responsive{
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  @include scrollbar_horizontal($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),5px);
}
