

/*=-=-=-=-=-=
Material body and general styling
=-=-=-=-=-=*/
[mattooltip] {
  touch-action: auto !important;
}
.cdk-global-scrollblock{
  overflow-y: hidden;
}
.dark .mat-primary *{
  color: $magic_default_alternative;
}
.mat-sidenav-container{
  height: 100%;
  overflow-x: hidden;
}
.light .mat-sidenav-container{
  background-color: $magic_site_bg!important;
  height: 100%;
}
.mat-sidenav-content{
  @include scrollbar($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),3px);
}
#main-wrapper.mat-sidenav-container{
  min-height: 100vh;
}
#main-section.mat-sidenav-content{
  position: fixed;
  top:0;
  left:0;
  width: -webkit-fill-available;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-top: $side_space;
  margin-bottom: $side_space;
  @include scrollbar($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),3px);
}
#sidebar-main.mat-sidenav{
  @media (min-width: 768px){
    position: fixed;
    top: $side_space;
    left: $side_space;
    bottom: $side_space;
    border-radius: 4px;
  }
  @media (max-width: 767px){
    // padding-bottom: 60px;
    height: 100vh;
  }
}
/*=-=-=-=-=-=
Material tables
=-=-=-=-=-=*/
table.mat-table {
  border-radius: 4px;
  overflow: hidden;
}
.expandable-table {
    tr:last-child td.mat-cell { border: none; }
    tr.expanded-row {
        height: 0;
        background-color: transparentize($color: $magic_default_alternative, $amount: 0.9);
      }
      .expandable-row {
        cursor: pointer;
        @include general_transition(0.3s);
        &.selected,
        &:hover {
            background-color: transparentize($color: $magic_default_alternative, $amount: 0.7);
        }
        &.error:hover {
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.301);
        }
        td {
            border-bottom-width: 0;
            .text-truncate:not(.large-col) {
              max-width: calc(100vw / 3.5);
            }
            .text-truncate.large-col {
              max-width: 70vw;
            }
        }
    }
    .details-row {
        overflow: hidden;
        display: flex;
    }
}
/*=-=-=-=-=-=
Material dialog
=-=-=-=-=-=*/
.mat-dialog-content {
  @include scrollbar($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),3px);
}
/*=-=-=-=-=-=
Material card
=-=-=-=-=-=*/
.card-replacement {
  &.left-align-arrow {
    .mat-expansion-panel-header .mat-content{flex: unset;}
  }
  .mat-expansion-panel-body { padding: 0px 16px 16px; }
  .mat-expansion-panel-header { padding: 0px 16px; }
  .mat-expanded .mat-expansion-panel-header { padding-top: 8px; }
  .mat-expansion-panel-header.mat-expanded { height: unset; }
}
.mat-card-title { line-height: 30px; }
/*=-=-=-=-=-=
Material tabs & stepper
=-=-=-=-=-=*/
.mat-tab-header,
.mat-step-header {
  margin-bottom: 12px;
}
.mat-stepper-horizontal .mat-horizontal-content-container { padding: 0; }
.dark .mat-step-header .mat-step-icon:not(.mat-step-icon-selected){ background-color: transparentize($color: $magic_dark, $amount: 0.8);}
/*=-=-=-=-=-=
Material menu
=-=-=-=-=-=*/
.shortkeys {
  .mat-list-item-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.dark .mat-menu-content { color: white; }
/*=-=-=-=-=-=
Material list
=-=-=-=-=-=*/
.detail-list {
    .mat-list-item.mat-2-line {
      height: unset!important;
      margin-bottom: 22px;
      font-size: 95%;
      .mat-line {
        text-overflow: unset!important;
        white-space: normal;
        :not(:last-child) {
          color: $magic_dark_alternative;
          padding-bottom: 5px;
        }
      }
    }
}
#custom-list {
  &.mat-list-base[dense] .mat-list-item,
  &.mat-list-base[dense] .mat-list-option { height: unset; }
  .mat-list-item-content { padding: 0; }
}
.flex-list {
  .mat-list-item-content {
    width: 100%;
    justify-content: space-between;
  }
}
/*=-=-=-=-=-=
Material snackbar for short messages
=-=-=-=-=-=*/
.center-aligned {
    .mat-simple-snackbar {
        justify-content: center;
    }
}
/*=-=-=-=-=-=
Material chip
=-=-=-=-=-=*/
.mat-standard-chip { word-break: break-all; height: unset!important; border-radius: 4px !important; }
/*=-=-=-=-=-=
Material icons and button
=-=-=-=-=-=*/
.sm-icons {
  .mat-icon-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    mat-icon {
      height: 20px;
      width: 20px;
      font-size: 20px;
      line-height: 20px;
    }
  }
  mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    line-height: 20px;
  }
}
// in SQL page
// ---- fix for smaller screens
#executeButton.mat-raised-button { min-width: 80px; }
#largeBtn.mat-raised-button { min-width: 140px; }
/*=-=-=-=-=-=
Material form
=-=-=-=-=-=*/
.inline-input {
    .mat-form-field-wrapper { margin: 0!important;padding-bottom: 0; }
}
.light .dark .mat-select-value { color: inherit; }
.main-body .mat-form-field:not(.standlone-input):not(.mat-paginator-page-size-select) .mat-form-field-infix { width: unset!important;min-width: 100px!important; }
.warning .mat-option-text { color: inherit; }
.dark .mat-form-field.mat-focused.mat-primary .mat-select-arrow{ color: inherit; }

.error-snack-bar {
  background: rgb(128,0,0) !important;
}

.dark .error-snack-bar {
  background: rgb(255,128,128) !important;
}
