

/*=-=-=-=-=-=
Material body and general styling
=-=-=-=-=-=*/
.cdk-global-scrollblock{
  overflow-y: hidden;
}
.dark .mat-primary *{
  color: $magic_default_alternative;
}
.mat-drawer-container{
  height: 100%;
  overflow-x: hidden;
}
.light .mat-drawer-container{
  background-color: $magic_site_bg!important;
  height: 100%;
}
.mat-drawer-content{
  @include scrollbar($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),3px);
}

#main-wrapper.mat-sidenav-container{
  min-height: 100vh;
}
#main-section.mat-sidenav-content{
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  @include scrollbar($magic_default_secondary,transparentize($color: $magic_dark_alternative, $amount: 0.65),3px);
}

#sidebar-main.mat-drawer{
  @media (min-width: 768px){
    position: fixed;
    top: $side_space;
    left: $side_space;
    bottom: $side_space;
    border-radius: 10px;
  }
  @media (max-width: 767px){
    padding-bottom: 60px;
  }
}
/*=-=-=-=-=-=
Material tables
=-=-=-=-=-=*/
table.mat-table{
    border-radius: 4px;
    overflow: hidden;
}
.expandable-table{
    tr:last-child td.mat-cell {border: none;}
    tr.expanded-row{
        height: 0;
        background-color: transparentize($color: $magic_default_alternative, $amount: 0.9);
    }
    .expandable-row {
        cursor: pointer;
        &.selected{
            background-color: transparentize($color: $magic_default_alternative, $amount: 0.7);
        }
        td {
            border-bottom-width: 0;
        }
    }
    .details-row {
        overflow: hidden;
        display: flex;
    }
}
/*=-=-=-=-=-=
Material card
=-=-=-=-=-=*/
.card-replacement{
  &.left-align-arrow{
    .mat-expansion-panel-header .mat-content{flex: unset;}
  }
  .mat-expansion-panel-body{padding: 0px 16px 16px;}
  .mat-expansion-panel-header{padding: 0px 16px;}
  .mat-expanded .mat-expansion-panel-header{padding-top: 8px;}
  .mat-expansion-panel-header.mat-expanded{height: unset;}
}
.mat-card-title{line-height: 30px;}
/*=-=-=-=-=-=
Material tabs & stepper
=-=-=-=-=-=*/
.mat-tab-header,
.mat-step-header{
  margin-bottom: 12px;
}
.mat-stepper-horizontal .mat-horizontal-content-container{padding: 0;}
/*=-=-=-=-=-=
Material list
=-=-=-=-=-=*/
.detail-list{
    .mat-list-item.mat-2-line{
      height: unset!important;
      margin-bottom: 22px;
      font-size: 95%;
      .mat-line{
        text-overflow: unset!important;
        white-space: normal!important;
        :not(:last-child) {
          color: $magic_dark_alternative;
          padding-bottom: 5px;
        }
      }
    }
  }
/*=-=-=-=-=-=
Material snackbar for short messages
=-=-=-=-=-=*/
.center-aligned{
    .mat-simple-snackbar{
        justify-content: center;
    }
}
/*=-=-=-=-=-=
Material icons and button
=-=-=-=-=-=*/
.sm-icons{
  .mat-icon-button{
    width: 30px;
    height: 30px;
    line-height: 30px;
    mat-icon{
      height: 20px;
      width: 20px;
      font-size: 20px;
      line-height: 20px;
    }
  }
}
/*=-=-=-=-=-=
Material form
=-=-=-=-=-=*/
.inline-input{
    .mat-form-field-wrapper{margin: 0!important;padding-bottom: 0;}
}
.light .dark .mat-select-value{color: inherit;}