

<div class="centralized">
  
  <mat-form-field class="form-field">
    <mat-label>Seed</mat-label>
    <input
      matInput
      autocomplete="off"
      [(ngModel)]="seed">
  </mat-form-field>

  <mat-form-field class="form-field small">

    <mat-label>Key strength</mat-label>
    <mat-select [(ngModel)]="strength">
      <mat-option value="1024">1024</mat-option>
      <mat-option value="2048">2048</mat-option>
      <mat-option value="4096">4096</mat-option>
      <mat-option value="8192">8192</mat-option>
    </mat-select>

  </mat-form-field>

</div>

<button
  mat-button
  [disabled]="seed === ''"
  (click)="next()"
  class="next">
  Next
</button>
