
<div
  class="obscurer"
  *ngIf="isCrudifying">
  <h3>Please wait while we CRUDify your database ...</h3>
  <h4>{{currentlyCrudifying}}</h4>
</div>

<div class="crudify-wrapper">

  <mat-form-field
    class="crudify-input">
    <mat-select
      placeholder="Select database type"
      (selectionChange)="databaseTypeChanged($event)">
      <mat-option
        *ngFor="let cur of databaseTypes"
        [value]="cur">{{cur}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    *ngIf="databases !== null"
    class="crudify-input">
    <mat-select
      placeholder="Select database"
      (selectionChange)="databaseChanged($event)">
      <mat-option
        *ngFor="let cur of databases"
        [value]="cur.db">{{cur.db}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    *ngIf="tables !== null"
    class="crudify-input">
    <input 
      matInput 
      autocomplete="off"
      type="text" 
      placeholder="Module name"
      [(ngModel)]="moduleName">
  </mat-form-field>

  <mat-form-field
    *ngIf="tables !== null"
    class="crudify-input">
    <input 
      matInput 
      autocomplete="off"
      type="text" 
      placeholder="Default auth"
      [(ngModel)]="defaultAuth">
  </mat-form-field>

  <mat-form-field
    *ngIf="tables !== null"
    class="crudify-input">
    <mat-select
      placeholder="Select table"
      (selectionChange)="tableChanged($event)">
      <mat-option
        *ngFor="let cur of tables"
        [value]="cur.table">{{cur.table}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    *ngIf="selectedTable !== null && selectedTable !== 'All tables' && selectedTable !== 'Custom SQL'"
    class="crudify-input">
    <input 
      matInput 
      autocomplete="off"
      type="text" 
      placeholder="Module url"
      [(ngModel)]="moduleUrl">
  </mat-form-field>

  <mat-checkbox
    *ngIf="selectedTable !== null"
    class="crudify-input"
    matTooltip="Overwrite existing endpoints"
    [(ngModel)]="overwrite">Overwrite</mat-checkbox>

  <button 
    *ngIf="selectedTable !== null && selectedTable !== 'Custom SQL' && selectedTable !== 'All tables'"
    matTooltip="Generates CRUD endpoints for your table"
    mat-raised-button
    color="primary"
    class="crudify-input crudify-button"
    (click)="crudifyTable()">Crudify</button>

  <button 
    *ngIf="selectedTable !== null && selectedTable === 'All tables'"
    matTooltip="CRUDifies all tables in database"
    mat-raised-button
    color="primary"
    class="crudify-input crudify-button"
    (click)="crudifyAllTables()">Crudify all</button>

  <mat-card 
    *ngIf="selectedTable === 'Custom SQL'"
    class="custom-sql-card">

    <div class="code-mirror-wrapper">

      <mat-form-field style="margin-right: 2rem;">
        <mat-select placeholder="Select verb" [(ngModel)]="customSqlEndpointVerb">
          <mat-option *ngFor="let cur of verbs" [value]="cur.verb">{{cur.verb}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-right: 2rem;">
        <input 
          matInput 
          placeholder="Endpoint name"
          type="text" 
          autocomplete="off"
          [(ngModel)]="customSqlEndpointName">
      </mat-form-field>

      <mat-form-field>
        <input 
          matInput 
          placeholder="Authorization"
          type="text" 
          autocomplete="off"
          [(ngModel)]="customSqlAuthorization">
      </mat-form-field>

      <div class="air">
        <label>Arguments</label>
        <ngx-codemirror 
          [(ngModel)]="customSqlArguments" 
          class="even-smaller"
          [options]="getCodeMirrorOptionsHyperlambda()"></ngx-codemirror>
      </div>

      <label>SQL</label>
      <ngx-codemirror 
        [(ngModel)]="customSql" 
        class="even-smaller"
        [options]="getCodeMirrorOptionsSql()"></ngx-codemirror>

      <div class="right-align">
        <button 
          matTooltip="Creates your endpoint"
          mat-button
          (click)="generateSqlEndpoint()">Create</button>
      </div>
    </div>

  </mat-card>

  <mat-card 
    *ngIf="columns !== null && selectedTable !== 'Custom SQL' && selectedTable !== 'All tables'"
    class="columns-card">

    <div class="wrapper">

      <h3>Columns</h3>

      <table mat-table class="columns" [dataSource]="columns">

        <ng-container matColumnDef="field">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let el">{{el.name}}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let el">{{el.hl}} / {{el.db}}</td>
        </ng-container>

        <ng-container matColumnDef="nullable">
          <th mat-header-cell *matHeaderCellDef>Nullable</th>
          <td mat-cell *matCellDef="let el">{{el.nullable}}</td>
        </ng-container>

        <ng-container matColumnDef="primary">
          <th mat-header-cell *matHeaderCellDef>Primary key</th>
          <td mat-cell *matCellDef="let el">{{el.primary}}</td>
        </ng-container>

        <ng-container matColumnDef="automatic">
          <th mat-header-cell *matHeaderCellDef>Automatic</th>
          <td mat-cell *matCellDef="let el">{{el.automatic}}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

    </div>

  </mat-card>

  <mat-card 
    *ngIf="endpoints !== null && selectedTable !== 'Custom SQL' && selectedTable !== 'All tables'"
    class="endpoints-card">

    <div class="wrapper">

        <h3>Endpoints</h3>

        <table mat-table class="endpoints" [dataSource]="endpoints">

        <ng-container matColumnDef="generate">
          <th mat-header-cell *matHeaderCellDef>Generate</th>
          <td mat-cell *matCellDef="let el">
            <mat-checkbox [disabled]="disableGeneratorForVerb(el)" [(ngModel)]="el.generate"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="endpoint">
          <th mat-header-cell *matHeaderCellDef>Endpoint</th>
          <td mat-cell *matCellDef="let el">{{el.endpoint.replace('.', '/').toLowerCase()}}</td>
        </ng-container>

        <ng-container matColumnDef="verb">
          <th mat-header-cell *matHeaderCellDef>Verb</th>
          <td mat-cell *matCellDef="let el">{{el.verb}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let el">{{el.action}}</td>
        </ng-container>

        <ng-container matColumnDef="log">
          <th mat-header-cell *matHeaderCellDef>Log entry</th>
          <td mat-cell *matCellDef="let el" style="padding-right: 1rem;">
            <mat-form-field class="fill-width">
                <input 
                  disabled="{{el.generate === false}}"
                  matInput 
                  autocomplete="off"
                  type="text" 
                  [(ngModel)]="el.log">
              </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="auth">
          <th mat-header-cell *matHeaderCellDef>Authorization</th>
          <td mat-cell *matCellDef="let el">
            <mat-form-field class="fill-width">
                <input 
                disabled="{{el.generate === false}}"
                matInput 
                  autocomplete="off"
                  type="text" 
                  [(ngModel)]="el.auth">
              </mat-form-field>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsEndpoints"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEndpoints;"></tr>

      </table>

    </div>

  </mat-card>

  <mat-card 
    *ngIf="endpoints !== null && selectedTable !== 'Custom SQL' && selectedTable !== 'All tables' && (showTransformers() || showCache())"
    class="misc-card">

    <div class="wrapper">

      <div *ngIf="showCache()">

        <h3>Caching</h3>

        <mat-form-field class="misc-input">
          <input 
            matInput 
            autocomplete="off"
            type="number" 
            min="0"
            step="1"
            placeholder="Caching (number of seconds to cache GET)"
            [(ngModel)]="caching">
        </mat-form-field>
        <mat-checkbox
          style="margin-left: 2rem;"
          [(ngModel)]="publicCache">Public cache</mat-checkbox>

      </div>

      <div *ngIf="showTransformers()">

        <h3>Validators, transformers and injectables</h3>

        <table mat-table class="validator-table" [dataSource]="validators">

          <ng-container matColumnDef="field">
            <th mat-header-cell *matHeaderCellDef>Field</th>
            <td mat-cell *matCellDef="let el">{{el.field}}</td>
          </ng-container>

          <ng-container matColumnDef="validator">
            <th mat-header-cell *matHeaderCellDef>Input reactors</th>
            <td mat-cell *matCellDef="let el">
              <ngx-codemirror
                [(ngModel)]="el.validator" 
                class="even-smaller"
                [options]="getCodeMirrorOptionsValidators()"></ngx-codemirror>
              <div style="text-align: right;">
                <button
                  mat-button
                  (click)="addValidator(el)">Add</button>
                </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsValidators"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsValidators;"></tr>

        </table>

      </div>

    </div>

  </mat-card>

</div>
