
.crudify-wrapper {
    padding:2rem 5rem 2rem 5rem;
}

.columns-card {
    margin-top: 2rem;
    .wrapper {
        margin: 2rem 3rem 4rem 3rem;
        .columns {
            width: 100%;
            tr {
                td, th {
                    width: 20%;
                }
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
                cursor: pointer;
            }
        }
    }
}

.endpoints-card {
    margin-top: 4rem;
    .wrapper {
        margin: 2rem 3rem 2rem 3rem;
        .endpoints {
            background: transparent;
            width: 100%;
            tr {
                td, th {
                    width: 15%;
                }
                td:nth-child(1), th:nth-child(1) {
                    width: 55%;
                }
            }
            tr.mat-row:hover {
                background-color: rgba(0,0,0,.1);
                cursor: pointer;
            }
        }
    }
}

.right-align {
    text-align: right;
}

::ng-deep .error-snackbar {
    background:rgb(255,100,100);
    color:rgb(0,0,0);
}

::ng-deep .warning-snackbar {
    background:orange;
    color:rgb(0,0,0);
}

::ng-deep .warning-success {
    background:#55ff55;
    color:rgb(0,0,0);
}
