
<div class="crudify-wrapper">
  <mat-form-field *ngIf="databases !== null">
    <mat-select placeholder="Select database" (selectionChange)="databaseChanged($event)">
      <mat-option *ngFor="let cur of databases" [value]="cur.Database">{{cur.Database}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="tables !== null" style="margin-left: 2rem;">
    <mat-select placeholder="Select table" (selectionChange)="tableChanged($event)">
      <mat-option *ngFor="let cur of tables" [value]="cur.Table">{{cur.Table}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
