
<h1 mat-dialog-title>Rename file</h1>
<form>
  <div mat-dialog-content>

    <mat-form-field class="fill-width" appearance="outline">
      <mat-label class="dark">Name</mat-label>
      <input
        type="text"
        matInput
        autocomplete="off"
        [(ngModel)]="data.name"
        name="name">
        <mat-hint *ngIf="!pathValid()" class="warning">Name is required and cannot contain blank space or special characters.</mat-hint>
        <mat-hint *ngIf="data.name === originalName" class="warning">New name cannot be the same as the current name.</mat-hint>
    </mat-form-field>

  </div>
  
  <div mat-dialog-actions>

    <button
      mat-raised-button
      [disabled]="data.name === originalName || !pathValid()"
      color="primary"
      type="submit"
      (click)="ok()">Rename</button>

    <button
      mat-raised-button
      (click)="cancel()">Close</button>

  </div>
</form>
