
.form-field {
  width: 10rem;
  margin-right: 1rem;
}

mat-form-field {
  margin-right: 1rem;
}

.documentation {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

::ng-deep.image-container {
  img {
    width: auto;
    max-width: 100%;
    display: block;
  }
}
