<div class="row h-100 no-gutters">
    <div class="col-12 mb-3 mt-4">
        <mat-card class="h-100">
            <mat-card-content class="h-100 p-0 d-flex flex-column">
                <h3 class="mb-0">Last actions</h3>
                <p class="mt-0 text-muted">An overview over the last 10 log items</p>
                <div class="d-flex h-100 align-items-center">
                    <div echarts [options]="options" class="chart-size"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
