
<div class="row">
  <div class="col-12 mb-general">
    <mat-card>
      <mat-card-content>

        <div class="d-flex align-items-center">
          <mat-card-title class="mt-0 mb-1">Cache</mat-card-title>
          <div class="sm-icons">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-caption" matTooltip="Need help?" type="button">
              <mat-icon>help_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div class="p-3">
                <p class="mat-body-2">
                  Browse your Magic server's cache. If used intelligently your cache might significantly optimise performance of your Magic server.
                </p>
                <div class="d-flex justify-content-end">
                  <a target="_blank" href="https://docs.aista.com/documentation/magic/components/cache/" mat-stroked-button>Learn more</a>
                </div>
              </div>
            </mat-menu>
          </div>
        </div>

        <mat-card-subtitle>Administrate your cache</mat-card-subtitle>

        <div class="d-flex align-items-center">
    
          <mat-form-field class="w-100 inline-input" appearance="outline">
            <mat-label>Filter</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              [formControl]="filterFormControl">
            <mat-icon
              matSuffix
              *ngIf="filterFormControl.value.trim() !== ''"
              class="button"
              role="button"
              (click)="clearFilter()">clear</mat-icon>
          </mat-form-field>

          <div class="p-1"></div>

          <button
            *ngIf="cacheItems.length > 0"
            [disabled]="!backendService.active?.access.diagnostics.delete_cache"
            mat-icon-button
            matTooltip="Completely empties your cache"
            (click)="deleteAll()">
            <mat-icon>refresh</mat-icon>
          </button>
    
        </div>
    
        <table
          mat-table
          [dataSource]="cacheItems"
          class="w-100 expandable-table mt-3"
          multiTemplateDataRows>
    
          <ng-container matColumnDef="key">
            <td
              mat-cell
              *matCellDef="let el">{{el.key}}</td>
          </ng-container>
    
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell class="mini-col button-col text-right" *matCellDef="let el">
              <button
                (click)="delete($event, el.key);"
                [disabled]="!backendService.active?.access.diagnostics.delete_cache"
                matTooltip="Deletes specified cache item"
                mat-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
    
          <ng-container matColumnDef="showDetails">
            <td colspan="2" mat-cell *matCellDef="let el" class="pr-1 pl-3">
              <div class="w-100 details-row"
                [@detailExpand]="el == expandedElement ? 'expanded' : 'collapsed'">
                <div class="w-100 pt-3 d-flex justify-content-between">
                  <div>
                    <pre>{{el.value}}</pre>
                  </div>
                  <div class="ml-3">
                    <button
                      mat-icon-button
                      (click)="copyContent(el.value)"
                      matTooltip="Copy to clipboard">
                      <mat-icon>content_copy</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
    
          <tr
            mat-row
            [ngClass]="(expandedElement === el ? 'selected ' : '') + 'cache-item-row'"
            class="expandable-row"
            (click)="expandedElement = expandedElement === el ? null : el"
            *matRowDef="let el; columns: ['key', 'delete'];"></tr>

          <tr mat-row *matRowDef="let el; columns: ['showDetails']" class="expanded-row"></tr>

        </table>
    
        <mat-paginator
          #paginator
          [class]="count > paginator.pageSize ? '' : 'invisible'"
          [length]="count"
          pageSize="5"
          showFirstLastButtons="true"
          (page)="paged()"
          [pageSizeOptions]="[5, 10, 25, 50, 100]">
        </mat-paginator>

      </mat-card-content>
    </mat-card>
  </div>
</div>