
<h1 mat-dialog-title>Add query parameter</h1>

<form (ngSubmit)="create()">
  <div mat-dialog-content>

    <mat-form-field *ngIf="data.argument.type === 'string' && data.argument.name === 'operator'" class="w-100" appearance="outline">
      <mat-label class="dark">Logical comparison operator</mat-label>
      <mat-select
        [(ngModel)]="value"
        class="dark"
        name="value">
        <mat-option *ngFor="let cur of operators" [value]="cur">{{cur}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="data.argument.type === 'string' && data.argument.name === 'order'" class="w-100" appearance="outline">
      <mat-label class="dark">Order</mat-label>
      <input type="text"
        matInput
        [(ngModel)]="value"
        [matAutocomplete]="auto"
        name="value">
      <mat-autocomplete
        #auto="matAutocomplete">
        <mat-option
          *ngFor="let el of orders"
          [value]="el">
          {{el}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field *ngIf="data.argument.type === 'string' && data.argument.name === 'direction'" class="w-100" appearance="outline">
      <mat-label class="dark">Direction</mat-label>
      <mat-select
        [(ngModel)]="value"
        name="value"
        class="dark">
        <mat-option *ngFor="let cur of directions" [value]="cur">{{cur}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="data.argument.type === 'string' && data.argument.name !== 'operator' && data.argument.name !== 'direction' && data.argument.name !== 'order'" class="w-100" appearance="outline">
      <mat-label class="dark">Value</mat-label>
      <input
        matInput
        [(ngModel)]="value"
        name="value"
        autocomplete="off">
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="data.argument.type === 'date'" appearance="outline">
      <mat-label class="dark">Date</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="picker"
        autocomplete="off"
        [(ngModel)]="value"
        name="value">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field *ngIf="data.argument.type === 'long' || data.argument.type === 'int' || data.argument.type === 'uint' || data.argument.type === 'ulong' || data.argument.type === 'shor' || data.argument.type === 'ushort'" class="w-100" appearance="outline">
      <mat-label class="dark">Value</mat-label>
      <input
        matInput
        [(ngModel)]="value"
        name="value"
        type="number"/>

    </mat-form-field>

    <mat-checkbox
      *ngIf="data.argument.type === 'bool'"
      [(ngModel)]="value"
      name="value">Value</mat-checkbox>
  </div>

  <div mat-dialog-actions class="mat-dialog-actions">

    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="create()">
      Add
    </button>
  </div>

</form>