<div mat-dialog-content>

  <mat-form-field class="fill-width" appearance="outline">

    <mat-label class="dark">Name</mat-label>
    <input type="text"
      matInput
      [(ngModel)]="data.filename"
      [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let idx of getFiltered()"
        [value]="getFilename(idx)">
        {{getFilename(idx)}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

</div>

<div
  mat-dialog-actions
  class="mat-dialog-actions">

  <button
    mat-raised-button
    color="primary"
    [disabled]="!filenameValid()"
    aria-label="Saves your SQL snippet"
    [mat-dialog-close]="data.filename">Save</button>

</div>
