
<h1 mat-dialog-title>Schedule task</h1>

<div mat-dialog-content>

  <mat-form-field>
    <input
      matInput
      [ngxMatDatetimePicker]="picker"
      placeholder="Choose a date and time"
      [(ngModel)]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
  </mat-form-field>

</div>

<div mat-dialog-actions class="mat-dialog-actions">

  <button
    mat-button
    (click)="create()">Create</button>

</div>